<!--#
This file is part of the digitalResource package.
(c) Maarch Prosper De Laure <prosper.delaure@maarch.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#-->
<div id="contain" data-servicelevelid="[?merge serviceLevel.serviceLevelId ?]">
<div data-form-ns="archivalProfile" class="dataForm" data-translate-catalog="recordsManagement/serviceLevel">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-dashboard"></i>
                <?merge serviceLevel.serviceLevelId.bool().not() ?>
                <span>New service level</span>
                <?merge serviceLevel.serviceLevelId.bool() ?>
                <span>Edit a service level</span>
                <small><?merge serviceLevel.reference ?></small>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <?merge serviceLevel ?>
        <form class="form-horizontal">
            <div class="row">
                <?merge serviceLevel.default @data-default ?>
                <input type="hidden" name="serviceLevelId" id="serviceLevelId">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 control-label">Reference <span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="reference" name="reference" placeholder="Reference">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 control-label">Cluster</label>
                        <div class="col-md-8">
                            <select class="form-control" name="digitalResourceClusterId" id="digitalResourceClusterId">
                                <?merge clusters ?>
                                <option value="[?merge .clusterId ?]"><?merge .clusterName ?></option>
                            </select>
                        </div>
                    </div>
                    <div class="well">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 control-label">Control frequency (in days)</label>
                            <div class="col-md-8">
                                <input type="number" min="0" class="form-control" id="samplingFrequency" name="samplingFrequency" placeholder="Control frequency (in days)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 control-label">Sampling rate (in %)</label>
                            <div class="col-md-8">
                                <input type="number" min="0" max="100" class="form-control" id="samplingRate" name="samplingRate" placeholder="Sampling rate (in %)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-5 control-label">Detect format</label>
                        <div class="checkbox col-xs-7" id="formatDetection">
                            <input type="checkbox" name="formatDetection" data-toggle="toggle">
                        </div>

                        <label class="col-xs-5 control-label">Validate format</label>
                        <div class="checkbox col-xs-7" id="formatValidation">
                            <input type="checkbox" name="formatValidation" data-toggle="toggle">
                        </div>

                        <label class="col-xs-5 control-label">Check for virus</label>
                        <div class="checkbox col-xs-7" id="virusCheck">
                            <input type="checkbox" name="virusCheck" data-toggle="toggle">
                        </div>

                        <label class="col-xs-5 control-label">Convert on deposit</label>
                        <div class="checkbox col-xs-7" id="convertOnDeposit">
                            <input type="checkbox" name="convertOnDeposit" data-toggle="toggle">
                        </div>

                        <label class="col-xs-5 control-label">Log the consultations</label>
                        <div class="checkbox col-xs-7" id="logConsultation">
                            <input type="checkbox" name="logConsultation" data-toggle="toggle">
                        </div>

                        <label class="col-xs-5 control-label">Full text indexation</label>
                        <div class="checkbox col-xs-7" id="fullTextIndexation">
                            <input type="checkbox" name="fullTextIndexation" data-toggle="toggle">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-lg-11">
                <div class="pull-right">
                    <button type="button" class="btn btn-warning" id="cancelServiceLevelBtn" title="Cancel"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                    <button type="button" id="save" class="btn btn-success" title="Save">
                        <?merge serviceLevel.serviceLevelId.bool() ?>
                        <span><i class="fa fa-save">&nbsp;</i>Save</span>
                        <?merge serviceLevel.serviceLevelId.bool().not() ?>
                        <span><i class="fa fa-plus">&nbsp;</i>Add</span>
                    </button>
                </div>
            </div>
            <span class="hide" id="empty_text">The fields with a star are compulsory.</span>
            <span class="hide" id="samplingRate_badValue">The rate must be between 0 and 100</span>
            <span class="hide" id="samplingFrequency_badValue">The frequency must be positive</span>
        </form>
    </div>
</div>

</div>
<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script>
    $("#cancelServiceLevelBtn").on('click', function(){
        load('/serviceLevels');
    });

//save
$("#save").on('click', function(){

    if ($('#reference').val() == '') {
        gritter.show($('#empty_text').text(), false);
        return;
    }

    if ($('#samplingRate').val() < 0 || $('#samplingRate').val() > 100) {
        gritter.show($('#samplingRate_badValue').text(), false);
        return;
    }

    if ($('#samplingFrequency').val() < 0) {
        gritter.show($('#samplingFrequency_badValue').text(), false);
        return;
    }

    if($("#contain").data('servicelevelid')) {
        type= 'PUT';
        url= '/serviceLevel/'+$("#contain").data('servicelevelid');
    } else {
        type= 'POST';
        url='/serviceLevel';
    }

    var parameters = {
      serviceLevel :  serialize()
    };
    ajax($('#save'), {
        url         : url,
        type        : type,
        data        : JSON.stringify(parameters),
        contentType : 'application/json',
        dataType    : 'json',
        success  : function(response){
            gritter.show(response.message, response.status, response.errors);
            if(response.status) {
                load("/serviceLevels");
            }
        },
        error    : function(response) {
            gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
        }
    });
});

function serialize() {
    serializedObject = {};
    serializedObject['default'] = $('#serviceLevelId').attr('data-default') != undefined;

    $('input[type="text"], input[type="number"], input[type="hidden"], select').each(function(){
        serializedObject[$(this).attr('name')] = $(this).val();
    })

    controlArray = [];

    $('input[type="checkbox"]').each(function(){
        if ($(this).prop('checked')) {
            controlArray.push($(this).attr('name'));
        }

        serializedObject['control'] = controlArray.join(" ");
    })
    return serializedObject;
}

</script>
