<?merge contact ?>
<form class="form-horizontal" id="contact_information-form">
    <input type='hidden' id="contact_contactId" name="contactId">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group" id="contact_type">
                <div class="col-md-6">
                    <label class="col-md-2 control-label">Type</label>
                    <div class=" col-md-9">
                        <div class="btn-group btn-group-justified col-md-10" data-toggle="buttons">
                            <label class="btn btn-info [?merge contact.contactType.ifne('organization').then('active','') ?]" title="Person">
                                <?merge contact.contactType.ifne('organization').then('checked') @checked ?>
                                <input type="radio" name="type" value="person" autocomplete="off">Person
                            </label>
                            <label class="btn btn-info [?merge contact.contactType.ifeq('organization').then('active','') ?]" title="Organization">
                                <?merge contact.contactType.ifeq('organization').then('checked') @checked ?>
                                <input type="radio" name="type" value="organization" autocomplete="off">Organization
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <hr id="contact_typeSeparator"/>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="contact_orgName" class="col-md-3 control-label">Organization name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="contact_orgName" name="orgName" placeholder="Organization name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact_lastName" class="col-md-3 control-label">Last name<span style="color : red">*</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="contact_lastName" name="lastName" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact_firstName" class="col-md-3 control-label">First name<span style="color : red">*</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="contact_firstName" name="firstName" placeholder="First name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact_displayName" class="col-md-3 control-label">Display name<span style="color : red">*</span></label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control" id="contact_displayName" name="displayName" data-displayName="[?merge contact.displayName?]" placeholder="Display name">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&nbsp; <span class="caret"></span></button>
                                <ul id="contact_displayNameList" class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <label class="col-md-3 control-label">Title</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control" id="contact_title" name="title" placeholder="Title">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&nbsp;<span class="caret"></span></button>
                                <ul id="contact_titleNameList" class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#" class="titleSelection">Mme</a></li>
                                    <li><a href="#" class="titleSelection">M.</a></li>
                                    <li><a href="#" class="titleSelection">Dr.</a></li>
                                    <li><a href="#" class="titleSelection">Pr.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact_function" class="col-md-3 control-label">Function</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="contact_function" name="function" placeholder="Function">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact_service" class="col-md-3 control-label">Service</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="contact_service" name="service" placeholder="Service">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div style="display:none">
    <span id="contact_empty_text">The fields with a star are required.</span>
</div>
<script type="text/javascript">
    // Display name
    $('#contact_firstName, #contact_lastName, #contact_orgName').on('change', function() {
        ContactInformation.displayNameProposition();
    });

    $("#contact_displayNameList").on('click', ".nameSelection", function(){
        $("#contact_displayName").val($(this).text());
    });

    // Title
    $("#contact_titleNameList").on('click', ".titleSelection", function(){
        $('#contact_title').val($(this).text());
    });

    // Type
    $('#contact_type').on('change', 'input', function() {
        ContactInformation.changeType();
        ContactInformation.cleanNames();
    });

    // Refresh afterModification
    $('#contactModal').on('hide.bs.modal', function(e){
        $('#organization_orgTree').find('.selectedNode').find('b').click();
    });

    var ContactInformation = {
        init: function() {
            this.changeType();
            this.displayNameProposition();
        },

        setPersonType: function() {
            var contactType = $('#contact_type')
            contactType.find("[name='type'][value='person']").closest('label').click();
            contactType.css('display', 'none');
            $('#contact_typeSeparator').css('display', 'none');
        },

        setOrgType: function() {
            var contactType = $('#contact_type')
            contactType.find("[name='type'][value='organization']").closest('label').click();
            contactType.css('display', 'none');
            $('#contact_typeSeparator').css('display', 'none');
        },

        changeType: function() {
            var type = $('#contact_type').find("[name=type]:checked").val();

            if (type == "person" || type == undefined) {
                $("#contact_lastName").closest('.form-group').css('display', '');
                $("#contact_firstName").closest('.form-group').css('display', '');
                $("#contact_title").closest('.form-group').css('display', '');
                $("#contact_orgName").closest('.form-group').css('display', 'none');

            } else {
                $("#contact_lastName").closest('.form-group').css('display', 'none');
                $("#contact_firstName").closest('.form-group').css('display', 'none');
                $("#contact_title").closest('.form-group').css('display', 'none');
                $("#contact_orgName").closest('.form-group').css('display', '');
            }
        },

        displayNameProposition: function() {
            var firstName = $("#contact_firstName").val();
            var lastName = $("#contact_lastName").val();
            var orgName = $("#contact_orgName").val();
            var displayNames = $("#contact_displayNameList");
            var defaultName = "";
            var list = $('<li/>').html(
                            $('<a/>').addClass('nameSelection')
                        ); 

            displayNames.html('');
            if (firstName + lastName + orgName == "") {

            } else if (firstName != "" && lastName != "") {
                defaultName = firstName+' '+lastName;

                list.find('a').text(firstName+' '+lastName);
                list.clone().appendTo(displayNames);

                list.find('a').text(lastName+' '+firstName);
                list.clone().appendTo(displayNames);

                if(orgName != "") {
                    list.find('a').text(firstName+' '+lastName+' ('+orgName+')');
                    list.clone().appendTo(displayNames);
                }
            } else if (firstName + lastName == "" && orgName != "") {
                defaultName = orgName;
                list.find('a').text(orgName);
                list.clone().appendTo(displayNames);
                
            } else {
                defaultName = firstName+lastName;

                list.find('a').text(firstName+lastName);
                list.clone().appendTo(displayNames);

                if (orgName != "") {
                    list.find('a').text(firstName+lastName+' ('+orgName+')')
                    list.clone().appendTo(displayNames);
                }
            }

            $("#contact_displayName").val(defaultName);
        },

        save: function() {
            var contactObject = ContactInformation.serialize();
            var type = "POST";
            var url = '/contact';
            var res = false;

            if(contactObject.contactType == "person") {
                if(contactObject.displayName == "" || contactObject.firstName == "" || contactObject.lastName == "") {
                    gritter.show($('#empty_text').text(),false);
                    return false;
                }
            } else {
                if(contactObject.displayName == "") {
                    gritter.show($('#empty_text').text(),false);
                    return false;
                }
            }

            if (!contactObject.contactId) {
                contactObject.address = ContactAddressForm.serializeList();
                contactObject.communication = ContactCommunicationForm.serializeList();

            } else {
                type = "PUT";
                url = '/contact/'+$('#contact_contactId').val();
            }

            $.ajax({
                type        : type,
                url         : url,
                data        : JSON.stringify({contact : contactObject}),
                dataType    : 'json',
                contentType : 'application/json',
                async       : false,
                success     : function (response) {
                    if (response.status) {
                        gritter.show(response.message, response.status, response.errors);

                        res = true;
                    } else {
                        var message = "";
                        $.each(response.errors, function (key, error) {
                            message = error.message;
                        });
                        gritter.show(message, false);

                        res = false;
                    }
                },
                error       : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                    res = false;
                }
            });

            return res;

        },

        load: function(contact) {
            var contactForm = $('#contact_information-form');
            var type = contact.contactType;
            delete contact.contactType;

            ContactAddressForm.clear();
            ContactCommunicationForm.clear();

            $.each(contact, function(key, value) {
                contactForm.find('[name=' + key + ']').val(value);
            })

            contactForm.find('input[name=type][value="' +type+ '"]').closest('label').click();

            $.each(contact.address, function() {
                ContactAddressForm.addAddressToScreen(this);
            })

            $.each(contact.communication, function() {
                ContactCommunicationForm.addCommunicationToScreen(this)
            })
        },

        serialize: function() {
            var contact = new Object();

            $('#contact_information-form').find('input').each(function () {
                contact[$(this).attr('name')] = jQuery.trim($(this).val());
            });

            contact.contactType = $('#contact_information-form').find('input[name=type]:checked').val();
            contact.contactId = $('#contact_contactId').val();
            
            return contact;
        },

        cleanNames: function() {
            $("#contact_lastName").val("");
            $("#contact_firstName").val("");
            $("#contact_title").val("");
        },

        close : function() {
            $('#contact_type').css('display', '');
            $('#contact_typeSeparator').css('display', '');

            $('#contact_information-form').find('input').not('[type="radio"]').val('');
            $('#contact_addressList').html('');
            $('#contact_communicationList').html('');

        }
    }

    $('#app_maarchRM_main').ready(function() {
        ContactInformation.init();
    });
    
</script>