<div id="contain" >
    <div class="container-fluid" data-translate-catalog="auth/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-laptop"></i>
                Edit service account
            </h1>
        </div>
    </div>
    <div class="container-fluid" data-translate-catalog="auth/messages">
        <?merge serviceAccount ?>
        <form>
            <div class="row">
                <div class="col-md-5">
                    <input type="hidden" name="accountId" id="serviceAccountId"/>
                    <div class="form-group">
                        <label class="control-label" for="accountName">Name<span style="color : red">*</span></label>
                        <div>
                            <input type="text" class="form-control" placeholder="Name" name="accountName" id="accountName" value=""/>
                        </div>
                        <label class="control-label" for="accountName" style="padding-top: 5px;">Email</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Email" name="emailAddress" id="emailAddress" value=""/>
                        </div>
                    </div>
                    <div class="well">
                        <div class="form-group">
                            <label class="control-label" for="serviceOrgId"><span id="serviceOrgLabel">Service</span><span style="color : red">*</span></label>
                            <span class="hide" id="organization_translated_text">Organization</span>
                            <span class="hide" id="service_translated_text">Service</span>
                            <div>
                                <input type="text" class="form-control" name="orgName" placeholder="Service" id="orgTypeahead"/>
                                <select class="form-control hide" name="orgId" id="serviceOrgId">
                                    <option></option>
                                    <?merge organizations ?>
                                    <option value="[?merge .orgId ?]" name="orgId"><?merge .displayName ?></option>
                                </select>
                            </div>
                            <?merge whatAmI.ifne('userWithoutSecurityLevel') ?>
                            <div id="selectOrgGroup" class="input-group col-md-12">
                                <select id="orgSelect" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <?merge serviceAccount ?>
                        <div id="orgGroup" class="form-group">
                            <label class="control-label" for="serviceOrgId">Organization<span> : </span></label>
                            <input name="ownerOrgName" data-ownerorgid="[?merge serviceAccount.ownerOrgId ?]" id="originatorOwnerOrgName" disabled class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="serviceEnabled">Enabled</label>
                        <div>
                            <input type="checkbox" data-size="small" class="form-control" data-on="Oui" data-off="Non" name="enabled" id="serviceEnabled" data-toggle="toggle"/>
                        </div>
                    </div>
                    <?merge whatAmI.ifne('userWithoutSecurityLevel') ?>
                    <div class="form-group" id="adminRights"">
                        <label class="col-md-3 control-label" for="adminUser">Admin Rights</label>
                        <div>
                            <input type="checkbox" data-size="small" data-on="Oui" data-off="Non" data-toggle="toggle" name="adminUser" id="adminUser">
                        </div>
                    </div>
                    <div class="clearfix pull-right">
                        <button type="button" class="btn btn-warning" id="cancelServiceAccount" title="Cancel">
                            <span class="fa fa-undo">&nbsp;</span>Cancel
                        </button>
                        <?merge serviceAccount.accountId.bool() ?>
                        <button type="button" class="btn btn-success" id="submitServiceAccount" title="Modify">
                            <span class="fa fa-save">&nbsp;</span>Save
                        </button>
                        <?merge serviceAccount.accountId.bool().not() ?>
                        <button type="button" class="btn btn-success" id="submitServiceAccount" title="Save">
                            <span class="fa fa-plus">&nbsp;</span>Add
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-tabs nav-justified">
                        <li id="privilegesTabBtn" class="active"><a href="#privilegesTab" data-toggle="[?merge role.superadmin.then('', 'tab') ?]">Privileges</a></li>
                        <?merge serviceAccount.accountId.bool() ?>
                        <li id="generateTokenTabBtn" class=""><a href="#generateTokenTab" data-toggle="tab">Authentication token</a></li>
                    </ul>
                    <div class="panel panel-primary" style="border-top-left-radius: 0; border-top-right-radius: 0; border-top: none;">
                        <div class="panel-body">
                            <div class="tab-content">
                                <?merge serviceAccount.accountId.bool() ?>
                                <div class="tab-pane fade in" id="generateTokenTab" >
                                        <button type="button" class="btn btn-info" id="tokenRegenerateRequest" title="Generate token">
                                            <span class="fa fa-refresh">&nbsp;</span>Generate token
                                        </button>
                                        <div class="form-group">
                                            <label>Token</label><button type="button" class="btn btn-link" id="copy-generatedToken" title="Copy"><span class="fa fa-copy"></span></button>
                                            <div>
                                                <textarea id="generatedToken" class="form-control col-xs-12" rows="3" style="resize: none; resize: vertical" disabled><?merge serviceAccount.password ?></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>URL encoded token</label><button type="button" class="btn btn-link" id="copy-generatedUrlEncodedToken" title="Copy"><span class="fa fa-copy"></span></button>
                                            <div>
                                                <textarea id="generatedUrlEncodedToken" class="form-control col-xs-12" rows="3" style="resize: none; resize: vertical" disabled><?merge serviceAccount.password.urlencode() ?></textarea>
                                            </div>
                                        </div>
                                </div>
                                <div class="tab-pane fade in active" id="privilegesTab" >
                                    <h3>Privileges</h3>
                                    <!-- it's use to clone -->
                                    <div style="display: none" id="privilegeExemple">
                                        <div class="input-group" name="privilegeURI">
                                            <input type="text" class="form-control"  disabled=""/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger" type="button" name="btnDeletePrvilege" title="Delete"><span class="fa fa-trash-o"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-horizontal" id="listPrivilege">
                                        <div class="input-group">
                                            <select class="form-control" id="selectPrivilegeURI">
                                                <option></option>
                                                <?merge serviceAccount.servicePrivilegeOptions?>
                                                <option data-serviceURI="[?merge .serviceURI ?]"><?merge .description ?></option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" id="btnAddPrivilege" title="Add" disabled><span class="fa fa-plus"></span></button>
                                            </span>
                                        </div>
                                        <?merge serviceAccount.servicePrivilege.bool() ?>
                                        <div>
                                            <?merge serviceAccount.servicePrivilege ?>
                                            <div class="input-group" name="privilegeURI">
                                                <input type="text" class="form-control" data-serviceuri="[?merge .serviceURI ?]" disabled="" value="[?merge .description ?]"/>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger" type="button" name="btnDeletePrvilege" title="Delete"><span class="fa fa-trash-o"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="tokenRegenerateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Generate token</h4>
            </div>
            <div class="modal-body">
                Be careful, you are about to generate a new token. This will cancel the previous token.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" title="Close">Close</button>
                <button type="button" class="btn btn-primary" id="tokenRegenerateValidation" title="Ok">Ok</button>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<div style="display:none">
    <span id="securityLevel"><?merge serviceAccount.securityLevel ?></span>
    <span id="isAdmin"><?merge serviceAccount.isAdmin ?></span>
    <span id="ownerOrgId"><?merge serviceAccount.ownerOrgId ?></span>
    <span id="whatAmI"><?merge whatAmI ?></span>
    <span id="empty_text">The fields with a star are required.</span>
    <span id="whiteSpace_text">The fields contain white spaces.</span>
    <span id="nullValue_text">The fields is empty.</span>
    <span id="noServiceFound">No service found</span>
</div>

<script type="application/javascript">

    selectOrTypeheadOrg();

    $("#adminUser").on('change', function () {
        selectOrTypeheadOrg();
    });

    $('#tokenRegenerateRequest').on('click', function() {
        if (!$("#generatedToken").text()) {
            $("#tokenRegenerateValidation").click();
            return;
        }
        $("#tokenRegenerateModal").modal();
    });

    $('#copy-generatedToken').on('click', function() {
        $("#generatedToken").removeAttr("disabled");
        $("#generatedToken").select();
        document.execCommand("copy");
        document.getSelection().removeAllRanges();
        $("#generatedToken").attr("disabled", "disabled");
    });

    $('#copy-generatedUrlEncodedToken').on('click', function() {
        $("#generatedUrlEncodedToken").removeAttr("disabled");
        $("#generatedUrlEncodedToken").select();
        document.execCommand("copy");
        document.getSelection().removeAllRanges();
        $("#generatedUrlEncodedToken").attr("disabled", "disabled");
    });

    var privileges = [];

    $("[name=privilegeURI]").find('input').each(function(){
        privileges.push($(this).val());
    });

    $("#selectPrivilegeURI").find('option').each(function(){
        var option = $(this);
        if (option.val() == "") {
            return;
        }
        if(privileges.indexOf(option.val()) !== -1) {
            // Not working on IE11
            option.hide();

            if(navigator.userAgent.indexOf('MSIE')!==-1
            || navigator.appVersion.indexOf('Trident/') > -1){
                /* Microsoft Internet Explorer detected in. */
                var span = $('<span data-serviceuri="'+option.data('serviceuri')+'">')
                option.replaceWith(span);
                span.append(option);
            }
        }
    });

    //save
    $("#submitServiceAccount").on("click", function() {
        var url = '/serviceAccount';
        var type = 'POST';

        if($('#serviceAccountId').val() != "") {
            type = 'PUT';
        }

        var param = new Object();
        var serviceAccount = new Object();

        if($('#adminUser').prop('checked')) {
            serviceAccount['isAdmin'] = true;
        } else {
            serviceAccount['isAdmin'] = false;
        }

        serviceAccount.accountId = $("#serviceAccountId").val();
        serviceAccount.accountName = jQuery.trim($("#accountName").val());
        serviceAccount.displayName = serviceAccount.accountName;
        serviceAccount.ownerOrgId = $("#originatorOwnerOrgName").attr("data-ownerorgid");
        serviceAccount.emailAddress = jQuery.trim($("#emailAddress").val());;
        console.log(serviceAccount);
        serviceAccount.enabled = false;
        var orgId = $("#serviceOrgId").val();

        if (serviceAccount['isAdmin'] == true) {
            serviceAccount.ownerOrgId = $("#orgSelect").val();
            orgId = "";
        } else {
            serviceAccount.ownerOrgId = $("#originatorOwnerOrgName").attr("data-ownerorgid");
        }

        var servicesURI = new Array();

        $("#listPrivilege").find("[name=privilegeURI]").each(function(){
            servicesURI.push($(this).find("input").data('serviceuri'));
        });

        if(serviceAccount.displayName == "" || (orgId == "" && serviceAccount['isAdmin'] == false)) {
            gritter.show($('#empty_text').text(),false);
            return false;
        }

        var param = {
            serviceAccount : serviceAccount,
            orgId : orgId,
            servicesURI : servicesURI
        };

        if ($("#serviceEnabled").prop("checked")) {
            serviceAccount.enabled = true;
        }

        ajax($(this), {
            url         : url,
            type        : type,
            data        : JSON.stringify(param),
            contentType : 'application/json',
            dataType    : "json",
            success  : function(response){
                gritter.show(response.message, response.status, response.errors);
                if(response.status) {
                    load("/serviceAccounts");
                };
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });

    //Add privilege
    $("#btnAddPrivilege").on("click", function(){

        var serviceURI = $("#selectPrivilegeURI option:selected").data('serviceuri');
        var description = $("#selectPrivilegeURI option:selected").val();

        if(description){

            $("#privilegeExemple").find("[name=privilegeURI]:first")
                .clone()
                .find('input')
                .val(description)
                .data("serviceuri",serviceURI)
                .closest('[name=privilegeURI]')
                .appendTo($("#listPrivilege"));

            var option = $("#selectPrivilegeURI").val('').find('option[data-serviceuri="'+serviceURI+'"]');

            option.hide();

            if(navigator.userAgent.indexOf('MSIE')!==-1
            || navigator.appVersion.indexOf('Trident/') > -1){
                /* Microsoft Internet Explorer detected in. */
                var span = $('<span data-serviceuri="'+option.data('serviceuri')+'">')
                option.replaceWith(span);
                span.append(option);
            }

            $(this).attr('disabled',true);
        }

    });

    $("#selectPrivilegeURI").on("change", function(){
        $("#btnAddPrivilege").attr('disabled',false);

    });

    //Delete privilege
    $("#privilegesTab").on("click","[name=btnDeletePrvilege]", function(){
        var serviceURI = $(this).closest("[name=privilegeURI]").find('input').data('serviceuri');

        var option = $("#selectPrivilegeURI").val('').find('option[data-serviceuri="'+serviceURI+'"]');
        option.show();

        if(navigator.userAgent.indexOf('MSIE')!==-1 || navigator.appVersion.indexOf('Trident/') > -1){
            /* Microsoft Internet Explorer detected in. */
            var span = $("#selectPrivilegeURI").val('').find('span[data-serviceuri="'+serviceURI+'"]');
            span.replaceWith(option);
        }

        $(this).closest("[name=privilegeURI]").remove();
    });

    //Cancel
    $("#cancelServiceAccount").on("click", function(){
        load("/serviceAccounts");
    });

    //Cancel
    $("#tokenRegenerateValidation").on("click", function(){
        $("#tokenRegenerateModal").modal("hide");
        ajax($(this), {
            url         : "/Serviceaccount/"+ $("#serviceAccountId").val() + "/token",
            type        : "PUT",
            dataType    : "json",
            success  : function(response){
                $('#generatedToken').text(response.cookie);
                $('#generatedUrlEncodedToken').text(encodeURIComponent(response.cookie));
                gritter.show(response.message, response.status);
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });

    var organizations = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {url: '/organizations/todisplay?orgUnit=true', ttl: '0'},
        limit: 100
    });
    window.localStorage.clear();
    organizations.initialize();

    // initialize typeahead
    $('#orgTypeahead').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 2
        },
        {
            name: 'organizations',
            displayKey: 'displayName',
            templates: {
                empty: function() {
                    return "<span class='well well-sm'>"+$('#noServiceFound').text()+"</span>";
                },
                suggestion: function(organization) {
                    var display;
                    display =
                        "<span>"
                        + "<span class='fa fa-user' >&nbsp;</span>"
                        + "<span style='font-family:Helvetica, sans-serif;'>"
                        + organization.ownerOrgName
                        + " > "
                        + organization.displayName
                        + "</span></span><br>";

                    return display;
                }
            },
            source: function(query, cb) {
                organizations.search(query, function(suggestions) {
                    var i = suggestions.length
                    while (i--) {
                        if (!suggestions[i].ownerOrgName) {
                            suggestions.splice(i, 1)
                        } else {
                            if ($('#orgs').find('[data-orgid="' + suggestions[i].orgId + '"]').length)
                                suggestions.splice(i, 1);
                        }
                    }
                    cb(suggestions);
                });
            },
            skipCache: true
        }
    ).on('typeahead:selected', function($event, suggestion, source) {
        $("#orgTypeahead").prop('org', suggestion);
        $("#serviceOrgId").val(suggestion.orgId);
        $("#originatorOwnerOrgName").val(suggestion.ownerOrgName);
        $("#originatorOwnerOrgName").attr("data-ownerorgid", suggestion.ownerOrgId);
    });

    $('#orgTypeahead').keyup(function () {
        var whatAmI = $('#whatAmI').text();
        if (!$(this).val() && whatAmI != 'userWithoutSecurityLevel') {
            $("#originatorOwnerOrgName").val('');
            $("#serviceOrgId").val('');
        } else if (!$(this).val() && whatAmI == 'userWithoutSecurityLevel') {
            $("#originatorOwnerOrgName").val('');
            $("#serviceOrgId").val('');
            $("#orgGroup").addClass('hide');
        } else if (whatAmI == 'userWithoutSecurityLevel') {
            $("#orgGroup").removeClass('hide');
        }
    });

    $.ajax({
        type: 'GET',
        url: '/organizations/todisplay?orgUnit=false&ownerOrg=true',
        contentType : 'application/json',
        dataType    : 'json',
        success: function (response) {
            $.each(response, function(index, org){
                addSelectOrgs(org);
            })
        }
    });

    function addSelectOrgs(org){
        var orgSelect = $('#orgSelect');
        var ownerOrgId = $('#ownerOrgId').text();

        var option = $('<option/>')
            .val(org.orgId)
            .text(org.displayName)
            .appendTo(orgSelect);

        if (ownerOrgId == org.orgId) {
            option.prop('selected', true);
        }
    }

    function selectOrTypeheadOrg(){
        if ($("#adminUser").prop("checked")) {
            $("#orgTypeahead").hide();
            $("#orgGroup").hide();
            $("#selectOrgGroup").show();
            $("#serviceOrgLabel").text($("#organization_translated_text").text());
        } else {
            $("#orgTypeahead").show();
            $("#selectOrgGroup").hide();
            $("#orgGroup").show();
            $("#serviceOrgLabel").text($("#service_translated_text").text());
        }
    }

    // manage Adminbutton's attributes according to UserType
    function setAdminButton(whatAmI) {
        user_security = ($("#securityLevel").text());
        if (user_security == "func_admin") {
            $('#adminUser').bootstrapToggle("on");
            $('#adminUser').parent().addClass('disabled');
        } else if (user_security == "gen_admin"){
            $('#adminUser').bootstrapToggle("on");
            $('#adminUser').parent().addClass('disabled');
        } else if (user_security == "user"){
            $('#adminUser').bootstrapToggle("off");
            $('#adminUser').parent().addClass('disabled');
        } else {
            if(whatAmI == "adminG") {
                $('#adminUser').bootstrapToggle('on');
                $('#adminUser').parent().addClass('disabled');
            } else if (whatAmI == "func_admin") {
                $('#adminUser').bootstrapToggle("off");
                $('#adminUser').parent().addClass('disabled');
                $("#adminRights").hide();
            } else if (whatAmI == "userWithoutSecurityLevel") {
                // $('#adminUser').bootstrapToggle("off");
                // $('#adminUser').parent().removeClass('disabled');
            }
        }
    }

    setAdminButton($('#whatAmI').text());

</script>
