<div id="contain">
    <input type="hidden" id="maxResults" name="maxResults" value="[?merge maxResults ?]">
    <div class="container-fluid" data-translate-catalog="auth/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-laptop"></i>
                Manage service account
            </h1>
            <div class="form-group">
                <div class="col-sm-6" style="padding-left: 0px; padding-top:30px;margin-bottom:10px;">
                    <div class="col-md-9" style="padding-left: 0px;">
                        <input type="text" class="form-control" id="serviceAccountSearch" name="serviceAccountSearch" placeholder="Service account search"/>
                    </div>
                    <button type="button" class="btn btn-primary" id="searchServiceAccount" title="Search"><i class="fa fa-search">&nbsp;</i>Search</button>
                </div>
            </div>
        </div>
    </div>
    <div id="listServiceAccounts"></div>
</div>

<script type="application/javascript">
    //search
    var serviceAccounts = {
        "search" : function(accountName = null) {
            var params;
            var accountName = "accountName=" + accountName;
            var maxResults = "maxResults=" + $("#maxResults").val();
            params = "?" + accountName + "&" + maxResults;
            $.ajax({
                url         : "/serviceaccountslist" + params,
                type        : "GET",
                success  : function(response){
                    $("#listServiceAccounts").empty().html(response);
                },
                error    : function(response) {
                    console.log("error");
                }
            })
        }
    }

    $("#serviceAccountSearch").val('');

    $('#serviceAccountSearch').keyup(function(e){
        if(e.keyCode == 13)
        {
            serviceAccounts.search(this.value);
        }
    });

    serviceAccounts.search();

    $("#searchServiceAccount").on("click", function() {
        serviceAccounts.search($("#serviceAccountSearch").val());
    });
</script>
