<!--#
This file is part of the digitalResource package.
(c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#-->
<div id="contain" data-archivalprofileid="[?merge archivalProfile.archivalProfileId ?]" data-not-saved="false">
    <div data-form-ns="archivalProfile" class="dataForm" data-translate-catalog="recordsManagement/archivalProfile">
        <div class="container-fluid">
            <div class="page-header">
                <?merge archivalProfile.archivalProfileId.ifeq('') ?>
                <h1>
                    <i class="fa fa-cubes"></i> New profile <small><?merge archivalProfile.reference ?></small>
                </h1>
                <?merge archivalProfile.archivalProfileId.ifne('') ?>
                <h1>
                    <i class="fa fa-cubes"></i>Edit a profile <small><?merge archivalProfile.reference ?></small>
                </h1>
            </div>
        </div>
        <div class="container-fluid">
            <?merge archivalProfile ?>
            <form class="form-horizontal" id="archivalProfile_form">
                <div class="row">
                    <div class="col-md-6">
                        <br/>
                        <input type="hidden" id="archivalProfileId" name="archivalProfileId">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Reference <span style="color: red">*</span></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="reference" name="reference" placeholder="Reference">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name <span style="color: red">*</span></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="description" name="description" placeholder="description"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist" id="archivalProfileNavControl">
                            <?merge archivalProfile.type.ifeq('1').not() ?>
                            <li role="presentation" id="descriptionTabBtn"><a href="#descriptionTab" aria-controls="descriptionTab" role="tab" data-toggle="tab">Description</a></li>
                            <?merge archivalProfile.type.ifeq('1').not() ?>
                            <li role="presentation"><a href="#managementRulesTab" aria-controls="managementRulesTab" role="tab" data-toggle="tab">Profile rules</a></li>
                            <?merge archivalProfile.type.ifeq('1').not() ?>
                            <li role="presentation"><a href="#profileRelationshipTab" aria-controls="profileRelationshipTab" role="tab" data-toggle="tab">Archive structure</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="panel panel-primary" style="border-top-left-radius: 0; border-top-right-radius: 0; border-top: none;">
                            <div class="panel-body">
                                <div class="tab-content" id="archivalProfileNavTabs">
                                    <div role="tabpanel" class="tab-pane fade in" id="descriptionTab">
                                        <?hinclude recordsManagement/archivalProfile/descriptionTab.html ?>
                                    </div>
                                    <?merge .type.ifeq('1').not() ?>
                                    <div role="tabpanel" class="tab-pane fade" id="managementRulesTab">
                                        <div class="col-xs-12">
                                            <h5 class="text-info"><strong>Retention rule<strong/></h5>
                                            <br/>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Retention rule code</label>
                                                <div class="col-md-9">
                                                    <select id="code" name="retentionRuleCode" class="form-control">
                                                        <option value="">Select a retention rule code</option>
                                                        <?merge retentionRules ?>
                                                        <option value='[?merge .code ?]' 
                                                                data-duration="[?merge .retentionDuration ?]" 
                                                                data-duration-unit='[?merge .retentionDurationUnit ?]'
                                                                data-final-disposition='[?merge .finalDisposition ?]'>
                                                            <?merge .label ?>
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-offset-4">
                                                    <small>
                                                        <label>Retention duration</label> : 
                                                        <span id="duration"></span>
                                                    </small>
                                                    <br/>
                                                    <small class="finalDisposition dl dl-horizontal">
                                                        <label>Final disposition</label> : 
                                                        <span id="finalDisposition"></span>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Retention start date</label>
                                                <div class="col-md-9" id="retentionStartDate">
                                                    <input type="hidden" name="retentionStartDate" />
                                                    <select id="startDate" class="form-control">
                                                        <option value="definedLater">To be defined later </option>
                                                        <option value="depositDate" >Deposit date </option>
                                                        <?merge customeDateForRentention ?>
                                                        <span>
                                                            <?merge .required.bool().not().then("display: none;") @style ?>
                                                            <option value= "description/[?merge .name ?]"><?merge .label ?></option>
                                                        </span>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" style="border-top: 1px solid silver">
                                            <br/>
                                            <h5 class="text-info"><strong>Access rule</strong></h5>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Access rule code</label>
                                                <div class="col-md-9">
                                                    <select id="accessRuleCode" name="accessRuleCode" class="form-control">
                                                        <option value="">Select a access rule code</option>
                                                        <?merge accessRules ?>
                                                        <option value='[?merge .code ?]' data-json = '[?merge .json ?]'><?merge .description ?></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id='accessRule' >
                                                <div class="col-md-offset-4">
                                                    <small>
                                                        <label>Access rule duration</label> : 
                                                        <span id="accessRuleDuration"></span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="profileRelationshipTab">
                                        <?hinclude recordsManagement/archivalProfile/archiveStructure.html ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-right">
                        <button type="button" id="archivalProfileCancelBtn" class="btn btn-warning"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                        <button type="button" id="save" class="btn btn-success" title="Save">
                            <?merge archivalProfile.archivalProfileId.ifne('') ?>
                            <span><i class="fa fa-save">&nbsp;</i>Save</span>
                            <?merge archivalProfile.archivalProfileId.ifeq('') ?>
                            <span><i class="fa fa-plus">&nbsp;</i>Add</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div style="display:none">
            <span id="text_D">day(s)</span>
            <span id="text_M">month(s)</span>
            <span id="text_Y">year(s)</span>
            <span id="text_I">Illimited</span>
            <span id="text_preservation">preservation</span>
            <span id="text_destruction">destruction</span>
            <span id="empty_text">The fields with a star are compulsory.</span>
        </div>
    </div>
</div>


<script src="/public/dependency/html/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script>

    var ArchivalProfile = {
        loadRetentionRule: function() {
            var retentionRule = $('#code').find(":selected");
            var duration = retentionRule.data('duration');
            var durationUnit = retentionRule.data('duration-unit');
            var finalDisposition = retentionRule.data("final-disposition");
            if (finalDisposition) {
                if(durationUnit) {
                    $('.finalDisposition').css('display','');
                    $('#duration').html(duration + ' ' + $('#text_' + durationUnit).html());
                    $('#finalDisposition').html($('#text_' + finalDisposition).html());
                } else {
                    $('#duration').html($('#text_I').html());
                    $('.finalDisposition').css('display','none');
                    $('#finalDisposition').html('');
                }
            } else {
                $('.finalDisposition').css('display','');
                $('#duration').html('');
                $('#finalDisposition').html('');
            }
        },

        loadAccessCode: function() {
            var accessRuleCode = $('#accessRuleCode').find(":selected").data('json');
            var accessRuleTable = $('#accessRuleTable');

            if (accessRuleCode) {
                var accessRuleDurationUnit = accessRuleCode.duration.substr(accessRuleCode.duration.length - 1, 1);
                var accessRuleDuration = (accessRuleCode.duration.split(accessRuleDurationUnit))[0].split("P");
                $('#accessRule').css("display", 'block');
                $('#accessRuleDuration').html(accessRuleDuration[1] + ' ' + $('#text_' + accessRuleDurationUnit).html());
            } else {
                $('#accessRule').css("display", 'none');
            }
        },

        save: function(returnUrl) {
            var parameters = {
                archivalProfile : this.serialize()
            };
            
            if($("#contain").data('archivalprofileid')) {
                type= 'PUT';
                url= '/archivalProfile/'+$("#contain").data('archivalprofileid');
            } else {
                type= 'POST';
                url='/archivalProfile';
            }
            if(parameters.archivalProfile.reference == "" || parameters.archivalProfile.name == "" || parameters.archivalProfile.retentionStartDate == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }
            ajax($('#save'), {
                url: url,
                type: type,
                data: JSON.stringify(parameters),
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status) {
                        
                        load(returnUrl);
                    }
                },
                error    : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        serialize: function() {

            serializedObject = {
                archivalProfileId: $('#archivalProfileId').val(),
                reference: $('#reference').val(),
                name: $('#name').val(),
                descriptionClass: $('#descriptionClass').val(),
                retentionStartDate: $('#startDate option:selected').val(),
                description: $('#description').val(),
                accessRuleCode: $('#accessRuleCode').val(),
                retentionRuleCode: $('#code').val(),
                acceptUserIndex: $('#allowUserIndexes').prop("checked"),
                archiveDescription: [],
                acceptArchiveWithoutProfile: $('#acceptArchiveWithoutProfile').prop("checked")
            }

            if(serializedObject.retentionStartDate ==''){
                serializedObject.retentionStartDate = null;
            }
            if(serializedObject.accessRuleCode ==''){
                serializedObject.accessRuleCode = null;
            }
            if(serializedObject.retentionRuleCode ==''){
                serializedObject.retentionRuleCode = null;
            }
            
            serializedObject.archiveDescription = PropertiesList.serialize();
            serializedObject.containedProfiles = ArchiveStructure.serialize();
            
            return serializedObject;
        }
    }

    $("#archivalProfileCancelBtn").on("click", function (){
        load('/archivalProfiles');
    });
    
    $("#contain").ready(function () {

        $("#archivalProfileNavControl").find('a').first().click();

        ArchivalProfile.loadRetentionRule();
        ArchivalProfile.loadAccessCode();

        $('input, select, textarea').on('change', function() {
            console.log('ok');
            $('#contain').data('not-saved', true);
        })

        //date properties
        let datesProperties = $('#retentionStartDate option');
        var requiredProperty = $('.requiredProperty:checked');

        var currentRetentionStartDate = $('#retentionStartDate > input').val();
        if (datesProperties) {
            /*$.each(requiredProperty, function () {
                var fieldName = $(this).closest('tr').find('.fieldName').html();

                if (!$.inArray(fieldName, $('#descriptionClass').find(':selected').data('dateproperties'))) {
                    $('<option/>').val(fieldName).text(fieldName).appendTo('#startDateDescription');
                }
            })*/
            for(var i = 0; i < datesProperties.length; i++) {
                let element = $(datesProperties[i]);
                var value = element.val();
                if (value == currentRetentionStartDate && (element.css('display') != 'none')) {
                    element.attr('selected', 'selected');
                    return false;
                } else {
                    $('#retentionStartDate').val('definedLater');
                }
            }
        }

        // Define data source for person typeahead
        var groupsSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/recordsManagement/queryGroups/%QUERY',
                ajax: {
                    async: false
                }
            },
            limit: 100
        });
        groupsSource.initialize();

        // initialize typeahead
        $('#groupTypeahead').typeahead(
                {
                    hint: true,
                    highlight: true,
                    minLength: 3
                },
        // data source contacts
        {
            name: 'groups',
            displayKey: 'displayName',
            templates: {
                empty: function () {
                    return "<span class='well well-sm'>No group found</span>";
                },
                suggestion: function (group) {
                    return group.displayName;
                }
            },
            source: function (query, cb) {
                groupsSource.get(query, function (suggestions) {
                    var i = suggestions.length
                    while (i--) {
                        if ($.inArray(suggestions[i].objectId + suggestions[i].objectClass, $('#groupTypeahead').data('groupsids')) > -1)
                            suggestions.splice(i, 1);
                    }
                    cb(suggestions);
                });
            },
            skipCache: true
        }).on('typeahead:selected', function ($event, suggestion, source) {
            var typeahead = $("#groupTypeahead");
            var groupList = typeahead.data('groupsids');
            typeahead.data('group', suggestion);
            groupList.push(suggestion.objectId + suggestion.objectClass);
            typeahead.data('groupsids', groupList);
            $("#addGroup").prop('disabled', false);
        });

    });

   

    //add group to access rules
    $("#contain").on('click', '#addGroup', function () {

        var group = $('#groupTypeahead').data('group');
        var tr = $(this).closest('tr');
        var newTr = tr.clone();

        $("#addGroup").prop('disabled', true);
        newTr.data('objectid', group.objectId).data('objectclass', group.objectClass).addClass('profileAccessElement').find('input').css('display', '');
        newTr.find('.groupName:first').html(group.displayName);

        $('#groupTypeahead').val('');

        newTr.insertBefore(tr);
    })

    //required description property value management
    $("#contain").on('change', '#startDate', function () {
        var value = $(this).val();
        $('#startDateDescription').css('display', 'none');

        if (value == 'description') {
            $('#startDateDescription').css('display', '');
        }
    })

    $("#contain").on('change', '#code', function () {
        ArchivalProfile.loadRetentionRule();
    })

    $("#contain").on('change', '#accessRuleCode', function () {
        ArchivalProfile.loadAccessCode();
    })

    //save
    $("#contain").on('click', '#save', function () {
        ArchivalProfile.save("/archivalProfiles");
    });

</script>
