<!--#
This file is part of the digitalResource package.
(c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#-->
<div id="contain" data-archivalprofileid="[?merge archivalProfile.archivalProfileId ?]" data-not-saved="false">
    <div data-form-ns="archivalProfile" class="dataForm" data-translate-catalog="recordsManagement/archivalProfile">
        <div class="container-fluid">
            <div class="page-header">
                <?merge archivalProfile.archivalProfileId.ifeq('') ?>
                <h1>
                    <i class="fa fa-cubes"></i> New profile <small>
                        <?merge archivalProfile.reference ?></small>
                </h1>
                <?merge archivalProfile.archivalProfileId.ifne('') ?>
                <h1>
                    <i class="fa fa-cubes"></i>
                    Edit a profile
                    <small>
                        <?merge archivalProfile.reference ?></small>
                </h1>
            </div>
        </div>
        <div class="container-fluid">
            <?merge archivalProfile ?>
            <form class="form-horizontal" id="archivalProfile_form">
                <div class="row">
                    <div id="fieldsPart" class="col-md-9">
                        <br />
                        <input type="hidden" id="archivalProfileId" name="archivalProfileId">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Identifier <span style="color: red">*</span></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="reference" name="reference" placeholder="Reference" disabled="[?merge archivalProfile.reference.ifne('').then('disabled') ?]"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name <span style="color: red">*</span></label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <?merge archivalProfile.type.ifeq('1').not() ?>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Fileplan level</label>
                            <div class="col-md-9">
                                <input type='hidden' id="fileplanLevel" name="fileplanLevel">
                                <input type="checkbox" id="fileplanLevelToggle">
                            </div>
                        </div>
                    </div>

                    <?hinclude recordsManagement/archivalProfile/tabs.html ?>
                </div>
                <div class="clearfix">
                    <div class="pull-right">
                        <button type="button" id="archivalProfileCancelBtn" class="btn btn-warning"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                        <button type="button" id="save" class="btn btn-success" title="Save">
                            <?merge archivalProfile.archivalProfileId.ifne('') ?>
                            <span><i class="fa fa-save">&nbsp;</i>Save</span>
                            <?merge archivalProfile.archivalProfileId.ifeq('') ?>
                            <span><i class="fa fa-plus">&nbsp;</i>Add</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div style="display:none">
            <span id="text_D">day(s)</span>
            <span id="text_M">month(s)</span>
            <span id="text_Y">year(s)</span>
            <span id="text_I">Illimited</span>
            <span id="text_preservation">preservation</span>
            <span id="text_destruction">destruction</span>
            <span id="empty_text">The fields with a star are required.</span>
            <span id="text_file"><i class='fa fa-folder'></i> File</span>
            <span id="text_item"><i class='fa fa-file'></i> Item</span>
            <span id="identifier_format_error">Le format de l'identifiant n'est pas accepté</span>
        </div>
    </div>
</div>
<style>
    #tabPanes {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }

    #description {
        resize: vertical;
    }

    #fieldsPart {
        margin-bottom: 3%;
    }

    #archivalProfileNavControl {
        font-size: 18px;
    }
</style>
<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script>
    var ArchivalProfile = {
        loadRetentionRule: function () {
            var retentionRule = $('#code').find(":selected");
            var duration = retentionRule.data('duration');
            var durationUnit = retentionRule.data('duration-unit');
            var finalDisposition = retentionRule.data("final-disposition");
            if (finalDisposition) {
                if (duration >= 9999 && durationUnit == "Y") {
                    $('#duration').text($('#text_I').html());
                    $('.finalDisposition').css('display', 'none');
                    $('#finalDisposition').html('');
                } else if (durationUnit) {
                    $('.finalDisposition').css('display', '');
                    $('#duration').text(duration + ' ' + $('#text_' + durationUnit).html());
                    $('#finalDisposition').text($('#text_' + finalDisposition).html());
                }
            } else {
                $('.finalDisposition').css('display', '');
                $('#duration').html('');
                $('#finalDisposition').html('');
            }
        },

        loadAccessCode: function () {
            var accessRuleCode = $('#accessRuleCode').find(":selected").data('json');
            var accessRuleTable = $('#accessRuleTable');

            if (accessRuleCode) {
                var accessRuleDurationUnit = accessRuleCode.duration.substr(accessRuleCode.duration.length - 1,
                    1);
                var accessRuleDuration = (accessRuleCode.duration.split(accessRuleDurationUnit))[0].split("P");
                $('#accessRule').css("display", 'block');
                $('#accessRuleDuration').text(accessRuleDuration[1] + ' ' + $('#text_' + accessRuleDurationUnit)
                    .html());
            } else {
                $('#accessRule').css("display", 'none');
            }
        },

        save: function (returnUrl) {
            var parameters = {
                archivalProfile: this.serialize()
            };

            if ($("#contain").data('archivalprofileid')) {
                type = 'PUT';
                url = '/archivalProfile/' + $("#contain").data('archivalprofileid');
            } else {
                type = 'POST';
                url = '/archivalProfile';
            }

            if (parameters.archivalProfile.reference == "" || parameters.archivalProfile.name == "" ||
                parameters.archivalProfile.retentionStartDate == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }

            //RegExp identifier field ( = ArchivalProfile.reference)
            var reg =/^[A-Za-z][A-Za-z0-9_-]*$/;
            var identifier = parameters.archivalProfile.reference;
            if (!reg.test(identifier)) {
                gritter.show($("#identifier_format_error").text(), false);
                return;
            }

            ajax($('#save'), {
                url: url,
                type: type,
                data: JSON.stringify(parameters),
                contentType: 'application/json',
                dataType: 'json',
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status) {
                        load(returnUrl);
                    }
                },
                error: function (response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status,
                        response.responseJSON.errors);
                }
            });
        },

        serialize: function () {
            serializedObject = {
                archivalProfileId: $('#archivalProfileId').val(),
                reference: $('#reference').val(),
                name: $('#name').val(),
                fileplanLevel: $("#fileplanLevel").val(),
                descriptionClass: $('#descriptionClass').val(),
                retentionStartDate: $('#startDate option:selected').val(),
                description: $('#description').val(),
                isRetentionLastDeposit: $('#isRetentionLastDepositToggle').prop("checked"),
                accessRuleCode: $('#accessRuleCode').val(),
                retentionRuleCode: $('#code').val(),
                acceptUserIndex: $('#allowUserIndexes').prop("checked"),
                archiveDescription: []
            }

            //Cas d'extension Workflow
            if ($("#workflowTab").length != 0) {
                serializedObject.processingStatuses = {};
                var lists = $('#processingStatuses').find("[name='processingStatus']");
                lists.each(function (index, value) {
                    serializedObject.processingStatuses[$(value).find("[name='statuscode']").text().trim()] =
                        JSON.parse($(value).find("[name='statusinfo']").text().trim());
                    serializedObject.processingStatuses[$(value).find("[name='statuscode']").text().trim()].position =
                        index;

                });
            }

            if (serializedObject.retentionStartDate == '') {
                serializedObject.retentionStartDate = null;
            }
            if (serializedObject.accessRuleCode == '') {
                serializedObject.accessRuleCode = null;
            }
            if (serializedObject.retentionRuleCode == '') {
                serializedObject.retentionRuleCode = null;
            }

            serializedObject.archiveDescription = PropertiesList.serialize();

            if ($("#fileplanLevel").val() != 'item') {
                serializedObject.acceptArchiveWithoutProfile = $('#acceptArchiveWithoutProfile').prop("checked");
                serializedObject.containedProfiles = ArchiveStructure.serialize();
            } else {
                serializedObject.acceptArchiveWithoutProfile = false;
                serializedObject.containedProfiles = [];
            }

            return serializedObject;
        }
    }

    $("#archivalProfileCancelBtn").on("click", function () {
        load('/archivalProfiles');
    });

    $("#contain").ready(function () {
        $('#fileplanLevelToggle').bootstrapToggle({
            on: $('#text_item'),
            off: $('#text_file'),
        });

        if ($('#fileplanLevel').val() == 'item') {
            $('#fileplanLevelToggle').bootstrapToggle('on');
            $("#contentsTabBtn").addClass('hide');
        }

        $("#archivalProfileNavControl").find('a').first().click();

        ArchivalProfile.loadRetentionRule();
        ArchivalProfile.loadAccessCode();

        $('input, select, textarea').on('change', function () {
            $('#contain').data('not-saved', true);
        })

        //date properties
        let datesProperties = $('#retentionStartDate option');
        var requiredProperty = $('.requiredProperty:checked');

        var currentRetentionStartDate = $('#retentionStartDate > input').val();
        if (datesProperties) {
            for (var i = 0; i < datesProperties.length; i++) {
                let element = $(datesProperties[i]);
                var value = element.val();
                if (value == currentRetentionStartDate && (element.css('display') != 'none')) {
                    element.attr('selected', 'selected');
                    break;
                } else {
                    $('#retentionStartDate').val('');
                }
            }
        }
    });


    //add group to access rules
    $("#contain").on('click', '#addGroup', function () {

        var group = $('#groupTypeahead').data('group');
        var tr = $(this).closest('tr');
        var newTr = tr.clone();

        $("#addGroup").prop('disabled', true);
        newTr.data('objectid', group.objectId).data('objectclass', group.objectClass).addClass(
            'profileAccessElement').find('input').css('display', '');
        newTr.find('.groupName:first').text(group.displayName);

        $('#groupTypeahead').val('');

        newTr.insertBefore(tr);
    })

    //required description property value management
    $("#contain").on('change', '#startDate', function () {
        var value = $(this).val();
        $('#startDateDescription').css('display', 'none');

        if (value == 'description') {
            $('#startDateDescription').css('display', '');
        }
    })

    $("#contain").on('change', '#code', function () {
        ArchivalProfile.loadRetentionRule();
    })

    $("#contain").on('change', '#accessRuleCode', function () {
        ArchivalProfile.loadAccessCode();
    })

    //save
    $("#contain").on('click', '#save', function () {
        ArchivalProfile.save("/archivalProfiles");
    });


    $('#fileplanLevelToggle').on('change', function (e) {
        if ($('#fileplanLevelToggle').prop('checked')) {
            $("#fileplanLevel").val('item');
            $("#contentsTabBtn").addClass('hide');
            $("#archivalProfileNavControl").find('a').first().click();
            $('#updateRetentionRuleOnDeposit').addClass('hide');
        } else {
            $("#fileplanLevel").val('file');
            $("#contentsTabBtn").removeClass('hide');
            $('#updateRetentionRuleOnDeposit').removeClass('hide');
        }
    });
</script>
