<div class="form-group col-md-12">
    <br />
    <?merge archivalProfile.type.ifeq('1').not() ?>
    <div class="form-group">
        <label class="col-md-4 control-label">Allow user indexes</label>
        <div class="col-md-8">
            <input type="checkbox" id="allowUserIndexes" name="acceptUserIndex" data-toggle="toggle">
        </div>
    </div>
    <label class="col-md-4 control-label">Description class</label>
    <div class="col-md-7">
        <select id="descriptionClass" name="descriptionClass" class="form-control">
            <option value="" data-properties="[?merge descriptionFields.json() ?]" data-dateproperties="[?merge dateFields.json() ?]">Custom
                description fields</option>
            <?merge descriptionClasses ?>
            <option value="[?merge .name ?]" data-dateproperties="[?merge .dateProperties ?]" data-properties="[?merge .properties ?]">
                <?merge .label ?>
            </option>
        </select>
    </div>
</div>

<div class="col-md-12">
    <table class="table table-condensed" id="archiveDescriptionTable">
        <thead>
            <tr>
                <th>Property</th>
                <th style="width: 5%">Required</th>
                <th style="width: 5%">Read only</th>
                <th style="width: 5%"></th>
            </tr>
            <tr id="archiveDescriptionForm">
                <th>
                    <select class="form-control input-sm" id="descriptionFields" name="type">
                        <option value="" />
                        <?merge descriptionFields ?>
                        <option data-type="[?merge .type ?]" value="[?merge .name ?]">
                            <?merge .label ?>
                        </option>
                    </select>
                    <select class="form-control hide" id="descriptionClassProperties" name="type">
                    </select>
                </th>
                <th>
                    <input type="checkbox" class="pull-left" name="required" id="requiredField" />
                </th>
                <th>
                    <input type="checkbox" class="pull-left" name="isImmutable" id="isImmutableField" />
                </th>
                <th>
                    <button type="button" class="btn btn-sm btn-success pull-right" id="addProperty"><span class="fa fa-plus"></span></button>
                </th>
            </tr>
        </thead>
        <tbody id="archiveDescription">

        </tbody>
    </table>
</div>

<div class="hide" data-translate-catalog="recordsManagement/archivalProfile">
    <input type="hidden" id="archiveDescriptionJson" data-json="[?merge archivalProfile.archiveDescription.json() ?]">

    <!-- ERROR MESSAGES -->
    <span id="emptyName_error">A field must not be empty</span>

    <!-- TYPE -->
    <span id="text_text">text</span>
    <span id="name_text">name</span>
    <span id="date_text">date</span>
    <span id="number_text">number</span>
    <span id="boolean_text">boolean</span>

    <table>
        <!-- CUSTOM PROPERTY TEMPLATE -->
        <tr id="descriptionPropertyTemplate" data-json="" style="cursor: pointer;">
            <td class="propertyLabel"></td>
            <td class="requiredProperty">
                <i class="fa fa-check-square-o"></i>
            </td>
            <td class="isImmutableProperty">
                <i class="fa fa-check-square-o"></i>
            </td>
            <td class="text-right">
                <button type="button" class="deleteProperty btn btn-sm btn-danger" title="delete"><i class="fa fa-minus"></i></button>
            </td>
        </tr>
    </table>
</div>