<!--
  metas
-->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" type="image/x-icon" href="[?merge .favicon ?]" />
<meta class="datePicker">
<!-- <meta class="dateTimePicker"> -->
<!--
  stylesheets
-->
<!--<link rel="stylesheet" href="/presentation/css/style.css" />-->
<link rel="stylesheet" href="[?merge .css ?]" />
<link rel="stylesheet" href="/public/css/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />

<!--link rel="stylesheet/less" type="text/css" href="/less/dashboard/style.less" /-->

<!--
  javascripts
-->
<!--jqueryui-->
<!-- script src="/public/js/jQueryUI_1.10.4/jqueryUI.js"></script -->
<!--less-->
<script>
    //less = {
    //    env: "development",
    //};
</script>
<title><?merge .title ?> </title>
