<!--
  metas
-->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<script type="application/javascript">
    $(document).ready(function() {
        window.print();
    });

</script>

<style type="text/css">
    @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 5mm;  /* this affects the margin in the printer settings */
    }
    
    body 
    {
        background-color:#FFFFFF; 
        border: solid 0px black ;
        margin: 0px;  /* this affects the margin on the content before sending to printer */
    }
    
    #ad{ display:none;}
    #leftbar{ display:none;}
    #contentarea{ width:100%;}
</style>