<div id="wrapper" lang="en">
    <?hinclude dashboard/navbar.html ?>
    <div id="page-wrapper" style="padding-bottom: 50px;">
        <div id="loadingModal" style="display: none">
            <span  style="z-index:2; background-color: rgba(200,200,200,0.3); position: fixed; height: 100%; width: 100% "></span>
            <div style="position: fixed; z-index:3; bottom: 50%; right: 47%;">
                <i class="fa fa-spinner fa-spin fa-5x" ></i>
            </div>
        </div>
        <section role="main" id="app_maarchRM_main" style="z-index: 1;">
        </section>
        <span class="hide" id="executionError">An error has occurred.</span>
    </div>
</div>
