<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-translate-catalog translate="no" data-translate-context="layout">
    <div class="container-fluid">
        <div class="navbar-header col-sm-4 col-md-1">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#leMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="cursor: pointer; padding: 10px" onclick="load('/', 'HTML_NO_LAYOUT')">
                <img class="img-responsive pull-left" style="max-height:32px;" src="[?merge .logo ?]"/>
                <span style=''>&nbsp;</span>
                <span style='font-family:electrolize;'>
                    <?merge .navbarTitle ?>
                    <span style='[?merge .["style"] ?]'><?merge .["value"] ?></span>
                </span>

            </a>
        </div>

        <div class="collapse navbar-collapse" id='leMenu'>
            <ul class="nav navbar-nav navbar-right" style="cursor: pointer;">
                <?merge .menu ?>
                <li class="dropdown">
                    <!-- Simple item -->
                    <?merge ['submenu'].count().bool().not() ?>
                    <a title="[?merge ['title'] ?]" data-toggle="tooltip" data-placement="bottom" data-href="[?merge ['href'] ?]" onclick="load('[?merge ['href'] ?]');" role="button">
                        <i class="[?merge ['class'] ?]"></i>
                        <?merge ['label'] ?>
                    </a>
                    <!-- Sub-menu -->
                    <?merge ['submenu'].count().bool() ?>
                    <a class="dropdown-toggle" title="[?merge ['title'] ?]" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="[?merge ['class'] ?]"></i>
                        <?merge ['label'] ?>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <?merge ['submenu'] ?>
                        <li class="dropdown-submenu" style="width: 100%">
                            <!-- Sub-menu simple item -->
                            <?merge ['submenu'].count().bool().not() ?>
                            <a data-href="[?merge ['href'] ?]" onclick="load('[?merge ['href'] ?]');" translate="yes">
                                <i class="[?merge ['class'] ?]"></i>
                                <?merge ['label'] ?>
                            </a>

                            <!-- Sub-menu multiple item -->
                            <?merge ['submenu'].count().bool() ?>
                            <a data-href="[?merge ['href'] ?]" onclick="load('[?merge ['href'] ?]');" translate="yes">
                                <i class="[?merge ['class'] ?]"></i>
                                <?merge ['label'] ?>
                            </a>
                            <?merge ['submenu'].count().bool() ?>
                            <ul class="dropdown-menu sideList" style="width: max-content">
                                <?merge ['submenu'] ?>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" data-href="[?merge ['href'] ?]" onclick="load('[?merge ['href'] ?]');" translate="yes">
                                        <!--i class="[?merge ['class'] ?]"></i-->
                                        <?merge ['label'] ?>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--<?merge ['submenu'] ?>
                        <li class="collapse-container" style="width: 100%;">
                            <?merge ['submenu'].count().bool().not() ?>
                            <a data-href="[?merge ['href'] ?]" onclick="load('[?merge ['href'] ?]');" translate="yes">
                                <i class="[?merge ['class'] ?]"></i>
                                <?merge ['label'] ?>
                            </a>

                            <?merge ['submenu'].count().bool() ?>
                            <a class="collpaseonhover" translate="yes" data-toggle="collapse" role="button" aria-expanded="false">
                                <i class="[?merge ['class'] ?]"></i>
                                <?merge ['label'] ?>
                            </a>
                            <?merge ['submenu'].count().bool() ?>
                            <ul class="collapse collapse-menu" style="list-style: none;">
                                <?merge ['submenu'] ?>
                                <li class="dropdown-item">
                                    <a data-href="[?merge ['href'] ?]" class="text-muted" onclick="load('[?merge ['href'] ?]');" translate="yes">
                                        <?merge ['label'] ?>
                                    </a>
                                </li>
                            </ul>
                        </li>-->
                    </ul>
                </li>
                <?merge .positions.count().ifgt(0) ?>
                <li class="dropdown" >
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="load('#')">
                        <i class="fa fa-sitemap fa-fw" ></i>&nbsp;<span name="currentOrganization" ><?merge .currentOrganization.displayName ?></span>&nbsp;&nbsp;<?merge .positions.count().ifgt(1) ?><i class="fa fa-caret-down"></i>
                    </a>
                    <?merge .positions.count().ifgt(1) ?>
                    <ul class="dropdown-menu dropdown-user">
                        <?merge .positions ?>
                        <li>
                            <a onclick="load('#')" name="selectOrg" data-orgid="[?merge .orgId?]">
                                <span name="selectedOrgUnit"><?merge .organization.orgName ?></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" onclick="load('#')" id="dropUsers">
                        <?merge .user.displayName.ifeq('')?><div><i class="fa fa-user fa-fw">&nbsp;</i><?merge .user.userName ?>&nbsp;&nbsp;<i class="fa fa-caret-down"></i></div>
                        <?merge .user.displayName.ifne('')?><div><i class="fa fa-user fa-fw">&nbsp;</i><?merge .user.displayName ?>&nbsp;&nbsp;<i class="fa fa-caret-down"></i></div>
                    </a>
                    <ul class="dropdown-menu dropdown-user" style="z-index: 999;">
                        <li>
                            <a data-currentuserid="[?merge .user.accountId?]" translate="yes">
                                <i class="fa fa-user fa-fw"></i> Profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a onclick="localStorage.clear();load('/user/logout')" translate="yes" title="Ctrl + Alt + Q">
                                <i class="fa fa-sign-out fa-fw"></i> Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="" onclick="displayInformation()">
                        <i class="fa fa-question" ></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<span class="hide" id="localisationDateTimeFormat"><?merge .localisation['dateTimeFormat'] ?></span>

<div class="modal fade" id="aboutModal" lang="en">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>About</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img class="img-responsive" style="max-height:64px; margin: 0 auto;" src="/presentation/img/RM.svg"/>
                    <br/>
                    <h2>Versions</h2>
                    <p class='lead'>
                        <?merge .versions[0].name ?> - <?merge .versions[0].number ?>
                    </p>
                    <?merge .versions.count().ifgte(2) ?>
                    <span>
                        <h4>Extension(s)</h4>
                        <p class="lead">
                            <?merge .versions ?>
                            <span>
                                <?merge .name.ifne('Maarch RM') ?>
                                <span>
                                    <?merge .name ?> - <?merge .number ?>
                                    <br>
                                </span>
                            </span>
                        </p>
                    </span>
                </div>
                <p>
                <pre style="overflow-y:scroll; height: 400px; ">
                        <?merge .licence ?>
                    </pre>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    /* @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPLv3 or later */
    $(document).ready(function(){
        $('[title]').tooltip();
    });

    $.ajaxSetup({
        statusCode: {
            307: function(err){
                window.location.href = '/';
          }
        }
    });
    function load(url, data)
    {
        var loading = false;

        if (url == "#") {
            return;
        }

        setTimeout(function () {
            if (!loading) {
                $("#loadingModal").css('display', '');
            }
        }, 300);

        $("#app_maarchRM_main").empty();
        $.ajax({
            type: 'GET',
            url: url,
            data: data,
            dataType: 'html',
            success: function (response) {
                loading = true;
                // Avoid multiple script src requests
                window.history.pushState({"html": response.html}, "", url);
                $('#app_maarchRM_main').html(response)
                    .find('script').each(function () {
                        if ($('script[src="' + $(this).attr("src") + '"]').length) {
                            $(this).remove();
                        }
                    })
                    .find('link').each(function () {
                        if ($('link[href="' + $(this).attr("href") + '"]').length) {
                            $(this).remove();
                        }
                    });

                $("#loadingModal").css('display', 'none');
            }
        });
        $('[title]').tooltip();
    }

    function back(url, data)
    {
        if (url == "#") {
            return;
        }
        if (url.indexOf("#") > 0) {
            return;
        }

        $("#loadingModal").show();
        $.ajax({
            type: 'GET',
            url: url,
            data: data,
            dataType: 'html',
            async: false,
            success: function (response) {
                var $html = $('<div/>').html(response);
                $html.find('script').each(function () {
                    if ($('script[src="' + $(this).attr("src") + '"]').length) {
                        $(this).remove();
                    }
                });
                $html.find('link').each(function () {
                    if ($('link[href="' + $(this).attr("href") + '"]').length) {
                        $(this).remove();
                    }
                });

                $('#app_maarchRM_main').empty();

                $('#app_maarchRM_main').append($html);
                $("#loadingModal").hide();

            }
        });
    }


    function ajax(button, request, timeout) {
        var icon = null;
        var activeButtons = $('.btn').not('[disabled]');

        if (button) {
            icon = button.find('.fa:first').attr('class');
        }

        if (!timeout) {
        }

        var beforeSend = request.beforeSend;
        request.beforeSend = function() {
            if (beforeSend) {
                beforeSend();
            }

            activeButtons.attr('disabled', true);
            if (icon) {
                button.find('.fa:first').removeClass(icon).addClass('fa fa-spinner fa-spin');
            }
        };

        var ajaxComplete = request.complete;
        request.complete = function() {
            if (ajaxComplete) {
                ajaxComplete();
            }

            loading = setTimeout(function() {
                ajaxEnd(activeButtons, button, icon);
            })
        };

        var errorFunction = request.error;
        request.error = function(response) {
            try {
                errorFunction(response);
            } catch (err) {
                gritter.show($('#executionError').text(), false);
            }
        };

        request.statusCode = {
            500: function() {
                gritter.show($('#executionError').text(), false);
            }
        };

        return $.ajax(request);
    }

    function ajaxEnd(activeButtons, button, icon) {
        activeButtons.removeAttr('disabled');
        if (icon) {
            button.find('.fa:first').addClass(icon).removeClass('fa-spinner fa-spin');
        }

    }

    function formatDateTime(datetime)
    {
        var format = "[?merge .localisation['dateTimeFormat'] ?]";

        return datetime;
    }

    // Event triggering system
    function trigger(event, args) {
        $(document).trigger(event, args);
    }

    $.fn.onEvent = function(event, func){

        var callback = func;
        $(document).on(event, function() {
            callback.apply(this, arguments);
        });

        $(this).on("remove", function() {
            $(document).off(event);
        })
    }

    // Scroll following
    $.fn.initSmoothScrolling = function() {
        element = $(this);
        originalY = element.offset().top;
        element.css('position', 'relative');
        lock = false;

        // Space between element and top of screen (when scrolling)
        var topMargin = 60;

        $(window).on('resize', function(event) {
            lock = true;
            element.stop(false, false).css('top', 0);
        })

        $(window).on('scroll', function(event) {

            if (lock && $(window).scrollTop() == 0) {
                originalY = element.offset().top;
                lock = false;
            }


            if ($(window).height() > element.outerHeight() && $(window).width() >= 1200 && !lock) {
                var scrollTop = $(window).scrollTop();

                element.stop(false, false).animate({
                    top: scrollTop < originalY
                            ? 0
                            : scrollTop - originalY + topMargin
                }, 300);
            }
        });

    }

    window.onpopstate = function (e) {
        back(window.location.href);
    };

    window.onbeforeunload = function (e) {
    };

    $(document).ready(function () {
        $('#side-menu').metisMenu();

        // sidebar
        $(window).bind("load resize", function () {
            $('#page-wrapper').css('min-height', $(window).height() - 50);
            if ($(this).width() < 768) {
                $('div.sidebar-collapse').addClass('collapse');
            } else {
                $('div.sidebar-collapse').removeClass('collapse');
            }
        });

        $('#showSidebar').fadeOut(0);

        $('[name="selectOrg"]').on('click', function () {
            var orgId = $(this).attr('data-orgid');

            $('[name="currentOrganization"]').text($(this).find('[name="selectedOrgUnit"]').first().text());
            $.ajax({
                type: "PUT",
                url: "/currentPosition/"+ orgId,
                async: false
            });

            var location = window.location.pathname.split('/');
            location.splice(0, 1);
            load("/"+location.join("/"));
        });

        $('[data-currentuserid]').on('click', function () {
            load('/myProfile');
        });
    });
    $(document).on("click", '#hideSidebar', function () {
        $("#sidebar-wrapper").fadeOut(200, function () {
            $("#page-wrapper").animate({marginLeft: '0px'}, 250, function () {
                $('#showSidebar').fadeIn();
            });
        });
    });

    $(document).on("click", '#showSidebar', function () {
        $('#showSidebar').fadeOut();
        $("#page-wrapper").animate({marginLeft: '250px'}, 250, function () {
            $("#sidebar-wrapper").fadeIn();
        });
    });

    //Haut, haut, bas, bas, gauche, droite, gauche, droite, B, A
    var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65];
    var n = 0;
    $(window).keydown(function (e) {
        if (e.keyCode === k[n++]) {
            if (n === k.length) {
                n=0;
                $(this).raptorize({
                    'enterOn' : 'timer', //timer, konami-code, click
                    'delayTime' : 1000 //time before raptor attacks on timer mode
                });

                return !1;
            }
        } else
            k = 0;
    });

    var keys = {};
    $(window).on("keyup keydown", function (e) {
        e = e || event;
        keys[e.keyCode] = e.type === 'keydown';

        if (keys[17] && keys[18] && keys[81]) {
            localStorage.clear();
            load('/user/logout');
        }
    });

    function displayInformation(){
        $('#aboutModal').modal();
    }

    const dropDownSize = $('.sideList').parents(".dropdown-menu").width();

    $('.sideList').each(function() {
        var tmp = $(this).clone().appendTo( "body" ).css({'display':'block', 'visibility': 'hidden'});
        var width = tmp.width();
        tmp.remove();
        $(this).css("margin-left", "-=" + (dropDownSize + width) + "px");
    });
</script>
