<!--#
    This file is part of the registeredMail package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->

<div class="container-fluid">
    <div class="page-header" data-translate-catalog="recordsManagement/welcome">
        <h1>
            Electronic Records Management System
        </h1>
    </div>
</div>
<div class="container-fluid form-horizontal" data-translate-catalog="recordsManagement/welcome">
    <div class="well col-sm-6">
        <h1>Welcome <?merge user.displayName?></h1>
        <p>This application allows to store, find and display digital resources in compliance with international regulation ISO 14641-1.</p>       
        <br/>
    </div>
</div>
<script type="application/javascript">
</script>
