<table class="table defaultStatistics dataTable">
    <thead>
        <tr>
            <th><?merge filter ?></th>
            <th>size (Go)</th>
            <th>growth</th>
        </tr>
    </thead>
    <tbody>
        <?merge condensedStats ?>
        <tr>
            <td><?merge .['deposit'].['sum'].div(1000) ?> Mo / <?merge .['deposit'].['count'] ?> files</td>
            <td><?merge .['deleted'].['sum'].div(1000) ?> Mo / <?merge .['deleted'].['count'] ?> files</td>
            <td><?merge .['archived'].['sum'].div(1000) ?> Mo / <?merge .['archived'].['count'] ?> files</td>
            <td></td>
            <td><?merge condensedStats.key() ?></td>
        </tr>
    </tbody>
</table>
