<div class="container-fluid" style="padding-top: 10px" data-translate-catalog="Statistics/Statistics">
    <div class="page-header">
        <h1>Statistics</h1>
    </div>
    <div class="container-fluid page-header">
        <div class="well">
            <form class="form-horizontal" id="statistics-form">
            	<div class="row">
            		<div class="col-md-4">
            			<select class="form-control" name="operation" id="operation" placeholder="Operation">
            				<option selected disabled value="">Select an operation *</option>
							<option value="deposit">Deposit</option>
							<option value="delete">Delete</option>
							<option value="conserved">Conserved</option>
						</select>
            		</div>
            	</div>
            	<br>
            	<div class="row">
            		<div class="col-md-4">
						<select class="form-control" name="archivalProfiles" id="archivalProfiles">
							<option value="" selected disabled>Select an archival profile</option>
							<?merge archivalProfiles ?>
								<option value="[?merge .reference ?]"><?merge .name ?></option>
						</select>
            		</div>
            	</div>
            	<br>
            	<div class="row">
            		<div class="col-md-4">
        				<input type="text" id="orgTypeahead" class="form-control" name="orgTypeahead" placeholder="Select an originating organization">
            		</div>
            		<input type="hidden" name="originatingOrg" id="originatingOrg">
            	</div>
            	<!-- TODO pour medona/ap -->
            	<!-- <br>
            	<div class="row">
            		<div class="col-md-4">
						<select class="form-control" name="archivalAgency" id="archivalAgency">
							<option value="" selected disabled>Select an archival agency</option>
						</select>
            		</div>
            	</div> -->
            	<br>
            	<div class="row">
            		<div class="col-md-2">
                        <input type="text" class="form-control datePicker" name="fromDate" placeholder="From">
                    </div>
            		<div class="col-md-2">
                        <input type="text" class="form-control datePicker" name="toDate" placeholder="To">
            		</div>
            	</div>
            	<br>
            	<div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning col-md-3 col-md-offset-5" id="resetForm" title="Reset"><i class="fa fa-refresh">&nbsp;</i>Reset</button>
                        <button type="button" class="btn btn-primary col-md-3 col-md-offset-1" id="search" title="Search"><i class="fa fa-search">&nbsp;</i>Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="hide">
    <span id="error_required_field">The fields with a star are required.</span>
</div>

<script>
	StatisticsForm = {
        statisticForm : $('#statistics-form'),

        reset: function() {
            $('#orgTypeahead').data("value", "");
            this.clearResult();
            this.statisticForm.find('input[type="text"], input[type="number"], input[type="hidden"], textarea').val('');
        },

        clearResult: function(){
            // TODO clear when results will be included
        },

        search: function() {
            var parameters = this.serialize();
            console.log(parameters);
            if (parameters == -1) {
                return;
            }
            // ajax($('#search'), {
            //     url         : '/statistics/show',
            //     type        : 'GET',
            //     data        : parameters,
            //     contentType : 'application/json',
            //     success     : function(response) {
            //     },
            //     error       : function(response) {
            //         var error = JSON.parse(response.responseText);
            //         gritter.show(error.message, false);
            //     }
            // });
        },

        serialize: function() {
            var object = {};

            let operation = this.statisticForm.find('[name="operation"]').val();
            let originatingOrg = $('#originatingOrg').val();
            let archivalProfile = this.statisticForm.find('[name="archivalProfiles"]').val()
            let startDate = this.statisticForm.find('[name="fromDate"]').data('datepicker').getFormattedDate('yyyy-mm-dd');
            let endDate   = this.statisticForm.find('[name="toDate"]').data('datepicker').getFormattedDate('yyyy-mm-dd');

            object.operation = operation;
            object.originatingOrg = originatingOrg;
            object.archivalProfile = archivalProfile;
            object.startDate = startDate;
            object.endDate = endDate;

            return object;
        }
    }

	/************
	CTA
	************/
	$('#search').on('click', function() {
        if (!$('#operation').val()) {
            gritter.show($("#error_required_field").text(), false);
            return;
        }

        StatisticsForm.search();
    });

    $('#resetForm').on('click', function() {
        StatisticsForm.reset();
    });

	/***********************
	 organization typeahead
	************************/
	var organizations = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {url: '/organizations/todisplay?orgUnit=true', ttl: '0'},
        limit: 100
    });
	window.localStorage.clear();
    organizations.initialize();

    // initialize typeahead
    $('#orgTypeahead').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 2
        },
        {
            name: 'organizations',
            displayKey: 'displayName',
            templates: {
                empty: function() {
                    return "<span class='well well-sm'>"+$('#noOriginatorFound').html()+"</span>";
                },
                suggestion: function(organization) {
                    var display =
                        "<span>"
                        + "<span style='font-family:Helvetica, sans-serif;'>";

                    if(organization.ownerOrgName) {
                        display += organization.ownerOrgName
                                + "<br>> ";
                    }
                       display += organization.displayName
                        + "</span></span><br>";

                    $("#originatorOwnerOrgName").val("");
                    return display;
                }
            },
            source: function(query, cb) {
                organizations.search(query, function(suggestions) {
                    var i = suggestions.length
                    while (i--) {
                        if ($('#orgs').find('[data-orgid="'+ suggestions[i].orgId +'"]').length)
                            suggestions.splice(i, 1);
                    }
                    cb(suggestions);
                });
            },
            skipCache: true
        }
    ).on('typeahead:selected', function($event, suggestion, source) {
    	$('#originatingOrg').val(suggestion.registrationNumber);
    });
</script>
