<div class="container-fluid" style="padding-top: 10px" data-translate-catalog="Statistics/Statistics">
    <div class="page-header">
        <h1>Statistics</h1>
    </div>
    <div class="container-fluid page-header">
        <div class="well">
            <form class="form-horizontal" id="statistics-form">
            	<div class="row">
            		<div class="col-md-4">
            			<select class="form-control" name="operation" id="operation">
                            <option selected disabled value="">Select an operation *</option>
							<option value="deposit">Deposit</option>
							<option value="delete">Delete</option>
							<option value="conserved">Conserved</option>
						</select>
            		</div>
            	</div>
            	<br>
                <div class="row">
                    <div class="col-md-4">
                        <select name="filter" id="filter" class="form-control">
            				<option selected disabled value="">Select a filter *</option>
                            <option value="archivalProfile">By archival profile</option>
                            <option value="originatingOrg">By originating agency</option>
                        </select>
                    </div>
                </div>
            	<br>
            	<div class="row">
            		<div class="col-md-2">
                        <input type="text" class="form-control datePicker" name="fromDate" placeholder="From">
                    </div>
            		<div class="col-md-2">
                        <input type="text" class="form-control datePicker" name="toDate" placeholder="To">
            		</div>
            	</div>
            	<br>
            	<div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning col-md-3 col-md-offset-5" id="resetForm" title="Reset"><i class="fa fa-refresh">&nbsp;</i>Reset</button>
                        <button type="button" class="btn btn-primary col-md-3 col-md-offset-1" id="search" title="Search"><i class="fa fa-search">&nbsp;</i>Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="statsResults"></div>
<div class="hide">
    <span id="error_required_field">The fields with a star are required.</span>
</div>

<script>
	StatisticsForm = {
        statisticForm : $('#statistics-form'),
        resultList : $('#statsResults'),

        reset: function() {
            $('#orgTypeahead').data("value", "");
            this.clearResult();
            this.statisticForm.find('input[type="text"], input[type="number"], input[type="hidden"], textarea, select').val('');
        },

        clearResult: function(){
            // TODO clear when results will be included
        },

        search: function() {
            var parameters = this.serialize();
            if (parameters == -1) {
                return;
            }
            ajax($('#search'), {
                url         : '/statistics/retrieve',
                type        : 'GET',
                data        : parameters,
                contentType : 'application/json',
                success     : function(response) {
                    StatisticsForm.resultList.empty();
                    StatisticsForm.resultList.html(response);
                },
                error       : function(response) {
                    var error = JSON.parse(response.responseText);
                    gritter.show(error.message, false);
                }
            });
        },

        serialize: function() {
            var object = {};

            let operation = this.statisticForm.find('[name="operation"]').val();
            let originatingOrg = $('#originatingOrg').val();
            let filter = this.statisticForm.find('[name="filter"]').val();
            let startDate = this.statisticForm.find('[name="fromDate"]').data('datepicker').getFormattedDate('yyyy-mm-dd');
            let endDate   = this.statisticForm.find('[name="toDate"]').data('datepicker').getFormattedDate('yyyy-mm-dd');

            object.operation = operation;
            object.originatingOrg = originatingOrg;
            object.filter = filter;
            object.startDate = startDate;
            object.endDate = endDate;

            return object;
        }
    }

	/************
	CTA
	************/
	$('#search').on('click', function() {
        if ((!$('#operation').val() && $('#filter').val())
            || ($('#operation').val() && !$('#filter').val())
            ) {
            gritter.show($("#error_required_field").text(), false);
            return;
        }

        StatisticsForm.search();
    });

    $('#resetForm').on('click', function() {
        StatisticsForm.reset();
    });
</script>
