<div class="container-fluid" style="padding-top: 10px" data-translate-catalog="Statistics/Statistics">
    <div class="page-header">
        <h1>Statistics</h1>
    </div>
    <div class="container-fluid page-header">
        <div class="well">
            <form class="form-horizontal" id="statistics-form">
            	<div class="row">
            		<div class="col-md-4">
            			<select class="form-control" name="operation" id="operation">
                            <option selected disabled value="">Select an operation *</option>
							<option value="deposit">Deposit</option>
							<option value="delete">Delete</option>
							<option value="conserved">Conserved</option>
						</select>
            		</div>
            	</div>
            	<br>
                <div class="row">
                    <div class="col-md-4">
                        <select name="filter" id="filter" class="form-control">
            				<option selected disabled value="">Select a filter *</option>
                            <option value="archivalProfile">By archival profile</option>
                            <option value="originatingOrg">By originating agency</option>
                        </select>
                    </div>
                </div>
            	<br>
            	<div class="row">
            		<div class="col-md-2">
                        <input type="text" class="form-control datePicker" name="fromDate" placeholder="From">
                    </div>
            		<div class="col-md-2">
                        <input type="text" class="form-control datePicker" name="toDate" placeholder="To">
            		</div>
            	</div>
            	<br>
            	<div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning col-md-3 col-md-offset-5" id="resetForm" title="Reset"><i class="fa fa-refresh">&nbsp;</i>Reset</button>
                        <button type="button" class="btn btn-primary col-md-3 col-md-offset-1" id="search" title="Search"><i class="fa fa-search">&nbsp;</i>Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="statsResults">
    <!-- <table class="table defaultStatistics">
        <tbody>
            <tr>
                <td>depositMemorySize</td>
                <td>Total</td>
                <td><?merge statistics['depositMemorySize'] ?> octets</td>
            </tr>
            <?merge statistics['groupedDepositMemorySize'] ?>
            <span>
                <tr>
                    <td></td>
                    <?merge .?>
                    <td><?merge . ?></td>
                </tr>
            </span>

            <tr>
                <td>deletedMemorySize</td>
                <td>Total</td>
                <td><?merge statistics['deletedMemorySize'] ?> octets</td>
            </tr>
            <tr>
                <td>currentMemorySize</td>
                <td>Total</td>
                <td><?merge statistics['currentMemorySize'] ?> octets</td>
            </tr>

            <?merge statistics['groupedArchiveSize'] ?>
            <span>
                <tr>
                    <td></td>
                    <?merge . ?>
                    <td><?merge . ?></td>
                </tr>
            </span>
            <tr>
                <td colspan="2" >Evolution</td>
                <td><?merge statistics['evolution'] ?> octets</td>
            </tr>
        </tbody>
    </table> -->
</div>
<div class="hide">
    <span id="error_required_field">The fields with a star are required.</span>
</div>

<script>
	StatisticsForm = {
        statisticForm : $('#statistics-form'),
        resultList : $('#statsResults'),

        reset: function() {
            $('#orgTypeahead').data("value", "");
            this.clearResult();
            this.statisticForm.find('input[type="text"], input[type="number"], input[type="hidden"], textarea, select').val('');
        },

        clearResult: function(){
            // TODO clear when results will be included
        },

        search: function() {
            var parameters = this.serialize();
            if (parameters == -1) {
                return;
            }
            ajax($('#search'), {
                url         : '/statistics/retrieve',
                type        : 'GET',
                data        : parameters,
                contentType : 'application/json',
                success     : function(response) {
                    StatisticsForm.resultList.empty();
                    StatisticsForm.resultList.html(response);
                },
                error       : function(response) {
                    var error = JSON.parse(response.responseText);
                    gritter.show(error.message, false);
                }
            });
        },

        serialize: function() {
            var object = {};

            let operation = this.statisticForm.find('[name="operation"]').val();
            let originatingOrg = $('#originatingOrg').val();
            let filter = this.statisticForm.find('[name="filter"]').val();
            let startDate = this.statisticForm.find('[name="fromDate"]').data('datepicker').getFormattedDate('yyyy-mm-dd');
            let endDate   = this.statisticForm.find('[name="toDate"]').data('datepicker').getFormattedDate('yyyy-mm-dd');

            object.operation = operation;
            object.originatingOrg = originatingOrg;
            object.filter = filter;
            object.startDate = startDate;
            object.endDate = endDate;

            return object;
        }
    }

	/************
	CTA
	************/
	$('#search').on('click', function() {
        if ((!$('#operation').val() && $('#filter').val())
            || ($('#operation').val() && !$('#filter').val())
            ) {
            gritter.show($("#error_required_field").text(), false);
            return;
        }

        StatisticsForm.search();
    });

    $('#resetForm').on('click', function() {
        StatisticsForm.reset();
    });

	/***********************
	organization typeahead
	************************/
	var organizations = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {url: '/organizations/todisplay?orgUnit=true', ttl: '0'},
        limit: 100
    });
	window.localStorage.clear();
    organizations.initialize();

    // initialize typeahead
    $('#orgTypeahead').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 2
        },
        {
            name: 'organizations',
            displayKey: 'displayName',
            templates: {
                empty: function() {
                    return "<span class='well well-sm'>"+$('#noOriginatorFound').html()+"</span>";
                },
                suggestion: function(organization) {
                    var display =
                        "<span>"
                        + "<span style='font-family:Helvetica, sans-serif;'>";

                    if(organization.ownerOrgName) {
                        display += organization.ownerOrgName
                                + "<br>> ";
                    }
                       display += organization.displayName
                        + "</span></span><br>";

                    $("#originatorOwnerOrgName").val("");
                    return display;
                }
            },
            source: function(query, cb) {
                organizations.search(query, function(suggestions) {
                    var i = suggestions.length
                    while (i--) {
                        if ($('#orgs').find('[data-orgid="'+ suggestions[i].orgId +'"]').length)
                            suggestions.splice(i, 1);
                    }
                    cb(suggestions);
                });
            },
            skipCache: true
        }
    ).on('typeahead:selected', function($event, suggestion, source) {
    	$('#originatingOrg').val(suggestion.registrationNumber);
    });
</script>
