<table class="table defaultStatistics dataTable">
    <thead>
        <tr>
            <th>deposit</th>
            <th>deleted</th>
            <th>restituted</th>
            <th>transfered</th>
            <th>conserved</th>
            <th>growth</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><?merge statistics['depositMemorySize'].div(1000) ?> Mo</td>
            <td><?merge statistics['deletedMemorySize'].div(1000) ?> Mo</td>
            <td><?merge statistics['restitutionMemorySize'].div(1000) ?> Mo</td>
            <td><?merge statistics['transferredMemorySize'].div(1000) ?> Mo</td>
            <td><?merge statistics['currentMemorySize'].div(1000) ?> Mo</td>
            <td><?merge statistics['evolution'].div(1000) ?> Mo</td>
        </tr>
    </tbody>
</table>
