<table class="table defaultStatistics dataTable" data-translate-catalog="Statistics/Statistics">
    <thead>
        <tr>
            <th>Deposit</th>
            <th>Deletion</th>
            <th>Restitution</th>
            <th>Transfer</th>
            <th>Conservation</th>
            <th>Growth</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><?merge statistics['depositMemorySize'] ?></td>
            <td><?merge statistics['deletedMemorySize'] ?></td>
            <td><?merge statistics['restitutionMemorySize'] ?></td>
            <td><?merge statistics['transferedMemorySize'] ?></td>
            <td><?merge statistics['currentMemorySize'] ?></td>
            <td><?merge statistics['evolution'] ?></td>
        </tr>
    </tbody>
</table>
