data/maarchRM/log.txt
data/maarchRM/repository/
data/maarchRM/tmp/
data/maarchRM/luceneIndex/
data/maarchRM/conf/vhost.win.conf
data/maarchRM/conf/vhost.conf
web/tmp
data/tmp
web/public/dependency/
dependency/fileSystem/plugins/fid/cache/*
dependency/csrf/log/*
nbproject/
src/ext/*
data/maarchRM/conf/configuration.ini
data/maarchRM/conf/confvars.ini
vendor/*
data/maarchRM/medona/*
node_modules


tests/cypress/videos/*
!tests/cypress/videos/.gitignore

tests/cypress/screenshots/*
!tests/cypress/screenshots/.gitignore
composer.lock
package-lock.json
