<div id="archiveContentTemplate" class="hide" data-translate-catalog="recordsManagement/message">
    <li>
        <span>
            <span class="archive-bg">
                <i class='fa'/>
                <span name="archiveOrDocument">&nbsp;</span>
                <?merge exportPrivilege.bool() ?>
                <div class="pull-right addChildrenArchive addingNew childrenArchiveSelector exportArchive hide">
                    <button class="btn btn-xs btn-default" title="Export">
                        <span class="fa fa-download"></span>
                    </button>
                </div>
                <?merge depositPrivilege.bool() ?>
                <div class="pull-right dropdown addChildrenArchive addingNew childrenArchiveSelector hide">
                    <button class="btn btn-xs btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-plus"></span>
                    </button>
                    <ul class="dropdown-menu">
                    </ul>
                </div>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <small/>&nbsp;
                <small/>&nbsp;
                <small>
                    <i/>
                </small>
            </span>
        </span>
    </li>
</div>

<span data-translate-catalog="recordsManagement/archivalProfile" class="hide" id="withoutProfile_txt">Without profile</span>

<style>
    .archive h5 {
        margin: 5px 0px 5px 0px;
        width: 100%;
        white-space: nowrap;
        text-overflow: crop;
        position: inherit;
    }
    .archive small {
        font-size: 10px;
        color: darkgrey;
    }
    .archiveInfo {
        width: calc(100% - 25px);
        margin-left: 10px;
    }
    .archive .tree-l {
        font-size: 12px;
        margin: 0px;
    }
    .archive .tree-l li, .archive .tree-l li>span>span {
        padding: 0px;
        text-overflow: crop;
        width: 100%;
    }
    .tree-l .parent_li{
        position: inherit ;
    }
    .archiveInfo :hover, .archive .tree-l li>span:hover {
        background-color: #DDD;
    }
    .dataList {
        min-height: 300px;
    }
    .dataList .archiveContentButton,
    .dataList .archiveInfo,
    .dataList .bg-success,
    .dataList .archive .tree-l li>span {
        cursor: pointer;
    }
    .dataList .selectedChild, .selected .archiveName{
        font-weight: bold;
    }
    .dataList .fa-caret-right, .dataList .fa-caret-down {
        font-size: 16px;
    }
    .archive .archiveContent li>span {
        width: 100%;
        white-space: nowrap;
        text-overflow: crop;
        line-height: normal;
        padding: 0px 0px;
    }
    .childrenArchive {
        padding: 0px 8px !important;
    }
    .archive  > h5 {
        margin: 0px;
    }
    .archive > h4 {
        margin-top: 3px;
    }
    .addChildrenArchive {
        position: absolute;
        right: 10px;
        z-index: 8;
        margin-top: 10px;
    }
    .childrenArchiveSelector {
        z-index: 8;
        padding-top: 0px;
        right: -15px ;
        position: relative;
        bottom: 4px;
    }
    .childrenArchiveSelector > .btn > .fa-plus {
        padding : 0px 0px ;
    }
    .childrenArchiveSelector > .btn > .fa-download {
        padding : 0px 0px ;
    }
    .exportArchive {
        right: 35px;
    }
</style>

<script type="text/javascript">
    var Archive = {
        archiveContentTemplate: $('#archiveContentTemplate').children('li'),

        selected: null,

        select: function(e, c) {
            this.unselect(e.closest('.dataList'));
            if (!c) {
                this.selected = e;
                e.find('.archiveInfo:first').addClass('selected');
                this.selected.children('.selected').children("h5").addClass('bg-info') ;
            } else {
                this.selected = c.closest('li');
                this.selected.addClass('parent_li') ;
                c.addClass('selectedChild');
                this.selected.children('span').children('.archive-bg').addClass('bg-info') ;
            }
        },

        unselect: function(dataList) {
            var multipleSelection = dataList.find('.selectAll.multipleSelection');
            if (multipleSelection.hasClass('fa-check-square-o')) {
                multipleSelection.click();
            }
            dataList.find('.bg-info').removeClass('bg-info') ;
            dataList.find('.multipleSelection.fa-check-square-o').click();
            dataList.find('.selectedChild, .archiveInfo').removeClass('selected selectedChild');
            dataList.find('.addingNew').addClass('hide');
            this.selected = null;
        },

        remove: function(archivesIds) {
            $('#'+archivesIds.join(', #')).removeFromDataList();
        },

        getInfo: function(archiveId) {
            $.ajax({
                url         : "/archive/"+archiveId,
                type        : "GET",
                success     : function (response) {
                    trigger("showArchiveDetails.recordsManagement", [response, "/archive/"+archiveId]);
                    var div = $(response).find('>div');
                    if(Archive.checkRights(div.data('children-archive-profiles'), div.data('accept-without-profile'), div.data('fileplan-level'))) {
                        Archive.loadChildrenArchiveButton(div.data('children-archive-profiles'), div.data('accept-without-profile'), div.data('fileplan-level'));
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        getContent: function(archive) {
            $.ajax({
                url         : "/archiveContents/"+archive.attr('id'),
                type        : "GET",
                dataType    : 'json',
                success     : function (response) {
                    archive.find('.archiveContent').removeClass('hide').find('ul').html('');
                    Archive.showArchiveContent(archive.find('.archiveContent'), response.digitalResources, response.contents, false);
                    Archive.sortArchives(archive.find('.archiveContent'));
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        getResourceInfo: function(resource) {
            $.ajax({
                url         : "/documentInfo",
                type        : "GET",
                success     : function (response) {
                    trigger("showDocumentDetails.recordsManagement", [response, resource.data('json')]);
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        showArchiveContent: function(parent, digitalResources, childrenArchives, hidden) {
            var count=100
            template = this.archiveContentTemplate.clone();
            if (childrenArchives) {
                for(var j=0; j < childrenArchives.length && count>0; j++) {
                    count--;
                    Archive.mergeArchiveRow(parent, childrenArchives[j])
                    Archive.showArchiveContent(template, childrenArchives[j].digitalResources, childrenArchives[j].contents, false);
                }
            }

            if (digitalResources) {
                for(var i=0; i < digitalResources.length; i++) {
                    Archive.mergeDigitalResourceRow(parent, digitalResources[i], hidden);
                }
            }
        },

        mergeDigitalResourceRow: function(parent, digitalResource, hidden) {
            template = this.archiveContentTemplate.clone();
            template.children('span')
                    .addClass('document')
                    .data('json', digitalResource)
                    .children('span')
                    .children('i')
                    .data('closed-icon', 'fa-caret-right')
                    .data('opened-icon', 'fa-caret-down')
                    .siblings('span')
                    .data('id', digitalResource.resId)
                    .append($('<i>').addClass('fa fa-file-o'))
                    .append($('<span>').text(digitalResource.fileName));

            template.find('small, br, .addChildrenArchive').remove();

            BootstrapTree.addNode(parent, template, hidden);

            if (digitalResource.relatedResource) {
                for(var i=0; i < digitalResource.relatedResource.length; i++) {
                    Archive.mergeDigitalResourceRow(template, digitalResource.relatedResource[i], hidden);
                }
            }
        },

        mergeArchiveRow: function(parent, archive) {
            template = this.archiveContentTemplate.clone();
            var smalls = template.find('small');

            if (archive.fileplanLevel == 'item') {
                var icon = $('<i class="fa fa-file">&nbsp;</i>');
            } else {
                var icon = $('<i class="fa fa-archive">&nbsp;</i>');
            }

            var BCDate = new Date(archive.depositDate.replace(',', '.'));

            template.addClass('child')
                    .data('archiveid', archive.archiveId)
                    .data('depositdate', BCDate)
                    .children('span')
                    .addClass('childrenArchiveSelection')
                    .children('span')
                    .children('i')
                    .addClass('fa')
                    .data('closed-icon', 'fa-caret-right')
                    .data('opened-icon', 'fa-caret-down')
                    .siblings('span')
                    .addClass('childrenArchive')
                    .addClass('archiveItem')
                    .attr('id', archive.archiveId)
                    .append(icon)
                    .append($('<span>').text(archive.archiveName))
                    .append($('<a/>').attr('href','#').class);

            if (archive.archivalProfileName) {
                $(smalls[0]).text(archive.archivalProfileName);
            }

            if (archive.originatorArchiveId) {
                $(smalls[1]).text(' ' + archive.originatorArchiveId);
            }

            if (archive.originatingDate) {
                $(smalls[2]).text(' ' + archive.originatingDate);
            }

            BootstrapTree.addNode(parent, template, false);
        },

        sortArchives: function(parent){
            var list = parent.find("ul").children('.child');
            if (list.length > 1){
                list.sort(function(a, b){
                    return  $(a).data("depositdate") > $(b).data("depositdate");
                }).each(function(){
                    $(this).parent().prepend(this);
                });
            }
            list.each(function(){
                Archive.sortArchives($(this));
            })
        },

        checkRights: function (archivalProfiles, withoutProfile, fileplanLevel) {
          var button = this.selected.closest('.archive').find('.addChildrenArchive');
          var archiveStatus = button.closest('.archive').find('.status').text();
          if (archiveStatus == 'disposed' || (!archivalProfiles.length && withoutProfile !== 1)) {
              return false;
          }
          return true
        },

        loadChildrenArchiveButton: function(archivalProfiles, withoutProfile, filePlanLevel) {
            var button = this.selected.find('.addingNew');
            var list =  button.find('ul');

            if (Archive.selected.find(".selectedChild").attr("id")) {
                var archiveId = Archive.selected.find(".selectedChild").attr("id");
                var archive = Archive.selected.find(".selectedChild");
                if (filePlanLevel == "item") {
                    archive.siblings('.exportArchive').removeClass("hide");
                } else {
                    archive.siblings('.addingNew').removeClass("hide");
                }
            } else {
                var archiveId = button.closest('.archive').attr('id');
                var archive = button.closest('.archive');
                if (filePlanLevel == "item") {
                    archive.children('.exportArchive').removeClass("hide")
                } else {
                    archive.children('.addingNew').removeClass("hide");
                }
            }

            if (filePlanLevel == "item") {
                return;
            }

            var list =  button.find('ul');

            var archiveName = button.closest('.archive').find('.archiveName').text();

            list.empty();
            if (withoutProfile == 1) {
                list.append(
                    $('<li/>').html(
                        $('<a/>').attr('href', '#')
                                 .addClass('small newArchive')
                                 .data('parent-archive-id', archiveId)
                                 .data('parent-archive-name', archiveName)
                                 .text($('#withoutProfile_txt').text())
                    )
                );
            }

            $.each(archivalProfiles, function() {
                list.append(
                    $('<li/>').html(
                        $('<a/>').attr('href', '#')
                                 .addClass('small newArchive')
                                 .data('json', JSON.parse(this.json))
                                 .data('parent-archive-id', archiveId)
                                 .data('parent-archive-name', archiveName)
                                 .text(this.name)
                    )
                );
            })
            var position = this.selected.position();
        }
    }

    // List icon toggle
    $('#middleColumn').on('click', '.archiveContentButton', function() {
        var caret = $(this);
        if (caret.hasClass('fa-caret-right')) {
            caret.removeClass('fa-caret-right')
                 .addClass('fa-caret-down')
                 .closest('.dataList')
                 .find('.fa-caret-down')
                 .not(caret)
                 .click();
            Archive.getContent(caret.closest('.archive'));
        } else {
            caret.removeClass('fa-caret-down').addClass('fa-caret-right')
                 .closest('div').siblings('.archiveContent').addClass('hide');
        }
    })

    // Actions on archives
    $('#middleColumn').on('click', '.archiveInfo ', function() {
        var archive = $(this).closest('.archive');
        var archiveId = archive.attr('id');
        Archive.select(archive);
        Archive.getInfo(archiveId);
    })

    $('#middleColumn').on('click', '.dataList', function(e) {
        if ($(e.target).css('cursor') != "pointer") {
            Archive.unselect($(this).closest('.dataList'));
            trigger("unselectArchive.recordsManagement");
        }
    })

    $('#middleColumn').on('click', '.childrenArchiveSelection', function() {
        var child = $(this).find('.childrenArchive:first');
        var parentArchive = child.closest('.archive');
        var archiveId = child.attr('id');
        Archive.select(parentArchive, child);
        Archive.getInfo(archiveId);
    })

    $('#middleColumn').on('click', '.document', function() {
        var doc = $(this);
        var parentArchive = doc.closest('.archive');
        Archive.select(parentArchive, doc);
        Archive.getResourceInfo(doc);
    })

    $('#middleColumn').on('datalist.pagechanging', function(e) {
        $(e.target).find('.fa-caret-down').click();

    })

    $('#middleColumn').onEvent('showDetails.archive', function(e, archiveId) {
         Archive.getInfo(archiveId);
    })

    $('#middleColumn').on('click', '.exportArchive', function() {
        var archive = $(this).siblings('.archiveItem');
        if (!archive.length) {
            archive = $(this).closest('.archiveItem');;
        }
        var archiveId = archive.attr('id');
        window.open('/recordsManagement/export/'+ archiveId);
    })

</script>
