<!--#
    This file is part of the auth package.
    (c) Maarch Prospre DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<form class="form-horizontal" id="archiveForm">
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="input-sm form-control archiveInput" name="archiveName" placeholder="Archive name"/>
        </div>
    </div>
    <div class="form-group" data-translate-catalog="recordsManagement/archive">
        <label class="col-sm-3 control-label">Identifier</label>
        <div class="col-sm-9">
            <input type="text" class="input-sm form-control archiveInput" name="originatorArchiveId" placeholder="Identifier"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Originating date</label>
        <div class="input-group col-sm-9" style="padding-left: 15px; padding-right: 15px;">
            <input class="input-sm form-control datePicker archiveInput" name="originatingDate" placeholder="Originating date"/>
        </div>
    </div>

    <div class="form-group" id="fileplanLevelDiv">
        <label class="col-md-3 control-label">Fileplan level</label>
        <div class="col-md-9">
            <input type="checkbox" data-width="100" class="input-sm" id="fileplanLevelToggle">
        </div>
    </div>

    <input type="hidden" class="archiveInput" name="archivalProfileReference" id="archivalProfile"/>
    <input type="hidden" class="archiveInput" name="filePlanPosition"/>
    <input type="hidden" class="archiveInput" name="originatorOrgRegNumber"/>
    <input type="hidden" class="archiveInput" name="parentArchiveId"/>
    <input type="hidden" class="archiveInput" id="fileplanLevel" name="fileplanLevel" value='file'/>
</form>

<?hinclude dashboard/mainScreen/descriptionForm.html ?>

<div id="managementMetadataDiv">
<div class="panel-heading" role="tab">
    <strong>
        <a data-toggle="collapse" href="#management">Management metadata</a>
    </strong>
</div>
<div id="management" class="panel-collapse collapse in">
    <form id="managementMetadataForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">Retention rule</label>
            <div class="col-md-6">
                <select class="input-sm form-control archiveInput" name="retentionRuleCode" id="retentionRule">
                    <option value=""></option>
                    <?merge retentionRules ?>
                    <option value="[?merge .code ?]" data-duration="[?merge .durationText ?]" data-final-disposition="[?merge .finalDisposition ?]"><?merge .label ?></option>
                </select>
            </div>
            <div class="col-md-3">
                <p class="help-block small"><i id="retentionRuleText"></i></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Retention start date</label>
            <div class="col-md-6">
                <input class="input-sm form-control datePicker archiveInput" name="retentionStartDate" placeholder="Retention start date"/>
            </div>
        </div>
    </form>
</div>
</div>

<div class="hide">
    <span id="text_file"><i class='fa fa-folder'></i> File</span>
    <span id="text_item"><i class='fa fa-file'></i> Item</span>
    <span id="message_requiredFieldOnEmptyForm">You must define at least the name, the identifier, the date of the document or a document</span>
</div>

<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>

<script type="text/javascript">


    FilePlanLevelToggle = {
        load: function (isWithoutProfile) {
            if (isWithoutProfile === undefined) {
                isWithoutProfile = true;
            }
            if(isWithoutProfile == true) {
                if($('#fileplanLevelDiv').is(":hidden")) {
                    $('#fileplanLevelDiv').show();
                }

                $('#fileplanLevelToggle').bootstrapToggle({
                    on: $('#text_item'),
                    off: $('#text_file'),
                });

                $('#fileplanLevel').val("file");

                if($('#fileplanLevel').val() == 'item') {
                    $('#fileplanLevelToggle').bootstrapToggle('on');
                    $("#contentsTabBtn").addClass('hide');
                }


                $('#fileplanLevelToggle').on('change', function (e) {
                    if ($('#fileplanLevelToggle').prop('checked')) {
                        $("#fileplanLevel").val('item');
                        $("#contentsTabBtn").addClass('hide');
                    } else {
                        $("#fileplanLevel").val('file');
                        $("#contentsTabBtn").removeClass('hide');
                    }
                });
            } else {
                $('#fileplanLevelDiv').hide();
            }
        }
    };

    $("#archiveForm").keypress(function(e) {
    //To disable Enter keypress in this form
        if (e.which == 13) {
            return false;
        }
    });

    // ARCHIVE
    $('#archivalProfile').on('change', function() {
        ArchiveForm.loadProfile();
        ArchiveForm.displayArchiveDescription();
    });

    $('#retentionRule').on('change', function() {
        ArchiveForm.displayRetentionRulesInfo();
    });

    var ArchiveForm = {
        send : function(type, event, button) { //
            let url = null;
            let data = null;
            let archive = null;

            if (type === 'sync') {
                url = "/archive";
                archive = this.syncSerialize();

                if (archive < 0) {
                    return;
                }

                data = JSON.stringify({archive : archive, zipContainer : DocumentForm.zipContainer});
            } else {
                url = "/transfer";
                data = this.asyncSerialize();

                if (data.message <0) {
                    return;
                }

                data = JSON.stringify(data);

            }
            ajax($(button),
                {
                    type        : 'POST',
                    url         : url,
                    data        : data,
                    contentType : 'application/json',
                    dataType    : 'json',
                    success     : function (response) {
                        gritter.show(response.message, response.status, response.errors);

                        if (response.status) {
                            trigger("archiveImportOver.recordsManagement", [archive.parentArchiveId]);
                            ImportPanel.cancel();
                            var folder = archive.originatorOrgRegNumber;
                            if (archive.filePlanPosition) {
                                folder = archive.filePlanPosition;
                            }
                            trigger('loadFolder.filePlan', [folder]);

                            $("#documentForm").show();
                        }
                    },
                    error       : function (response) {
                        gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                    }
                }
            );
        },

        modify : function(event, button) {
            let url = null;
            let data = null;
            let archive = null;
            let archiveId = null;

            archiveId = $(button).data("archive-id");
            archive = this.syncSerialize("modify");

            if (archive < 0) {
                return;
            }

            var parameters = {
                archiveId           : archiveId,
                originatorArchiveId : archive.originatorArchiveId,
                archiveName         : archive.archiveName,
                originatingDate     : archive.originatingDate,
                description         : archive.descriptionObject
            };

            $.ajax({
                type        : 'PUT',
                url         : "/recordsmanagement/archive/metadata",
                data        : JSON.stringify(parameters),
                contentType : 'application/json',
                dataType    : 'json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);

                    if (response.status) {
                        ImportPanel.cancel();
                        $('#archivalProfileFields').empty();
                        Archive.getInfo(ArchiveInformation.archiveId);
                        $("#searchForm_inputSearchBtn").click();
                        trigger("archiveImportOver.recordsManagement");
                        $("#modifyArchive").addClass("hide");
                        $("#syncImport").removeClass("hide");
                        $("#asyncImport").removeClass("hide");
                        $("#managementMetadataDiv").removeClass("hide");
                        $("#documentForm").show();
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        loadProfile : function() {
            var value = $('#archivalProfile').val();
            var dataJson = $('#archivalProfile').data('json');

            var selectedProfile = "";
            if (dataJson !== undefined && dataJson !== null && dataJson !== "") {
                selectedProfile = dataJson;
            }

            if (value == '' || selectedProfile.retentionRuleCode == null || selectedProfile.retentionRuleCode == '' || selectedProfile.retentionRuleCode == undefined) {
                $('#retentionRule').val('').removeAttr("disabled").change();
            } else {
                $('#retentionRule').val(selectedProfile.retentionRuleCode).change().attr("disabled", "disabled");
            }

            if (value == ''
                || selectedProfile.retentionStartDate == ''
                || selectedProfile.retentionStartDate == null) {
                var retentionStartDate = $("#managementMetadataForm").find("[name=retentionStartDate]");
                if (retentionStartDate.data("datepicker")) {
                    retentionStartDate.data("datepicker").setDate(new Date());
                }
                retentionStartDate.closest(".form-group").removeClass("hide");

            } else {
                 $("#managementMetadataForm").find("[name=retentionStartDate]").val("").closest(".form-group").addClass("hide");
            }
        },
        displayArchiveDescription : function() {
            var value = $('#archivalProfile').val();

            $('#archivalProfileFields').empty();

            if (value == "") {
                Metadata.acceptUserIndex(true);
                return;
            }

            var selectedProfile = $('#archivalProfile').data('json');

            Metadata.acceptUserIndex(selectedProfile.acceptUserIndex);

            $.each(selectedProfile.archiveDescription, function(key, value) {
                Metadata.addArchiveDescription(value);
            });
        },
        displayRetentionRulesInfo : function() {
            var value = $('#retentionRule').val();

            var selected = $('#retentionRule').find('option:selected');

            if (value == '' ||  value == null) {
                $('#retentionRuleText').empty();
                return;
            }

            var finalDisposition = selected.data('final-disposition');

            var duration = selected.data('duration');

            if (duration === undefined) {
                $('#retentionRuleText').text($("#preservation_text").text() + " " + $("#unlimited_text").text());
                return;
            }
            var numeric = duration.slice(1, -1);
            var unit = duration.substr(duration.length-1);
            var retentionRuleText = $('#retentionRule_text').text();

            if (unit === 'Y' && numeric >= 9999) {
                $('#retentionRuleText').text($("#preservation_text").text() + " " + $("#unlimited_text").text());
                return;
            }

            switch (unit) {
                case 'D' : unit = $("#days_text").text();
                           break;

                case 'M' : unit = $("#months_text").text();
                           break;

                case 'Y' : unit = $("#years_text").text();
                           break;
            }

            switch (finalDisposition) {
                case 'destruction'  : finalDisposition = $("#destruction_text").text();
                           break;

                case 'preservation' : finalDisposition = $("#preservation_text").text();
                           break;
            }
            retentionRuleText = retentionRuleText.replace(/%1\$s/g, finalDisposition);
            retentionRuleText = retentionRuleText.replace(/%2\$s/g, numeric+' '+unit);
            $('#retentionRuleText').text(retentionRuleText);
        },
        syncSerialize : function(action) {
            // to inititate default value and avoid bug on IE 11
            if (action === undefined)
            {
                action = "add";
            }
            var form = $('#archiveForm, #managementMetadataForm');
            var inputs = form.find('.archiveInput');
            var archive = {
                digitalResources : [],
                descriptionObject : {}
            }

            inputs.each(function() {
                var value = $(this).val();
                if (value) {
                    if ($(this).hasClass('datePicker')) {
                        value = new Date($(this).data('datepicker').getFormattedDate('yyyy-mm-dd'));
                    }
                    archive[$(this).attr('name')] = value;
                }
            });

            var selectedProfile = $('#archivalProfile').data('json');

            if (selectedProfile !== undefined && selectedProfile !== null && selectedProfile !== "") {
                archive.descriptionClass = selectedProfile.descriptionClass;
                if (selectedProfile.fileplanLevel != null) {
                    archive.fileplanLevel = selectedProfile.fileplanLevel;
                }
            }

            archive.descriptionObject = Metadata.serialize($('#allFields'));

            if (archive.descriptionObject === -1) {
                return -1;
            }

            archive.digitalResources = DocumentList.serialize();

            if (archive.descriptionObject === undefined) {
                return -1;
            }

            if (selectedProfile !== undefined && selectedProfile !== null && selectedProfile !== "" && action !== "modify") {
                if (selectedProfile.fileplanLevel == 'item' && archive.digitalResources==null) {
                    gritter.show($('#documentMissing_error').text(), false);
                    return -2;
                }
            }

            if (!selectedProfile && !archive.archiveName && !archive.originatorArchiveId && !archive.originatingDate && archive.digitalResources == null) {
                gritter.show($("#message_requiredFieldOnEmptyForm").text(), false);
                return -3;
            }

            return archive;
        },

        asyncSerialize : function() {
            var form = $('#archiveForm, #managementMetadataForm');
            var inputs = form.find('.archiveInput');
            var data = {
                messageFile : {
                    binaryDataObject : {},
                    descriptiveMetadata : {}
                },
                attachments : [],
                schema : "recordsManagement"
            };

            var id = Math.random().toString(36).substr(2, 9);
            var obj = {};
            obj[id] = {
                archiveName                 : null,
                originatorArchiveId         : null,
                originatorId                : null,
                archiveType                 : null,
                descriptionObject           : {},
                originatingDate             : null,
                managementMetadata          : {
                    storageRule             : {},
                    accessRule              : {},
                    appraisalRule           : {},
                    classificationRule      : {}
                },
                descriptionClass            : null,
                dataObjects                 : []
            };

            inputs.each(function() {
                var value = $(this).val();

                switch ($(this).attr('name')) {
                    case 'archivalProfileReference' :
                        if (value) {
                            obj[id].managementMetadata.archivalProfile = value;
                        }
                        break;
                    case 'archiveName' :
                        if (value) {
                            obj[id].archiveName = value;
                        }
                        break;
                    case 'originatingDate' :
                        if (value) {
                            obj[id].originatingDate = $(this).data('datepicker').getFormattedDate('yyyy-mm-dd');
                        }
                        break;
                    case 'originatorArchiveId' :
                        if (value) {
                            obj[id].originatorArchiveId = value;
                        }
                        break;
                    case 'originatorOrgRegNumber' :
                        if (value) {
                            obj[id].originatorId = value;
                        }
                        break;
                    case 'filePlanPosition' :
                        if (value) {
                            obj[id].folderPath = value;
                        }
                        break;
                    case 'parentArchiveId' :
                        if (value) {
                            obj[id].parentArchiveId = value;
                        }
                        break;
                    case 'retentionRuleCode' :
                        if (value) {
                            obj[id].managementMetadata.appraisalRule.code = value;
                        }
                        break;
                    case 'retentionStartDate' :
                        if (value) {
                            obj[id].managementMetadata.appraisalRule.startDate = $(this).data('datepicker').getFormattedDate('yyyy-mm-dd');
                        }
                        break;
                }
            });

            var selectedProfile = $('#archivalProfile').data('json');

            if (selectedProfile !== undefined && selectedProfile !== null && selectedProfile !== "") {
                obj[id].descriptionClass = selectedProfile.descriptionClass;
                if (selectedProfile.fileplanLevel != null) {
                    if (selectedProfile.fileplanLevel === 'file') {
                        obj[id].archiveType = 'container';
                    } else {
                        obj[id].archiveType = 'item';
                    }
                }
            }

            if (!obj[id].archiveType) {
                obj[id].archiveType = 'container';
            }

            obj[id].descriptionObject = Metadata.serialize($('#allFields'));
            if (obj[id].descriptionObject === true) {
                return -1;
            }

            data.messageFile.binaryDataObject = DocumentList.asyncSerialize();

            if (selectedProfile !== undefined && selectedProfile !== null && selectedProfile !== "") {
                if (obj[id].archiveType === 'item' && data.messageFile.binaryDataObject==null) {
                    gritter.show($('#documentMissing_error').text(), false);
                    return -2;
                }
            }

            if (!selectedProfile && !obj[id].archiveName && !obj[id].originatorArchiveId && !obj[id].originatingDate && data.messageFile.binaryDataObject == null) {
                gritter.show($("#message_requiredFieldOnEmptyForm").text(), false);
                return -3;
            }

            $.each(data.messageFile.binaryDataObject, function(index, value) {
                obj[id].dataObjects.push(index);
            });

            data.messageFile.descriptiveMetadata[id] = obj[id];
            data.messageFile = btoa(unescape(encodeURIComponent(JSON.stringify(data.messageFile))));
            return data;
        },
        clear : function() {
            $('#retentionRule').removeAttr("disabled");
            $('#archiveForm, #managementMetadataForm').find('.archiveInput').not('[name="filePlanPosition"],[name="originatorOrgRegNumber"]').val('').change();

            DocumentList.clear();
            Metadata.clear($('#allFields'));
        }
    }
</script>
