<div id="archiveContentTemplate" class="hide">
    <li>
        <span>
            <span>
                <i class='fa'/>
                <span name="archiveOrDocument">&nbsp;</span>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <small/>&nbsp;
                <small/>&nbsp;
                <small><i/></small>
            </span>
        </span>
    </li>
</div>

<style>
    .archive h5 {
        margin: 5px 0px 5px 0px;
        width: 100%;
        white-space: nowrap;
        text-overflow: crop;
        overflow: hidden;
    }
    .archive small {
        font-size: 10px;
        color: darkgrey;
    }
    .archiveInfo {
        width: calc(100% - 25px);
        margin-left: 10px;
    }
    .archive .tree-l {
        font-size: 12px;
        margin: 0px;
    }
    .archive .tree-l li, .archive .tree-l li>span>span {
        padding: 0px;
        text-overflow: crop;
        width: 100%;
        overflow: hidden;
    }
    .archiveInfo :hover, .archive .tree-l li>span:hover {
        background-color: #DDD;
    }
    .dataList {
        min-height: 300px;
    }
    .dataList .archiveContentButton,
    .dataList .archiveInfo,
    .dataList .bg-success,
    .dataList .archive .tree-l li>span {
        cursor: pointer;
    }
    .dataList .selectedChild, .selected .archiveName{
        font-weight: bold;
    }
    .dataList .fa-caret-right, .dataList .fa-caret-down {
        font-size: 16px;
    }
    .archive .archiveContent li>span {
        width: 100%;
        white-space: nowrap;
        text-overflow: crop;
        line-height: normal;
        padding: 0px 0px;
    }
    .childrenArchive {
        padding: 0px 8px !important;
    }
    .archive  > h5 {
        margin: 0px;
    }
    .archive > h4 {
        margin-top: 3px;
    }

</style>

<script type="text/javascript">
	var Archive = {
        archiveContentTemplate: $('#archiveContentTemplate').children('li'),

        select: function(e, c) {
            this.unselect(e.closest('.dataList'));
            if (!c) {
                e.addClass('bg-info').find('.archiveInfo:first').addClass('selected');
            } else { 
                e.removeClass('bg-info');
                c.addClass('selectedChild').closest('li').addClass('bg-info'); 
            }
        },

        unselect: function(dataList) {
            $('#rightColumn').html('');
            dataList.find('.bg-info').removeClass('bg-info')
                    .find('.selectedChild, .archiveInfo').removeClass('selected selectedChild');
        },

        remove: function(archivesIds) {
            $('#'+archivesIds.join(', #')).removeFromDataList();
        },

        getInfo: function(archiveId) {
            $.ajax({
                url         : "/archive/"+archiveId,
                type        : "GET",
                success     : function (response) {
                    $('#rightColumn').empty().html(response);
                    var archiveToolbarBtn = $('#archiveToolbarBtn');

                    if(FilePlan.selectedNode.data('closed')){
                        archiveToolbarBtn.addClass('hide');
                    }else {
                        archiveToolbarBtn.removeClass('hide');
                    }

                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        getContent: function(archive) {
            $.ajax({
                url         : "/archiveContents/"+archive.attr('id'),
                type        : "GET",
                dataType    : 'json',
                success     : function (response) {
                    archive.find('.archiveContent').removeClass('hide').find('ul').html('');
                    Archive.showArchiveContent(archive.find('.archiveContent'), response.digitalResources, response.childrenArchives, false);
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        getResourceInfo: function(resource) {
            $.ajax({
                url         : "/documentInfo",
                type        : "GET",
                success     : function (response) {
                    $('#rightColumn').html(response);
                    DocumentInformation.load(resource.data('json'));
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        showArchiveContent: function(parent, digitalResources, childrenArchives, hidden) {
            var count=100
            if (childrenArchives) {
                for(var j=0; j < childrenArchives.length && count>0; j++) {
                    count--;
                    template = this.archiveContentTemplate.clone();
                    var smalls = template.find('small');

                    if (childrenArchives[j].fileplanLevel == 'item') {
                        var icon = $('<i class="fa fa-file">&nbsp;</i>');
                    } else {
                        var icon = $('<i class="fa fa-folder">&nbsp;</i>');
                    }

                    template.children('span')
                            .addClass('childrenArchiveSelection')
                            .children('span')
                            .children('i')
                            .addClass('fa')
                            .data('closed-icon', 'fa-caret-right')
                            .data('opened-icon', 'fa-caret-down')
                            .siblings('span')
                            .addClass('childrenArchive')
                            .attr('id', childrenArchives[j].archiveId)
                            .append(icon)
                            .append($('<span>').text(childrenArchives[j].archiveName))
                            .append($('<a/>').attr('href','#').class);

                    
                    if (childrenArchives[j].depositDate) {
                        $(smalls[0]).text(childrenArchives[j].depositDate.substring(0, 19));
                    }
                    if (childrenArchives[j].archivalProfileReference) {
                        $(smalls[1]).text(childrenArchives[j].archivalProfileReference);
                    }
                    if (childrenArchives[j].originatorArchiveId) {
                        $(smalls[2]).children('i').text(childrenArchives[j].originatorArchiveId);
                    }

                    BootstrapTree.addNode(parent, template, hidden);

                    var children = null;
                    if (childrenArchives[j].childrenArchives) {
                        children = childrenArchives[j].childrenArchives;
                    }

                    Archive.showArchiveContent(template, childrenArchives[j].digitalResources, childrenArchives[j].childrenArchives, false);
                }
            }

            if (digitalResources) {
                for(var i=0; i < digitalResources.length; i++) {
                    template = this.archiveContentTemplate.clone();

                    template.children('span')
                            .addClass('document')
                            .children('span')
                            .children('i')
                            .html('&nbsp;&nbsp;')
                            .siblings('span')
                            .data('json', digitalResources[i])
                            .attr('id', digitalResources[i].resId)
                            .append($('<i class="fa fa-file-o">&nbsp;</i>'))
                            .append($('<span>').text(digitalResources[i].fileName));
                    template.find('small, br').remove();
                    BootstrapTree.addNode(parent, template, hidden);
                }
            }
        }
    }

    // List icon toggle
    $('#middleColumn').on('click', '.archiveContentButton', function() {
        var caret = $(this);
        if (caret.hasClass('fa-caret-right')) {
            caret.removeClass('fa-caret-right')
            	 .addClass('fa-caret-down')
            	 .closest('.dataList')
            	 .find('.fa-caret-down')
                 .not(caret)
            	 .click();
            Archive.getContent(caret.closest('.archive'));
        } else {
            caret.removeClass('fa-caret-down').addClass('fa-caret-right')
                 .closest('div').siblings('.archiveContent').addClass('hide');
        }
    })

    // Actions on archives
    $('#middleColumn').on('click', '.archiveInfo ', function() {
        var archive = $(this).closest('.archive');
        var archiveId = archive.attr('id');
        Archive.select(archive);
        Archive.getInfo(archiveId);
    })

    $('#middleColumn').on('click', '.dataList', function(e) {
        if ($(e.target).css('cursor') != "pointer") {
            Archive.unselect($(this).closest('.dataList'));
        }
    })

    $('#middleColumn').on('click', '.childrenArchiveSelection', function() {
    	var child = $(this).find('.childrenArchive:first');
        console.log(child);
        var parentArchive = child.closest('.archive');
        var archiveId = child.attr('id');
        Archive.select(parentArchive, child);
        Archive.getInfo(archiveId);
    })

    $('#middleColumn').on('click', '.document', function() {
    	var doc = $(this);
        var parentArchive = doc.closest('.archive');
        Archive.select(parentArchive, doc);
        Archive.getResourceInfo(doc);
    })

    $('#middleColumn').on('datalist.pagechanging', function(e) {
        $(e.target).find('.fa-caret-down').click();

    })

</script>