<div id="archiveInformation" data-translate-catalog="recordsManagement/messages" class="row" data-fileplan-level="[?merge archive.fileplanLevel ?]" data-children-archive-profiles="[?merge archivalProfileList.json() ?]" data-accept-without-profile="[?merge acceptArchiveWithoutProfile ?]" >
    <!-- Used on mais screen -->
    <input class="archiveInformationId hide" value="[?merge archive.archiveId ?]">
    <input class="archiveName hide" value="[?merge archive.archiveName ?]">
    <input class="originatorArchiveId hide" value="[?merge archive.originatorArchiveId ?]">
    <input class="originatingDate hide" value="[?merge archive.originatingDate ?]">

    <div class="col-xs-12 text-center">
        <i class="infoIcon fa [?merge archive.fileplanLevel.ifeq('item').then('fa-file', 'fa-archive') ?]" style="[?merge status.ifeq('frozen').then('color: #69B5DB', '') ?]"/>
    </div>
    <div class="col-xs-12">
        <h4 class="text-center text-info">
            <?merge archive.archivalProfileName ?>
            <?merge modificationPrivilege.bool() ?>
            <?merge archive.status.ifne('disposed') ?>
            <button type="button" class="btn btn-default btn-sm" id="editMetadata" title="Edit" style="border:0px solid transparent"><i class="fa fa-edit"></i></button>
        </h4>
        <table>
            <tr class="archiveName">
                <th title="Name">Name</th>
                <td title='[?merge archive.archiveName ?]'><?merge archive.archiveName ?></td>
            </tr>
            <tr class="originatorArchiveId">
                <th title="Originator archive identifier">Originator archive identifier</th>
                <td title='[?merge archive.originatorArchiveId ?]'><?merge archive.originatorArchiveId ?></td>
            </tr>
            <tr class="originatingDate">
                <th title="Originating date">Originating date</th>
                <td title='[?merge archive.originatingDate ?]'><?merge archive.originatingDate ?></td>
            </tr>
        </table>
        <div id="metadata" data-descriptionclass="[?merge archive.descriptionClass ?]">
        <!--
            Presentation of profile specific descriptive metadata
        -->
        </div>
        <?merge acceptUserIndex ?>
        <div class="dropup col-xs-12" id="archiveCustomFieldAddBtn" style="display: none">
            <button type="button" class="btn btn-sm btn-link pull-right addCustomField" data-type="text" title="Add field">
                &nbsp;<i class="fa fa-plus">&nbsp;</i>Add field
            </button>
        </div>
        <button type="button" class="pull-right btn btn-default btn-sm" id="saveMetadata" title="Save" style="border:0px solid transparent; display: none"><i class="fa fa-check" style="color: green"></i></button>
        <button type="button" class="pull-right btn btn-default btn-sm" id="cancelMetadataEdition" title="Cancel" style="border:0px solid transparent; display: none" ><i class="fa fa-reply" style="color: red"></i></button>
    </div>
    <div class="col-xs-12">
        <div class="panel-group" id="archiveDetails" role="tablist" aria-multiselectable="true">
            <div class="panel-heading text-center" role="tab">
                <strong>
                    <a role="button" data-toggle="collapse" href="#managementInfo" >
                        <span class="text-info">Management information</span>
                    </a>
                    <!--<?merge managementPrivilege.bool() ?>-->
                    <!--<button type="button" class="btn btn-default btn-sm" id="editManagementMetadata" title="Edit" style="border:0px solid transparent"><i class="fa fa-edit"></i></button>-->
                    <!--<a href="#" class="unfreeze [?merge status.ifne('frozen').then('hide', '') ?]" data-type="unfreeze" title="Unfreeze"><i class="fa fa-unlock"></i></a>
                    <a href="#" class="freeze [?merge status.ifeq('frozen').then('hide', '') ?]" data-type="freeze" title="Freeze"><i class="fa fa-lock"></i></a>-->
                </strong>
            </div>
            <div id="managementInfo" class="panel-collapse collapse" role="tabpanel">
                <table>
                    <tr class="originator">
                        <th title="Originator">Originator</th>
                        <td title='[?merge archive.originatorOrgName ?]'><?merge archive.originatorOrgName ?></td>
                    </tr>
                    <tr class="archiveId">
                        <th title="Identifier">Identifier</th>
                        <td title='[?merge archive.archiveId ?]'><?merge archive.archiveId ?></td>
                    </tr>
                    <tr>
                        <th title="Deposit date">Deposit date</th>
                        <td title='[?merge archive.depositDate ?]'><?merge archive.depositDate ?></td>
                    </tr>
                    <tr id="disposalDate">
                        <th title="Disposal date">Disposal date</th>
                        <td title='[?merge archive.disposalDate ?]'><?merge archive.disposalDate ?></td>
                    </tr>
                    <tr id="finalDisposition">
                        <th title="Final disposition">Final disposition</th>
                        <td title='[?merge archive.finalDisposition ?]'><?merge archive.finalDispositionDesc ?></td>
                    </tr>
                    <tr>
                        <th title="Status">Status</th>
                        <td title='[?merge archive.status ?]'><?merge archive.statusDesc ?></td>
                    </tr>
                    <tr id="retentionRuleSelect" style="border:0px solid transparent; display: none">
                    <input id="inputRetentionRuleCode" class="hide" value="[?merge archive.retentionRuleCode ?]"/>
                        <th title="Retention rule">Retention rule</th>
                        <td>
                            <select id="retentionRuleCode" name="retentionRuleCode" class="col-xs-12">
                                <option value=''>Select a retention rule</option>
                                <?merge retentionRules ?>
                                <option value='[?merge .code ?]' data-duration="[?merge .durationText ?]" data-finaldisposition="[?merge .finalDisposition ?]"><?merge .label ?></option>
                            </select>
                        </td>
                    </tr>
                    <tr id="startDate" style="border:0px solid transparent; display: none">
                        <th title="Start date">Start date</th>
                        <td>
                            <input type="text" class="datePicker startDate col-xs-12" name="startDate" placeholder="Start date" value="[?merge archive.retentionStartDate ?]"/>
                        </td>
                    </tr>
                </table>

                <table>
                    <?merge archive.accessRuleComDate.bool() ?>
                    <tr>
                        <th title="Communication date">Communication date</th>
                        <td id="accessRuleComDate" title="[?merge archive.accessRuleComDate ?]"><?merge archive.accessRuleComDate ?></td>
                    </tr>
                    <?merge archive.lastCheckDate.bool() ?>
                    <tr>
                        <th title="Last check date">Last check date</th>
                        <td id="lastCheckDate" title="[?merge archive.lastCheckDate ?]"><?merge archive.lastCheckDate ?></td>
                    </tr>
                    <?merge archive.lastDeliveryDate.bool() ?>
                    <tr>
                        <th title="Last delivery date">Last delivery date</th>
                        <td id="lastDeliveryDate" title="[?merge archive.lastDeliveryDate ?]"><?merge archive.lastDeliveryDate ?></td>
                    </tr>
                    <?merge archive.lastModificationDate.bool() ?>
                    <tr>
                        <th title="Last modification date">Last modification date</th>
                        <td id="lastModificationDate" title="[?merge archive.lastModificationDate ?]"><?merge archive.lastModificationDate ?></td>
                    </tr>
                </table>
            </div>
            <button type="button" class="btn btn-default btn-sm pull-right" id="saveManagementMetadata" title="Save" style="border:0px solid transparent; display: none"><i class="fa fa-check" style="color: green"></i></button>
            <button type="button" class="btn btn-default btn-sm pull-right" id="cancelManagementEdition" title="Cancel" style="border:0px solid transparent; display: none" ><i class="fa fa-reply" style="color: red"></i></button>
            <!--<?merge archive.descriptionObject.bool() ?>
            <div class="panel">
                <div class="panel-heading text-center" role="tab">
                    <strong>
                        <a role="button" data-toggle="collapse" href="#metadata" >
                            <span class="text-info">Metadata</span>
                        </a>
                        <button type="button" class="btn btn-default btn-sm editMetadata" id="editMetadata" title="Update metadata" style="border:0px solid transparent"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-default btn-sm saveMetadata" id="saveMetadata" title="Valid" style="border:0px solid transparent; display: none"><i class="fa fa-check" style="color: green"></i></button>
                        <button type="button" class="btn btn-default btn-sm cancelMetadataEdition" id="cancelMetadataEdition" title="Cancel" style="border:0px solid transparent; display: none" ><i class="fa fa-reply" style="color: red"></i></button>
                    </strong>
                </div>
                <div id="metadata" class="panel-collapse collapse" role="tabpanel">
                </div>
            </div>-->
        </div>
    </div>
</div>

<div class="hide" data-translate-catalog="recordsManagement/messages" data-fileplan-level="[?merge archive.fileplanLevel ?]" data-children-archive-profiles="[?merge archivalProfileList.json() ?]" data-accept-without-profile="[?merge acceptArchiveWithoutProfile ?]" >
    <div class="form-group" id="inputFinalDisposition">
        <br>
        <input type="radio" name="finalDisposition" class="input-sm" value="destruction">&nbsp;Destruction
        <input type="radio" name="finalDisposition" class="input-sm" value="preservation">&nbsp;Preservation
    </div>
    <!--div id="archiveName" data->
        <b>Archive name</b>
        <input id="inputArchiveName" type="text" class="form-control input-sm"/>
    </div-->
    <input id="inputArchiveName" name="archiveName" type="text" class="col-xs-12"/>
    <input id="inputOriginatorArchiveId" name="originatorArchiveId" type="text" class="col-xs-12"/>
    <input id="inputOriginatingDate" name="originatingDate" type="text" class="col-xs-12 datePicker"/>

    <input id="inputLabel" placeholder="Label" type="text" class="col-xs-12" style="text-align: right"/>

    <input id="inputHidden" type="hidden"/>
    <input id="inputText" type="text" class="col-xs-12"/>
    <input id="inputNumericField" type="number" class="col-xs-12"/>

    <div  id="inputBooleanField" class="btn-group" data-toggle="buttons">
        <label class="btn btn-xs btn-default">
            <input type="radio" name="defaultValue" autocomplete="off" value="0"><i class="fa fa-times"></i>
        </label>
        <label class="btn btn-xs btn-default active">
            <input type="radio" name="defaultValue" autocomplete="off" value="" checked>&nbsp;
        </label>
        <label class="btn btn-xs btn-default">
            <input type="radio" name="defaultValue" autocomplete="off" value="1"><i class="fa fa-check"></i>
        </label>
    </div>

    <span id="customFieldError_txt">Missing Label</span>
</div>

<style type="text/css">
    #archiveInformation {
        font-size: 12px;
        padding-top: 50px;
        min-height: calc(95vh - 80px) ;
    }
    #archiveInformation table {
        table-layout:fixed;
        width:100%;
    }
    #archiveInformation table th {
        width: 40%;
        text-align: right;
    }
    #archiveInformation table td, #archiveInformation table th {
        padding: 0 5px 0 5px ;
        text-overflow: crop;
        overflow: hidden;
     /*   white-space: nowrap;*/

    }
    #archiveInformation .infoIcon {
        font-size: 80px;
        margin-bottom: 10px;
    }
    #metadataTitle {
        border-top:1px solid #31708f;
        margin: 1.5em 0;
    }
</style>

<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script>
    var ArchiveInformation = {
        archiveId: $('#archiveInformation').find('.archiveInformationId').val(),

        freeze: function() {
            var parameters = {
                archiveIds : ArchiveInformation.archiveId
            };

            $.ajax({
                type        : 'PUT',
                url         : "/recordsManagement/archive/freeze",
                data        : JSON.stringify(parameters),
                contentType : 'application/json',
                dataType    : 'json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);

                    if (response.status) {
                        Archive.getInfo(ArchiveInformation.archiveId);
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        unfreeze: function() {
            var parameters = {
                archiveIds : ArchiveInformation.archiveId
            };

            $.ajax({
                type        : 'PUT',
                url         : "/recordsManagement/archive/unfreeze",
                data        : JSON.stringify(parameters),
                contentType : 'application/json',
                dataType    : 'json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);

                    if (response.status) {
                        Archive.getInfo(ArchiveInformation.archiveId);
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        editManagementMetadata: function() {
            $('#editManagementMetadata').prop('disabled',true);
            $('#saveManagementMetadata').show();
            $('#cancelManagementEdition').show();

            if(!$('#managementInfo').hasClass('in')) {
                $('#managementInfo').addClass('in');
            }

            $('#retentionRuleSelect').show();
            $('#startDate').show();

            $("#retentionRuleCode").val($('#inputRetentionRuleCode').val());

            $('#finalDisposition').hide();
            $('#disposalDate').hide();
        },

        saveManagementMetadata: function() {
            var startDate = $('#archiveInformation').find('.startDate').val();

            var retentionRule = {
                retentionStartDate : startDate,
                retentionDuration : $('#retentionRuleCode option:selected').data('duration'),
                finalDisposition : $('#retentionRuleCode option:selected').data('finaldisposition')
            };

            var parameters = {
                retentionRule : retentionRule,
                archiveIds: ArchiveInformation.archiveId
            };

            $.ajax({
                type        : 'PUT',
                url         : "/recordsmanagement/archive/retentionrule",
                data        : JSON.stringify(parameters),
                contentType : 'application/json',
                dataType    : 'json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);

                    if (response.status) {
                        Archive.getInfo(ArchiveInformation.archiveId);
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        cancelMetadataEdition: function() {
            Archive.getInfo(ArchiveInformation.archiveId);
            $('#archiveCustomFieldAddBtn').hide();
        },

        editMetadata: function() {
            var archiveInformation = $('#archiveInformation');
            $('#editMetadata').prop('disabled',true);
            $('#saveMetadata').show();
            $('#cancelMetadataEdition').show();
            $('#archiveCustomFieldAddBtn').show();
            //$('#archiveInformation').find('.originatorArchiveId').hide();
            //$('#archiveInformation').find('.archiveName').hide();

            archiveInformation.find('.archiveName')
                              .children('td')
                              .html('')
                              .append($('#inputArchiveName').val($('#archiveInformation').find('.archiveName').val()));

            archiveInformation.find('.originatorArchiveId')
                              .children('td')
                              .html('')
                              .append($('#inputOriginatorArchiveId').val($('#archiveInformation').find('.originatorArchiveId').val()));

            archiveInformation.find('.originatingDate')
                              .children('td')
                              .html('')
                              .append($('#inputOriginatingDate').datepicker('setDate', $('#archiveInformation').find('.originatingDate').val()));

            /*if ($('#metadata').data('descriptionclass') != undefined) {
                return;
            }*/

            var inputRows = $('#metadata').children('table').children('tbody').children('tr');

            inputRows.each(function(i, e) {
                var th = $(e).children('th');
                var label = th.text();
                var name = th.attr('name');
                var type = th.data('type');

                var td = $(e).children('td');

                var input = null;

                var inputLabel = $("#inputLabel").clone().removeAttr('id');
                inputLabel.val(label).attr('name', name);
                // Disable input for archival profile field labels
                if (th.data('additionnal')) {
                    th.html('').append(inputLabel);
                } else {
                    inputLabel.attr('type', 'hidden');
                    th.append(inputLabel);
                }

                switch(type) {
                    case 'boolean' :
                        input = $("#inputBooleanField").clone().removeAttr('id');
                        var intValue = td.find('i').data('value');
                        td.html('').append(input);
                        // Click on radio value
                        input.find('input[value="'+intValue+'"]').click();
                        break;

                    case 'number':
                        input = $("#inputNumericField").clone().removeAttr('id');

                        input.val(td.html());

                        td.html('').append(input);
                        break;

                    case 'date':
                        input = $("#inputText").clone().removeAttr('id');
                        input.datepicker(DatePickerParams).datepicker('setDate', td.html());

                        input.datepicker({
                            language:$('#wrapper').attr('lang'),
                            autoclose:true
                        }).datepicker('setDate', td.html());

                        td.html('').append(input);
                        break;

                    case 'array':
                        // Add data-itemtype to manage arrays
                        input = $("#inputHidden").clone().removeAttr('id');
                        input.data("value", td.data("value"));
                        td.append(input);
                        break;

                    case 'object':
                        // Add data-itemtype to manage arrays
                        input = $("#inputHidden").clone().removeAttr('id');
                        input.data("value", td.data("value"));
                        td.append(input);
                        break;

                    default :
                        input = $("#inputText").clone().removeAttr('id');
                        input.val(td.text());
                        td.html('').append(input);

                }

                if (th.data('readonly')) {
                    input.prop('disabled', true);
                }
            });
        },

        saveMetadata: function() {
            var description = {};

            var inputRows = $('#metadata').children('table').children('tbody').children('tr');
            inputRows.each(function(i, e) {
                var th = $(e).children('th');
                var type = th.data('type');
                var inputLabel = th.children('input');
                var label = inputLabel.val();
                var name = inputLabel.attr('name');

                var td = $(e).children('td');
                var inputValue = td.children('input');

                var value = null;

                switch (type) {
                    case "array" :
                        value = td.data("value");
                        break;
                    case "object" :
                        value = td.data("value");
                        break;
                    case "name" :
                    case "text" :
                        value = inputValue.val();
                        break;
                    case "date" :
                        value = inputValue.data('datepicker').getFormattedDate('yyyy-mm-dd');
                        break;
                    case "datetime" :
                        value = inputValue.data('datepicker').getFormattedDate('yyyy-mm-dd HH:mm:ss');
                        break;
                    case "number" :
                        value = parseInt(inputValue.val());
                        break;
                    case "boolean" :
                        var inputValue = $(e).find('td').find('.active > input').val();

                        if (inputValue === "") {
                            value = null;
                        } else {
                            value = inputValue;
                        }
                        break;
                    default:
                        value = inputValue.val();
                        break;
                }

                if (th.data('additionnal') && label != '') {
                    description[label] = value;
                } else if (name != '' && value != '') {
                    description[name] = value;
                } else if (label == '' && value != '') {
                    gritter.show($('#customFieldError_txt').text(), false);
                    return;
                }
            });

            var parameters = {
                archiveId           : ArchiveInformation.archiveId,
                originatorArchiveId : $('#inputOriginatorArchiveId').val(),
                archiveName         : $('#inputArchiveName').val(),
                originatingDate     : $('#inputOriginatingDate').data('datepicker').getFormattedDate('yyyy-mm-dd'),
                description         : description
            };

            $.ajax({
                type        : 'PUT',
                url         : "/recordsmanagement/archive/metadata",
                data        : JSON.stringify(parameters),
                contentType : 'application/json',
                dataType    : 'json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);

                    if (response.status) {
                        Archive.getInfo(ArchiveInformation.archiveId);

                        $("#searchForm_inputSearchBtn").click()
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });

            $('#archiveCustomFieldAddBtn').hide();
        },

        addField : function() {
            var label = $('#inputLabel').clone().val('').prop('disabled', false);
            var value = $('#inputText').clone().val('');

            var tr = $('<tr/>').append($('<th/>').data("type", 'text').data('additionnal', 'additionnal').append(label))
                               .append($('<td/>').append(value));

            $('#metadata').children('table').append(tr);
        },

        loadImportForm: function(e) {
            var importPanel = $("#importPanel");
            var archiveInformation = $('#archiveInformation');

            var parentArchiveId = archiveInformation.find(".archiveInformationId").val();
            var parentArchiveName = $('#archiveInformation').find('.archiveName').val();

            $("#archiveForm [name='archivalProfileReference']").val(e.data("reference")).data("json", e.data("json")).change();

            importPanel.find("[data-context-path]:first").text($("#folderPath").text());
            importPanel.find("[data-context-description]:first").text($("#folderDescription").text());
            importPanel.find("[data-context-profil]:first").text(e.text());

            $("#archiveForm [name='parentArchiveId']").val(parentArchiveId);
            importPanel.find("[data-context-parentarchive]")
                       .removeClass('hide')
                       .find('[data-context-parentname]').text(parentArchiveName);

            $('#importTab').click();
            $('#rightColumn').empty();
        }
    }

    $('#archiveInformation').on('click','.freeze', function(){
        ArchiveInformation.freeze();
    });

    $('#archiveInformation').on('click','.unfreeze', function(){
        ArchiveInformation.unfreeze();
    });

    $('#editManagementMetadata').on('click', function(){
         ArchiveInformation.editManagementMetadata();
    });

    $('#cancelManagementEdition, #cancelMetadataEdition').on('click', function(){
         ArchiveInformation.cancelMetadataEdition();
    });

    $('#saveManagementMetadata').on('click', function(){
         ArchiveInformation.saveManagementMetadata();
    });

    $('#archiveInformation').on('click','.addCustomField',function(){
       ArchiveInformation.addField($(this).data('type'));
    });

    $('#saveMetadata').on('click', function(){
        ArchiveInformation.saveMetadata();
    });

    $("#archiveToolbarBtn").on('click', '.newArchive', function() {
        Metadata.isModification = false;
        ArchiveInformation.loadImportForm($(this));
    });

    $('#editMetadata').on('click', function(){
        $("#documentForm").hide();
        var profile = $(this).parent().text().trim();
        var profileMetadata = FulltextSearchForm.loadArchivalProfile(profile);

        originatingDateField = $("#archiveForm").find('[name="originatingDate"]');
        originatingDateField.datepicker('setDate', $('#archiveInformation').find('.originatingDate').val());
        archiveId = $(".archiveInformationId").val();
        Metadata.isModification = true;
        NewArchive.loadImportForm($(this), profileMetadata);
        Metadata.fillInMetadata(archiveId);
    });

</script>
