<!--#
    This file is part of the auth package.
    (c) Maarch Prospre DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->

<form class="form-horizontal" data-translate-catalog="documentManagement/document">
    <div id="allFields">
        <div id="archivalProfileFields"></div>
        <div id="customFields"></div>
    </div>
    <div class="form-group">
        <div class="dropup col-xs-12" id="customFieldAddBtn">
            <button type="button" class="addCustomField btn btn-sm btn-link pull-right" data-type="text" title="Add field">
                &nbsp;<i class="fa fa-plus">&nbsp;</i>Add field
            </button>
            <!--ul class="dropdown-menu pull-right metadataList" aria-labelledby="dLabel">
                <li><a href='#' class="addCustomField" data-type="text">Text</a></li>
                <li><a href='#' class="addCustomField" data-type="name">Keyword</a></li>
                <li><a href='#' class="addCustomField" data-type="date">Date</a></li>
                <li><a href='#' class="addCustomField" data-type="boolean">Boolean</a></li>
                <li><a href='#' class="addCustomField" data-type="number">Numeric</a></li>
            </ul-->
        </div>
    </div>
</form>
<div class="hide">
    <!-- TEXT VARIABLE -->
    <div data-translate-catalog="documentManagement/documentMetadata">
        <span id="date_text">Date</span>
        <span id="number_text">Number</span>
        <span id="keyword_text">Keyword</span>
        <span id="byte_text">bytes</span>
    </div>

    <span id="preservation_text">Preservation</span>
    <span id="destruction_text">Destruction</span>
    <span id="retentionRule_text">%1$s after %2$s</span>

    <div data-translate-catalog="dates/dates">
        <span id="days_text">days</span>
        <span id="months_text">months</span>
        <span id="years_text" data-translate-context="unit">years</span>
        <span id="unlimited_text" >Unlimited</span>
    </div>

    <!-- ERROR MESSAGE -->
    <div data-translate-catalog="recordsManagement/message">
        <span id="fieldLabel_error">You must define all required fields.</span>
        <span id="customFieldLabel_error">You must define or remove all custom blank fields.</span>
        <span id="keywordLabel_error">A keyword label is missing.</span>
        <span id="retentionStartDateMissing_error">The retention start date is missing.</span>
        <span id="retentionRuleCodeMissing_error">The retention rule is missing.</span>
        <span id="documentMissing_error">You must deposit at least one document.</span>
    </div>

    <div data-translate-catalog="documentManagement/documentMetadata">
        <!-- CUSTOM TEXT FIELD TEMPLATE -->
        <!--div class="form-group" id="customTextFieldTemplate">
            <div class="col-md-3">
                <input type="text" class="form-control input-sm name" placeholder="Label"/>
            </div>
            <div class="input-group col-md-9">
                <input type="text" class="form-control input-sm value" placeholder="Text"/>
                <a href="#" class="btn btn-default removeField input-group-addon"><i class="fa fa-times text-danger"></i></a>
            </div>
        </div-->

        <!-- CUSTOM TEXTAREA FIELD TEMPLATE -->
        <div class="form-group" id="customTextareaFieldTemplate">
            <div class="col-md-3">
                <input type="text" class="form-control input-sm name" placeholder="Label"/>
            </div>
            <div class="col-md-9">
                <div class="input-group">
                    <textarea class="form-control input-sm value" rows="1" placeholder="Text" style="resize: vertical"></textarea>
                    <a href="#" class="btn btn-default removeField input-group-addon"><i class="fa fa-times text-danger"></i></a>
                </div>
            </div>
        </div>

        <!-- CUSTOM BOOLEAN FIELD TEMPLATE -->
        <!--div class="form-group" id="customBooleanFieldTemplate">
            <div class="col-md-3">
                <input type="text" class="form-control input-sm name" placeholder="Label"/>
            </div>
            <div class="input-group col-md-9">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="defaultValue" autocomplete="off" value="0"><i class="fa fa-times"></i>
                    </label>
                    <label class="btn btn-default active">
                        <input type="radio" name="defaultValue" autocomplete="off" value="" checked>&nbsp;
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="defaultValue" autocomplete="off" value="1"><i class="fa fa-check"></i>
                    </label>
                </div>
                <a href="#" class="btn btn-default removeField input-group-addon"><i class="fa fa-times text-danger"></i></a>
            </div>
        </div-->


        <!-- TEXT FIELD TEMPLATE -->
        <div class="form-group" id="inputFieldTemplate">
            <label class="col-md-3 small control-label"></label>
            <div class="col-md-9">
                <input type="text" class="form-control input-sm"/>
                <!--a href="#" class="btn btn-default removeField input-group-addon"><i class="fa fa-times text-danger"></i></a-->
            </div>
        </div>

        <!-- TEXTAREA FIELD TEMPLATE -->
        <div class="form-group" id="textareaFieldTemplate">
            <label class="col-md-3 small control-label"></label>
            <div class="col-md-9">
                <textarea class="form-control input-sm" rows="2" style="resize: none; resize: vertical"></textarea>
                <!--a href="#" class="btn btn-default removeField input-group-addon"><i class="fa fa-times text-danger"></i></a-->
            </div>
        </div>

        <!-- SELECT FIELD TEMPLATE -->
        <div class="form-group" id="selectFieldTemplate">
            <label class="col-md-3 small control-label"></label>
            <div class="col-md-9">
                <select class="form-control input-sm">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <!-- BOOLEAN FIELD TEMPLATE -->
        <div class="form-group" id="booleanFieldTemplate">
            <label class="col-md-3 small control-label"></label>
            <div class="col-md-9">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="defaultValue" autocomplete="off" value="0"><i class="fa fa-times"></i>
                    </label>
                    <label class="btn btn-default active">
                        <input type="radio" name="defaultValue" autocomplete="off" value="">&nbsp;
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="defaultValue" autocomplete="off" value="1"><i class="fa fa-check"></i>
                    </label>
                </div>
            </div>
        </div>

        <!-- REQUIRED FIELD TEMPLATE -->
        <span style="color: red" id="requiredFieldTemplate">&nbsp;*</span>
    </div>
</div>

<span  id="addBtnTpl" class="input-group-btn hide">
    <button class="btn btn-success addArchiveDescriptionKeyword btn-sm" type="button" id="btnAddPrivilege" title="Add"><span class="fa fa-plus"></span></button>
</span>
<div id="keywordTpl" class="input-group hide" name="keyword">
    <input type="text" class="form-control input-sm" data-enumerate ="true" disabled="" />
    <span class="input-group-btn">
        <button class="btn btn-danger btn-sm" type="button" name="btnDeleteKeyword" title="Delete"><span class="fa fa-trash-o"></span></button>
    </span>
</div>

<script type="text/javascript">
    // METADATAS
    $('.addCustomField').on('click', function(e) {
        e.preventDefault();
        Metadata.addCustomField($(this));
    });

    $('#allFields').on('click', '.removeField', function(e) {
        e.preventDefault();
        Metadata.removeField($(this));
    });

    //Delete keyword
    $("#archivalProfileFields").on("click","[name=btnDeleteKeyword]", function() {
        var selectId = $(this).closest("[name=keyword").find('input').attr('name');
        var val = $(this).closest("[name=keyword").find('input').val();
        $(this).closest("[name=keyword").remove();
        $('#'+selectId).find('option[value="'+val+'"]').removeClass('hide');
    });

    //Add keyword
    $("#archivalProfileFields").on("click",".addArchiveDescriptionKeyword", function() {

        let val = null;
        let input = null;
        let name = $(this).data('select');
        let inputType = $(this).data('input-type');

        switch (inputType) {
            case "select" :
                input = $('#archivalProfileFields').find('[name="'+name+'"]').not("[disabled]");
                let option = input.find('option:selected');
                val =  option.text();
                break;

            case "input" :
                input = $('#archivalProfileFields').find('input[name="'+name+'"]').not("[disabled]");
                val =  input.val();
                break;
        }

        var tpl = $('#keywordTpl').clone().removeClass('hide');


        if(val) {
            tpl.find('input').val(val).attr('name',name);
            $('[name="list-'+name+'"]').append(tpl);

            switch (inputType) {
                case "select" :
                    input.find("option:selected").addClass('hide');
                    break;

                case "input" :
                    break;
            }

            input.val('');
        }

    });

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    var Metadata = {
        addArchiveDescription : function(archiveDescription) {
            var target = $("#archivalProfileFields");
            var template = $('#inputFieldTemplate').clone();
            var type = archiveDescription.descriptionField.type;
            var defaultVal = archiveDescription.descriptionField.default;
            var enumeration= archiveDescription.descriptionField.enumeration;
            var isArray= archiveDescription.descriptionField.isArray;
            var label = archiveDescription.descriptionField.label;
            var name = archiveDescription.descriptionField.name;
            var required = archiveDescription.required;
            var origin = archiveDescription.origin;

            var field = null;

            switch (type) {
                case 'text':
                case 'string':
                    template = $('#textareaFieldTemplate').clone();
                    field = template.find('textarea');
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.val(defaultVal);
                    }
                    break;
                case 'name':
                    if (enumeration) {
                        template = $('#selectFieldTemplate').clone();
                        field = template.find('select');

                        if (isArray) {
                            field.attr('data-enumerate', 'NOT_VALUE');
                        }

                        field.attr('id', name);

                        $.each(enumeration, function (index, value) {
                            field.append($('<option>', {
                                value: value,
                                text: value
                            }));
                        });
                        field.val(defaultVal);
                    } else {
                        field = template.find('input');
                        if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                            field.val(defaultVal);
                        }
                    }
                    break;
                case 'number':
                    field = template.find('input');
                    field.attr('type', 'number').attr('placeholder', $('#number_text').text());
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.val(defaultVal);
                    }
                    break;
                case 'date':
                case 'timestamp':
                    field = template.find('input');
                    field.attr('placeholder', $('#date_text').text());
                    field.datepicker(DatePickerParams);
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.data("datepicker").setDate(defaultVal);
                    }

                    break;
                case 'boolean':
                    var template = $('#booleanFieldTemplate').clone();
                    field = template.find("input");
                    template.find('.active').removeClass("active");
                    if (defaultVal == 1 || defaultVal == 0) {
                        template.find('[value="'+defaultVal+'"]').parent().addClass("active");
                        template.find('[value="'+defaultVal+'"]').prop("checked", "checked");
                    } else {
                        template.find('[value=""]').parent().addClass("active");
                        template.find('[value=""]').prop("checked", "checked");
                    }
                    break;
                default:
                    console.log("Error invalid type");
                    return;
                    break;
            }

            field.attr('name', name).attr('data-origin', origin).attr('data-type', type);

            template.find("label:first").text(label);

            if (required) {
                $("#requiredFieldTemplate").clone().removeAttr('id').appendTo(template.find("label:first"));
                field.attr("data-required", required);
            }

            if(isArray) {
                var btnGroup  = $('#addBtnTpl').clone();
                btnGroup.removeClass('hide');
                btnGroup.find('button').attr('data-select',name);
                if (enumeration) {
                    btnGroup.find('button').attr('data-input-type',"select");
                } else {
                    btnGroup.find('button').attr('data-input-type',"input");
                    template.find('input').attr('data-enumerate', 'NOT_VALUE');
                }

                template.find('div').addClass('input-group').append(btnGroup);
                template.append('<label class="col-md-3 small control-label"></label>');
                template.append('<div name="list-'+name+'" class="col-md-9 input-group"><\/div>');
            }

            template.appendTo(target);

            template.removeAttr('id').appendTo(target);
        },

        addCustomField : function(source) {
            var target = $("#customFields");
            var template = $('#customTextFieldTemplate').clone();
            var type = source.attr('data-type');

            var field = null;

            switch (type) {
                case 'text'   :
                    template = $('#customTextareaFieldTemplate').clone();
                    field = template.find('.value');
                    break;
                case 'name':
                    field = template.find('input');
                    break;
                case 'number' :
                    field = template.find('.value');
                    field.attr('type', 'number').attr('placeholder', $('#number_text').html());
                    break;
                case 'date':
                    field = template.find('.value');
                    field.attr('placeholder', $('#date_text').text());
                    field.datepicker(DatePickerParams);
                    break;
                case 'boolean':
                    var template = $('#customBooleanFieldTemplate').clone();
                    token = guid();

                    field = template.find("input[type=radio]").each(function () {
                        $(this).attr("name", token);
                    });
                    break;
                default:
                    return;
                    break;
            }

            field.attr('data-type', type);
            template.removeAttr('id').appendTo(target);

        },

        removeField : function(source) {
            source.closest('.form-group').remove();
        },

        serialize : function(target) {
            var selectedProfile = $('#archivalProfile').find('option:selected').data('json');
            var inputsArchivalProfile = target.find("#archivalProfileFields").find('input, textarea, select');
            var inputsCustom = target.find("#customFields").children();
            var flagEmptyRequiredField = false;
            var flagEmptyCustomField = false;

            if (selectedProfile != undefined && selectedProfile.descriptionClass != null && selectedProfile.descriptionClass != '') {
                var descriptionObject = {};
                var fulltext = false;
            } else {
                var descriptionObject = {};
                var fulltext = true;
            }

            $.each(inputsArchivalProfile, function() {
                //var value = $.trim($(this).val());
                var type = $(this).attr("data-type");
                var inputType = $(this).attr("type");
                var name = $(this).attr('name');
                var required = $(this).attr('data-required');
                var enumerate = $(this).attr('data-enumerate');

                if(enumerate == 'NOT_VALUE'){
                    return;
                }
                switch(type) {
                    case "boolean":
                        if (!$(this).prop("checked")) {
                            return;
                        }

                        switch ($(this).val()) {
                            case "1":
                            case "0": value = $(this).val();
                                break;
                            default: value = null;
                                break;
                        }

                        break;

                    case "date":
                        value = $(this).data('datepicker').getFormattedDate('yyyy-mm-dd');
                        break;

                    case 'number':
                        value = Number($.trim($(this).val()));
                        break;

                    default :
                        value = $.trim($(this).val());
                }


                if (required == "true" && (value === "" || value === null || value === undefined)) {
                    flagEmptyRequiredField = true;
                    $(this).closest(".form-group").addClass('has-error');
                    return;
                } else {
                    $(this).closest(".form-group").removeClass('has-error');
                }

                if (enumerate) {
                    if(enumerate != 'NOT_VALUE'){

                        if(!descriptionObject[name]) {
                            descriptionObject[name] = [value];
                        } else {
                            descriptionObject[name].push(value)
                        }
                    }
                } else {
                    descriptionObject[name] = value;
                }
            });


            $.each(inputsCustom, function() {
                var value = "";
                var type = $(this).find('[data-type]').attr("data-type");
                var name = $(this).find('.name').val();

                switch(type) {
                    case "boolean":
                        value = $(this).find("input:checked").val();

                        break;

                    case "date":
                        value = $(this).find('.value').data('datepicker').getFormattedDate('yyyy-mm-dd');
                        break;

                    case 'number':
                        value = Number($.trim($(this).find('.value').val()));
                        break;

                    default :
                        value = $.trim($(this).find('.value').val());
                }

                if ((value === '' && type != "boolean") || value == undefined || value == null || name == ''|| name == undefined || name == null) {
                    $(this).closest(".form-group").addClass('has-error');
                    flagEmptyCustomField = true;
                    return;
                } else {
                    $(this).closest(".form-group").removeClass('has-error');
                }

                descriptionObject[name] = value;
            });

            var result = descriptionObject;

            if (flagEmptyRequiredField) {
                result = true;
                gritter.show($('#fieldLabel_error').text(), false);
            }
            if (flagEmptyCustomField) {
                result = true
                gritter.show($('#customFieldLabel_error').text(), false);
            }

            return result;
        },

        clear : function() {
            $('#archivalProfileFields').empty();
            $('#customFields').empty();
        },

        acceptUserIndex : function(value) {
            if (value) {
                $('#customFields').empty();
                $('#customFieldAddBtn').removeClass("hide");
            } else {
                $('#customFields').empty();
                $('#customFieldAddBtn').addClass("hide");
            }
        }
    }
</script>
<script type="text/javascript" src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
