<!--#
    This file is part of the auth package.
    (c) Maarch Prospre DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->

<form class="form-horizontal" data-translate-catalog="documentManagement/document">
    <div id="allFields">
        <div id="archivalProfileFields"></div>
        <div id="customFields"></div>
    </div>

    <div class="form-group">
        <div class="dropup col-xs-12" id="customFieldAddBtn">
            <button type="button" class="addCustomField btn btn-sm btn-link pull-right" data-type="text" title="Add field">
                &nbsp;<i class="fa fa-plus">&nbsp;</i>Add field
            </button>
            <!--ul class="dropdown-menu pull-right metadataList" aria-labelledby="dLabel">
                <li><a href='#' class="addCustomField" data-type="text">Text</a></li>
                <li><a href='#' class="addCustomField" data-type="name">Keyword</a></li>
                <li><a href='#' class="addCustomField" data-type="date">Date</a></li>
                <li><a href='#' class="addCustomField" data-type="boolean">Boolean</a></li>
                <li><a href='#' class="addCustomField" data-type="number">Numeric</a></li>
            </ul-->
        </div>
    </div>
</form>

<div class="hide">
    <!-- TEXT VARIABLE -->
    <div data-translate-catalog="documentManagement/documentMetadata">
        <span id="date_text">Date</span>
        <span id="number_text">Number</span>
        <span id="keyword_text">Keyword</span>
        <span id="byte_text">bytes</span>
    </div>

    <span id="preservation_text">Preservation</span>
    <span id="destruction_text">Destruction</span>
    <span id="retentionRule_text">%1$s after %2$s</span>

    <div data-translate-catalog="dates/dates">
        <span id="days_text">days</span>
        <span id="months_text">months</span>
        <span id="years_text" data-translate-context="unit">years</span>
        <span id="unlimited_text" >Unlimited</span>
    </div>

    <!-- ERROR MESSAGE -->
    <div data-translate-catalog="recordsManagement/message">
        <span id="fieldLabel_error">You must define all required fields.</span>
        <span id="customFieldLabel_error">You must define or remove all custom blank fields.</span>
        <span id="keywordLabel_error">A keyword label is missing.</span>
        <span id="retentionStartDateMissing_error">The retention start date is missing.</span>
        <span id="retentionRuleCodeMissing_error">The retention rule is missing.</span>
        <span id="documentMissing_error">You must deposit at least one document.</span>
    </div>

    <div data-translate-catalog="documentManagement/documentMetadata">
        <!-- TEXT FIELD TEMPLATE -->
        <div class="form-group" id="inputFieldTemplate">
            <label class="col-md-3 small control-label"></label>
            <div class="col-md-9">
                <input type="text" class="form-control input-sm"/>
            </div>
        </div>

        <!-- DATE FIELD TEMPLATE -->
        <div class="form-group" id="inputDateTemplate">
            <label class="col-md-3 small control-label"></label>
            <div class="col-md-9">
                <input type="text" class="form-control input-sm"/>
            </div>
        </div>

        <!-- TEXTAREA FIELD TEMPLATE -->
        <div class="form-group" id="textareaFieldTemplate">
            <label class="col-md-3 small control-label"></label>
            <div class="col-md-9">
                <textarea class="form-control input-sm" rows="1" style="resize: none; resize: vertical; height: 2.5em;"></textarea>
            </div>
        </div>

        <!-- SELECT FIELD TEMPLATE -->
        <div class="form-group" id="selectFieldTemplate">
            <label class="col-md-3 small control-label"></label>
            <div class="col-md-9">
                <select class="form-control input-sm">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <!-- BOOLEAN FIELD TEMPLATE -->
        <div class="form-group" id="booleanFieldTemplate">
            <label class="col-md-3 small control-label"></label>
            <div class="col-md-9">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="defaultValue" autocomplete="off" value="0"><i class="fa fa-times"></i>
                    </label>
                    <label class="btn btn-default active">
                        <input type="radio" name="defaultValue" autocomplete="off" value="">&nbsp;
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="defaultValue" autocomplete="off" value="1"><i class="fa fa-check"></i>
                    </label>
                </div>
            </div>
        </div>

        <!-- CUSTOM TEXTAREA FIELD TEMPLATE -->
        <div class="form-group" id="customTextareaFieldTemplate">
            <div class="col-md-3">
                <input type="text" class="form-control input-sm name" placeholder="Label"/>
            </div>
            <div class="input-group">
                <textarea class="form-control input-sm value" rows="1" placeholder="Text" style="resize: vertical"></textarea>
                <a href="#" class="btn btn-default removeField input-group-addon"><i class="fa fa-times text-danger"></i></a>
            </div>
        </div>

        <!-- CUSTOM OBJECT FIELD V2 -->
        <div id="objectFieldTemplate" class="form-group">
            <label class="col-md-3 small control-label">Object metadata</label>
            <div class="col-md-9" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" style="margin-bottom:0px;">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Add an object
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="col-md-9">
                                <input class="hide" name="objectMetadata" type="text" data-type="object" value=''>
                                <ul id="objectFields" class="col-md-12">
                                    <li id="objectPropertie" class="hidden"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div id="objectFieldTemplate" class="form-group">
            <label class="col-md-3 small control-label">Métadonnée objet</label>
            <div class="col-md-9">
                <input class="hide" name="objectMetadata" type="text" data-type="object" value=''>
                <ul id="objectFields" class="col-md-12">
                    <li id="objectPropertie" class="hidden"></li>
                </ul>
            </div>
        </div> -->

        <!-- CUSTOM ARRAY FIELD V2 -->
        <div class="form-group" id="arrayFieldTemplate">
            <label class="col-md-3 small control-label">Table metadata</label>
            <div class="col-md-9">
                <input class="hide" name="arrayMetadata" type="text" data-type="array" value=''>
                <div id="rowAddBtn" class="dropup hidden">
                    <button type="button" class="addRowArray btn btn-sm btn-default btn-success pull-left" title="Add data">
                        &nbsp;<i class="fa fa-plus">&nbsp;</i>
                    </button>
                </div>
                <ul id="arrayFields">
                    <li id="textRow" class="input-group col-md-12"><input type="text" class="form-control input-sm hidden"/></li>
                </ul>
            </div>
        </div>


        <!-- REQUIRED FIELD TEMPLATE -->
        <span style="color: red" id="requiredFieldTemplate">&nbsp;*</span>
    </div>
</div>

<span  id="addBtnTpl" class="input-group-btn hide">
    <button class="btn btn-success addArchiveDescriptionKeyword btn-sm" type="button" id="btnAddPrivilege" title="Add"><span class="fa fa-plus"></span></button>
</span>
<div id="keywordTpl" class="input-group hide" name="keyword">
    <input type="text" class="form-control input-sm" data-enumerate ="true" disabled="" />
    <span class="input-group-btn">
        <button class="btn btn-danger btn-sm" type="button" name="btnDeleteKeyword" title="Delete"><span class="fa fa-trash-o"></span></button>
    </span>
</div>


<style>
#objectFields .propertie .col-md-9{
    padding-left:40px;
}
ul {
    list-style: none;
}
li > input, #headingOne > h4, #headingOne > span {
    display: inline-block;
}
#headerObjectTable{
    float:right;
    width:27px;
    margin-top:-7px;
}
#arrayFields > .input-group > .form-group{
    margin-bottom:0px; 
}
#objectFieldTemplate{
    margin-bottom:15px !important;
}

</style>

<script type="text/javascript">
    // METADATAS
    $('.addCustomField').on('click', function(e) {
        e.preventDefault();
        Metadata.addCustomField($(this));
    });

    // Add row in array of metadata
    $('#allFields').on('click', '.addRowArray', function(e) {
        Metadata.addRowField($(this));
    });

    $('#allFields').on('click', '.removeRowArray', function(e) {
        e.preventDefault();
        Metadata.removeRowArray($(this));
    });

    $('#allFields').on('click', '.removeField', function(e) {
        e.preventDefault();
        Metadata.removeField($(this));
    });

    //Delete keyword
    $("#archivalProfileFields").on("click","[name=btnDeleteKeyword]", function() {
        var selectId = $(this).closest("[name=keyword").find('input').attr('name');
        var val = $(this).closest("[name=keyword").find('input').val();
        $(this).closest("[name=keyword").remove();
        $('#'+selectId).find('option[value="'+val+'"]').removeClass('hide');
    });

    //Add keyword
    $("#archivalProfileFields").on("click",".addArchiveDescriptionKeyword", function() {

        let val = null;
        let input = null;
        let name = $(this).data('select');
        let inputType = $(this).data('input-type');

        switch (inputType) {
            case "select" :
                input = $('#archivalProfileFields').find('[name="'+name+'"]').not("[disabled]");
                let option = input.find('option:selected');
                val =  option.text();
                break;

            case "input" :
                input = $('#archivalProfileFields').find('input[name="'+name+'"]').not("[disabled]");
                val =  input.val();
                break;
        }

        var tpl = $('#keywordTpl').clone().removeClass('hide');

        if(val) {
            tpl.find('input').val(val).attr('name',name);
            $('[name="list-'+name+'"]').append(tpl);

            switch (inputType) {
                case "select" :
                    input.find("option:selected").addClass('hide');
                    break;

                case "input" :
                    break;
            }

            input.val('');
        }

    });

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    var Metadata = {
        flagEmptyRequiredField : false,
        flagEmptyCustomField : false,

        addArchiveDescription : function(archiveDescription) {
            var target = $("#archivalProfileFields");
            var type = archiveDescription.descriptionField.type;
            var defaultVal = archiveDescription.descriptionField.default;
            var enumeration= archiveDescription.descriptionField.enumeration;
            var label = archiveDescription.descriptionField.label;
            var name = archiveDescription.descriptionField.name;
            var required = archiveDescription.required;
            var origin = archiveDescription.origin;
            var field = null;

            switch (type) {
                case 'array':
                    var itemType = archiveDescription.descriptionField.itemType;

                    if ($.isPlainObject(itemType)) {
                        template = $('#arrayFieldTemplate').clone();
                        field = template.find("#arrayFields");
                        underTemplate = $("#objectFieldTemplate").clone();
                        aleaID = guid()
                        underTemplate.find("#accordion").find('.panel-collapse').attr("id", aleaID);
                        underTemplate.find("#accordion").find('[data-toggle="collapse"]').attr("href", "#"+aleaID);
                
                        underTemplate.find('.col-md-9')
                                     .removeClass('col-md-9')
                                     .addClass('col-md-12');
                        $(underTemplate).children("label").remove();
                        $.each(itemType.properties, function() {
                            Metadata.addObjectField(underTemplate, this);
                        });
                        field.append($("<li class='input-group col-md-12'></li>").append(underTemplate));

                    } else {
                        template = $('#arrayFieldTemplate').clone();
                        field = Metadata.addField(archiveDescription);
                        field.addClass("arrayInput");
                        template.find("#arrayFields").append($("<li class='input-group col-md-12'></li>").append(field));
                    }
                    field = template.find("input").first();
                    addButton = template.find("#rowAddBtn");
                    addButton.find("button").attr("data-rowtype", itemType);
                    addButton.removeClass("hidden");

                    template.find("input").first().attr("id", name);

                    break;

                case 'object':
                    template = $("#objectFieldTemplate").clone();
                    aleaID = guid()
                    template.find("#accordion").find('.panel-collapse').attr("id", aleaID);
                    template.find("#accordion").find('[data-toggle="collapse"]').attr("href", "#"+aleaID);
                
                    field = template.find("input").first();
                    template.find("h4").find("a").text("Métadonnée "+label)
                    $.each(archiveDescription.descriptionField.properties, function() {
                        Metadata.addObjectField(template, this);
                    });
                    break;

                case 'text':
                case 'string':
                    template = $('#textareaFieldTemplate').clone();
                    field = template.find('textarea');
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.val(defaultVal);
                    }
                    break;
                case 'name':
                    if (enumeration) {
                        template = $('#selectFieldTemplate').clone();
                        field = template.find('select');

                        field.attr('id', name);

                        $.each(enumeration, function (index, value) {
                            field.append($('<option>', {
                                value: value,
                                text: value
                            }));
                        });
                        field.val(defaultVal);
                    } else {
                        var template = $('#inputFieldTemplate').clone();
                        field = template.find('input');
                        if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                            field.val(defaultVal);
                        }
                    }
                    break;
                case 'number':
                    var template = $('#inputFieldTemplate').clone();
                    field = template.find('input');
                    field.attr('type', 'number').attr('placeholder', $('#number_text').text());
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.val(defaultVal);
                    }
                    break;
                case 'date':
                case 'timestamp':
                    var template = $('#inputDateTemplate').clone();
                    field = template.find('input');
                    field.attr('placeholder', $('#date_text').text());
                    field.datepicker(DatePickerParams);
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.data("datepicker").setDate(defaultVal);
                    }

                    break;
                case 'boolean':
                    var template = $('#booleanFieldTemplate').clone();
                    field = template.find("input");
                    template.find('.active').removeClass("active");
                    if (defaultVal == 1 || defaultVal == 0) {
                        template.find('[value="'+defaultVal+'"]').parent().addClass("active");
                        template.find('[value="'+defaultVal+'"]').prop("checked", "checked");
                    } else {
                        template.find('[value=""]').parent().addClass("active");
                        template.find('[value=""]').prop("checked", "checked");
                    }
                    break;

                case 'array':
                case 'object':
                default:
                    console.log("Type "+type+" of field "+name+" is not managed");
                    return;
                    break;
            }
            field.attr('name', name).attr('data-origin', origin).attr('data-type', type);

            template.find("label:first").text(label);
            template.find("label:first").attr("id", name);

            if (required) {
                $("#requiredFieldTemplate").clone().removeAttr('id').appendTo(template.find("label:first"));
                field.attr("data-required", required);
            }

            template.appendTo(target);
            template.removeAttr('id').appendTo(target);
        },

        addField : function(archiveDescription) {
            if (archiveDescription.descriptionField.type == "array") {
                type = archiveDescription.descriptionField.itemType;
            } else {
                var type = archiveDescription.descriptionField.type;
            }
            var defaultVal = archiveDescription.descriptionField.default;
            var enumeration= archiveDescription.descriptionField.enumeration;
            var label = archiveDescription.descriptionField.label;
            var name = archiveDescription.descriptionField.name;
            var required = archiveDescription.required;
            var origin = archiveDescription.origin;
            var field = null;

            switch (type) {
                case 'object':
                    template = $("#objectFieldTemplate").clone();
                    aleaID = guid()
                    template.find("#accordion").find('.panel-collapse').attr("id", aleaID);
                    template.find("#accordion").find('[data-toggle="collapse"]').attr("href", "#"+aleaID);
                
                    field = template.find("input").first();
                    $.each(archiveDescription.descriptionField.properties, function() {
                        Metadata.addObjectField(template, this);
                    });
                    break;

                case 'text':
                case 'string':
                    template = $('#textareaFieldTemplate').clone();
                    field = template.find('textarea');
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.val(defaultVal);
                    }
                    break;
                case 'name':
                    if (enumeration) {
                        template = $('#selectFieldTemplate').clone();
                        field = template.find('select');

                        field.attr('id', name);

                        $.each(enumeration, function (index, value) {
                            field.append($('<option>', {
                                value: value,
                                text: value
                            }));
                        });
                        field.val(defaultVal);
                    } else {
                        var template = $('#inputFieldTemplate').clone();
                        field = template.find('input');
                        if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                            field.val(defaultVal);
                        }
                    }
                    break;
                case 'number':
                    var template = $('#inputFieldTemplate').clone();
                    field = template.find('input');
                    field.attr('type', 'number').attr('placeholder', $('#number_text').text());
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.val(defaultVal);
                    }
                    break;
                case 'date':
                case 'timestamp':
                    var template = $('#inputDateTemplate').clone();
                    field = template.find('input');
                    field.attr('placeholder', $('#date_text').text());
                    field.datepicker(DatePickerParams);
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.data("datepicker").setDate(defaultVal);
                    }

                    break;
                case 'boolean':
                    var template = $('#booleanFieldTemplate').clone();
                    field = template.find("input");
                    template.find('.active').removeClass("active");
                    if (defaultVal == 1 || defaultVal == 0) {
                        template.find('[value="'+defaultVal+'"]').parent().addClass("active");
                        template.find('[value="'+defaultVal+'"]').prop("checked", "checked");
                    } else {
                        template.find('[value=""]').parent().addClass("active");
                        template.find('[value=""]').prop("checked", "checked");
                    }
                    break;

                case 'array':
                case 'object':
                default:
                    console.log("Type "+type+" of field "+name+" is not managed");
                    return;
                    break;
            }
            return field;
        },

        addRowField : function(source) {
            var target = source.parent().siblings("#arrayFields");
            var type = source.attr('data-rowtype');

            if (type == "[object Object]") {
                type = "object";

                objectNumber = (target.find("[data-rowValue]").length) + 1 ;

                // GET the Input Value
                var valueInput = JSON.stringify(Metadata.serializeObject(target.find("[name='objectMetadata']")));
                var valueToDisplay = target.find(".propertie").find("input, textarea, select").first().val();

                var aleaID = guid();
                var toAdd = target.find("#objectFieldTemplate").clone();

                if (valueToDisplay != "") {
                    toAdd.find("li").removeClass("propertie");
                    toAdd.find("h4").children("a").text("Objet n°"+objectNumber);
                    // toAdd.find("input, textarea, selct").prop("readonly", true);
                    toAdd.removeAttr("id");
                    toAdd.find("#accordion").find('.panel-collapse').attr("id", aleaID).removeClass("in");
                    toAdd.find("#accordion").find('[data-toggle="collapse"]').attr("href", "#"+aleaID).addClass("collapsed");
                    toAdd.find("#headingOne").append('<span id="headerObjectTable"><a href="#" class="btn btn-default removeRowArray" title="Supprimer l\'objet"><i class="fa fa-times text-danger"></i></a></span>')
                    
                    target.append($("<li class='input-group col-md-12'></li>").append(toAdd));

                    toAdd.find("#accordion")
                         .attr("data-rowValue", valueInput);

                    // Delete the input value
                    target.find("#objectFieldTemplate").find("input, textarea, select").not("[data-type=boolean]").val("");
                    target.find("#objectFieldTemplate").find("[data-type=boolean]").parent().siblings("label").removeClass("active");
                    target.find("#objectFieldTemplate").find('[data-type=boolean][value=""]').parent().addClass("active");
                }

            } else {
                
                // GET the Input Value
                var valueInput = target.find('.arrayInput').val();
                var valueToDisplay = valueInput;

                // Delete the input value
                target.find('.arrayInput').val("");

                if (valueToDisplay != "") {

                    var row = $('<li class="input-group"></li>');
                    row.append($("<input>")
                        .addClass('form-control')
                        .addClass('input-sm')
                        .attr("data-rowValue", valueInput)
                        .addClass("hidden"));
                    row.append('<input class="form-control" type="text" value="' + valueToDisplay + ' readonly"><span class="input-group-btn"><a href="#" class="btn btn-default removeRowArray "><i class="fa fa-times text-danger"></i></a></span>');
                    row.appendTo(target);
                }
            }
            target.siblings("input").first().val(Metadata.serializeArrayFields(target));
        },

        serializeArrayFields : function(target) {
            var tabValue = [];
            var allInput = target.find("[data-rowvalue]");

            allInput.each(function(index) {
                tabValue.push($(this).data("rowvalue"));
            });
            var data = tabValue;

            return JSON.stringify(data);
        },

        addObjectField : function(target, source) {
            var defaultVal = source.default;
            var enumeration = source.enumeration;
            var label = source.label;
            var name = source.name;
            var required = source.required;
            var origin = source.origin;
            var type = source.type;
            var templateRow = target.find('#objectPropertie').clone();

            switch (type) {
                case 'text':
                case 'string':
                    template = $('#textareaFieldTemplate').clone();
                    field = template.find('textarea');
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.val(defaultVal);
                    }
                    break;
                case 'name':
                    if (source.enumeration) {
                        template = $('#selectFieldTemplate').clone();
                        field = template.find('select');
                        field.attr('id', name);

                        $.each(source.enumeration, function (index, value) {
                            field.append($('<option>', {
                                value: value,
                                text: value
                            }));
                        });
                        field.val(defaultVal);
                    } else {
                        var template = $('#inputFieldTemplate').clone();
                        field = template.find('input');
                        if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                            field.val(defaultVal);
                        }
                    }
                    break;
                case 'number':
                    var template = $('#inputFieldTemplate').clone();
                    field = template.find('input');
                    field.attr('type', 'number').attr('placeholder', $('#number_text').text());
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.val(defaultVal);
                    }
                    break;
                case 'date':
                case 'timestamp':
                    var template = $('#inputDateTemplate').clone();
                    field = template.find('input');
                    field.attr('placeholder', $('#date_text').text());
                    field.datepicker(DatePickerParams);
                    if (defaultVal !== null && defaultVal !== undefined && defaultVal !== "") {
                        field.data("datepicker").setDate(defaultVal);
                    }

                    break;
                case 'boolean':
                    var template = $('#booleanFieldTemplate').clone();
                    field = template.find("input");
                    template.find('.active').removeClass("active");
                    if (defaultVal == 1 || defaultVal == 0) {
                        template.find('[value="'+defaultVal+'"]').parent().addClass("active");
                        template.find('[value="'+defaultVal+'"]').prop("checked", "checked");
                    } else {
                        template.find('[value=""]').parent().addClass("active");
                        template.find('[value=""]').prop("checked", "checked");
                    }
                    break;
            }
            template.find('.control-label')
                        .removeClass('col-md-3')
                        .addClass('col-md-2');
            template.find('.col-md-9')
                        .removeClass('col-md-9')
                        .addClass('col-md-10');
            template.find("label:first").text(label);
            template.removeAttr('id')

            templateRow.removeClass("hidden");
            templateRow.removeAttr('id')
            templateRow.addClass("propertie");

            field.attr('name', name).attr('data-origin', origin).attr('data-type', type);
            template.appendTo(templateRow);
            templateRow.appendTo(target.find("ul"));
            return templateRow;
        },

        addCustomField : function(source) {
            var target = $("#customFields");
            var template = $('#customTextFieldTemplate').clone();
            var type = source.attr('data-type');

            var field = null;

            switch (type) {
                case 'text'   :
                    template = $('#customTextareaFieldTemplate').clone();
                    field = template.find('.value');
                    break;
                case 'name':
                    field = template.find('input');
                    break;
                case 'number' :
                    field = template.find('.value');
                    field.attr('type', 'number').attr('placeholder', $('#number_text').html());
                    break;
                case 'date':
                    field = template.find('.value');
                    field.attr('placeholder', $('#date_text').text());
                    field.datepicker(DatePickerParams);
                    break;
                case 'boolean':
                    var template = $('#customBooleanFieldTemplate').clone();
                    token = guid();

                    field = template.find("input[type=radio]").each(function () {
                        $(this).attr("name", token);
                    });
                    break;
                default:
                    return;
                    break;
            }

            field.attr('data-type', type);
            template.removeAttr('id').appendTo(target);

        },

        removeRowArray : function(source) {
            target = source.closest("#arrayFields");
            source.closest('li').remove();
            target.siblings("input").first().val(Metadata.serializeArrayFields(target));
        },

        removeField : function(source) {
            source.closest('.form-group').remove();
        },

        serialize : function(target) {
            Metadata.flagEmptyRequiredField = false;
            Metadata.flagEmptyCustomField = false;

            var selectedProfile = $('#archivalProfile').find('option:selected').data('json');
            var inputsArchivalProfile = target.find("#archivalProfileFields").find('input, textarea, select');
            var inputsCustom = target.find("#customFields").children();
            var descriptionObject = {};

            $.each(inputsArchivalProfile, function() {
                if(!$(this).closest("#arrayFields").length > 0 && !$(this).closest("#objectFields").length > 0) {
                    Metadata.serializeField($(this), descriptionObject);
                }
            });

            $.each(inputsCustom, function() {
                Metadata.serializeAdditionnalField($(this), descriptionObject);
            });

            if (Metadata.flagEmptyRequiredField) {
                gritter.show($('#fieldLabel_error').text(), false);

                return -1;
            }
            if (Metadata.flagEmptyCustomField) {
                gritter.show($('#customFieldLabel_error').text(), false);

                return -1;
            }

            return descriptionObject;
        },

        serializeField : function(input, data) {
            var type = input.attr("data-type");
            var name = input.attr('name');
            var required = input.data('required');
            var value = null;

            switch(type) {
                case "boolean":
                    if (!input.parent().hasClass("active")) {
                        return;
                    }

                    switch (input.val()) {
                        case "1":
                        case "0": value = input.val();
                            break;
                        default: value = null;
                            break;
                    }

                    break;

                case "date":
                    value = new Date(input.data('datepicker').getFormattedDate('yyyy-mm-dd'));
                    break;

                case 'number':
                    value = Number($.trim(input.val()));
                    break;

                case 'array':
                    if (input.val()) {
                        value = JSON.parse(input.val());
                    }
                    break;
                case 'object':
                    value = Metadata.serializeObject(input);
                    break;
                default :
                    value = $.trim(input.val());
            }

            if (required == "true" && (value === "" || value === null || value === undefined)) {
                Metadata.flagEmptyRequiredField = name;
                input.closest(".form-group").addClass('has-error');
                return;
            } else {
                input.closest(".form-group").removeClass('has-error');
            }
            data[name] = value;
        },

        serializeObject : function(input) {
            var object = new Object;
            var properties = $(input).siblings("#objectFields").find(".propertie").find('input, textarea, select');
            $.each(properties, function() {
                Metadata.serializeField($(this), object);
            })
            return object;
        },

        serializeAdditionnalField : function(input, data) {
            var name = $(this).find('.name').val();
            var value = $.trim($(this).find('.value').val());

            if (value == undefined || value == null || name == ''|| name == undefined || name == null) {
                $(this).closest(".form-group").addClass('has-error');
                Metadata.flagEmptyCustomField = true;
                return;
            } else {
                $(this).closest(".form-group").removeClass('has-error');
            }

            data[name] = value;
        },

        clear : function() {
            $('#archivalProfileFields').empty();
            $('#customFields').empty();
        },

        acceptUserIndex : function(value) {
            if (value) {
                $('#customFields').empty();
                $('#customFieldAddBtn').removeClass("hide");
            } else {
                $('#customFields').empty();
                $('#customFieldAddBtn').addClass("hide");
            }
        },

        fillInMetadata : function(archiveId) {
            $.ajax({
                url         : "/archive/"+archiveId,
                type        : "GET",
                headers     : {"Accept":"application/json"},
                async       : false,
                success     : function (response) {
                    Metadata.archive = response;
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
        }
            })
            Metadata.checkAndFill(Metadata.archive, $("#importPanel"));
            $('#syncImport').parent().prepend('<a href="#" class="btn btn-sm btn-success" data-archive-id="'+archiveId+'" id="modifyArchive"><i class="fa fa-paper-plane-o">&nbsp;</i>Modify</a><i>&nbsp;</i>')
        },

        checkAndFill : function(data, target) {
            if (target.attr("data-type")==="date") {
                data = new Date(data).toLocaleDateString().replace(/\//g, "-");
                target.datepicker('setDate', data);
            }

            if (target.attr("data-type")==="boolean") {
                $.each($(target), function(){
                    if($(this).val() === data) {
                        $(this).parent().siblings("label").removeClass("active");
                        $(this).parent().addClass("active");
                    }
                })
            } else if ($.isPlainObject(data)) {
                $.each(data, function(property, value) {
                    if (property == "description") {
                        $.each(value, function(descProperty, descValue) {
                            Metadata.checkAndFill(descValue, $("label[id='"+descProperty+"']").parent().find("[name="+descProperty+"]"))
                        })
                    } else {
                        if (target.parent().length > 0){
                            input = target.parent().find("[name="+property+"]");
                        } else {
                            input = target.find("[name="+property+"]");
                        }
                        Metadata.checkAndFill(value, input)
    }
                })
            } else if ($.isArray(data)){
                $.each(data, function(index, item) {
                    Metadata.addRowFieldWithData(item, target.parent());
                })
            } else {
                target.val(data);
            }
        },

        addRowFieldWithData : function(data, source) {
            var target = source.find("#arrayFields");
            var type = source.find(".addRowArray").attr('data-rowtype');

            if (type == "[object Object]") {

                objectNumber = (target.find("[data-rowValue]").length) + 1 ;

                var aleaID = guid();
                var toAdd = target.find("#objectFieldTemplate").clone();

                Metadata.checkAndFill(data, toAdd);
                valueInput = JSON.stringify(data);

                toAdd.find("li").removeClass("propertie");
                toAdd.find("h4").children("a").text("Objet n°"+objectNumber);
                toAdd.removeAttr("id");
                toAdd.find("#accordion").find('.panel-collapse').attr("id", aleaID).removeClass("in");
                toAdd.find("#accordion").find('[data-toggle="collapse"]').attr("href", "#"+aleaID).addClass("collapsed");
                toAdd.find("#headingOne").append('<a href="#" class="btn btn-default removeRowArray pull-right"><i class="fa fa-times text-danger"></i></a>')
                
                target.append($("<li class='input-group col-md-12'></li>").append(toAdd));

                toAdd.find("#accordion")
                        .attr("data-rowValue", valueInput);

                // Delete the input value
                target.find("#objectFieldTemplate").find("input, textarea, select").not("[data-type=boolean]").val("");
            } else {
                
                // GET the Input Value
                var valueInput = data;
                var valueToDisplay = valueInput;

                if (valueToDisplay != "") {

                    var row = $('<li class="input-group"></li>');
                    row.append($("<input>")
                        .addClass('form-control')
                        .addClass('input-sm')
                        .attr("data-rowValue", valueInput)
                        .addClass("hidden"));
                    row.append('<input class="form-control" type="text" value="' + valueToDisplay + '" readonly><span class="input-group-btn"><a href="#" class="btn btn-default removeRowArray "><i class="fa fa-times text-danger"></i></a></span>');
                    row.appendTo(target);
                }
            }
            target.siblings("input").first().val(Metadata.serializeArrayFields(target));
        }
    }

    $('#importPanel').on('click', '#modifyArchive', function(e) {
        ArchiveForm.modify(e, $(this));
    });

</script>
<script type="text/javascript" src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
