<div class="tab-pane fade in active col-xs-12" id="folderPanel">
    <div class="row">
        <h4 class="col-xs-11 pull-left">
            <span id="folderPath"/>
            <br/>
            <small id="folderDescription"/>
        </h4>
        <h4 class="col-xs-1 pull-left lockedFolder hide">
            <i class="text-danger fa fa-lock" style="font-size: 30px"/>
        </h4>
    </div>
    <div id="folderContentList">
        <div class="row hide">
            <div id="folderToolbarBtn" class="dropdown pull-right btn-group">
                <button type="button" class="btn btn-sm btn-default" id="folderToolbarSearch" title="Search" disabled><span class="fa fa-search"></span></button>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" id="folderToolbarImport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="New archive" disabled><span class="fa fa-plus"></span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a class="small" style="cursor: pointer;" data-reference="">Without profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="listTemplate" class="hide">
    <div class="archive row">
        <div class="col-xs-11">
            <h5>
                <i class="archiveContentButton fa fa-caret-right">&nbsp;</i>
                <a href="#" class="archiveName"></a>
                <br/>
                &nbsp;&nbsp;
                <small/>&nbsp;
                <small/>&nbsp;
                <small><i/></small>
            </h5>
        </div>
        <div class="archiveContent col-xs-12 hide">
            <ul class="tree-l">
            </ul>
        </div>
    </div>
</div>

<div class="hide">
    <span id="archives_text">archives</span>
    <span id="emptyFolder_text">Empty folder</span>
    <span id="archiveName_text">Name</span>
    <span id="depositDate_text">Deposit date</span>
</div>

<script type="text/javascript">
    ArchiveFolderList = {
        rowTemplate: $('#listTemplate > .archive'),
        folderContents: $('#folderContentList'),

        getfolderContents: function(orgRegNumber, folderId, path, description, archivalProfiles, locked) {
            var url = "/folder?orgRegNumber="+orgRegNumber;
            if (folderId) {
                url = url + "&folderId="+folderId;
            }
            var folderPanel = $('#folderPanel');
            if (locked) {
                folderPanel.find('.lockedFolder').removeClass('hide');
            } else {
                folderPanel.find('.lockedFolder').addClass('hide');
            }

            if (locked) {
                $('#folderToolbarImport').attr('disabled', 'disabled');
            } else {
                $('#folderToolbarImport').removeAttr('disabled');
            }

            $.ajax({
                url         : url,
                type        : "GET",
                dataType    : 'json',
                success     : function (response) {
                    ArchiveFolderList.buildResultList(response.archives);
                    $('#folderPath').text(path);
                    $('#folderDescription').html(description);
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })

            this.getImportForm(orgRegNumber, folderId, archivalProfiles);
            $("#folderToolbarSearch").data("orgregnumber", orgRegNumber).data("folderid", folderId);
        },

        buildResultList: function(archives) {
            $('#rightColumn').html('');

            if (archives.length) {
                $('#folderToolbarFreeze').removeAttr("disabled");
                $('#folderToolbarUnfreeze').removeAttr("disabled");
                $('#folderToolbarSearch').removeAttr("disabled");
            } else {
                $('#folderToolbarFreeze').attr("disabled", "disabled");
                $('#folderToolbarUnfreeze').attr("disabled", "disabled");
                $('#folderToolbarSearch').attr("disabled", "disabled");
            }

            $('#folderContentList').dataList({
                datas        : archives,
                rowMerge     : ArchiveFolderList.mergeRow,
                rowMaxNumber : 10,
                emptyMessage : '<i class="text-muted"><br\/><span class="fa fa-times">&nbsp;<\/span>'+$('#emptyFolder_text').html()+'<\/i>',
                sorting: [
                    {
                        fieldName : 'archiveName',
                        label     : $('#archiveName_text').text()
                    },
                    {
                        fieldName : 'depositDate',
                        label     : $('#depositDate_text').text()
                    }
                ]
            })

            if (!(FilePlan.selectedNode.hasClass('folder') && FilePlan.selectedNode.data('closed'))) {
                this.initDragNDrop();
            }
        },

        mergeRow: function(archive) {
            var archiveDiv = ArchiveFolderList.rowTemplate.clone();
            var siblings = archiveDiv.attr('id', archive.archiveId)
                                     .find('.archiveName').text(archive.archiveName)
                                     .siblings('small');

            if (archive.depositDate) {
                $(siblings[0]).text(archive.depositDate.substring(0, 19));
            }
            if (archive.archivalProfileReference) {
                $(siblings[1]).text(archive.archivalProfileReference);
            }
            if (archive.originatorArchiveId) {
                $(siblings[2]).children('i').text(archive.originatorArchiveId);
            }

            return archiveDiv;
        },

        initDragNDrop: function() {
            $('#folderContentList').find('.archive').draggable({
                revert : true,
                zIndex: 100,
                delay: 200,
                helper: function() {
                    var archive = $(this);
                    var archiveIds = [];
                    var helper = $('<div/>');
                    var title = ""

                    if (archive.hasClass('bg-info')) {
                        $('#folderContentList').find('.bg-info').each(function() {
                            archiveIds.push($(this).attr('id'));
                            title = archiveIds.length + ' ' + $('#archives_text').text();
                        })
                    } else {
                            archiveIds.push(archive.attr('id'));
                            title = archive.find('.archiveName').html();
                    }

                    helper.addClass('archiveHelper')
                        .data('archives', archiveIds)
                        .append($('<i/>').addClass("fa fa-archive")
                                         .css('text-align', 'center')
                                         .css('font-size', '30px'))
                        .append('<br/>')
                        .append(title)
                        .css('opacity', '0.8')
                        .css('color', 'grey')
                        .css('text-align', 'center');
                    return helper
                },
            cancel: ".fa"
            })
        },
        
        getImportForm: function(orgRegNumber, folderId, archivalProfiles) {
            if (archivalProfiles.length < 1) {
                $("#folderToolbarBtn .dropdown-menu").data("archivalprofiles", {});
                $('#folderTab').click();
                return;
            }
            
            $("#folderToolbarBtn .dropdown-menu").data("archivalprofiles", archivalProfiles);

            $('#archiveForm [name="filePlanPosition"]').val(folderId);
            $('#archiveForm [name="originatorOrgRegNumber"]').val(orgRegNumber);
        },

        refresh: function() {
            FilePlan.selectedNode.find('b:first').click();
        }
    }

    function buildDropdownMenu() {
        var archivalProfiles = $("#folderToolbarBtn .dropdown-menu").data("archivalprofiles");
        var dropdown = $("#folderToolbarBtn .dropdown-menu");
        dropdown.children().not(":first").remove();

        for (var i = 0; i < archivalProfiles.length; i++) {
            var a = $("<a/>")
                    .addClass("userProfile small")
                    .data("reference", archivalProfiles[i].reference)
                    .data("json", JSON.stringify(archivalProfiles[i]))
                    .attr('style', "cursor: pointer;")
                    .text(archivalProfiles[i].name);
            $("<li/>").append(a).appendTo(dropdown);
        }
        
        /*
        if ($("#folderContentList").find(".bg-success").length < 1) {
            return;
        }

        var childrenOrg = [];

        FilePlan.getChildrenOrg().each(function() {
            childrenOrg.push({
                    name             : $(this).find("b:first").text(),
                    orgRegNumber     : $(this).data('orgregnumber'),
                    archivalProfiles : $(this).data('archivalprofiles')
                }
            );
        })

        var divider = $("<li/>").addClass("divider");
        var separator = $("<li/>").addClass("small dropdown-header");

        for (var i = 0; i < childrenOrg.length; i++) {
            if (childrenOrg[i].archivalProfiles.length < 1) {
                continue;
            }

            divider.clone().appendTo(dropdown);
            separator.clone().text(childrenOrg[i].name).appendTo(dropdown);
            
            for (var j = 0; j < childrenOrg[i].archivalProfiles.length; j++) {
                var a = $("<a/>")
                        .addClass('childrenProfile small')
                        .data("orgregnumber", childrenOrg[i].orgRegNumber)
                        .data("reference", childrenOrg[i].archivalProfiles[j].reference)
                        .data("json", JSON.stringify(childrenOrg[i].archivalProfiles[j]))
                        .text(childrenOrg[i].archivalProfiles[j].name);
                $("<li/>").append(a).appendTo(dropdown);
            }
        }*/
    }

    $("#folderToolbarBtn").on("show.bs.dropdown", function() {
        buildDropdownMenu();
    });

    $("#folderToolbarBtn").on('click', '.dropdown-menu li a', function() {
        /*if ($(this).hasClass("childrenProfile")) {
            $("#archiveForm [name='filePlanPosition']").val("");
            $("#archiveForm [name='originatorOrgRegNumber']").val($(this).data("orgregnumber"));
        }*/
        var importPanel = $("#importPanel");
        var slectedArchive = $("#folderContentList").find(".bg-success")
        var parentArchiveId = slectedArchive.attr("id");
        var parentArchiveName = slectedArchive.find('a:first').text();
        $("#archiveForm [name='archivalProfileReference']").val($(this).data("reference")).data("json", $(this).data("json")).change();

        importPanel.find("[data-context-path]:first").text($("#folderPath").text());
        importPanel.find("[data-context-path]:first").text($("#folderPath").text());
        importPanel.find("[data-context-description]:first").text($("#folderDescription").text());
        importPanel.find("[data-context-profil]:first").text($(this).text());
        if (slectedArchive.length) {
            $("#archiveForm [name='parentArchiveId']").val(parentArchiveId);
            importPanel.find("[data-context-parentarchive]")
                       .removeClass('hide')
                       .find('[data-context-parentname]').html(parentArchiveName);
        } else {
            $("#archiveForm [name='parentArchiveId']").val('');
            importPanel.find("[data-context-parentarchive]").addClass('hide');

        }

        $('#importTab').click();
    });

    $("#folderToolbarSearch").on('click', function() {
        SearchTab.run($(this).data("orgregnumber"), $(this).data("folderid"));
    });
    
    $("#folderToolbarBtn").on('click','.freeze', function() {
        var archivesIds = [];
        $('#folderContentList').find('.fa-check-square-o').closest('div').each(function(i,ele){
            if (ele.attributes[1]) {
                archivesIds.push(ele.attributes[1].value);
            }
        });
        
        var parameters = {
            archiveIds : archivesIds
        };
        
        $.ajax({
            type        : 'PUT',
            url         : "/recordsManagement/archive/freeze",
            data        : JSON.stringify(parameters),
            contentType : 'application/json',
            dataType    : 'json',
            success     : function (response) {
                gritter.show(response.message, response.status, response.errors);
            },
            error       : function (response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });
    
    $("#folderToolbarBtn").on('click','.unfreeze', function() {
       var archivesIds = [];
        $('#folderContentList').find('.fa-check-square-o').closest('div').each(function(i,ele){
            if (ele.attributes[1]) {
                archivesIds.push(ele.attributes[1].value);
            }
        });
        
        var parameters = {
            archiveIds : archivesIds
        };
        
        $.ajax({
            type        : 'PUT',
            url         : "/recordsManagement/archive/unfreeze",
            data        : JSON.stringify(parameters),
            contentType : 'application/json',
            dataType    : 'json',
            success     : function (response) {
                gritter.show(response.message, response.status, response.errors);

            },
            error       : function (response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });

    $("#folderContentList").on('click','.pagination li', function() {
        ArchiveFolderList.initDragNDrop();
    });
</script>
