<div class="tab-pane fade in active col-xs-12" id="folderPanel">
    <div class="row">
        <h4 class="pull-left">
            <span id="folderPath"/>
            <br/>
            <small id="folderDescription"/>
        </h4>
        <div id="importDropdownBtn" class="dropdown pull-right" style="display: none;">
            <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Create
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="small" data-reference="">Without profile</a></li>
            </ul>
        </div>
    </div>
    <i id="emptyFolderMessage" class="hide text-muted"><br/><span class="fa fa-times">&nbsp;</span>Empty folder</i>
    <div id="folderContentList" class="hide">
        <div class="row">
            <h4 class="pull-left" style="width:15px"><i class="selectAll archiveSelection fa fa-square-o"/></h4>
        </div>
        <div id="folderContents"/>
    </div>
</div>

<div id="listTemplate" class="hide">
    <div class="archive row">
        <h4 class="pull-left" style="width:15px"><i class="archiveSelection fa fa-square-o"/></h4>
        <div class="col-xs-11">
            <h5>
                <i class="archiveContentButton fa fa-caret-right">&nbsp;</i>
                <a href="#" class="archiveName"></a>
                <br/>
                &nbsp;&nbsp;
                <small/>&nbsp;
                <small/>&nbsp;
                <small><i/></small>
            </h5>
        </div>
        <div class="archiveContent col-xs-12 hide">
            <ul class="tree-l">
            </ul>
        </div>
    </div>
</div>
<div id="archiveContentTemplate" class="hide">
    <li>
        <span>
            <i class='fa'/>
            <span></span>
        </span>
    </li>
</div>

<div class="hide">
    <span id="archives_text">archives</span>
</div>
<style>
    .archive h5 {
        margin: 6px 0px 6px 0px;
    }
    .archive small {
        font-size: 10px;
    }
    .archive .tree-l {
        font-size: 12px;
        margin: 0px;
    }
    .archive .tree-l li, .archive .tree-l li>span>span {
        padding: 0px;
    }
    #folderContentList .archiveSelection,
    #folderContentList .archiveContentButton,
    #folderContentList a,
    #folderContentList .bg-success,
    #folderContentList .archive .tree-l li>span>span {
        cursor: pointer;
    }
    #folderContentList .selectedChild {
        font-weight: bold;
    }

</style>

<script type="text/javascript">
    ArchiveList = {
        archivesOrder: [],
        archivesList: [],
        folderContents: $('#folderContents'),

        select: function(e, c) {
            this.unselect()
            e.addClass('bg-success');

            if (c) { c.addClass('selectedChild') }
         },

        unselect: function() {
            $('#rightColumn').html('');
            this.folderContents.find('.bg-success').removeClass('bg-success')
                               .find('.selectedChild').removeClass('selectedChild');
        },

        getfolderContents: function(orgRegNumber, folderId, path, description, archivalProfiles) {
            var url = "/folder?orgRegNumber="+orgRegNumber;
            if (folderId) {
                url = url + "&folderId="+folderId;
            }

            $.ajax({
                url         : url,
                type        : "GET",
                dataType    : 'json',
                success     : function (response) {
                    ArchiveList.buildResultList(response.archives);
                    $('#folderPath').text(path);
                    $('#folderDescription').html(description);
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })

            this.getImportForm(orgRegNumber, folderId, archivalProfiles);
        },

        buildResultList: function(archives) {
            var template = $('#listTemplate').children('.archive');
            this.archivesOrder = [];

            this.folderContents.html('');
            $('#rightColumn').html('');

            if (archives.length) {
                $('#emptyFolderMessage').addClass('hide');
                $('#folderContentList').removeClass('hide');
            } else {
                $('#emptyFolderMessage').removeClass('hide');
                $('#folderContentList').addClass('hide');
            }

            for(i=0; i<archives.length; i++) {
                var archiveDiv = template.clone();
                var siblings = archiveDiv.attr('id', archives[i].archiveId)
                                         .find('.archiveName').text(archives[i].archiveName)
                                         .siblings('small');

                if (archives[i].depositDate) {
                    $(siblings[0]).text(archives[i].depositDate.substring(0, 19));
                }
                if (archives[i].archivalProfileReference) {
                    $(siblings[1]).text(archives[i].archivalProfileReference);
                }
                if (archives[i].originatorArchiveId) {
                    $(siblings[2]).children('i').text(archives[i].originatorArchiveId);
                }

                this.folderContents.append(archiveDiv);
                this.archivesOrder.push(archiveDiv);
                this.archivesList.push(archives[i]);
            }

            this.folderContents.find('.selectAll').removeClass('fa-check-square-o').addClass('fa-square-o');

            this.initDragNDrop();
        },

        initDragNDrop: function() {
            $('#folderContentList').find('.archive').draggable({
                revert : true,
                zIndex: 100,
                delay: 100,
                helper: function() {
                    var archive = $(this);
                    var archiveIds = [];
                    var helper = $('<div/>');
                    var title = ""

                    if (archive.hasClass('bg-info')) {
                        $('#folderContentList').find('.bg-info').each(function() {
                            archiveIds.push($(this).attr('id'));
                            title = archiveIds.length + ' ' + $('#archives_text').text();
                        })
                    } else {
                            archiveIds.push(archive.attr('id'));
                            title = archive.find('.archiveName').html();
                    }

                    helper.addClass('archiveHelper')
                        .data('archives', archiveIds)
                        .append($('<i/>').addClass("fa fa-archive")
                                         .css('text-align', 'center')
                                         .css('font-size', '40px'))
                        .append('<br/>')
                        .append(title)
                        .css('opacity', '0.8')
                        .css('color', 'grey')
                        .css('text-align', 'center');
                    return helper
                }
            })
        },
        
        getImportForm: function(orgRegNumber, folderId, archivalProfiles) {
            if (archivalProfiles.length < 1) {
                $('#importDropdownBtn').hide();
                $('#folderTab').click();
                return;
            }
            
            $("#folderToolbarBtn .dropdown-menu").data("archivalprofiles", JSON.stringify(archivalProfiles));

            $('#folderToolbarImport').removeAttr("disabled");
            $('#archiveForm [name="filePlanPosition"]').val(folderId);
            $('#archiveForm [name="originatorOrgRegNumber"]').val(orgRegNumber);
        },

        refresh: function() {
            FilePlan.selectedNode.find('b:first').click();
        }
    }

    Archive = {
        archiveContentTemplate: $('#archiveContentTemplate').children('li'),

        getInfo: function(archiveId) {
            $.ajax({
                url         : "/archive/"+archiveId,
                type        : "GET",
                success     : function (response) {
                    $('#rightColumn').html(response);
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },
        getContent: function(archive) {
            $.ajax({
                url         : "/archiveContents/"+archive.attr('id'),
                type        : "GET",
                dataType    : 'json',
                success     : function (response) {
                    archive.find('.archiveContent').removeClass('hide').find('ul').html('');
                    Archive.showArchiveContent(archive.find('.archiveContent'), response.digitalResources, response.childrenArchives, false);
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        getResourceInfo: function(resource) {
            $.ajax({
                url         : "/documentInfo",
                type        : "GET",
                success     : function (response) {
                    $('#rightColumn').html(response);
                    DocumentInformation.load(resource.data('json'));
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        showArchiveContent: function(parent, digitalResources, childrenArchives, hidden) {
            if (digitalResources) {
                for(i=0; i < digitalResources.length; i++) {
                    template = this.archiveContentTemplate.clone();

                    template.children('span')
                            .children('i')
                            .addClass('fa fa-file-o')
                            .siblings('span')
                            .addClass('document')
                            .data('json', digitalResources[i])
                            .attr('id', digitalResources[i].resId)
                            .html(digitalResources[i].fileName);

                    BootstrapTree.addNode(parent, template, hidden);
                }
            }

            if (childrenArchives) {
                for(i=0; i < childrenArchives.length; i++) {
                    template = this.archiveContentTemplate.clone();

                    template.children('span')
                            .children('i')
                            .addClass('fa')
                            .data('closed-icon', 'fa-caret-right')
                            .data('opened-icon', 'fa-caret-down')
                            .siblings('span')
                            .addClass('childrenArchive')
                            .attr('id', childrenArchives[i].archiveId)
                            .html(childrenArchives[i].archiveName);

                    BootstrapTree.addNode(parent, template, hidden);

                    this.showArchiveContent(template, childrenArchives[i].digitalResources, childrenArchives[i].childrenArchives, false);
                }
            }
        }
    }

    function buildDropdownMenu() {
        var archivalProfiles = JSON.parse($("#folderToolbarBtn .dropdown-menu").data("archivalprofiles"));
        
        var dropdown = $("#folderToolbarBtn .dropdown-menu");
        dropdown.children().not(":first").remove();

        for (var i = 0; i < archivalProfiles.length; i++) {
            var a = $("<a/>")
                    .addClass("userProfile small")
                    .data("reference", archivalProfiles[i].reference)
                    .data("json", JSON.stringify(archivalProfiles[i]))
                    .text(archivalProfiles[i].name);
            $("<li/>").append(a).appendTo(dropdown);
        }
        
        if ($("#folderContentList").find(".bg-success").length < 1) {
            return;
        }

        var childrenOrg = [];

        FilePlan.getChildrenOrg().each(function() {
            childrenOrg.push({
                    name             : $(this).find("b:first").text(),
                    orgRegNumber     : $(this).data('orgregnumber'),
                    archivalProfiles : $(this).data('archivalprofiles')
                }
            );
        })

        var divider = $("<li/>").addClass("divider");
        var separator = $("<li/>").addClass("small dropdown-header");

        for (var i = 0; i < childrenOrg.length; i++) {
            if (childrenOrg[i].archivalProfiles.length < 1) {
                continue;
            }

            divider.clone().appendTo(dropdown);
            separator.clone().text(childrenOrg[i].name).appendTo(dropdown);
            
            for (var j = 0; j < childrenOrg[i].archivalProfiles.length; j++) {
                var a = $("<a/>")
                        .addClass('childrenProfile small')
                        .data("orgregnumber", childrenOrg[i].orgRegNumber)
                        .data("reference", childrenOrg[i].archivalProfiles[j].reference)
                        .data("json", JSON.stringify(childrenOrg[i].archivalProfiles[j]))
                        .text(childrenOrg[i].archivalProfiles[j].name);
                $("<li/>").append(a).appendTo(dropdown);
            }
        }
    }

    // List icon toggle
    $('#folderContentList').on('click', '.archiveSelection', function() {
        var checkbox = $(this);
        if (checkbox.hasClass('fa-square-o')) {
            checkbox.removeClass('fa-square-o').addClass('fa-check-square-o')
                    .closest('.archive').addClass('bg-info');
        } else {
            checkbox.removeClass('fa-check-square-o').addClass('fa-square-o')
                    .closest('.archive').removeClass('bg-info');
        }
    })

    $('#folderContentList').on('click', '.archiveContentButton', function() {
        var caret = $(this);
        if (caret.hasClass('fa-caret-right')) {
            $('#folderContentList').find('.fa-caret-down').click();
            caret.removeClass('fa-caret-right').addClass('fa-caret-down');
            Archive.getContent($(this).closest('.archive'));
        } else {
            caret.removeClass('fa-caret-down').addClass('fa-caret-right')
                 .closest('div').siblings('.archiveContent').addClass('hide');
        }
    })

    $('#folderContentList').on('click', '.selectAll', function() {
        var checkbox = $(this);
        if (checkbox.hasClass('fa-square-o')) {
            $('#folderContentList').find('.fa-check-square-o').click();
        } else {
            $('#folderContentList').find('.fa-square-o').click();
        }
    })

    // Actions on archives
    $('#folderContents').on('click', '.archiveName', function() {
        var archive = $(this).closest('.archive');
        var archiveId = archive.attr('id');
        ArchiveList.select(archive);
        Archive.getInfo(archiveId);
    })

    $('#folderPanel').on('click', function(e) {
        if ($(e.target).css('cursor') != "pointer") {
            ArchiveList.unselect();
        }
    })


    $('#folderContents').on('click', '.childrenArchive', function() {
        var parentArchive = $(this).closest('.archive');
        var archiveId = $(this).attr('id');
        ArchiveList.select(parentArchive, $(this));
        Archive.getInfo(archiveId);
    })

    $('#folderContents').on('click', '.document', function() {
        var parentArchive = $(this).closest('.archive');
        var resId = $(this).attr('id');
        ArchiveList.select(parentArchive, $(this));
        Archive.getResourceInfo($(this));
    })

    $("#importDropdownBtn").on('click', '.dropdown-menu li a', function() {
        ArchiveList.select(parentArchive);
        Archive.getResourceInfo($(this));
    })

    $(".dropdown").on("show.bs.dropdown", function(event){
        buildDropdownMenu();
    });

    $("#folderToolbarBtn").on('click', '.dropdown-menu li a', function() {
        if ($(this).hasClass("childrenProfile")) {
            $("#archiveForm [name='filePlanPosition']").val("");
            $("#archiveForm [name='originatorOrgRegNumber']").val($(this).data("orgregnumber"));
        }
        var parentArchiveId = $("#folderContentList").find(".bg-success").attr("id");
        $("#archiveForm [name='parentArchiveId']").val(parentArchiveId);
        $("#archiveForm [name='archivalProfileReference']").val($(this).data("reference")).data("json", $(this).data("json")).change();
        $('#importTab').click();
    });
</script>
