<div id="archiveList" class="col-xs-12">
    <div class="archive">
        <div class="col-xs-1">
            <h4 class="pull-left"><i class="archiveSelection fa fa-square-o"/></h4>
        </div>
        <div class="col-xs-11">
            <h5>
                <i class="archiveContent fa fa-caret-right">&nbsp;</i>
                <a href="#">Archive name</a>
                &nbsp;<small><i>originator id</i></small>
                <br/>
                <small>depositDate</small>&nbsp;
                <small>profile</small>
            </h5>
        </div>
    </div>
</div>

<style type="text/css">
    .archiveSelection {
        cursor: pointer;
    }
</style>

<script>
    $('#archiveList').on('click', '.archiveSelection', function() {
        var checkbox = $(this);
        if (checkbox.hasClass('fa-square-o')) {
            checkbox.removeClass('fa-square-o').addClass('fa-check-square-o');
        } else {
            checkbox.removeClass('fa-check-square-o').addClass('fa-square-o');
        }
    })
</script>