<div class="hide row" id="importPanel">
    <div class="col-xs-12">
        <div class="row">
            <h4 class="pull-left">
                <span id="import_archivalProfile"/>
                <br/>
                <small id="import_isSubArchive"><span>Sub-archive of </span><span id="import_parentArchiveName"><b></b></span></small>
            </span>
        </h4>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <?hinclude dashboard/mainScreen/archiveForm.html ?>
        </div>
        <div class="col-lg-4 col-md-12">
            <?hinclude dashboard/mainScreen/documentForm.html ?>    
        </div>
    </div>
        <div class="pull-right">
            <?merge syncImportPrivilege.bool() ?>
            <a href="#" class="btn btn-sm btn-success" id="syncImport"><i class="fa fa-paper-plane-o">&nbsp;</i>Import</a>
            <i>&nbsp;</i>
            <?merge asyncImportPrivilege.bool() ?>
            <a href="#" class="btn btn-sm btn-warning" id="asyncImport"><i class="fa fa-paper-plane-o">&nbsp;</i>Import with validation</a>

            <i>&nbsp;</i>
            <a href="#" class="btn btn-sm btn-danger small" id="cancel"><i class="fa fa-times">&nbsp;</i>Cancel</a>
        </div>
    </div>
</div>

<script type="text/javascript">

    ImportPanel = {
        panel: $('#importPanel'),
        load: function(archivalProfile, orgRegNumber, folderId, parentArchiveId, parentArchiveName) {
            $('#archiveForm [name="originatorOrgRegNumber"]').val(orgRegNumber);
            $('#archiveForm [name="filePlanPosition"]').val(folderId);

            this.panel.removeClass('hide');

            if (!archivalProfile) {
                archivalProfile = "";
            }

            $("#archiveForm [name='archivalProfileReference']").val(archivalProfile.reference).data("json", archivalProfile).change();
            $("#import_archivalProfile").text(archivalProfile.name);

            if (!parentArchiveId) {
                $("#archiveForm [name='parentArchiveId']").val('');
                $('#import_isSubArchive').addClass('hide');
            } else {
                $("#archiveForm [name='parentArchiveId']").val(parentArchiveId);
                $('#import_parentArchiveName').find('b').text(parentArchiveName);
            }

            trigger("archiveImportStarted.recordsManagement");
        },

        save: function(e, button) {
            ArchiveForm.send(e, button);
        },
        cancel: function() {
            ArchiveForm.clear();
            this.panel.addClass('hide');
        }
    }

    $("#importPanel").onEvent('newArchiveForm.recordsManagement', function(e, archivalProfile, orgRegNumber, folderId, parentArchiveId, parentArchiveName) {
        ImportPanel.load(archivalProfile, orgRegNumber, folderId, parentArchiveId, parentArchiveName);
    });

    $('#import').on('click', function(e) {
        ImportPanel.save(e, $(this));
    });

    $('#syncImport').on('click', function(e) {
        ArchiveForm.send('sync', e, $(this));
    });

    $('#asyncImport').on('click', function(e) {
        ArchiveForm.send('async', e, $(this));
    });

    $('#cancel').on('click', function(e) {
        ImportPanel.cancel();
        trigger("archiveImportOver.recordsManagement");
    });
</script>