<div class="panel-body" id="importPanel" style="display:none">
    <br/>
    <br/>
    <div class="panel">
        <div class="panel-body">
            <div class="col-md-6">
                <?hinclude recordsManagement/archiveImport/archiveForm.html ?>
                <hr/>
                <?hinclude recordsManagement/archiveImport/descriptionForm.html ?>
            </div>
            <div class="col-md-6">
                <?hinclude recordsManagement/archiveImport/documentForm.html ?>    
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
</script>