<div class="row" id="importResourcePanel">
    <div class="col-xs-12">
        <div class="row">
            <h4 class="pull-left"></h4>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <?hinclude dashboard/mainScreen/resourceForm.html ?>
        </div>
    </div>
        <span id="resourceArchiveId" class="hidden"></span>
        <div class="pull-right">
            <a href="#" class="btn btn-sm btn-success" id="addResource"><i class="fa fa-paper-plane-o">&nbsp;</i>Import</a>
            <i>&nbsp;</i>
            <i>&nbsp;</i>
            <a href="#" class="btn btn-sm btn-danger small" id="cancelResource"><i class="fa fa-times">&nbsp;</i>Cancel</a>
        </div>
    </div>
</div>

<script type="text/javascript">

    ResourcePanel = {
        send : function(type, event, button) { //
            let url = null;
            let data = null;
            let archive = null;

            if (type === 'sync') {
                url = "/archive";
                archive = this.syncSerialize();

                if (archive < 0) {
                    return;
                }

                data = JSON.stringify({archive : archive, zipContainer : ResourceForm.zipContainer});
            } else {
                url = "/transfer";
                data = this.asyncSerialize();

                if (data.message <0) {
                    return;
                }

                data = JSON.stringify(data);

            }
            ajax($(button),
                {
                    type        : 'POST',
                    url         : url,
                    data        : data,
                    contentType : 'application/json',
                    dataType    : 'json',
                    success     : function (response) {
                        gritter.show(response.message, response.status, response.errors);

                        if (response.status) {
                            trigger("archiveImportOver.recordsManagement", [archive.parentArchiveId]);
                            ImportPanel.cancel();
                            var folder = archive.originatorOrgRegNumber;
                            if (archive.filePlanPosition) {
                                folder = archive.filePlanPosition;
                            }
                            trigger('loadFolder.filePlan', [folder]);
                        }
                    },
                    error       : function (response) {
                        gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                    }
                }
            );
        },

        save: function(e, button) {
            $('#newResourceModal').modal("hide");
            // ArchiveForm.send(e, button);
        },

        cancel: function() {
            resourceList.clear();
            $('#newResourceModal').modal("hide");
        }
    }

    $("#addResource").on('click', function() {
        digitalResource = resourceList.serialize();
        var archiveId = $("#resourceArchiveId").text();

        var basename = digitalResource[0].fileName.substr( (digitalResource[0].fileName.lastIndexOf('.') +1) );

        var data = {
            contents : digitalResource[0].handler,
            filename : $('#resourceList').find('td[name=fileName]').text()
        };
        $.ajax({
            url         : archiveId+'/digitalResource',
            type        : 'POST',
            contentType : "application/json",
            data        : JSON.stringify(data),
            dataType    :'json',
            success     : function (response) {
                ResourcePanel.cancel();
                trigger("archiveImportOver.recordsManagement", [archiveId]);
            },
            error       : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });

        return;
    });

    $('#cancelResource').on('click', function(e) {
        ResourcePanel.cancel();
        trigger("archiveImportOver.recordsManagement");
    });
</script>
