<div class="tab-pane fade" id="importPanel">
    <div class="col-xs-12">
        <div class="row">
            <h4 class="pull-left">
                <span data-context-profil/>
                <br/>
                <small data-context-path/>
                <span data-context-parentarchive>
                    <br/>
                    <small><span>Sub-archive of</span> <b data-context-parentname/></small>
                </span>
            </h4>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <?hinclude dashboard/mainScreen/archiveForm.html ?>
            </div>
            <div class="col-lg-4 col-md-12">
                <?hinclude dashboard/mainScreen/documentForm.html ?>    
            </div>
        </div>

        <div class="pull-right">
            <a href="#" class="btn btn-sm bg-success" id="import"><i class="fa fa-paper-plane-o">&nbsp;</i>Import</a>
            <i>&nbsp;</i>
            <a href="#" class="small text-danger" id="cancel">Cancel</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#import').on('click', function(e) {
        ArchiveForm.send(e, $(this));
    });

    $('#cancel').on('click', function(e) {
        ArchiveForm.clear();
        $('#folderTab').click();
    });
</script>