<div class="row">
    <div class="col-md-3">
    	<?hinclude /filePlan/tree.html ?>
    </div>
    <div class="col-md-7">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#folderPanel" data-toggle="tab"><span class="fa fa-folder-open-o">&nbsp;</span>Folder</a>
                </li>
                <li>
                    <a href="#importPanel" data-toggle="tab"><span class="fa fa-plus">&nbsp;</span>Create</a>
                </li>
                <li>
                    <a  href="#searchPanel" data-toggle="tab"><span class="fa fa-search">&nbsp;</span>Search</a>
                </li>
                <li>
                    <button type="button" class="btn btn-link"><span class="fa fa-plus"></button>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <?hinclude dashboard/mainScreen/search.html ?>
            <?hinclude dashboard/mainScreen/import.html ?>
            <?hinclude dashboard/mainScreen/folder.html ?>
        </div>
    </div>
    <div class="col-md-2">
        <?hinclude dashboard/mainScreen/information.html ?>
    </div>
</div>

<script>

</script>