<div class="row">
    <div class="col-md-12">
        <a href="#" id="hideFileplanBtn"><span class="fa fa-eye-slash">&nbsp;</span>Hide the file plan</a>
        <a href="#" id="showFileplanBtn" style="display: none"><span class="fa fa-eye-slash">&nbsp;</span>Show the file plan</a>
    </div>
    <div class="col-md-3" id="leftColumn">
    	<?hinclude /filePlan/tree.html ?>
    </div>
    <div class="col-md-7" id="middleColumn">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#folderPanel" id="folderTab" data-toggle="tab"><span class="fa fa-folder-open-o">&nbsp;</span>Folder</a>
                </li>
                <li>
                    <a href="#importPanel" id="importTab" data-toggle="tab" style="display: none"><span class="fa fa-plus">&nbsp;</span>Create</a>
                </li>
                <li>
                    <a href="#searchPanel" id="searchTab" data-toggle="tab"><span class="fa fa-search">&nbsp;</span>Search</a>
                </li>
                <li>
                    <a href="#" id="newSearchTabBtn"><span class="fa fa-plus"></span></a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <?hinclude dashboard/mainScreen/search.html ?>
            <?hinclude dashboard/mainScreen/import.html ?>
            <?hinclude dashboard/mainScreen/folder.html ?>
        </div>
    </div>
    <div class="col-md-2" id="rightColumn">
        <?hinclude dashboard/mainScreen/information.html ?>
    </div>
</div>

<script>
    $('#newSearchTabBtn').on("click", function() {
        alert("Creation of new search tab in progress...");
    });

</script>