<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <button type="button" class="btn btn-default btn-sm" id="hideFileplanBtn"><span class="fa fa-eye-slash">&nbsp;</span></button>
            <button type="button" class="btn btn-default btn-sm" id="showFileplanBtn"  style="display: none"><span class="fa fa-eye">&nbsp;</span></button>
        </div>
    </div>
    <div class="col-md-3" id="leftColumn">
    	<?hinclude /filePlan/tree.html ?>
    </div>
    <div class="col-md-6" id="middleColumn">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#folderPanel" id="folderTab" data-toggle="tab"><span class="fa fa-folder-open-o">&nbsp;</span>Folder</a>
            </li>
            <li>
                <a href="#importPanel" id="importTab" data-toggle="tab" style="display: none"><span class="fa fa-plus">&nbsp;</span>Create</a>
            </li>
            <li>
                <a href="#searchPanel" id="searchTab" data-toggle="tab"><span class="fa fa-search">&nbsp;</span>Search</a>
            </li>
            <li>
                <a href="#" id="newSearchTabBtn"><span class="fa fa-plus"></span></a>
            </li>
        </ul>
        <div class="tab-content">
            <?hinclude dashboard/mainScreen/search.html ?>
            <?hinclude dashboard/mainScreen/import.html ?>
            <?hinclude dashboard/mainScreen/folder.html ?>
        </div>
    </div>
    <div class="col-md-2" id="rightColumn">
        <?hinclude dashboard/mainScreen/information.html ?>
    </div>
</div>

<script>
    $('#newSearchTabBtn').on("click", function() {
        alert("Creation of new search tab in progress...");
    });
    $('#hideFileplanBtn').on("click", function() {
        $('#showFileplanBtn').show();
        $('#hideFileplanBtn').hide();

        $("#leftColumn").hide("slide", { direction: "left" }, 200, function() {
            $("#leftColumn").removeClass("col-md-3");

            $("#middleColumn").removeClass("col-md-7");
            $("#middleColumn").addClass("col-md-10");
        });
    });
    $('#showFileplanBtn').on("click", function() {
        $('#showFileplanBtn').hide();
        $('#hideFileplanBtn').show();

        $("#middleColumn").removeClass("col-md-10");
        $("#middleColumn").addClass("col-md-7");
        $("#leftColumn").addClass("col-md-3");
        $("#leftColumn").show("slide", { direction: "left" }, 200);
    });

</script>