<!--#
    This file is part of the auth package.
    (c) Maarch Prospre DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div id="resourceForm" class="row">
    <form>
        <input type="file" id="resource_filesBrowser" class="hide"/>
        <div id="resource_XMLDropZone">
            <i class="fa fa-file-text fileIcon">&nbsp;</i>
            <h5>Click or drop documents</h5>
        </div>
        <span class="hide">
            <input name="zipContainer" type="checkbox"> Zip container
        </span>
    </form>
    <br/>
    <table id="resourceList" class="table table-condensed col-xs-12" style="display: none">
        <tbody>
        </tbody>
    </table>
</div>

<div class="hide">
    <!-- ERROR MESSAGE -->
    <div data-translate-catalog="recordsManagement/message">
        <span id="emptyResource_error">Your ressource is empty</span>
    </div>
</div>

<style type="text/css">
    #resource_XMLDropZone {
        border: 2px dashed grey;
        cursor: pointer;
        padding: 50px 10px 50px 10px;
        text-align: center;
        color: grey;
        opacity: 0.5;
    }
    .fileIcon {
        font-size: 300%;
    }
    #resourceList tbody tr td{
        word-break: break-all;
        vertical-align: middle;
    }
</style>

<script type="text/javascript">

    var ResourceForm = {
    	documentFileInput: $('#resource_filesBrowser'),
        zipContainer: false,

        reset: function() {
            this.documentFileInput.data('base64', '').val('');
        },

        upload: function(file) {
            var oFileReader = new FileReader();
            oFileReader.readAsDataURL(file);

            oFileReader.onload = function (e) {
                var fileObject = {
                    binary  : null,
                    size    : null,
                    fileName: null,
                    type    : null
                }

                fileObject.binary = oFileReader.result.replace(/(^data:.*?;base64,)/, "");
                fileObject.fileName = file.name;
                fileObject.size = file.size;
                fileObject.type = file.type;

                if (fileObject.size == 0) {
                    gritter.show($('#emptyResource_error').text(), false);
                    return -1;
                }

                if ((fileObject.type == "application/x-zip-compressed" || fileObject.type == "application/zip") && resourceList.card == 0) {
                    $('#resource_XMLDropZone').addClass('hide');
                    $('#resourceForm').find("[name=zipContainer]").prop('checked', true).parent().removeClass('hide');
                    ResourceForm.zipContainer = true;
                
                } else if (ResourceForm.zipContainer) {
                    ResourceForm.disabledZipContainter();
                }
                

                resourceList.addDocument(fileObject);
            };
        },

        disabledZipContainter: function() {
            $('#resource_XMLDropZone').removeClass('hide');
            $('#resourceForm').find("[name=zipContainer]").prop('checked', false).parent().addClass('hide');
            this.zipContainer = false;
        }
    }

    var resourceList = {
        table: $('#resourceList'),
        list: $('#resourceList').find('tbody'),
        card: 0,

        addDocument: function(fileObject) {
            if ($('#resourceList').find('td:contains("'+fileObject.fileName+'")').length) {
                return;
            }
            
            var tr = $('<tr/>').attr('data-binary', fileObject.binary).appendTo(this.list);

            $('<td class="small">').attr('name', 'fileName').text(fileObject.fileName).appendTo(tr);
            $('<td class="hide">').attr('name', 'size').text(fileObject.size).appendTo(tr);
            $('<td class="hide">').attr('name', 'type').text(fileObject.type).appendTo(tr);

            var button = $('<button>')
                    .attr('type', 'button')
                    .addClass('deleteDocument')
                    .addClass("btn btn-sm btn-link pull-right");
            var i = $('<i/>').addClass('fa fa-times text-danger').appendTo(button);
            $('<td>').append(button).appendTo(tr);

            this.card = this.card+1;
            if (this.table.is(":hidden")) {
                if ($('#archiveForm [name=archiveName]').val() == "") {
                    $('#archiveForm [name=archiveName]').val(fileObject.fileName.replace(/\.[^/.]+$/, ""));
                }

                this.table.show();
            }
            $("#resource_XMLDropZone").addClass("hide");
        },

        removeDocument: function(button) {
            button.closest('tr').remove();
            
            this.card = this.card-1;
            if (this.list.find("tr").length == 0) {
                this.table.hide();
            }
            $("#resource_XMLDropZone").removeClass("hide");
        },

        clear: function() {
            this.card = 0;
            this.list.html("");
            this.table.hide();
            ResourceForm.disabledZipContainter();
        },

        serialize: function() {
            var tr = this.list.find('tr');

            var digitalResources = [];

            $.each(tr, function(){
                var digitalResource = {
                    handler     : null,
                    size        : null,
                    fileName    : null,
                    mimetype    : null
                }

                digitalResource.handler = $(this).attr('data-binary');
                digitalResource.fileName = $(this).find("[name=fileName]").text();
                digitalResource.size = $(this).find("[name=size]").text();
                digitalResource.mimetype = $(this).find("[name=type]").text();
                
                digitalResources.push(digitalResource);
                
            });

            if (digitalResources.length == 0) {
                digitalResources = null;
            }

            return digitalResources;
        },

        asyncSerialize: function() {
            var tr = this.list.find('tr');

            var binaryDataObject = {};

            $.each(tr, function(){
                var id = Math.random().toString(36).substr(2, 9);
                var obj = {};
                obj[id] = {
                    attachment : {
                        value        : null,
                        filename    : null
                    },
                    mimetype    : null,
                    size        : null
                };

                obj[id].attachment.value = $(this).attr('data-binary');
                obj[id].attachment.filename = $(this).find("[name=fileName]").text();
                obj[id].mimetype = $(this).find("[name=type]").text();
                obj[id].size = $(this).find("[name=size]").text();

                binaryDataObject[id] = obj[id];
            });

            return binaryDataObject;

        }
    };

    $('#resourceList').on('click', '.deleteDocument', function() {
        resourceList.removeDocument($(this));
    });

    // Drag & drop
    $('#resource_XMLDropZone').on('dragenter', function(e) {
        e.preventDefault();
        e.stopPropagation();
    });

    $('#resource_XMLDropZone').on('dragover', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $('#resource_XMLDropZone').css('opacity', '1');
    });

    $("#resource_XMLDropZone").on('dragleave', function(e) {
        $('#resource_XMLDropZone').css('/', '0.5');
    });

    $('#resource_XMLDropZone').on('drop', function(e) {
        if(!e.originalEvent.dataTransfer || !e.originalEvent.dataTransfer.files.length){
            return;
        }

        e.preventDefault();
        e.stopPropagation();
        $('#resource_XMLDropZone').css('opacity', '0.5');

        ResourceForm.upload(e.originalEvent.dataTransfer.files[0]);
    });

    // Files browser
    $('#resource_XMLDropZone').on('click', function() {
        $('#resource_filesBrowser').click();
    });

    $('#resource_filesBrowser').on('change', function() {
        ResourceForm.upload($(this).get(0).files[0]);
        ResourceForm.reset();
    });

    $('#resourceForm').on('click', '[name=zipContainer]', function() {
        ResourceForm.disabledZipContainter();
    });
</script>
