<br>
<div class="container-fluid" data-translate-catalog="organization/messages">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                </div>
                <div class="panel-body" style="padding: 0;">
                    <table class="table dataTable">
                        <thead>
                        <tr>
                            <th/>
                            <th>Name</th>
                            <th>Parent name</th>
                            <th>Enabled</th>
                            <th/>
                        </tr>
                        </thead>
                        <tbody>
                        <?merge organizations /organization/orgList/orgListLine.html ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>