<script>
    $('#accessEntries').on('click', 'li', function () {
        var archivalProfileAccess = $(this).data('json');

        if (archivalProfileAccess.archivalProfileReference !== '*') {
            $('#profileReference').val(archivalProfileAccess.archivalProfileReference);
            $('#updateArchivalProfile').show();
        }

        if (archivalProfileAccess.originatorAccess) {
            $('#serviceLevelReference').parent().show();
        } else {
            $('#serviceLevelReference').parent().hide();
        }
        $('#serviceLevelReference').parent().show();

        $('#accessEntries li').removeClass('active');
        $(this).addClass('active');
        $('#addArchivalProfile').hide();
    });

    $('#profileReference').change(function () {
        $('#addArchivalProfile').show();
        $('#updateArchivalProfile').hide();
        $('#accessEntries li').removeClass('active');
    });
</script>
