<!--#
    This file is part of the maarchRM package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div id="contain" lang="en" data-translate-catalog="organization/messages">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-sitemap"></i>
                Organization
            </h1>
        </div>
    </div>

    <div class="container-fluid" lang="en" data-translate-catalog="organization/messages">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-lg-5" >
                <?merge addOrganizationRight.bool() ?>
                <button id="newOrganization" class="btn btn-default" title="Add a new organization"><i class="fa fa-plus">&nbsp;</i>New organization</button>
                <button id="dropAllList" class="btn btn-default" title="Drop the organizations list down" data-original-title="Drop the organizations list down"><i class="fa fa-caret-down">&nbsp;</i><span class="dropDownText">Drop the organizations list down</span></button>
                <div id="treeLoading"><i class="fa fa-spinner fa-spin"></i></div>

                <div id="organization_orgTree">
                    <!-- Organization tree goes here -->
                </div>
            </div>
            <div class="col-xs-12 col-lg-6" id="forms">
                <?hinclude organization/organizationForm.html ?>
                <?hinclude organization/organizationInfo.html ?>
                <?hinclude organization/organizationMoveForm.html ?>
            </div>
        </div>
        <!-- modal for delete confirmation -->
        <?hinclude organization/deleteModal.html ?>
    </div>
    <div class="hide">
        <span id="dropDownTextDown">Drop the organizations list down</span>
        <span id="dropDownTextUp">Wrap the organizations list</span>
    </div>
</div>

<style>
 #treeLoading {
    font-size: 50px;
    text-align: center;
    padding: 80px;
 }

 .selectedNode {
    /*border: 3px solid #d9534f !important;*/
    border: 3px solid #f0ad4e !important;
}
</style>

<script src="/public/js/bootstrap-tree/bootstrap-tree.js"></script>

<script>
    // New organization
    $('#newOrganization').on('click', function() {
        Forms.clear();
        OrganizationForm.newOrg();
    })

    // Add a child organization
    $("#organization_orgTree").on('click', '.addChildOrganization', function() {
        var span = $(this).closest('span');
        var orgId = span.attr("id");
        var parentName = span.data('orgname');
        Forms.clear();
        Tree.select(span);
        OrganizationForm.newOrg(parentName, orgId);
    });

    // Add a child organization unit
    $("#organization_orgTree").on('click', '.addChildOrgUnit', function() {
        var span = $(this).closest('span');
        var orgId = span.attr("id");
        var parentName = span.data('orgname');
        var ownerOrgId = span.data('ownerorgid');
        Forms.clear();
        Tree.select(span);
        OrganizationForm.newOrg(parentName, orgId, ownerOrgId);
    });

    // Delete on organization
    $("#organization_orgTree").on('click', '.deleteOrganization', function() {
        var span = $(this).closest('span')
        var orgId = span.attr("id");
        Forms.clear();
        Tree.select(span);
        $('#organization_confirmDelete').data('orgid', orgId);
        $('#organization_confirmDeleteModal').modal('show');
    });

    // Move an organization
    $("#organization_orgTree").on('click', '.moveOrganization', function() {
        var span = $(this).closest('span')
        Forms.clear();
        Tree.select(span);
        OrganizationShifting.show(span);
    });

    // Read an organization
    $("#organization_orgTree").on('click', '.showDetails', function() {
        var span = $(this).closest('span')
        Forms.clear();
        Tree.select(span);
        Tree.showDetails(span.attr('id'));

        $.each($('#organization_organizationInfo').find('li'), function() {
            $(this).removeClass('active');
        });

        $.each($('#organization_organizationInfo').find('div'), function() {
            $(this).removeClass('active');
        });

        $('#organizationInfo_informationTab').addClass('active');
        $('#informationTab').addClass('active');
    });
    
    var Tree = {
        loadTree: function() {
            $("#treeLoading").css('display', '');
            $('#organization_orgTree').css('display', 'none');

            $.ajax({
                url      : "/organizationTree",
                type     : "GET",
                dataType : 'html',
                success  : function(response) {
                    $("#treeLoading").css('display', 'none');
                    $('#organization_orgTree').empty().html(response).css('display', '');
                    BootstrapTree.init($('#organization_orgTree'), true);
                    $(".fa-plus-square").on("click", function() {
                        Tree.checkDropDown();
                    });
                },
                error    : function(response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        showDetails: function(orgId) {
            $.ajax({
                url      : "/organization/"+orgId,
                type     : "GET",
                dataType : 'json',
                success  : function(response) {
                    OrgInfo.load(response);
                },
                error    : function(response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        select: function(item) {
            $('#organization_orgTree').find('.selectedNode').removeClass('selectedNode');
            item.addClass('selectedNode');
        },

        unselect: function() {
            $('#organization_orgTree').find('.selectedNode').removeClass('selectedNode');
        },

        addNode: function(parentId, org) {
            var template = null
            var parent = null
            var span = null
            if (!org.isOrgUnit) {
                template = $('#orgTemplate').clone();
                span = template.find('.root');
                org.ownerOrgId = org.orgId;

            } else {
                template = $('#orgUnitTemplate').clone();
                span = template.find('.node');
            }

            span.attr('id', org.orgId)
                .data('orgname', org.orgName)
                .data('ownerorgid', org.ownerOrgId); 

            template.find('.showDetails').text(org.displayName);
            template.removeAttr('id').removeClass('hide');

            if (!parentId) {
                BootstrapTree.addRoot($('.tree'), template);

            } else {
                BootstrapTree.addNode($('#'+parentId).closest('li'), template);
            }


        },

        updateNode: function(org) {
            $('#'+org.orgId).data('orgname', org.orgName)
                            .data('ownerorgid', org.ownerOrgId)
                            .find('.showDetails').text(org.displayName);
        },

        removeNode: function(node) {
            BootstrapTree.removeNode(node);
        },

        checkDropDown: function() {
            let orgDivs = $(".organizationNode, .orgUnitNode");
            orgDivs.each(function() {
                let dropDownTextDiv = $(this).find(".dropAllDown").first();
                if (dropDownTextDiv.length > 0) {
                    let plusButtons = $(this).find(".fa-plus-square").length;
                    let dropDownIcon = dropDownTextDiv.find(".dropDownIcon");
                    let dropDownText = dropDownTextDiv.find(".dropDownText");
                    if (plusButtons > 0 && dropDownTextDiv.data("listDropped")) {
                        dropDownTextDiv.data("listDropped", false);
                        dropDownIcon.removeClass("fa-caret-up");
                        dropDownIcon.addClass("fa-caret-down");
                        dropDownText.text($("#dropDownTextDown").text());
                    } else if (plusButtons <= 0 && !dropDownTextDiv.data("listDropped")) {
                        dropDownTextDiv.data("listDropped", true);
                        dropDownIcon.removeClass("fa-caret-down");
                        dropDownIcon.addClass("fa-caret-up");
                        dropDownText.text($("#dropDownTextUp").text());
                    }
                }
            });
            let tree = $(".tree");
            let plusButtons = tree.find(".fa-plus-square").length;
            let icon = $("#dropAllList").find("i");
            let textDiv = $("#dropAllList").find(".dropDownText");
            if (plusButtons > 0 && listDropped) {
                listDropped = false;
                icon.removeClass("fa-caret-up");
                icon.addClass("fa-caret-down");
                let dropDownText = $("#dropDownTextDown").text();
                textDiv.text(dropDownText);
                $("#dropAllList").attr('data-original-title', dropDownText);
            } else if (plusButtons <= 0 && !listDropped) {
                listDropped = true;
                icon.removeClass("fa-caret-down");
                icon.addClass("fa-caret-up");
                let dropDownText = $("#dropDownTextUp").text();
                textDiv.text(dropDownText);
                $("#dropAllList").attr('data-original-title', dropDownText);
            }
        },

        dropAllTree: function() {
            let orgDiv = $(".tree");
            let textDiv = $.merge($(this).find(".dropDownText"), orgDiv.find(".dropDownText"));
            let icons = $.merge($(this).find("i"), orgDiv.find(".dropDownIcon"));
            Tree.dropAllDown(orgDiv, textDiv, icons, listDropped);
        },

        dropAllDiv: function() {
            let orgDiv = $(this).parents("li").eq(0);
            let textDiv = orgDiv.find(".dropDownText");
            let icons = orgDiv.find("i.dropDownIcon");
            let listDropped = $(this).data("listDropped");
            Tree.dropAllDown(orgDiv, textDiv, icons, listDropped);
        },

        dropAllDown: function(orgDiv, textDiv, icons, listDropped) {
            if (listDropped) {
                orgDiv.find(".fa-minus-square").click();
                icons.parents("li").eq(0).data("listDropped", false);
                icons.removeClass("fa-caret-up");
                icons.addClass("fa-caret-down");
                textDiv.text($("#dropDownTextDown").text());
            } else {
                orgDiv.find(".fa-plus-square").click();
                icons.parents("li").eq(0).data("listDropped", true);
                icons.removeClass("fa-caret-down");
                icons.addClass("fa-caret-up");
                textDiv.text($("#dropDownTextUp").text());
            }
        }
    }

    var Forms = {
        clear: function() {
            OrgInfo.close();
            OrganizationForm.close();
            OrganizationShifting.close();
            Tree.unselect();
        }
    }

    $('#app_maarchRM_main').ready(function() {
        $('#organization_organizationForm').css('display', 'none');
        $('#organization_organizationInfo').css('display', 'none');
        $('#organization_moveForm').css('display', 'none');
        
        $('#forms').initSmoothScrolling();
        Tree.loadTree();
        window.localStorage.clear();
    });

    var listDropped = false;

    $("#organization_orgTree").on('click', '.dropAllDown', Tree.dropAllDiv);
    $("#dropAllList").on("click", Tree.dropAllTree);
</script>
