<!--#
    This file is part of the maarchRM package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div id="contain" lang="en" data-translate-catalog="organization/messages">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-sitemap"></i>
                Organization
            </h1>
        </div>
    </div>

    <div class="container-fluid" lang="en" data-translate-catalog="organization/messages">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6" id="organization">
                <?merge addOrganizationRight.bool() ?>
                <button id="newOrganization" class="btn btn-default" title="Add a new organization"><i class="fa fa-plus">&nbsp;</i>New organization</button>
                <button id="dropAllList" class="btn btn-default" title="Drop the organizations list down" data-original-title="Drop the organizations list down"><i class="fa fa-caret-down">&nbsp;</i><span class="dropDownText">Drop the organizations list down</span></button>
                <div id="treeLoading"><i class="fa fa-spinner fa-spin"></i></div>

                <input class="hide" id="isOrgTree" value="[?merge isOrgTree ?]">
                <div id="organization_orgTree">
                    <!-- Organization tree goes here -->
                </div>
                <div id="organization_org">
                    <?hinclude organization/orgList/orgFilter.html ?>
                    <div id="organization_orgList">
                        <!-- Organization List goes here -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6" id="forms">
                <?hinclude organization/organizationForm.html ?>
                <?hinclude organization/organizationInfo.html ?>
                <?hinclude organization/organizationMoveForm.html ?>
            </div>
        </div>
        <!-- modal for delete confirmation -->
        <?hinclude organization/deleteModal.html ?>
    </div>
    <div class="hide">
        <span id="dropDownTextDown">Drop the organizations list down</span>
        <span id="dropDownTextUp">Wrap the organizations list</span>
    </div>
</div>

<style>
 #treeLoading {
    font-size: 50px;
    text-align: center;
    padding: 80px;
 }

 .selectedNode {
    /*border: 3px solid #d9534f !important;*/
    border: 3px solid #f0ad4e !important;
}

 .selectedLine   {
    font-weight: bold;
}
</style>

<script src="/public/js/bootstrap-tree/bootstrap-tree.js"></script>

<script>
    // New organization
    $('#newOrganization').on('click', function() {
        Forms.clear();
        OrganizationForm.newOrg();
    })

    // Add a child organization
    $("#organization").on('click', '.addChildOrganization', function() {
        var span = $(this).closest('span');
        var orgId = span.attr("id");
        var parentName = span.data('orgname');
        Forms.clear();
        Org.select(span);
        OrganizationForm.newOrg(parentName, orgId);
    });

    // Add a child organization unit
    $("#organization").on('click', '.addChildOrgUnit', function() {
        var span = $(this).closest('span');
        var orgId = span.attr("id");
        var parentName = span.data('orgname');
        var ownerOrgId = span.data('ownerorgid');
        Forms.clear();
        Org.select(span);
        OrganizationForm.newOrg(parentName, orgId, ownerOrgId);
    });

    // Delete on organization
    $("#organization").on('click', '.deleteOrganization', function() {
        var span = $(this).closest('span')
        var orgId = span.attr("id");
        Forms.clear();
        Org.select(span);
        $('#organization_confirmDelete').data('orgid', orgId);
        $('#organization_confirmDeleteModal').modal('show');
    });

    // Read an organization
    $("#organization").on('click', '.showDetails', function() {
        var span = $(this).closest('span')
        Forms.clear();
        Org.select(span);
        Org.showDetails(span.attr('id'));

        $.each($('#organization_organizationInfo').find('li'), function() {
            $(this).removeClass('active');
        });

        $.each($('#organization_organizationInfo').find('div'), function() {
            $(this).removeClass('active');
        });

        $('#organizationInfo_informationTab').addClass('active');
        $('#informationTab').addClass('active');
    });

    var Org = {
        add: function(parentId, org) {
            if ($('#isOrgTree').val()) {
                Tree.addNode(parentId, org);
            } else {
                Filter.search();
            }
        },

        update: function (org) {
            if ($('#isOrgTree').val()) {
                Tree.updateNode(org);
            } else {
                Filter.search();
            }
        },

        load: function() {
            $("#treeLoading").css('display', '');
            $('#organization_orgTree').css('display', 'none');
            $('#organization_org').css('display', 'none');

            let url;
            if ($('#isOrgTree').val()) {
                url = '/organizationTree';
            } else {
                url = '/organizationSearch';
            }

            $.ajax({
                url      : url,
                type     : "GET",
                dataType : 'html',
                success  : function(response) {
                    $("#treeLoading").css('display', 'none');
                    if ($('#isOrgTree').val()) {
                        $('#organization_orgTree').empty().html(response).css('display', '');
                        BootstrapTree.init($('#organization_orgTree'), true);
                        $(".fa-plus-square").on("click", function() {
                            Tree.checkDropDown();
                        });
                    } else {
                        $('#organization_org').css('display', '');
                        $('#organization_orgList').empty().html(response).css('display', '');
                    }
                },
                error    : function(response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        showDetails: function(orgId) {
            $.ajax({
                url      : "/organization/"+orgId,
                type     : "GET",
                dataType : 'json',
                success  : function(response) {
                    OrgInfo.load(response);
                },
                error    : function(response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        select: function(item) {
            if (item.hasClass('node') || item.hasClass('root')) {
                $('#organization').find('.selectedNode').removeClass('selectedNode');
                item.addClass('selectedNode');
            } else {
                $('#organization').find('.selectedLine').removeClass('selectedLine');
                var tr = $('#organization_orgList').find("[data-orgid='" + item.attr('id') + "']");
                tr.find('#displayName').addClass('selectedLine');
            }
        },

        unselect: function() {
            $('#organization').find('.selectedNode').removeClass('selectedNode');
        }
    };

    var Forms = {
        clear: function() {
            OrgInfo.close();
            OrganizationForm.close();
            OrganizationShifting.close();
            Org.unselect();
        }
    }

    $('#app_maarchRM_main').ready(function() {
        $('#organization_organizationForm').css('display', 'none');
        $('#organization_organizationInfo').css('display', 'none');
        $('#organization_moveForm').css('display', 'none');
        
        $('#forms').initSmoothScrolling();
        Org.load();
        window.localStorage.clear();
    });
</script>
