<div class="panel panel-default dataForm" data-form-ns="orgUnit" id="organization_moveForm">
    <div class="panel-heading">
        <h4>Move <small name="displayName"></small></h4>
    </div>
    <div class="panel-body">
        <form>
            <input type="hidden" name="orgId">
            <input type="hidden" name="newParentOrgId">
            <input type="hidden" name="newOwnerOrgId">

            <div class="form control">
                <h2>Move to : <span id="organization_newParent">Root</span></h2>
                <i>Select a new position for the organization</i>
            </div>
            <br/>
            <?merge isOrgTree.bool().not() ?>
            <div class="form-group ">
                <label class='col-md-2 control-label'>New position</label>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" placeholder="Organization or activity" id="organization_typeahead"/>
                </div>
            </div>
            <br>
            <div class="form control">
                <button type="button" class="btn btn-success" id="organization_submitMove" title="Move">Move</button>
                <button type="button" class="btn btn-warning" id="organization_cancelMove" title="Cancel">Cancel</button>
            </div>
        </form>
    </div>
    <span class="hide" id="root_text">Root</span>
</div>
<span class="hide" id="no_org_found_text">No org found</span>
<script>

    $('#organization_moveForm').ready(function() {
        var orgs = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {url: '/organizations/todisplay?orgUnit=true&ownerOrg=true', ttl: '0'},
            limit: 100
        });
        orgs.initialize();

        // initialize typeahead
        $('#organization_typeahead').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 2
            },
            {
                name: 'users',
                displayKey: 'displayName',
                templates: {
                    empty: function() {
                        return "<span class='well well-sm'>"+$('#no_org_found_text').text()+"</span>";
                    },
                    suggestion: function(org) {
                        var display;

                        if (org.ownerOrgName !== undefined) {
                            display =
                                "<span>"
                                + "<span class='fa fa-user' >&nbsp;</span>"
                                + "<span style='font-family:Helvetica, sans-serif;'>"
                                + org.ownerOrgName
                                + " > "
                                + org.displayName
                                + "</span></span><br>";
                        } else {
                            display =
                                "<span>"
                                + "<span class='fa fa-user' >&nbsp;</span>"
                                + "<span style='font-family:Helvetica, sans-serif;'>"
                                + org.displayName
                                + "</span></span><br>";
                        }

                        return display;
                    }
                },
                source: function(query, cb) {
                    orgs.search(query, function(suggestions) {
                        cb(suggestions);
                    });
                },
                skipCache: true
            }
        ).on('typeahead:selected', function($event, suggestion, source) {
            $("#organization_typeahead").data('org', suggestion);
            $('#organization_submitMove').prop('disabled', false);
            $('#organization_newParent').text(suggestion.displayName);

            var orgForm = $('#organization_moveForm');
            orgForm.find('input[name="newParentOrgId"]').val(suggestion.orgId);
            orgForm.find('input[name="newOwnerOrgId"]').val(suggestion.ownerOrgId);
        });
    });

    $('#organization_typeahead').on('keyup', function(){
        var btn = $('#organization_submitMove');
        var input = $(this);

        btn.prop('disabled', true);
    })

    //cancel
    $("#organization_cancelMove").on('click', function() {
        OrganizationShifting.close();
    });

    $('#organization_orgTree').on('change', 'input[type="checkbox"]', function() {
        OrganizationShifting.change($(this));
    });

    $('#organization_submitMove').on('click', function() {
        var orgForm = $('#organization_moveForm');
        var orgId = orgForm.find('input[name="orgId"]').val();
        var newParentOrgId = orgForm.find('input[name="newParentOrgId"]').val();
        var newOwnerOrgId = orgForm.find('input[name="newOwnerOrgId"]').val();

        OrganizationShifting.move(orgId, newParentOrgId, newOwnerOrgId);

    });

    OrganizationShifting = {
        show: function(element) {
            var orgName = element.data('orgname');
            var select = element.closest('li').find('input[type="checkbox"]');
            var orgForm = $('#organization_moveForm');
            orgForm.find('input[name="orgId"]').val(element.attr('id'));
            orgForm.find('small[name="displayName"]').text(orgName);

            if (element.closest('li').hasClass('organizationNode')) {
                $('#organization_orgTree').find('.organizationNode').children('input[type="checkbox"]').not(select).removeClass('hide');
                $('#organization_submitMove').prop('disabled', false).data("orgType", "organization");
            } else {
                $('#organization_orgTree').find('input[type="checkbox"]').not(select).removeClass('hide');
                $('#organization_submitMove').prop('disabled', true).data("orgType", "orgUnit");
            }

            $('#organization_moveForm').css('display', '');
        },

        change: function(element) {
            var orgForm = $('#organization_moveForm');
            var organization = element.closest('li').find('span:first');

            if (!element.prop('checked')) {
                $('#organization_newParent').text($('#root_text').html());
                orgForm.find('input[name="newParentOrgId"]').val("");
                orgForm.find('input[name="newOwnerOrgId"]').val("");

                if ($('#organization_submitMove').data('orgType') == "orgUnit") {
                    $('#organization_submitMove').prop('disabled', true);
                }

                return;
            }

            var orgName = organization.data("orgname");
            var newParentOrgId = organization.attr("id");
            var newOwnerOrgId = null;

            if ($('#organization_submitMove').data('orgType') == "orgUnit") {
                newOwnerOrgId = organization.data("ownerorgid");
            }

            $('#organization_submitMove').prop('disabled', false);
            $('#organization_orgTree').find('input[type="checkbox"]:checked').not(element).prop('checked', false);

            orgForm.find('input[name="newParentOrgId"]').val(newParentOrgId);
            orgForm.find('input[name="newOwnerOrgId"]').val(newOwnerOrgId);
            $('#organization_newParent').html(orgName);
        },

        move: function(orgId, newParentOrgId, newOwnerOrgId) {
            $.ajax({
                url         : "/organization/"+orgId+"/parent",
                type        : "PUT",
                data        : JSON.stringify({newOwnerOrgId : newOwnerOrgId, newParentOrgId : newParentOrgId}),
                contentType : 'application/json',
                dataType    : 'json',
                success: function(response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status) {
                        Org.load();
                        OrganizationShifting.close();
                    }
                },
                error    : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            })
        },

        close: function() {
            $('#organization_moveForm').css('display', 'none');
            $('#organization_moveForm').find('input').val('');
            $('#organization_orgTree').find('input[type="checkbox"]').prop('checked', false).addClass('hide');
            $('#organization_newParent').text($('#root_text').html());
            $('#organization_typeahead').typeahead('val','');
        }
    }

</script>
