<?merge .newId() $collapsId ?>
<div class="panel panel-warning">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#communication[?merge $collapsId ?]" aria-expanded="true" aria-controls="collapseOne">
                Communication
            </a>
        </h4>
    </div>
    <div id="communication[?merge $collapsId ?]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-translate-catalog="contact/contact">
        <div class="panel-body">
            <dl class="dl-vertical">
                <?merge $communication ?>
                <span>
                    <?merge .channel.ifeq('TE') ?>
                    <dt>Phone</dt>
                    <?merge .channel.ifeq('FX') ?>
                    <dt>Fax</dt>
                    <?merge .channel.ifeq('EM') ?>
                    <dt>E-mail</dt>
                    <?merge .channel.ifeq('AU') ?>
                    <dt>FTP</dt>
                    <?merge .channel.ifeq('AO') ?>
                    <dt>URL</dt>
                    <?merge .channel.ifeq('AL') ?>
                    <dt>Cellular</dt>
                    <?merge .channel.ifeq('AH') ?>
                    <dt>World Wide Web</dt>
                    <dd translate="no">
                        <?merge .completeNumber ?>
                        <?merge .URIID ?>
                    </dd>
                </span>
            </dl>
        </div>
    </div>
</div>