<div class="panel-group" role="tablist" aria-multiselectable="true" >
    <?merge .newId() $collapsId ?>
    <div class="panel panel-info">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#contact[?merge $collapsId ?]" aria-expanded="true" aria-controls="collapseOne">
                    Contact : <?merge .personName ?>
                </a>
            </h4>
        </div>
        <div id="contact[?merge $collapsId ?]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-translate-catalog="contact/contact">
            <div class="panel-body">
                <dl class="dl-vertical" >
                    <?merge .personName.bool() ?>
                    <span>
                        <dt>Name</dt>
                        <dd translate="no">
                            <?merge .personName ?>
                        </dd>
                    </span>
                    <?merge .identification.bool() ?>
                    <span>
                        <dt>Identifier</dt>
                        <dd translate="no">
                            <?merge .identification ?>
                        </dd>
                    </span>
                    <?merge .responsibility.bool() ?>
                    <span>
                        <dt>Responsibility</dt>
                        <dd translate="no">
                            <?merge .responsibility ?>
                        </dd>
                    </span>
                    <?merge .departmentName.bool() ?>
                    <span>
                        <dt>Department name</dt>
                        <dd translate="no">
                            <?merge .departmentName ?>
                        </dd>
                    </span>
                </dl>
                <?merge .address.bool() ?>
               
                <div> 
                    <br/>
                    <?merge . $contact ?>
                    <?merge .address ?>
                    <?hinclude recordsManagement/message/address.html ?>
                    <br/>
                </div>
                <?merge .communication.bool() ?>
                <div>
                    <?merge .communication $communication ?>
                    <?hinclude recordsManagement/message/communication.html ?>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>