<!-- Data objects -->
<br/>
<div data-translate-catalog="medona/messages">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Management metadata</strong>
        </div>
        <div class="panel-body" data-translate-catalog="recordsManagement/messages">
            <table>
                <tr>
                    <td class="text-right"><strong>Profile</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.archivalProfile.value ?></td>
                </tr>
                <?merge $managementMetadata.serviceLevel.value.bool() ?>
                <tr>
                    <td class="text-right"><strong>Service level</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.serviceLevel.value ?></td>
                </tr>
            </table>
            <br/>
            <h4>Access rule</h4>
            <table>
                <tr>
                    <td class="text-right"><strong>Code</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.accessRule.code ?></td>
                </tr>
                <tr>
                    <td class="text-right"><strong>Duration</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.accessRule.duration ?></td>
                </tr>
                <tr>
                    <td class="text-right"><strong>Start date</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.accessRule.startDate ?></td>
                </tr>
                <tr>
                    <td class="text-right"><strong>Originator req number</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.accessRule.originatorOrgRegNumber ?></td>
                </tr>
            </table>
            <br/>
            <h4>Retention rule</h4>
            <table>
                <tr>
                    <td class="text-right"><strong>Code</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.appraisalRule.appraisalCode ?></td>
                </tr>
                <tr>
                    <td class="text-right"><strong>Duration</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.appraisalRule.duration ?></td>
                </tr>
                <tr>
                    <td class="text-right"><strong>Start date</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.appraisalRule.startDate ?></td>
                </tr>
                <tr>
                    <td class="text-right"><strong>Originator req number</strong>&emsp;</td>
                    <td translate="no"><?merge $managementMetadata.accessRule.originatorOrgRegNumber ?></td>
                </tr>
            </table>
            <br/>
        </div>
    </div>
</div>
