<!-- Data objects -->
<div class="panel panel-default">
    <div class="panel-heading">
        <strong><?merge $rolename ?></strong>
    </div>
    <div class="panel-body">
        <?merge $organization() ?>
        <dl>
            <dt>Identifier</dt>
            <dd translate="no">
                <?merge $organization.identifier.value ?>
            </dd>
            <dt>Nom de l'organisation</dt>
            <dd translate="no">
                <?merge $organization.organizationDescriptiveMetadata.displayName ?>
            </dd>
            <?merge $organization.userName.bool() ?>
            <dt>Utilisateur</dt>
            <?merge $organization.userName.bool() ?>
            <dd translate="no">
                <?merge $organization.userName ?>
            </dd>
        </dl>
        <?merge $organization.address.bool() ?>
        <div>
            <?merge $organization.address ?>
            <?hinclude medona/message/address.html ?>
            <br/>
        </div>
        <?merge $organization.communication.bool() ?>
        <div>
            <?merge $organization.communication $communication ?>
            <?hinclude medona/message/communication.html ?>
            <br/>
        </div>
        <?merge $organization.contact.bool() ?>
        <div>
            <?merge $organization.contact ?>
            <?hinclude medona/message/contact.html ?>
        </div>
    </div>
</div>
