<!--#
    This file is part of the registeredMail package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div id="contain" >
    <div class="container-fluid" data-translate-catalog="medona/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-search"></i>
                History
            </h1>
        </div>
    </div>
    <input id="typeMessage" value="[?merge type ?]" hidden="hidden"/>
    <div class="container-fluid" lang="en" data-translate-catalog="medona/messages">
        <div class="panel-group" id="publicArchive_searchFormAccordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#publicArchive_searchFormAccordion" data-target="#publicArchive_searchFormCollapse" style="cursor:pointer;">
                    <h4 class="panel-title" style="float:left;">
                        Search form
                    </h4>
                    <i class="fa fa-caret-down" style="float:right;"></i>
                    <div style="clear:both;"></div>
                </div>
                <div id="publicArchive_searchFormCollapse" class="well panel-collapse collapse in" style="margin-bottom: 0px">
                    <form class="form-horizontal" id="searchForm">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Reference</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="reference" placeholder="Message identifier"/>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Archiver name</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="archiver">
                                            <option value=""></option>
                                            <?merge ownerArchiverOrgs ?>
                                            <optgroup label="[?merge .displayName ?]">
                                                <?merge .archivers ?>
                                                <option value="[?merge .registrationNumber ?]"><?merge .displayName ?></option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Originator name</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="originator">
                                            <option value=""></option>
                                            <?merge ownerOriginatorOrgs ?>
                                            <optgroup label="[?merge .displayName ?]">
                                                <?merge .originators ?>
                                                <option value="[?merge .registrationNumber ?]"><?merge .displayName ?></option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Depositor name</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="depositor">
                                            <option value=""></option>
                                            <?merge ownerDepositorOrgs ?>
                                            <optgroup label="[?merge .displayName ?]">
                                                <?merge .depositors ?>
                                                <option value="[?merge .registrationNumber ?]"><?merge .displayName ?></option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <br/>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Archival agreements</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="archivalAgreementReference">
                                            <option value=""></option>
                                            <?merge archivalAgreements ?>
                                            <option value="[?merge .reference ?]"><?merge .reference ?></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">From date</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control datePicker" name="fromDate" placeholder="From date"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">To date</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control datePicker" name="toDate" placeholder="To date"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="clearfix">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary col-md-offset-4 col-md-3" id="search" title="Search"><i class="fa fa-search">&nbsp;</i> Search</button>
                                <button type="button" class="btn btn-warning col-md-offset-1" id="resetSearchForm" title="Reset"><i class="fa fa-refresh">&nbsp;</i> Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="result"></div>
    </div>
</div>
<script>
    $(document).keypress(function (e) {
        if (e.which != 13) {
            return;
        }
        // Prevent form submit
        e.preventDefault();
        if ($("#reference").is(':focus')) {
            $("#referenceSearch").click();
        } else {
            $("#search").click();
        }
    });

    $('#searchForm').on('keyup', '[name="reference"]', function() {
        var inputs = $('#searchForm').find('input');
        var referenceInput = $(this);
        var reference = referenceInput.val();

        if (reference == "") {
            inputs.prop('disabled', false);
        } else {
            inputs.not(referenceInput).prop('disabled', true);
        }
    });

    $("#resetSearchForm").on("click", function () {
        messageSearchForm.reset();
    });

    $('#search').on('click', function() {
        messageSearchForm.search();
    });

    var messageSearchForm = {
        load: function(action) {
            $('#accordionSearch').removeClass('hide');
            $('#search').data('action', action);
            messageSearchForm.search();
            $('#result').empty();
        },

        search: function() {

            $('#search').attr('disabled', '');
            ajax($('#search'), {
                type: 'GET',
                url: '/Histories',
                data: messageSearchForm.serialize(),
                contentType: 'application/json',
                dataType: 'html',
                async: true,
                success: function (response) {
                    $('#result').empty().html(response);
                }
            });
            $('#search').removeAttr('disabled');
        },

        reset: function() {
            inputs = $('#searchForm').find('input[type="text"]')
            inputs.val('');
            $('#result').empty();
            inputs.prop('disabled', false);
        },

        serialize: function() {
            var searchForm = $('#searchForm');
            var reference = searchForm.find('[name="reference"]').val();
            var serializedObject = {};

            searchForm.find('input').each(function(){
                serializedObject[$(this).attr('name')] = $(this).val();
            })
            serializedObject['type'] = $('#typeMessage').val();

            searchForm.find('select').each(function(){
                serializedObject[$(this).attr('name')] = $(this).val();
            })
            serializedObject['reference'] = reference;

            return serializedObject;
        },

        close: function() {
            var accordionSearch = $('#accordionSearch');
            
            if (!accordionSearch.hasClass('hide')){
                accordionSearch.addClass('hide');
                $('#collapseOne').removeClass('in');
                messageSearchForm.reset();
            }
        }
    }

</script>
