<!--#
This file is part of the digitalResource package.
(c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#-->

<div class="container-fluid" data-translate-catalog="digitalResource/conversionRule">
    <div class="page-header">
        <h1>
            <i class="fa fa-recycle"></i>
            Conversion rules
        </h1>
    </div>
</div>
<div class="container-fluid" data-translate-catalog="digitalResource/conversionRule">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <h4><?merge conversionRules.count() ?> Conversion rule(s)</h4>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="btn btn-default btn-sm" id="btnAddConversionRule" title="Add"><span class="fa fa-plus">&nbsp;</span>Add</a>
                    </div>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <table class="table dataTable" id="tableListConversionRules">
                        <thead>
                            <tr>
                                <th>Puid</th>
                                <th>Conversion service</th>
                                <th>Target Puid</th>
                                <th style="width: 1%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?merge conversionRules ?>
                            <tr>
                                <td><?merge .puidName ?></td>
                                <td><?merge .conversionService ?></td>
                                <td><?merge .targetPuidName ?></td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-conversionRule-delete='[?merge .conversionRuleId ?]' title="Delete"><span class="fa fa-trash-o">&nbsp;</span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">   
$('#app_maarchRM_main').ready(function() {
    $("#btnAddConversionRule").on("click", function(){
        load("/digitalResource/conversionRule/new");
    });
    
    $("#tableListConversionRules").on("click", "[data-conversionRule-delete]", function(){
        $(this).prop("disabled", true);
        ajax($(this), {
            type: "DELETE",
            url: '/digitalResource/conversionRule/' + $(this).attr("data-conversionRule-delete"),
            async: false,
            dataType: 'json',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status == true) {
                    load("/digitalResource/conversionRules");
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
        $(this).prop("disabled", false);
    });
});
</script>