<div class="modal fade" id="ArchiveAssignmentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>Move archive</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-exclamation-circle text-info pull-right" style="font-size: 36px"/>
                    </div>
                    <div class="col-xs-10">
                        <h4 id="archiveToMove" class="hide"><span>Do you want to move the archive</span> <i class="text-primary"></i> <span>to the folder</span> <i class="text-primary"/> ?</h4>
                        <h4 id="archivesToMove" class="hide"><span>Do you want to move</span> <i class="text-primary"/> <span>archives to the folder</span> <i class="text-primary"/> ?</h4>
                        <h4 id="removesArchiveFromFolder" class="hide"><span>Do you want to remove the archive</span> <i class="text-primary"/> <span>from the folder</span> <i class="text-primary"/> ?</h4>
                        <h4 id="removesArchivesFromFolder" class="hide"><span>Do you want to remove</span> <i class="text-primary"/> <span>archives from the folder</span> <i class="text-primary"/> ?</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" id="moveArchive" class="btn btn-success">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    ArchiveAssignmentModal = {
        fromFolder: null,
        toFolder: null,
        archives: null,
        modal: $('#ArchiveAssignmentModal'),

        moveInFolder: function(archives, toFolder) {
            this.archives = archives;
            this.toFolder = toFolder;

            if (FilePlan.selectedNode.hasClass('folder')) {
                this.fromFolder = FilePlan.selectedNode;
            }

            var folderName = toFolder.find('b:first').text();
            if (folderName.length > 30)  { folderName = folderName.substring(0,27)+'...' }

            if (archives.length == 1) {
                var message = this.modal.find('#archiveToMove').removeClass('hide');
                var i = message.find('i');
                var archiveName = $('#'+archives[0]).find('.archiveName').text();
                if (archiveName.length > 30) { archiveName = archiveName.substring(0,27)+'...' }

                $(i[0]).html(archiveName);
                $(i[1]).html(folderName);

            } else {
                var message = this.modal.find('#archivesToMove').removeClass('hide');
                var i = message.find('i');
                $(i[0]).html(archives.length);
                $(i[1]).html(folderName);
            }

            this.modal.modal();
        },

        removeFromFolder: function(archives) {
            this.archives = archives;
            this.fromFolder = FilePlan.selectedNode;

            if (!this.fromFolder.hasClass('folder')) {
                return;
            }

            var folderName = this.fromFolder.find('b:first').text();
            if (folderName.length > 30)  { folderName = folderName.substring(0,27)+'...' }

            if (archives.length == 1) {
                var message = this.modal.find('#removesArchiveFromFolder').removeClass('hide');
                var i = message.find('i');
                var archiveName = $('#'+archives[0]).find('.archiveName').text();
                if (archiveName.length > 30) { archiveName = archiveName.substring(0,27)+'...' }

                $(i[0]).html(archiveName);
                $(i[1]).html(folderName);

            } else {
                var message = this.modal.find('#removesArchivesFromFolder').removeClass('hide');
                var i = message.find('i');

                $(i[0]).html(archives.length);
                $(i[1]).html(folderName);
            }

            this.modal.modal();
        },

        move: function() {
            var fromFolderId = null;
            var toFolderId = null;

            if (this.fromFolder) { fromFolderId = this.fromFolder.attr('id') }
            if (this.toFolder) { toFolderId = this.toFolder.parent().attr('id') }

            $.ajax({
                url         : '/Archives/Movetofolder',
                type        : 'PUT',
                contentType : 'application/json',
                dataType    : 'json',
                data        : JSON.stringify({archiveIds: this.archives , fromFolderId: fromFolderId, toFolderId: toFolderId}),
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status) {
                        ArchiveList.removeArchives(ArchiveAssignmentModal.archives);
                        ArchiveAssignmentModal.close();
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        close: function() {
            this.modal.modal('hide');
            $('#ArchiveAssignmentModal').find('.modal-body').find('h4').addClass('hide');
            this.fromFolder = null;
            this.toFolder = null;
            this.archives = null;
        }
    }

    $('#moveArchive').click(function() {
        ArchiveAssignmentModal.move();
    })

</script>