<!--#
    This file is part of the filePlan package.
    (c) Maarch Prosper De Laure <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div id="contain">
    <div class="container-fluid" lang="en" data-translate-catalog="organization/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-sitemap"></i>
                File Plan
                <small>Describe the file plans</small>
            </h1>
        </div>
    </div>


    <div class="container-fluid" lang="en" data-translate-catalog="organization/messages">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6" >
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4 >File plan tree</h4>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-info" type="button" id="newFilePlan" title="Add a new file plan">Add a new file plan</button>
                        </div>
                    </div>
                    <div class="panel-body" >
                        <div class="dataTree panel-group tree">
                            <!-- File plan tree goes here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6" id="formContainer">
            </div>
        </div>
        <!-- modals for delete confirmation -->
        <?hinclude filePlan/modals.html ?>
    </div>
</div>


<script src="/public/dependency/html/js/bootstrap-tree/bootstrap-tree.js"></script>

<script>
    $('#app_maarchRM_main').ready(function () {
        initTree();
    });

    $('#contain').on('click', '#newFilePlan', function () {
        $.ajax({
            url: "/filePlan/newfileplan",
            type: "GET",
            success: function (response) {
                $('#formContainer').html(response);
            },
            error: function (response) {
                gritter.show(response.responseText, false);
            }
        })
    })

    //edit a file plan
    $('#contain').on('click', '[name="modifyFilePlan"]', function () {
        subjectId = $(this).attr("data-subjectId");
        $.ajax({
            url: "/filePlan/editFilePlan/" + subjectId,
            type: "GET",
            success: function (response) {
                $('#formContainer').html(response);
            },
            error: function (response) {
                gritter.show(response.responseText, false);
            }
        })
    });

    //delete a file plan
    $("#contain").on('click', "[name='deleteFilePlan']", function () {
        var subjectId = $(this).closest('span').attr("data-subjectId");
        $('#confirmFilePlanDelete').attr('data-subjectId', subjectId);
        $('#deleteFilePlanConfirmation').modal('show');
    });

    //delete a object
    $("#contain").on('click', "[name='deletePosition']", function () {
        var objectId = $(this).closest('span').attr("data-objectId");
        var subjectId = $(this).closest('span').attr("data-subjectId");
        $('#confirmPositionDelete').attr('data-objectId', objectId);
        $('#confirmPositionDelete').attr('data-subjectId', subjectId);
        $('#deletePositionConfirmation').modal('show');
    });
    
    //display the file plan position form
    $('#contain').on('click', "[name='addPlan']", function () {
        var positionInformation = $(this).closest('span');
        var parentSubjectId = positionInformation.attr("data-subjectId");
        $.ajax({
            url: "/filePlan/newFilePlan",
            type: "GET",
            success: function (response) {
                $('#formContainer').html(response);
                $('[name="parentSubjectId"]').val(parentSubjectId);
                //loadForm(response, 'filePlanPositionForm', subtitle);
            }
        })
    });

    $('#contain').on('click', "[name='modifyPosition']", function () {

        objectId = $(this).closest('span').attr("data-objectId");
        subjectId = $(this).closest('span').attr("data-subjectId");

        $.ajax({
            url: "/filePlan/editFilePlanPosition/" + objectId + "/" + subjectId,
            type: "GET",
            contentType: 'application/json',
            success: function (response) {
                $('#formContainer').html(response);
            },
            error: function (response) {
                gritter.show(response.responseText, false);
            }
        });
    });
    
    //show the form to move a position
    $('#contain').on('click', "[name='movePosition']", function () {
        var objectId = $(this).attr("data-objectId");
        var subjectId = $(this).attr("data-subjectId");
        $.ajax({
            url: "/filePlan/getElementsForMovePosition/" + subjectId,
            type: "GET",
            contentType: 'application/json',
            success: function (response) {
                $('#formContainer').html(response);
                $('#formContainer').find('[name="objectId"]').val(objectId);
                $('#formContainer').find('[name="subjectId"]').val(subjectId);
            },
            error: function (response) {
                gritter.show(response.responseText, false);
            }
        })
    });

    //show the form to move a plan
    $('#contain').on('click', "[name='movePlan']", function () {
        var subjectId = $(this).attr("data-subjectId");
        $.ajax({
            url: "/filePlan/getElementsForMoveSubject/" + subjectId,
            type: "GET",
            contentType: 'application/json',
            success: function (response) {
                $('#formContainer').html(response);
                $('#formContainer').find('[name="subjectId"]').val(subjectId);
            },
            error: function (response) {
                gritter.show(response.responseText, false);
            }
        })
    });
    
    function reloadTree() {
        $.ajax({
            url: "/filePlan/gettree",
            type: "GET",
            dataType: 'html',
            success: function (response) {
                $('.dataTree').html(response);
                initTree();
            },
            error: function (response) {
                gritter.show(response.responseText, false);
            }
        })
    }


    function clearForm() {
        $('#formContainer').off();
        $('#formContainer').html('');
    }

</script>
