<div class="panel panel-default dataForm" id="filePlanPositionForm">
    <div class="panel-heading">
        <h4>File plan position <small></small></h4>
    </div>
    <div class="panel-body">
        <?merge position ?>
        <form>
            <input type="hidden" name="subjectId" data-subjectId="">
            <input type="hidden" name="objectClass" data-objectClass="">
            <div class="form-group">
                <label>Id</label>
                <?merge position.objectId.bool() @disabled ?>
                <input type="text" class="form-control" name="objectId" placeholder="Id">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="label" placeholder="Name">
            </div>
        </form>
        <button type="button" class="btn btn-success" id="addPosition" title="Save">Save</button>
        <button type="button" class="btn btn-warning" id="cancelPosition" title="Cancel">Cancel</button>
    </div>
</div>

<script>

    //cancel modification
    $("#cancelPosition").on('click', function () {
        $('#filePlanPositionForm').css('display', 'none');
    });

    //add or modify a file plan position
    $("#filePlanPositionForm").on('click', "#addPosition", function () {
        $('button').attr('disabled', 'true');

        var action = "/filePlan/addFilePlanPosition";
        var method = "POST";

        if ($('#filePlanPositionForm [name="objectId"]').attr('disabled')) {
            var action = "/filePlan/modifyFilePlanPosition";
            var method = "PUT";
        }

        var position = {
            objectId: $('#formContainer').find("[name='objectId']").val(),
            label: $('#formContainer').find("[name='label']").val(),
            objectClass: $("[name='objectClass']").val(),
            subjectId: $("[name='subjectId']").val()
        }

        var parametre = {
            position: position
        }
        
        $.ajax({
            url: action,
            type: method,
            data: JSON.stringify(parametre),
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                $('#filePlanPositionForm').css('display', 'none');
                reloadTree();
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        })
    })

    //edit a file plan position
    $("#contain").on('click', "#modifyPosition", function () {
        var positionCode = $(this).closest('span').attr("data-positionCode");

        $.ajax({
            url: "/filePlan/editFilePlanPosition/" + positionCode,
            type: "GET",
            contentType: 'application/json',
            success: function (response) {
                loadForm(response, 'filePlanPositionForm');
            },
            error: function (response) {
                gritter.show(response.responseText, false);
            }
        })
    });

    //delete a file plan position
    $("#contain").on('click', "[name='deletePosition']", function () {
        var positionCode = $(this).closest('span').attr("data-positionCode");
        $('#confirmPositionDelete').attr('data-positionCode', positionCode);
        $('#deletePositionConfirmation').modal('show');
    });
</script>