<ul lang="en" data-translate-catalog="filePlan/filePlan">
    <li>
        <span class="root" data-subjectId="[?merge .subjectId?]">
            <h5><i class="fa fa-folder-o">&nbsp;</i><?merge .name?>&nbsp;&nbsp;
            <div class="dropdown btn-group" style="display:inline">
                <i class="dropdown-toggle" data-toggle="dropdown">
                    &nbsp;<i class="menu fa fa-bars" style="cursor:pointer">&nbsp;</i>
                </i>
                <ul class="dropdown-menu" role="menu">
                    <li name="modifyFilePlan" data-subjectId = "[?merge .subjectId ?]" ><a href="#"><i class="fa fa-edit" >&nbsp;</i>Modify</a></li>
                    <li name="addPlan" data-parentSubjectId="[?merge .subjectId?]"><a href="#"><i class="fa fa-plus" >&nbsp;</i>Add plan</a></li>
                    <li name="deleteFilePlan" ><a href="#"><i class="fa fa-trash-o" >&nbsp;</i>Delete</a></li>
                </ul>
            </div>
            </h5>
        </span>
    </li>
</ul>
