<div class="panel panel-default dataForm">
    <div class="panel-heading">
        <h4>File plan </h4>
    </div>
    <div class="panel-body">
        <?merge filePlan ?>
        <form id="filePlanForm">
            <input type="hidden" name="parentSubjectId">
            <div class="form-group">
                <label>Id</label>
                <?merge filePlan.subjectId.bool() @disabled ?>
                <input type="text" class="form-control" name="subjectId" placeholder="Subject id">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" placeholder="Description">
            </div>
        </form>
        <button type="button" class="btn btn-success [?merge filePlan.subjectId.bool().then('hide', '') ?]" id="addFilePlan" title="Save">Save</button>
        <button type="button" class="btn btn-success  [?merge filePlan.subjectId.bool().then('', 'hide') ?]" id="modifyFilePlan" title="Save">Save</button>
        <button type="button" class="btn btn-warning" id="cancelFilePlan" title="Cancel">Cancel</button>
    </div>
</div>

<script>

    // Cancel
    $('#formContainer').on('click', "#cancelFilePlan", function () {
        clearForm();
    })

    // Add a file plan
    $('#formContainer').on('click', '#addFilePlan', function () {
        $('button').prop('disabled', 'true');
        
        description = null;
        if ($('#formContainer').find("[name='name']").val() != '') {
            description = $('#formContainer').find("[name='description']").val();
        }
        
        parentsubjectId = null;
        if ($('#formContainer').find("[name='parentSubjectId']").val() != '') {
            parentsubjectId = $('#formContainer').find("[name='parentSubjectId']").val();
        }
        
        
        var filePlan = {
            subjectId: $('#formContainer').find("[name='subjectId']").val(),
            name: $('#formContainer').find("[name='name']").val(),
            description : description,
            parentSubjectId : parentsubjectId
        }
        var parametre = {
            filePlan: filePlan
        }

        $.ajax({
            url: "/filePlan/addfileplan",
            type: "POST",
            data: JSON.stringify(parametre),
            contentType: 'application/json',
            dataType : 'json',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                clearForm();
                reloadTree();
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        })
    })
    // Modify a file plan
    $('#contain').on('click', '#modifyFilePlan', function () {
        $('button').prop('disabled', 'true');
        
        description = null;
        if ($('#formContainer').find("[name='name']").val() != '') {
            description = $('#formContainer').find("[name='description']").val();
        }
        
        var filePlan = {
            subjectId: $('#formContainer').find("[name='subjectId']").val(),
            name: $('#formContainer').find("[name='name']").val(),
            description : description
        }

        var parametre = {
            filePlan: filePlan
        }
        $.ajax({
            url: "/filePlan/modifyFilePlan",
            type: "PUT",
            data: JSON.stringify(parametre),
            contentType: 'application/json',
            dataType : 'data',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                clearForm();
                reloadTree();
            },
            error: function (response) {
                gritter.show(response.responseText, false);
            }
        })
    })

</script>
