<div id="folderForm" class="col-xs-12 hide">
    <form>
        <input type="hidden" name="folderId"/>
        <input type="hidden" name="parentFolderId"/>
        <input type="hidden" name="ownerOrgRegNumber"/>
        <div class="form-group">
            <label class="control-label">Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" name="name" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" name="description" placeholder="Description" style="resize: none; resize: vertical"></textarea>
        </div>
        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="closed"  value="false" checked/><i class="fa fa-unlock">&nbsp;</i>Opened
                </label>
                <label class="btn btn-default">
                    <input type="radio"  name="closed" value="true"/><i class="fa fa-lock">&nbsp;</i>Closed
                </label>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-warning" id="cancelFolder"><i class="fa fa-save">&nbsp;</i>Cancel</button>
            <button type="button" class="btn btn-success" id="saveFolder"><i class="fa fa-save">&nbsp;</i>Save</button>
        </div>
    </form>
    <div id ="folderNodeTemplate" class="">
        <?merge /filePlan/folderNode.html ?>
    </div>
</div>

<script>

    FolderForm = {
        form : $('#folderForm'),
        load: function(folder) {
            $('#filePlanTree').addClass('hide');
            $('#filePlanMenu').css('visibility', 'hidden');

            $.each(folder, function(key, value) {
                FolderForm.form.find('[name="'+key+'"]').not('[type="radio"]').val(value);
            })
            if (folder.closed == true) {
                this.form.find('input[name="closed"][value="true"]').parent().click();
            }

            this.form.removeClass('hide');
        },
        save: function() {
            var folder = {};

            this.form.find('input[type="hidden"], input[type="text"], textarea').each(function(){
                var input = $(this);
                let value = input.val();

                if ($.trim(value) != "") {
                    folder[input.attr('name')]= value;
                }
            });

            if (!folder.name) {
                return;
            }

            folder.closed = $('label.active > input').val()=='true' ? true : false;
            
            var type = "POST";
            if (folder.folderId) {
                type = "PUT";
            }

            ajax($('#saveFolder'),
            {
                url         : '/filePlan/folder',
                type        : type,
                data        : JSON.stringify({folder:folder}),
                contentType : 'application/json',
                dataType    : 'json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status) {
                        if (type == 'POST') {
                            folder.folderId = response.folderId;
                            trigger('addFolderNode.filePlan', [folder]);
                        } else {
                            trigger('editFolderNode.filePlan', [folder]);
                        }
                        FolderForm.close();
                    }
                },
                error       : function (response) {
                    error = response.responseText;
                    if (typeof(error) ==='string') {
                        error = JSON.parse(error);
                    }
                    gritter.show(error.message, false);
                }
            })
        },
        close: function() {
            this.form.addClass('hide');
            $('#filePlanTree').removeClass('hide');
            $('#filePlanMenu').css('visibility', 'visible');

            this.form.find('input, textarea').not('[type="radio"]').val('');
            this.form.find('input[name="closed"][value="false"]').click();
        }
    }

    $('#saveFolder').on('click', function() {
        FolderForm.save();
    })

    $('#cancelFolder').on('click', function() {
        FolderForm.close();

    })
    $('#folderForm').onEvent("loadFolderForm.filePlan", function(e, folder) {
        FolderForm.load(folder);
    })

</script>