<div id="folderForm" class="col-xs-12 hide">
    <form>
        <input type="hidden" name="folderId"/>
        <input type="hidden" name="parentFolderId"/>
        <input type="hidden" name="ownerOrgRegNumber"/>
        <div class="form-group">
            <label class="control-label">Name<span style="color:red">*</span></label>
            <input type="text" class="form-control" name="name" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" name="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="disabled"  value="false" checked/><i class="fa fa-unlock">&nbsp;</i>Enabled
                </label>
                <label class="btn btn-default">
                    <input type="radio"  name="disabled" value="true" /><i class="fa fa-lock">&nbsp;</i>Disabled
                </label>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-success" id="saveFolder"><i class="fa fa-save">&nbsp;</i>Save</button>
            <button type="button" class="btn btn-warning" id="cancelFolder"><i class="fa fa-save">&nbsp;</i>Cancel</button>
        </div>
    </form>
    <div id ="folderNodeTemplate" class="">
        <?merge /filePlan/folderNode.html ?>
    </div>
</div>

<script>

    FolderForm = {
        form : $('#folderForm'),
        load: function(folder) {
            $('#filePlanTree').addClass('hide');
            $('#filePlanMenu').css('visibility', 'hidden');

            $.each(folder, function(key, value) {
                FolderForm.form.find('[name="'+key+'"]').not('[type="radio"]').val(value);
            })
            if (folder.disabled == true) {
                this.form.find('input[name="disabled"][value="true"]').parent().click();
            }

            this.form.removeClass('hide');
        },
        save: function() {
            var folder = {};

            this.form.find('input[type="hidden"], input[type="text"], textarea').each(function(){
                var input = $(this);
                if (value = input.val()) {
                    folder[input.attr('name')]= value;
                }
            });

            if (!folder.name) {
                return;
            }

            folder.disabled = $('label.active > input').val()=='true' ? true : false;
            
            var type = "POST";
            if (folder.folderId) {
                type = "PUT";
            }

            $.ajax({
                url         : '/filePlan/folder',
                type        : type,
                data        : JSON.stringify({folder:folder}),
                contentType : 'application/json',
                dataType    : 'json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status) {
                        if (type == 'POST') {
                            folder.folderId = response.folderId;
                            FilePlan.addFolderNode(folder);
                        } else {
                            FilePlan.editFolderNode(folder);
                        }
                        FolderForm.close();
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            })
        },
        close: function() {
            this.form.addClass('hide');
            $('#filePlanTree').removeClass('hide');
            $('#filePlanMenu').css('visibility', 'visible');

            this.form.find('input, textarea').not('[type="radio"]').val('');
            this.form.find('input[name="disabled"][value="false"]').click();
        }
    }

    $('#saveFolder').on('click', function() {
        FolderForm.save();
    })

    $('#cancelFolder').on('click', function() {
        FolderForm.close();

    })

</script>