<li id="[?merge .orgId ?]" class="organization" 
    data-path="[?merge .displayName ?]" 
    data-orgregnumber="[?merge .registrationNumber ?]" 
    data-archivalprofiles="[?merge .archivalProfiles.json() ?]"
    data-acceptarchivewithoutprofile="[?merge .acceptArchiveWithoutProfile ?]">
    <span class="orgNode node-default">
        <i class="fa" data-default-icon="fa-square"/>
        <b><?merge .displayName ?></b>
    </span>

    <?merge .isLeaf.bool().not() ?>
    <ul>
        <?merge .organization /filePlan/organizationNode.html ?>
        <?merge .folder /filePlan/folderNode.html ?>
    </ul>
</li>