<div class="panel panel-default dataForm" id="positionMoveForm">
    <div class="panel-heading">
        <h4>Move file plan<small></small></h4>

    </div>
    <div class="panel-body">
        <form>
            <input type="hidden" name="subjectId">
            <div class="form-group">
                <label>New parent name</label>
                <select class="form-control" name="newParentSubjectId">
                    <?merge list ?>
                    <option value="[?merge .subjectId ?]" data-parentSubjectId="[?merge .name ?]"> <?merge .name ?></option>
                </select>
            </div>
        </form>
        <button type="button" class="btn btn-success" id="moveSubject" title="Save">Save</button>
        <button type="button" class="btn btn-warning" id="cancelMoveSubject" title="Cancel">Cancel</button>
    </div>
</div>


<script>
    //cancel position moving
    $("#contain").on('click', "#cancelMoveSubject", function(){
        $('#positionMoveForm').css('display', 'none');
    })

    //move a position
    $("#positionMoveForm").on('click', '#moveSubject', function(){
        $('button').attr('disabled', 'true');
        newParentSubjectId = $('[name="newParentSubjectId"]').find('option:selected').val();
        if(newParentSubjectId == ""){
            newParentSubjectId = null;
        }
        var subject = {
            newParentSubjectId : newParentSubjectId,
            subjectId : $('[name="subjectId"]').val()
        };
        $.ajax({
            url: "/filePlan/moveSubject",
            type: "PUT",
            data: JSON.stringify(subject),
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                gritter.show(response.message, response.status, response.errors);
                $('#positionMoveForm').css('display', 'none');
                reloadTree();
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        })
    })
</script>