<!--#
    This file is part of the maarchRM package.
    (c) Maarch Prosper DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div lang="en" data-translate-catalog="filePlan/messages">
    <div class="row" >
        <input type="hidden" id="filePlanPrivileges" value="[?merge filePlanPrivileges ?]"/>
    </div>
    <?merge filePlan.bool() ?>
    <div id="filePlanTree" class="tree-l">
        <?merge filePlan ?>
        <ul>
            <?hinclude /filePlan/organizationNode.html ?>
        </ul>
    </div>
    <div id="folderNodeTemplate" class="hide">
        <?hinclude /filePlan/folderNode.html ?>
    </div>

    <?hinclude /filePlan/folderForm.html ?>
    <?hinclude /filePlan/movingConfirmationModal.html ?>
    <?hinclude /filePlan/supressionConfirmationModal.html ?>
    <?hinclude /filePlan/archiveAssignmentModal.html ?>
</div>

<style>
    .folderNode, .orgNode {
        position: relative;
        cursor: pointer;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .folderNode > b, .orgNode > b {
        font-weight: normal;
        font-size: 14px;
        float: left;
        width: calc(100% - 30px);
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    .folderNode > i, .orgNode > i {
        font-size: 16px;
        float: left;
        width: 10px;
    }
    .orgNode:hover, .folderNode:hover {
        background-color: #DDD;
    }
    #filePlanTree > ul {
        padding-left: 0;
    }
    #filePlanTree li {
        padding: 0px;
    }

    #filePlanTree .dropdown-menu {
        padding: 10px;
        font-size: 12px;
    }
    #filePlanTree .dropdown-menu a {
        padding: 5px 0px;
    }

    .folderNode .dropdown, .orgNode .dropdown {
        visibility: hidden
    }

</style>

<script>
    FilePlan = {
        tree: $('#filePlanTree'),
        selectedNode : null,
        currentOrgRegnumber : null,
        locked : false,
        
        getCurrentOrgRegNumber: function() {
            this.currentOrgRegNumber = this.tree.find('li:first').data('orgregnumber');
        },

        mouseenter: function(e) {
            e.find('.dropdown').css('visibility', 'visible');
        },

        mouseleave: function(e) {
            if (e.hasClass('node-warning')) {
                return;
            }
            e.find('.dropdown').css('visibility', 'hidden');
        },

        select: function(e) {
            if (this.selectedNode && (this.selectedNode.attr('id') == e.attr('id'))) {
                return;
            }
            e.find('.dropdown:first').css('visibility', 'visible');

            this.unselect();
            var span = e.children('span');
            if (span.hasClass('folderNode')) {
                FolderNode.select(span);
            } else {
                OrganizationNode.select(span);
            }

            this.selectedNode = e;
        },

        unselect: function() {
            if (!this.selectedNode) {
                return;
            }
            var span = this.selectedNode.children('span');
            span.find('.dropdown').css('visibility', 'hidden');
            
            if (span.hasClass('folderNode')) {
                FolderNode.unselect(span);
            } else {
                OrganizationNode.unselect(span);
            }
            this.selectedNode = null;
        },

        load: function(e) {
            if (this.locked) {
                return;
            }
            this.select(e);
            var orgRegNumber = e.data('orgregnumber');
            var path = this.getPath(e);
            var folderId = null;
            var profiles = null;
            var locked = null;
            var acceptarchivewithoutprofile = null

            if (e.hasClass('organization')) {
                profiles = e.data('archivalprofiles');
                acceptArchiveWithoutProfile = e.data('acceptarchivewithoutprofile');

            } else {
                folderId = e.attr('id');
                description = e.data('description')
                profiles = e.closest('.organization').data('archivalprofiles');
                acceptArchiveWithoutProfile = e.closest('.organization').data('acceptarchivewithoutprofile');
                locked = e.data('closed');
            }

            trigger("loadFolder.recordsManagement", [path, orgRegNumber, folderId, profiles, locked, acceptArchiveWithoutProfile]);
        },

        getPath: function(e) {
            var path = [[$.trim(e.find('b:first').text()), e.attr('id')]];
            var parent = $(e).closest('ul').closest('li');
            
            if (parent.length) {
                path = $.merge(path, this.getPath(parent));
            }

            return path;
        },

        addFolder: function() {
            var folder = {
                parentFolderId    : this.selectedNode.not('.organization').attr('id'),
                ownerOrgRegNumber : this.selectedNode.data('orgregnumber')
            }

            trigger("loadFolder.filePlan", [folder]);
        },

        editFolder: function() {
            var folder = {
                folderId          : this.selectedNode.attr('id'),
                name              : this.selectedNode.find('b:first').find('span').html(),
                description       : this.selectedNode.data('description'),
                parentFolderId    : this.selectedNode.data('parentid'),
                ownerOrgRegNumber : this.selectedNode.data('orgregnumber'),
                closed            : this.selectedNode.data('closed')
            }

            trigger("loadFolder.filePlan", [folder]);
        },

        deleteFolder: function() {
            DeleteConfirmationModal.show();
        },

        addFolderNode: function(folder) {
            var template = $('#folderNodeTemplate').children('li').clone();
            template = this.fullUpFolderNode(folder, template);

            template.data('path', this.selectedNode.data('path')+'/'+folder.name)
            BootstrapTree.addNode(this.selectedNode, template);

            this.initDragNDrop();
        },

        editFolderNode: function(folder) {
            var folderNode = $('#'+folder.folderId);
            this.fullUpFolderNode(folder, folderNode);

            var path = folderNode.data('path');
            path = path.split('/');
            path[path.length-1] = folder.name;
            folderNode.data('path', path.join('/'));

            folderNode.find('b').click();
        },

        fullUpFolderNode: function(folder, node) {
            node.attr('id', folder.folderId)
                .data('orgregnumber', folder.ownerOrgRegNumber)
                .data('parentid', folder.parentFolderId)
                .data('description', folder.description)
                .data('closed', folder.closed)
                .children('span')
                .children('b').append(folder.name);

            return node;
        },

        initDragNDrop: function() {
            if (!$('#filePlanPrivileges').val()) {
                return;
            }
            $('#filePlanTree').find('.folder').draggable(DroppableOption)
            $('#filePlanTree').find('.folderNode').droppable(FolderDroppableOption);
            $('#filePlanTree').find('.orgNode').droppable(OrganizationDroppableOption);
        },
        
        getChildrenOrg : function() {
            var orgNode = FilePlan.selectedNode;
            if (!$(FilePlan.selectedNode).hasClass("organization")) {
                orgNode = $(FilePlan.selectedNode).closest(".organization");
            }

            return $(orgNode).find(".organization");
        }
    }

    FolderNode = {
        moveIn: function(e) {
            e.find('b')
             .css("font-size", "20px");

            if (e.closest('.folder').data('closed')) {
                e.addClass('node-danger');   
            }
        },

        moveOut: function(e) {
            e.removeClass('node-danger')
             .find('i')
             .siblings()
             .css("font-size", "14px")
             .find('i')
             .css("font-size", "16px");
            
        },

        select: function(e) {
            e.addClass('node-warning');
        },

        unselect: function(e) {
            e.removeClass('node-warning');
        }
    }

    OrganizationNode = {
        moveIn: function(e) {
            e.children('b').css('font-size', '20px');
        },

        moveOut: function(e) {
            e.children('b').css('font-size', '14px');
        },

        select: function(e) {
            e.addClass('node-warning');
            $('#editFolder, #deleteFolder').prop('disabled', true);
            $('#addFolder').prop('disabled', false);
        },

        unselect: function(e) {
            e.removeClass('node-warning');
        }
    }

    DroppableOption = {
        revert : true,
        zIndex: 100,
        helper: "clone",
        delay: 100
    }

    FolderDroppableOption = {
        over: function(event, ui) {
            FolderNode.moveIn($(this));
        },
        out: function(event, ui) {
           FolderNode.moveOut($(this));
        },
        drop: function(event, ui) {
            FolderNode.moveOut($(this));

            if ($(ui.draggable).hasClass('folder')) {
                MovingConfirmationModal.show($(ui.draggable).closest('li'), $(this).closest('li'));
                
            } else if ($(ui.helper).hasClass('archiveHelper')) {
                if (FilePlan.selectedNode.closest('li').data('orgregnumber') == $(this).closest('li').data('orgregnumber')) {
                    ArchiveAssignmentModal.moveInFolder($(ui.helper).data('archives'), $(this));
                }

            }
        }
    }

    OrganizationDroppableOption = {
        greedy : true,
        over: function(event, ui) {
           OrganizationNode.moveIn($(this));
        },
        out: function(event, ui) {
           OrganizationNode.moveOut($(this));
        },
        drop: function(event, ui) {
            OrganizationNode.moveOut($(this));

            if ($(ui.draggable).hasClass('folder')) {
                MovingConfirmationModal.show($(ui.draggable).closest('li'), $(this).closest('li'));

            } else if ($(ui.helper).hasClass('archiveHelper')) {
                var droppableLi = $(this).closest('li');

                if (droppableLi.attr('id') != FilePlan.selectedNode.attr('id') &&
                    droppableLi.data('orgregnumber') == FilePlan.selectedNode.data('orgregnumber')){
                    ArchiveAssignmentModal.removeFromFolder($(ui.helper).data('archives'));
                }
            }
        }
    }

    $('#app_maarchRM_main').ready(function() {
        BootstrapTree.init($('#filePlanTree'));
        $('#filePlanTree').find('.fa:first').click();
        FilePlan.initDragNDrop();
        FilePlan.getCurrentOrgRegNumber();
    })

    // Folder selection
    $('#filePlanTree').on('mouseenter', '.folderNode, .orgNode', function() { 
        FilePlan.mouseenter($(this));
    })
    $('#filePlanTree').on('mouseleave', '.folderNode, .orgNode', function() { 
        FilePlan.mouseleave($(this));
    })
    $('#filePlanTree').on('click', '.folderNode, .orgNode', function() {
        FilePlan.load($(this).closest('li'));
    })

    // File plan menu
    $('#filePlanTree').on('click', '.addFolder', function(){ FilePlan.addFolder() })
    $('#filePlanTree').on('click', '.editFolder', function(){ FilePlan.editFolder() })
    $('#filePlanTree').on('click', '.deleteFolder', function(){ FilePlan.deleteFolder() })
    $('#filePlanTree').onEvent('loadFolder.filePlan', function(e, orgRegNumber) {
        FilePlan.load($('#'+orgRegNumber));
    })

    // File plan lock
    $('#filePlanTree').onEvent("archiveImportStarted.recordsManagement", function() {
        FilePlan.locked = true;
    });
    $('#filePlanTree').onEvent("archiveImportOver.recordsManagement", function() {
        FilePlan.locked = false;
    });
</script>