<!--#
    This file is part of the maarchRM package.
    (c) Maarch Prosper DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div lang="en" data-translate-catalog="filePlan/messages">
    <div id="filePlanTree" class="tree">
        <br/>
        <?merge filePlan ?>
        <ul>
            <?hinclude /filePlan/organizationNode.html ?>
        </ul>
    </div>
    <?hinclude /filePlan/moveFolderModal.html ?>
</div>

<style>
    .folder {
        padding: 0px !important; 
        min-width:150px !important;
    }
    .folder > b {
        font-size: 14px;
        cursor: pointer;
    }
    .folder > i {
        font-size: 24px;
    }
    #trash {
        color: #444;
        visibility: hidden;
    }
</style>
<script>
FilePlan = {
    tree: $('#filePlanTree'),
    selectedNode : null,
    select: function(e) {
        this.unselect();
        e.find('b:first').removeClass('label-default').addClass('label-warning');
        e.find('i:first').removeClass('text-primary').addClass('text-warning');
        this.selectedNode = e;
    },

    unselect: function() {
        if (!this.selectedNode) {
            return;
        }
        this.selectedNode.find('b:first').removeClass('label label-default label-warning');
        this.selectedNode.find('i:first').removeClass('text-warning').addClass('text-primary');
        this.selectedNode = null;
    }
}

FolderNode = {
    moveIn: function(e) {
        e.find('i')
         .css("font-size", "34px")
         .siblings()
         .css("font-size", "24px");
    },

    moveOut: function(e) {
        e.find('i')
         .css("font-size", "24px")
         .siblings()
         .css("font-size", "14px");
    },

    mouseenter: function(e) {
        if (e.css('font-size') != '24px') {
            e.addClass('label label-default');
        }
    },

    mouseleave: function(e) {
        if (!e.hasClass('label-warning')) {
            e.removeClass('label label-default');
        }
    }
}

OrganizationNode = {
    moveIn: function(e) {
        e.removeClass('node-default')
         .addClass('node-warning');
    },

    moveOut: function(e) {
        e.removeClass('node-warning')
         .addClass('node-default');
    }
}

FolderDroppableOption = {
    over: function(event, ui) {
       FolderNode.moveIn($(this));
    },
    out: function(event, ui) {
       FolderNode.moveOut($(this));
    },
    drop: function(event, ui) {
        FolderNode.moveOut($(this));
        MoveModal.show($(ui.draggable).closest('li'), $(this).closest('li'));
    }
}

OrganizationDroppableOption = {
    over: function(event, ui) {
       OrganizationNode.moveIn($(this));
    },
    out: function(event, ui) {
       OrganizationNode.moveOut($(this));
       
    },
    drop: function(event, ui) {
        OrganizationNode.moveOut($(this));
        MoveModal.show($(ui.draggable).closest('li'), $(this).closest('li'));
    }
}

$('#app_maarchRM_main').ready(function() {
    var options = {
       closedIcon : 'fa-folder',
       openedIcon: 'fa-folder-open' 
    }
    BootstrapTree.init($('#filePlanTree'), options);
})

// Folder selection
$('#filePlanTree').on('mouseenter', '.folder > b', function() { 
    FolderNode.mouseenter($(this));
});
$('#filePlanTree').on('mouseleave', '.folder > b', function() { 
    FolderNode.mouseleave($(this));
})

// Drag'n drop handling 
$('.folder').draggable({
    revert : true,
    drag : function() {
        $('#trash').css('visibility', 'visible');
    },
    stop: function() {
        $('#trash').css('visibility', 'hidden');
    }
})

$('.folder').droppable(FolderDroppableOption);
$('.orgNode').droppable(OrganizationDroppableOption);
$('#trash').droppable({
    over: function(event, ui) {
       $(this).removeClass('disabled');
              //.addClass('btn-warning')
              //.removeClass('btn-default');
    },
    out: function(event, ui) {
       $(this).addClass('disabled');
              //.removeClass('btn-warning')
              //.addClass('btn-default');
    },
    drop: function(event, ui) {
       $(this).addClass('disabled');
    }
})

</script>