<div>
    <?merge profile ?>
    <form class="form-horizontal" role="form">
        <div class="col-lg-6">
            <div class="well">
                <input type="hidden" name="profileId" id='profileId'/>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="profileName">Profile name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Profile name" name="profileName" id="profileName" />
                    </div>    
                </div>
            </div>
        </div>
    </form>
</div>