<!--#
This file is part of the digitalResource package.
(c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#-->
<div id="contain" >
    <div class="container-fluid" data-translate-catalog="recordsManagement/descriptionField">
        <div class="page-header">
            <h1>
                <i class="fa fa-cubes"></i>
                Description fields
            </h1>
        </div>
    </div>
    <div class="container-fluid" data-translate-catalog="recordsManagement/descriptionField">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4><span id='tableItemNumber'><?merge descriptionFields.count() ?></span> description field(s)</h4>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table dataTable" id="descriptionField_tableList">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Label</th>
                                    <th>Type</th>
                                    <th style="min-width:100px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge descriptionFields ?>
                                <tr>
                                    <td><?merge .name ?></td>
                                    <td><?merge .label ?></td>
                                    <?merge .translateType.bool() ?>
                                    <td><?merge .translateType ?></td>
                                    <?merge .translateType.bool().not() ?>
                                    <td><?merge .type ?></td>
                                    <td class="action_btn">
                                        <?merge .extended.not() ?>
                                        <div class="btn-group pull-right">
                                            <button type="button" data-descriptionFieldName="[?merge .name ?]" class="editDescriptionField btn btn-warning" title="Edit">
                                                <span class="fa fa-fw fa-edit"></span>
                                            </button>
                                            <button type="button" data-descriptionFieldName="[?merge .name ?]" class="deleteDescriptionField btn btn-danger" title="Delete">
                                                <span class="fa fa-fw fa-trash"></span>
                                            </button>
                                        </div>
                                        <?merge .extended ?>
                                        <button type="button" data-descriptionFieldName="[?merge .name ?]" class="extendedDescriptionField btn btn-info pull-right" title="This field is defined on an extension and can not be managed in this panel. Contact the system operator to know more.">
                                            <span class="fa fa-fw fa-info"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h3>Description field</h3>
                </div>
                <div class="col-md-12" id="descriptionField_formContent">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Type<span style="color:red">&nbsp;*</span></label>
                            <div class="col-md-9">
                                <div class="btn-group" data-toggle="buttons" id="documentDescriptionPropertiesType">
                                    <label class="btn btn-default">
                                        <input type="radio" name="type" autocomplete="off" value="name"/>Keyword
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="type" autocomplete="off" value="text"/>Text
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="type" autocomplete="off" value="date"/>Date
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="type" autocomplete="off" value="number"/>Number
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="type" autocomplete="off" value="boolean"/>Boolean
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="fieldName">
                            <label class="col-md-2 control-label">Name<span style="color:red">&nbsp;*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="fieldName" placeholder="Name"/>
                                <small class="help-block">The first and last character must be a letter. You must use only letters and the special character '_'</small>
                            </div>
                        </div>
                        <div class="form-group" id="propertyLabel">
                            <label class="col-md-2 control-label">Label<span style="color:red">&nbsp;*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="label" placeholder="Label"/>
                            </div>
                        </div>

                        <!-- Keyword -->
                        <div class="form-group hide" id="keywordDefaultValue">
                            <label class="col-md-2 control-label">Default value</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="defaultValue" placeholder="Default value"/>
                            </div>
                        </div>

                        <div class="form-group hide" id="keywordSelectDefault">
                            <label class="col-md-2 control-label">Default value</label>
                            <div class="col-md-8">
                                <select class="form-control" name="defaultValue">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group hide" id="keywordInputModeForm" data-translate-catalog="recordsManagement/descriptionField">
                            <label class="col-md-2 control-label">Input mode</label>
                            <div class="col-md-8">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="keywordInputMode" id="keywordDefault" value="keywordDefault" checked>Input
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="keywordInputMode" id="keywordValueList" value="keywordValueList">Simple list
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="keywordInputMode" id="keywordKeyValueList" value="keywordKeyValueList">List with labels
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="keywordInputMode" id="keywordExternalRef" value="keywordExternalRef">External repository
                                    </label>
                                </div>
                                <br>
                                
                            </div>
                        </div>
                        <div class="form-group hide" id="keywordEnumForm" data-translate-catalog="recordsManagement/descriptionField">
                            <label class="col-md-2 control-label">Values</label>
                            <div class="col-md-8">
                                <div class="input-group" style="border-radius: 4px 0 0 4px;">
                                    <span class="input-group-addon" style="width: 0; padding: 0; border: 0;"></span>
                                    <input type='text' id="inputAddEnumeration" class="form-control col-md-6" name="keywordEnumField" placeholder="Identifier" style="border-radius: 4px 0 0 4px;" />
                                    <span class="input-group-addon" style="width: 0; padding: 0; border:0;"></span>
                                    <input type='text' id="inputAddEnumName" class="form-control col-md-6" name="keywordEnumField" placeholder="Label" style="display: none;" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success" id="btnAddEnumField"><span class="fa fa-plus"></span></button>
                                    </div>
                                </div>
                            </div>
                            <ul class="col-md-offset-2 col-md-8" id="keywordEnumList"></ul>
                        </div>

                        <div class="form-group hide" id="keywordRefForm" data-translate-catalog="recordsManagement/descriptionField">
                            <label class="col-md-2 control-label">Reference</label>
                            <?hinclude recordsManagement/descriptionField/fileUpload.html ?>
                        </div>

                        <!-- Simple text -->
                        <div class="form-group hide" id="textPropertyDefaultValue">
                            <label class="col-md-2 control-label">Default value</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="defaultValue" placeholder="Default value"/>
                            </div>
                        </div>

                        <!-- Number -->
                        <div class="form-group hide" id="numberPropertyDefaultValue">
                            <label class="col-md-2 control-label">Default value</label>
                            <div class="col-md-8">
                                <input type='number' class="form-control" name="defaultValue" placeholder="Default value"/>
                            </div>
                        </div>

                        <!-- Boolean -->
                        <div class="form-group hide" id="booleanPropertyDefaultValue">
                            <label class="col-md-2 control-label">Default value</label>
                            <div class="col-md-8">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <input type="radio" name="defaultValue" autocomplete="off" value="0"><i class="fa fa-times"></i>
                                    </label>
                                    <label class="btn btn-default active">
                                        <input type="radio" name="defaultValue" autocomplete="off" value="" checked>&nbsp;
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="defaultValue" autocomplete="off" value="1"><i class="fa fa-check"></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Date -->
                        <div class="form-group hide" id="defaultTodayDateGroup">
                            <label id="toggleText" class="col-md-2 control-label">Today's date by default</label>
                            <div class="col-md-8">
                                <input type="checkbox" class="disableToggle" name="defaultTodayDate" id="defaultTodayDate" data-toggle="toggle" >
                            </div>
                        </div>
                        <div class="form-group hide" id="dateWithTimeGroup">
                            <label id="toggleText" class="col-md-2 control-label">With time</label>
                            <div class="col-md-8">
                                <input type="checkbox" class="disableToggle" name="dateWithTime" id="dateWithTime" data-toggle="toggle" >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-10">
                    <div class="pull-right" id="descriptionField_formBtn">
                        <button type="button" class="btn btn-default" id="descriptionField_formCancelBtn">Cancel</button>
                        <button type="button" class="btn btn-success" id="descriptionField_formSaveBtn">Save</button>
                        <button type="button" class="btn btn-warning hide" id="descriptionField_formModifyBtn">Modify</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hide" data-translate-catalog="recordsManagement/descriptionField">
        <span id="message_confirmDelete">Are you sure to delete this row ?</span>
        <span id="message_requiredFields">You must define all required fields</span>
    </div>

    <div class="hide">
        <!-- DOCUMENT PROPERTY TEMPLATE -->
        <li class="list-group-item" id="keywordEnumTemplate" style="padding: 6px 15px;">
            <strong class="keywordEnumeration"></strong>
            <span class="keywordEnumName"></span>
            <span class="deleteKeywordEnum pull-right" title="Delete"><i class="fa fa-times"></i></span>
        </li>
    </div>
</div>
<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>

<script type="text/javascript">

    $("#descriptionField_formBtn").on('click', "#descriptionField_formCancelBtn", function () {
        clearForm();
    });

    $("#descriptionField_tableList").on('click', '.extendedDescriptionField', function () {
        clearForm();
    });

    $("#descriptionField_tableList").on('click', '.editDescriptionField', function () {
        var descriptionFieldName = $(this).attr("data-descriptionFieldName");

        $("#descriptionField_tableList > button").prop("disabled", true);

        $.ajax({
            url: '/descriptionField/' + descriptionFieldName,
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response.status) {
                    clearForm();
                    $("#descriptionField_formModifyBtn").removeClass("hide");
                    $("#descriptionField_formSaveBtn").addClass("hide")
                    mergeForm(response.descriptionField);
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });

        $("#descriptionField_tableList > button").removeProp("disabled");
    });

    $("#descriptionField_tableList").on('click', '.deleteDescriptionField', function () {
        /*if (!confirm($("#message_confirmDelete").text())) {
            return;
        }*/

        var descriptionFieldName = $(this).attr("data-descriptionFieldName");

        $("#descriptionField_tableList > button").prop("disabled", true);

        $.ajax({
            url: '/descriptionField/' + descriptionFieldName,
            type: 'DELETE',
            dataType: 'json',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status) {
                    load('/descriptionFields');
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });

        $("#descriptionField_tableList > button").removeProp("disabled");
    });


    $("#descriptionField_formBtn").on('click', "#descriptionField_formSaveBtn", function () {
        var data = new Object();
        data.descriptionField = serialize();

        var pattern = new RegExp("^[A-Za-z0-9_]*[A-Za-z0-9]$");

        if(!data.descriptionField.name) {
            gritter.show($("#message_requiredFields").text(), false);
        }

        if(!pattern.test(data.descriptionField.name)) {
            return;
        }

        if (!checkRequiredFields(data.descriptionField)) {
            gritter.show($("#message_requiredFields").text(), false);
            return;
        }

        $.ajax({
            url: '/descriptionField',
            type: 'POST',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status) {
                    load('/descriptionFields');
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });

    $("#descriptionField_formBtn").on('click', "#descriptionField_formModifyBtn", function () {
        var data = new Object();
        data.descriptionField = serialize();

        var pattern = new RegExp("^[A-Za-z0-9_]*[A-Za-z0-9]$");

        if(!pattern.test(data.descriptionField.name)) {
            return;
        }

        if (!checkRequiredFields(data.descriptionField)) {
            gritter.show($("#message_requiredFields").text(), false);
            return;
        }

        $.ajax({
            url: '/descriptionField/'+data.descriptionField.name,
            type: 'PUT',
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status) {
                    load('/descriptionFields');
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });

    $("#keywordEnumList").on('click', ".deleteKeywordEnum", function () {
        var label = $(this).closest(".list-group-item").find('.keywordEnumeration').text();

        $(this).closest(".list-group-item").remove();
        $('#keywordSelectDefault').find('[value="'+label+'"]').remove();

        var nbResult = $("#keywordEnumList").find(".list-group-item").length;
        if (nbResult == 0) {
            $('#keywordDefaultValue').removeClass('hide');
            $('#keywordSelectDefault').addClass('hide');
        }
    });

    $("#keywordEnumForm").on('click', "#btnAddEnumField", function () {
        if ($("#inputAddEnumeration").val() === "" || $("#inputAddEnumeration").val() === null || $("#inputAddEnumeration").val() === undefined) {
            return;
        }

        var template = $("#keywordEnumTemplate").clone();
        template.removeAttr("id");
        var inputAddEnumeration = $("#inputAddEnumeration").val()
        var inputValue = inputAddEnumeration;
        var inputAddEnumName = $("#inputAddEnumName").val();
        var option;
        if (inputAddEnumName !== '') {
            option = $("<option></option>").val(inputAddEnumeration).text(inputAddEnumName);
            inputValue += ':' + inputAddEnumName;
        } else {
            option = $("<option></option>").val(inputAddEnumeration).text(inputAddEnumeration);
        }
        template.find(".keywordEnumeration")
                .text(inputAddEnumeration)
                .attr('data-Enumeration', inputAddEnumeration)
                .attr('data-EnumNames', inputAddEnumName);
        template.find(".keywordEnumName")
                .text(inputAddEnumName);

        $("#keywordEnumList").append(template);
        $('#keywordDefaultValue').addClass('hide');
        $('#keywordSelectDefault').removeClass('hide');

        $('#keywordSelectDefault').find('select').append(option);

        $("#inputAddEnumeration").val("");
        $("#inputAddEnumName").val("");
    });

    // Properties form
    $('input[type=radio][name=type]').on('change', function() {
        var type = $(this).val();
        $('#keywordDefaultValue, #textPropertyDefaultValue, #numberPropertyDefaultValue, #booleanPropertyDefaultValue, #keywordInputModeForm, #keywordRefForm, #keywordSelectDefault, #dateWithTimeGroup, #defaultTodayDateGroup, #keywordEnumForm').addClass('hide');
        $('#keywordEnumList').empty();
        $('#keywordSelectDefault').find("[name='defaultValue'] option:not(:first)").remove();

        switch (type) {
            case "name" :
                $('#keywordInputModeForm').removeClass('hide');
                $('#keywordDefaultValue').removeClass('hide');
                $('#keywordDefault').prop('checked', true);
                break;

            case "text" :
                $('#textPropertyDefaultValue').removeClass('hide');
                break;

            case "date" :
                $('#dateWithTimeGroup').removeClass('hide');
                $('#defaultTodayDateGroup').removeClass('hide');
                break;

            case "number" :
                $('#numberPropertyDefaultValue').removeClass('hide');
                break;

            case "boolean" :
                $('#booleanPropertyDefaultValue').removeClass('hide');
                break;
        }
    });

    function clearForm() {
        $("#descriptionField_formContent").find("select").prop('selectedIndex', 0).change();
        $("#descriptionField_formContent").find('input[type="text"], input[type="number"], select').val('');
        $("#descriptionField_formContent").find('input[type="checkbox"]').prop('checked', false);

        $('#fieldName').find('input').removeAttr("disabled");

        let formGroup = $('#fieldName').closest('.form-group');
        formGroup.removeClass('has-error');
        formGroup.removeClass('has-success');

        $('#documentDescriptionPropertiesType').find('.active').removeClass("active");

        $('#booleanPropertyDefaultValue').find('.active').removeClass("active");
        $('#booleanPropertyDefaultValue').find('[value=""]').parent().addClass("active");

        $('#dateWithTime').bootstrapToggle('off');
        $('#defaultTodayDate').bootstrapToggle('off');

        $('#keywordDefaultValue, #keywordSelectDefault, #textPropertyDefaultValue, #numberPropertyDefaultValue, #booleanPropertyDefaultValue, #descriptionField_formModifyBtn, #dateWithTimeGroup, #defaultTodayDateGroup, #keywordEnumForm').addClass('hide');

        $('#descriptionField_formSaveBtn').removeClass('hide');
        
        $("#keywordSelectDefault").find("select").empty();
        $("#keywordSelectDefault").find("select").append('<option></option>');

        $('#keywordDefault').prop('checked', true);

        $('#keywordEnumList').empty();
        $('#keywordInputModeForm').addClass('hide');
    }

    function mergeForm(descriptionField) {
        $('#documentDescriptionPropertiesType').find('input[type=radio][name=type][value='+descriptionField.type+']').parent().addClass("active");
        $('#propertyLabel').find('input').val(descriptionField.label);
        $('#fieldName').find('input').val(descriptionField.name).attr("disabled",true);
        let formGroup = $('#fieldName').closest('.form-group');
        formGroup.removeClass('has-error');
        formGroup.removeClass('has-success');
        switch (descriptionField.type) {
            case "text" :
                $('#textPropertyDefaultValue').removeClass('hide');
                $('#textPropertyDefaultValue').find("input").val(descriptionField.default);
                break;

            case "name" :
                $("#keywordInputModeForm").removeClass("hide");
                
                var hasEnum = false;
                if (descriptionField.enumeration !== "" && descriptionField.enumeration !== null && descriptionField.enumeration !== undefined) {
                    hasEnum = true;
                }

                if (hasEnum) {
                    var hasEnumNames = false;
                    $('#inputAddEnumName').hide();

                    $('#keywordValueList').prop('checked', true);
                    
                    if (descriptionField.enumNames !== "" && descriptionField.enumNames !== null && descriptionField.enumNames !== undefined) {
                        hasEnumNames = true;
                        $('#keywordKeyValueList').prop('checked', true);
                        $('#inputAddEnumName').show();
                    }

                    $.each(descriptionField.enumeration, function (key, value) {
                        if (hasEnumNames === true) {
                            $("#inputAddEnumeration").val(value);
                            $('#inputAddEnumName').val(descriptionField.enumNames[key]);
                        } else {
                            $("#inputAddEnumeration").val(value).attr('data-Enumeration', value);
                        }
                        $("#btnAddEnumField").click();
                    });
                    $("#keywordSelectDefault").find("select").val(descriptionField.default);
                    $("#keywordEnumForm").removeClass("hide");
                } else if (descriptionField.ref === true) {
                    $('#keywordDefaultValue').removeClass('hide');
                    $('#inputAddEnumName').hide();
                    $("#keywordEnumForm").addClass("hide");
                    $('#keywordExternalRef').prop('checked', true);
                } else {
                    $('#keywordDefaultValue').removeClass('hide');
                    $('#keywordDefaultValue').find("input").val(descriptionField.default);
                    $("#keywordEnumForm").addClass("hide");
                    $('#keywordDefault').prop('checked', true);
                }

                break;

            case "date" :
                $('#dateWithTimeGroup').removeClass('hide');
                $('#defaultTodayDateGroup').removeClass('hide');
                if (descriptionField.format == 'datetime') {
                    $('#dateWithTime').bootstrapToggle('on');
                }
                if (descriptionField.default == 'now') {
                    $('#defaultTodayDate').bootstrapToggle('on');
                }
                break;

            case "number" :
                $('#numberPropertyDefaultValue').removeClass('hide');
                $('#numberPropertyDefaultValue').find("input").val(descriptionField.default);
                break;

            case "boolean" :
                $('#booleanPropertyDefaultValue').removeClass('hide');
                $('#booleanPropertyDefaultValue').find('.active').removeClass("active");

                if (descriptionField.default == 1 || descriptionField.default == 0) {
                    $('#booleanPropertyDefaultValue').find('[value="'+descriptionField.default+'"]').parent().addClass("active");
                } else {
                    $('#booleanPropertyDefaultValue').find('[value=""]').parent().addClass("active");
                }
                break;
        }
    }

    function checkRequiredFields(descriptionField) {
        var requiredFields = ["name", "label", "type"];

        var error = 0;
        $.each(requiredFields, function( i, val ) {
            if (descriptionField[val] == null || descriptionField[val] == "undefined" || descriptionField[val] == "") {
                error++;
                return;
            }
        });

        if (error > 0) {
            return false;
        }

        return true;
    }

    function serialize () {
        var type = $('.active > input[type=radio][name=type]').val();

        var field = {
            name         : $('#fieldName').find('input').val(),
            label        : $('#propertyLabel').find('input').val(),
            type         : type,
        };


        // Default value
        switch(field['type']) {
            case "name":
                field = serializeName(field);
                break;

            case "text":
                field['default'] = $('#textPropertyDefaultValue').find('input').val() != '' ? $('#textPropertyDefaultValue').find('input').val() : null;
                break;

            case "boolean":
                switch ($('#booleanPropertyDefaultValue').find('input:checked').val()) {
                    case "1": field['default'] = 1;
                        break;
                    case "0": field['default'] = 0;
                        break;
                    default: field['default'] = null;
                        break;
                }
                break;

            case "number":
                field['default'] = $('#numberPropertyDefaultValue').find('input').val() != '' ? $('#numberPropertyDefaultValue').find('input').val() : null;
                break;

            case "date":
                if ($('#dateWithTime').prop('checked') === true) {
                    field['format'] ='datetime';
                }
                if ($('#defaultTodayDate').prop('checked') === true) {
                    field['default'] = "now";
                }
                break;
        }

        return field;
    }

    function serializeName(field) {
        var nbResult = $("#keywordEnumList").find(".list-group-item").length;

        if (nbResult == 0) {
            field['default'] = $('#keywordDefaultValue').find('input').val() != '' ? $('#keywordDefaultValue').find('input').val() : null;
            if ($('#keywordExternalRef').prop('checked') === true) {
                field['ref'] = true;
            }
        } else {
            var enumeration = new Array();
            var enumNames = new Array();
            $.each($("#keywordEnumList").find(".keywordEnumeration"), function (key, item) {
                if (item.getAttribute('data-enumeration') != '') {
                    enumeration.push(item.getAttribute('data-enumeration'));
                }
                if (item.getAttribute('data-enumNames') != '') {
                    enumNames.push(item.getAttribute('data-enumNames'))
                }
            });

            field['enumeration'] = enumeration;
            field.enumNames = enumNames;
            field['default'] = $('#keywordSelectDefault').find(":selected").val() != '' ? $('#keywordSelectDefault').find(":selected").val() : null;
        }

        return field;
    }

    $("#descriptionField_formContent").on("keyup","[name='fieldName']", function(){
        var input = $(this);
        var pattern = new RegExp("^[A-Za-z0-9_]*[A-Za-z0-9]$");
        var formGroup = input.closest('.form-group');

        if(!input.val()) {
            formGroup.removeClass('has-error');
            formGroup.removeClass('has-success');
        } else if (pattern.test(input.val())) {
            formGroup.removeClass('has-error').addClass('has-success');
        } else {
            formGroup.removeClass('has-success').addClass('has-error');
        }
    });

    $('#keywordInputModeForm .radio').on('change', function(e) {
        var value = $(this).find('input').val();
        switch (value) {
            case 'keywordValueList':
                $(this).siblings('.input-group').show();
                $('#inputAddEnumName').hide();
                $('#keywordEnumList').empty();
                $("#keywordEnumForm").removeClass("hide");
                $('#keywordDefaultValue').addClass('hide');
                $("#keywordSelectDefault").removeClass('hide');
                $("#keywordSelectDefault").find("select").empty();
                $("#keywordSelectDefault").find("select").append('<option/>');
                break;

            case 'keywordKeyValueList':
                $(this).siblings('.input-group').show();
                $('#inputAddEnumName').show();
                $("#keywordEnumForm").removeClass("hide");
                $('#keywordEnumList').empty();
                $('#keywordDefaultValue').addClass('hide');
                $("#keywordSelectDefault").removeClass('hide');
                $("#keywordSelectDefault").find("select").empty();
                $("#keywordSelectDefault").find("select").append('<option/>');
                break;

            case 'keywordExternalRef':
                $(this).siblings('.input-group').hide();
                $('#inputAddEnumName').hide();
                $("#keywordEnumForm").addClass('hide');
                $('#keywordEnumList').empty();
                $('#keywordDefaultValue').removeClass('hide');
                $('#keywordSelectDefault').addClass('hide');
                break;

            default:
                $('#inputAddEnumName').hide();
                $("#keywordEnumForm").addClass('hide');
                $('#keywordEnumList').empty();
                $('#keywordDefaultValue').removeClass('hide');
                $('#keywordSelectDefault').addClass('hide');
        }

    });


</script>
