<!--#
This file is part of the medona package.
(c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#-->
<div id="contain" >
    <div class="container-fluid" data-translate-catalog="medona/archivalAgreement">
        <div class="page-header">
            <h1>
                <i class="fa fa-briefcase"></i>
                Archival agreements
            </h1>
        </div>
    </div>
    <div class="container-fluid" data-translate-catalog="medona/archivalAgreement">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4><span id='tableItemNumber'><?merge archivalAgreements.count() ?></span> archival agreement(s)</h4>
                        </div>
                        <div class="pull-right">
                            <button type="button" id="addNewAgreement" class="btn btn-default btn-sm" title="Add"><i class="fa fa-plus fa-fw">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table dataTable" id="tableListArchivalAgreement">
                            <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Description</th>
                                    <th style="min-width:100px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge archivalAgreements ?>
                                <tr>
                                    <td><?merge .reference ?></td>
                                    <td><?merge .description ?></td>
                                    <td class="action_btn">
                                        <div class="btn-group pull-right">
                                            <button type="button" data-edit-agreement-id="[?merge .archivalAgreementId?]" class="btn btn-info edit" title="Edit">
                                                <span class="fa fa-fw fa-edit"></span>
                                            </button>
                                            <button type="button" data-delete-agreement-id="[?merge .archivalAgreementId ?]" class="btn btn-danger delete" title="Delete">
                                                <span class="fa fa-fw fa-trash"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="messagesModal"  data-translate-catalog="medona/archivalAgreement">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="m_title-delete">Delete the archival agreement</h4>
            </div>
            <div class="modal-body">
                <p id="m_text-delete">
                    delete archival agreement
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="m_no" data-dismiss="modal" title="No">Cancel</button>
                <button type="button" class="btn btn-danger" id="m_yes" data-dismiss="modal" title="Yes">Delete</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">  
    $("#tableListArchivalAgreement").on("click", '.edit', function (){
        load('/medona/archivalAgreement/edit/' + $(this).data("edit-agreement-id"));
    });
    
$("#addNewAgreement").on('click', function(){
    load("/medona/archivalAgreement/newAgreement");
})

$("#tableListArchivalAgreement").on('click', '.delete', function(){
    archivalAgreementId = $(this).data('delete-agreement-id');
    $('#messagesModal').modal();


})

    $("#m_yes").on('click',function() {
        ajax($(this), {
            url         : '/medona/archivalAgreement/'+archivalAgreementId,
            type        : 'DELETE',
            contentType : 'application/json',
            dataType    :'json',
            success     : function(response){
                gritter.show(response.message, response.status, response.errors);
                if(response.status) {
                    $('#messagesModal').modal('toggle');
                    $('#messagesModal').one('hidden.bs.modal', function () {
                        load("/medona/archivalAgreements");
                    });
                }
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        })
    });

</script>
