<ul>
    <li>
        <span class="root">
            <h5> <i class="navIcon fa">&nbsp;</i>
                <?merge .bundle?>&nbsp;&nbsp;
                <div class="btn-group" data-toggle="buttons" >
                    <label class="bundleRadio fullBundleCheck btn btn-toggle [?merge .granted.then('btn-success active', 'btn-default') ?]">
                        <?merge .granted @checked ?>
                        <input type="checkbox" class="bundleRadioBtn" value='[?merge .bundle ?]/*'><i class="fa [?merge .granted.then('fa-link', 'fa-unlink') ?]"></i>
                    </label>
                </div>
                <!--input type='checkbox' data-bundleName='[?merge .getName() ?]' class="fullBundleCheck" value='[?merge .getName() ?]/*'-->
            </h5>
        </span>
        <ul>
        </ul>
    </li>
</ul>
