<!--#
    This file is part of the medona package.
    (c) Maarch Prosper DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div id="contain" >
    <div class="container-fluid" lang="en" data-translate-catalog="medona/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-hourglass-half"></i>
                Transfer incoming list
            </h1>
        </div>
        <?hinclude medona/message/list.html ?>
    </div>
</div>