<style>
    .fileDropZone {
        border: 2px dashed grey;
        cursor: pointer;
        padding: 70px 10px 70px 10px;
        text-align: center;
        color: grey;
        opacity: 0.5;
    }
</style>
<div>
    <?merge inputs ?>
    <div class="form-group" id="inputsDiv">
        <label class="col-sm-4 control-label" data-toggle="tooltip" title="[?merge .['help'] ?]"><?merge .['label'] ?><?merge .['required'].bool() ?><span style="color: red"> *</span></label>

        <?merge .['typeAccepted'].not() ?>
        <div class="form-group col-sm-8">
            <input type="text"
                class="form-control [?merge .['type'].in('organization', 'archivalProfile').then(inputs.current().['type'], '') ?]"
                name="[?merge .['name'] ?]"
                required="[?merge .['required'].bool().then('true', '') ?]"
                placeholder="[?merge .['default'] ?]"
                value="[?merge .['default'] ?]"
                data-external="[?merge .['type'].ifeq('external').then(inputs.current().['ref'], '') ?]"/>
        </div>

        <?merge .['type'].ifeq('number') ?>
        <div class="form-group col-sm-8">
            <input type="number" class="form-control" name="[?merge .['name'] ?]" required="[?merge .['required'].bool().then('true', '') ?]" placeholder="[?merge .['default'] ?]" value="[?merge .['default'] ?]"/>
        </div>

        <?merge .['type'].ifeq('boolean') ?>
        <div class="form-group col-sm-8 checkbox">
            <input type="checkbox" class="form-check-input" data-toggle="toggle" data-on="Oui" data-off="Non" name="[?merge .['name'] ?]" required="[?merge .['required'].bool().then('true', '') ?]" checked="[?merge .['default'].bool().then('true', '') ?]"/>
        </div>

        <?merge .['type'].ifeq('enum') ?>
        <div class="form-group col-sm-8">
            <select class="form-control" name="[?merge .['name'] ?]" required="[?merge .['required'].bool().then('true', '') ?]" value="[?merge .['default'] ?]">
                <?merge .['enumNames'] $enumNames ?>
                <?merge $enumNames ?>
                <option value="[?merge . ?]" selected="[?merge inputs.current().['default'].ifeq($enumNames.current()).then('true', '') ?]"><?merge . ?></option>
            </select>
        </div>

        <?merge .['type'].ifeq('file') ?>
        <div class="form-group col-sm-8">
            <?merge .['multiple'] @multiple ?>
            <input type="file" name="[?merge .['name'] ?]" class="fileBrowser btn btn-light" data-show-upload="true" data-show-caption="true" required="[?merge .['required'].bool().then('true', '') ?]">
        </div>
    </div>
    <span id="noOriginatorFound" class="hide">No originator found</span>
</div>

<script>
    // Cancel
    $('#messageImport_cancel').on('click', function() {
        $('.fileBrowser').val('');
    })


    // Add
    $('.fileBrowser').on('change', function() {
        $(this).data('readers', []);

        for (var i = 0; i < $(this).get(0).files.length; i++) {
            file = $(this).get(0).files[i];
            var oFileReader = new FileReader();
            oFileReader.readAsDataURL(file);

            $(this).data('readers').push(oFileReader);
        }
    });

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    function getTypeahead(field) {
        let fieldName = field.data("external");
        var data = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace(),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/descriptionRef/'+fieldName+'?query=%QUERY',
                wildcard: '%QUERY'
            }
        });
        data.initialize();

        field.typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 1
            },
            {
                name: 'data',
                source: data.ttAdapter(),
                templates: {
                    suggestion: function(data) {
                        delete data._query;
                        var html = $('<div>');
                        var keyname = Object.keys(data)[0];
                        var key = data.keyname;
                        html.append($('<strong class="badge">').text(key));
                        delete data[keyname];
                        var value = Object.keys(data).map(function(name){return data[name]}).join(" - ");
                        html.append(' '+value);
                        return html;
                    }
                }
            }
        ).on('typeahead:selected', function ($event, suggestion, source) {
            var keys = Object.keys(suggestion); //fetched the key at first index
            field.val(suggestion[keys[1]]);
            field.typeahead('val', suggestion[keys[1]]);
        });

        return field;
    }

    function setTypeahead(url, inputKey, displayKey, name) {
        var entities = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace(displayKey),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {url: url, ttl: '0'},
            limit: 100
        });

        entities.initialize();

        // initialize typeahead
        $('.' + name).typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 1
            },
            {
                name: name + 's',
                displayKey: inputKey,
                templates: {
                    suggestion: function(entity) {
                        var display =
                            "<span>"
                            + "<span style='font-family:Helvetica, sans-serif;'>";
                        display += entity[displayKey] + "</span></span><br>";

                        return display;
                    }
                },
                source: function(query, cb) {
                    entities.search(query, function(suggestions) {
                        cb(suggestions);
                    });
                },
                skipCache: true
            }
        );
    }

    $("#inputsDiv").ready(() => {
        $('[data-external]').each(function() {
            let field = $(this);
            getTypeahead(field);
        });

        window.localStorage.clear();
        if ($('.organization').length > 0) {
            setTypeahead('/organizations/todisplay?orgUnit=true&ownerOrg=true', 'registrationNumber', 'displayName', 'organization');
        }
        if ($('.archivalProfile').length > 0) {
            setTypeahead('/archivalprofiles/todisplay', 'reference', 'name', 'archivalProfile');
        }
    })

    $('[type="checkbox"]').bootstrapToggle({
        on: 'Oui',
        off: 'Non'
    });

    $('[type="checkbox"]').on('click', function(e) {
        e.stopPropagation();
        e.preventDefault();
        if ($(this).is(':checked')) {
            $(this).bootstrapToggle('off');
            //$('#partialRetentionRule label').addClass('btn-info').removeClass('btn-default');
        } else {
            $(this).bootstrapToggle('on');
            //$('#partialRetentionRule label').addClass('btn-default').removeClass('btn-info');
        }
    });
</script>
