<div class="panel panel-default dataForm" id="filePlanPositionForm">
    <div class="panel-heading">
        <h4>File plan position <small></small></h4>
    </div>
    <?merge position ?>
    <div class="panel-body">
        <form>
            <input type="hidden" name="ownerFilePlanCode" data-owner="">
            <input type="hidden" name="parentCode" data-parentCode="" >
            <div class="form-group">
                <label>Code</label>
                <?merge position.positionCode.bool() @disabled ?>
                <input type="text" class="form-control" name="positionCode" placeholder="file plan position code">
            </div>
            <div class="form-group">
                <label>Display name</label>
                <input type="text" class="form-control" name="displayName" placeholder="display name">
            </div>
        </form>
        <button type="button" class="btn btn-success" id="addPosition">Save</button>
        <button type="button" class="btn btn-warning" id="cancelPosition">Cancel</button>
    </div>
</div>

<script>

    //cancel modification
    $(document).on('click', "#cancelPosition", function () {
        $('#filePlanPositionForm').css('display', 'none');
    });

    //add or modify a file plan position
    $("#filePlanPositionForm").on('click', "#addPosition", function () {
        $('button').attr('disabled', 'true');

        var action = "/filePlan/addFilePlanPosition";
        var method = "POST";

        if ($('#filePlanPositionForm [name="positionCode"]').attr('disabled')) {
            var action = "/filePlan/modifyFilePlanPosition";
            var method = "PUT";
        }

        var position = {
            positionCode: $('#formContainer').find("[name='positionCode']").val(),
            displayName: $('#formContainer').find("[name='displayName']").val(),
            ownerFilePlanCode: $('[name="ownerFilePlanCode"]').val(),
            parentCode: $('[name="parentCode"]').val()
        }

        var parametre = {
            position: position
        }
        
        $.ajax({
            url: action,
            type: method,
            data: JSON.stringify(parametre),
            contentType: 'application/json',
            success: function (response) {
                response = JSON.parse(response);
                requestResult(response.message, response.status);
                $('#filePlanPositionForm').css('display', 'none');
                reloadTree();
            },
            error: function (response) {
                requestResult(response.responseText, false);
            }
        })
    })

    //edit a file plan position
    $("#contain").on('click', "#modifyPosition", function () {
        var positionCode = $(this).closest('span').attr("data-positionCode");
        console.log("modifyPosition");
        $.ajax({
            url: "/filePlan/editFilePlanPosition/" + positionCode,
            type: "GET",
            contentType: 'application/json',
            success: function (response) {
                loadForm(response, 'filePlanPositionForm');
            },
            error: function (response) {
                requestResult(response.responseText, false);
            }
        })
    });

    //delete a file plan position
    $("#contain").on('click', "[name='deletePosition']", function () {
        var positionCode = $(this).closest('span').attr("data-positionCode");
        $('#confirmPositionDelete').attr('data-positionCode', positionCode);
        $('#deletePositionConfirmation').modal('show');
    });
</script>