<li lang="en" data-translate-catalog="filePlan/filePlan">
    <span class="node" data-positionCode="[?merge .positionCode?]" data-filePlanCode="[?merge .ownerFilePlanCode?]" data-parentCode="[?merge .parentCode?]">
        <i class="fa">&nbsp;</i><?merge .label?>&nbsp;&nbsp;
        <div class="dropdown btn-group" style="display:inline">
            <i class="dropdown-toggle" data-toggle="dropdown">
                &nbsp;<i class="menu fa fa-bars" style="cursor:pointer">&nbsp;</i>
            </i>
            <ul class="dropdown-menu" role="menu">
                <li name="modifyPosition"><a href="#"><i class="fa fa-edit">&nbsp;</i>Modify</a></li>
                <li name="addPosition" data-subTitle="Parent :[?merge .displayName?]"><a href="#"><i class="fa fa-plus">&nbsp;</i>Add a child position</a></li>
                <li name="movePosition" data-subTitle="[?merge .displayName?]" data-positionCode="[?merge .positionCode?]"><a href="#"><i class="fa fa-share-square-o">&nbsp;</i>Move</a></li>
                <li name="deletePosition"><a href="#"><i class="fa fa-trash-o">&nbsp;</i>Delete</a></li>
            </ul>
        </div>
    </span>
</li>