<div class="table-responsive" data-translate-catalog="lifeCycle/messages">
    <table id="lifeCycleTable" class="table table-condensed table-striped dataTable" >
        <thead>
            <th>Date</th>
            <th>Description</th>
            <th>Result</th>
            <th style="opacity: 0;cursor:initial;"/>
        </thead>
        <tbody>
            <?merge $lifeCycleEvent ?>
            <tr>
                <td class="col-md-3">
                    <?merge .timestamp ?>
                </td>
                <td data-type="[?merge .eventType ?]">
                    <?merge .description ?>
                </td>
                <td>
                    <i class="fa fa-[?merge .operationResult.then('check text-success', 'times text-danger') ?]"></i>
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success btn-sm showEvent" title="Show the event" data-eventId='[?merge .eventId ?]'>
                            <i class="fa fa-fw fa-eye">&nbsp;</i>
                        </button>
                    </div>
                </td>
            </tr>                                    
        </tbody>
    </table>
</div>
<script>
    eventCertificate = {
        load: function(eventId) {
            var url = '/journal/eventcertificate/' + eventId;
            window.open(url, 'document');
        }
    }
</script>
