<!-- Data objects -->
<div class="col-xs-6" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><?merge $rolename ?></strong>
        </div>
        <div class="panel-body">
            <dl class="row">
                <dt class="col-sm-3">Identifiant</dt>
                <dd class="col-sm-9" translate="no">
                    <?merge $organization.identifier ?>
                </dd>
                <dt class="col-sm-3">Nom</dt>
                <dd class="col-sm-9" translate="no">
                    <?merge $organization.name ?>
                </dd>
            </dl>
        </div>
    </div>
</div>