<div data-translate-catalog="recordsManagement/messages">
        <?hinclude recordsManagement/archive/modalArchiveInfo.html ?>
    <div class="modal fade bs-example-modal-lg" id="corruptedModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="container_corruptedModal">
            </div>
        </div>
    </div>

    <div class="hide">
        <span id="first_text">First</span>
        <span id="previous_text">Previous</span>
        <span id="next_text">Next</span>
        <span id="last_text">Last</span>
        <span id="show_text">Show</span>
        <span id="lengthMenu_text">Show _MENU_ entries</span>
    </div>
</div>

<div data-translate-catalog="recordsManagement/messages">
    <!-- MODALS -->
    <?hinclude recordsManagement/archive/modalModification.html ?>

    <div class="hide">
        <span id="preserved_text">preserved</span>
        <span id="disposable_text">disposable</span>
        <span id="frozen_text">frozen</span>
        <span id="errorEmptyNode">No archives selected.</span>
        <span id="errorWrongNodesSelection">This action is not relevant for the selection.</span>
        <span id="errorWrongNode">This action is not relevant for this archive.</span>
        <span id="addedToCollection">Archive added to collection.</span>
        <span id="removedFromCollection">Archive removed from collection.</span>
    </div>
</div>

<script>
/* ----------------------------------------------------------------------------------------------------*/
/* -- LIST BUTTON -- */

// view the document
$("#archiveList").on('click', ".viewDocument", function() {
    archiveDocumentViewer.load($(this).closest('tr').attr('archiveid'), $(this).closest('tr').attr('resid'));
});

// view the archive description
$('#archiveList').on('click', '.viewArchive', function () {
    if ($(this).closest('tr').attr('id') == undefined) {
        return;
    }
    archiveInfoModal.load($(this).closest('tr').attr('id'));
});

/* ----------------------------------------------------------------------------------------------------*/
/* -- LIST ACTIONS -- */
$('.multipleActionMenu').on('click', 'li', function() {
    var button = $(this);
    var type = button.data('type');
    var selection = ArchivesAction.getSelectedArchives(type);

    if (selection === false) {
        return;
    }
    switch (type) {
        case "checkHash":
            ArchivesAction.checkHash(selection['ids'].join("&archiveIds[]="));
            break;
        default:
            var transaction = false;
            $("#transaction").val() ? transaction = true : transaction = false;

            ModificationModal.loadMultiple(selection.selected, selection.relevant, selection.ids, selection.names,type, transaction);
            break;
    }
});

$('#archiveList').on('click', '.actionMenu li', function() {
    var button = $(this);
    var type = button.data('type');
    var tr = button.closest('tr');
    var id = tr.attr('id');
    var name = tr.attr('name');

    switch (type) {
        case "checkHash":
            ArchivesAction.checkHash(id);
            break;
        default:
            var transaction = false;
            $("#transaction").val() ? transaction = true : transaction = false;

            ModificationModal.load(id, name, type, transaction);
            break;
    }
});

var ArchivesAction = {
    actionsPossibility : {
        retentionRule        : ['preserved'],
        accessRule           : ['preserved'],
        freeze               : ['preserved', 'restituable', 'disposable', 'transferable'],
        unfreeze             : ['frozen'],
        flagForDestruction   : ['preserved'],
        cancelDestruction    : ['disposable'],
        checkHash            : ['preserved', 'frozen', 'restituable', 'disposable'],
        requestCommunication : ['preserved', 'frozen'],
        flagForRestitution   : ['preserved'],
        flagForTransfer      : ['preserved'],
        addToCollection      : ['preserved', 'frozen', 'restituable', 'disposable', 'transferable']
    },

    getSelectedArchives : function(type) {
        var status = this.actionsPossibility[type];
        var dataSelector = [];
        var selector = [];
        var relevant = null;
        var ids = [];
        var names = [];

        if (status == '') {
            dataSelector.push('[data-archive-status]');
        } else {
            $.each(status, function (index, value) {
                if (type == "flagForDestruction") {
                    let additionalSelector = "[data-final-disposition='destruction']";
                    let additionalSelector2 = "[data-noretention='1']";
                    dataSelector.push('[data-archive-status="' + value + '"]'+additionalSelector);
                    dataSelector.push('[data-archive-status="' + value + '"]'+additionalSelector2);
                } else if (type == "flagForRestitution") {
                    let additionalSelector = "[data-restituable='1']";
                    dataSelector.push('[data-archive-status="' + value + '"]'+additionalSelector);
                } else {
                    dataSelector.push('[data-archive-status="' + value + '"]');
                }
            });
        }

        $.each(dataSelector, function (index, value) {
            selector.push('input' + value + ':checked');
        });

        relevant = $(selector.join(', '));
        if(!relevant) {
            relevant = [];
        }

        $.each(relevant, function () {
            ids.push($(this).val());
            id = '#'+ $(this).val();
            names.push($(id).attr('name'));
        });

        selectedArchives = {
            selected: $('input[data-archive-status]:checked').length,
            relevant: relevant.length,
            ids: ids,
            names: names
        };

        if (selectedArchives.selected == 0) {
            gritter.show($('#errorEmptyNode').html(), false);
            return false;
        } else if (selectedArchives.relevant == 0) {
            gritter.show($('#errorWrongNodesSelection').html(), false);
            return false;
        }

        return selectedArchives;
    },

    checkHash : function(archives) {
        $.ajax({
            url: "/recordsManagement/verifyIntegrity?archiveIds[]=" + archives,
            type: "GET",
            dataType: 'html',
            success: function (response) {
                $("#container_corruptedModal").html(response);
                $("#corruptedModal").modal();
            }
        });
    },

    updateCollection: function(archives, isInUserCollection, htmlElement, collectionHtmlElement) {
        var collection = JSON.parse($('#collection').val());
        if (collection.archiveIds === null) {
            collection.archiveIds = [];
        }

        if (isInUserCollection) {
            // remove archive from collection
            // not supported for chrome < 47, firefox < 43, safari <9, edge < 14 (meaning before december 2015)
            collection.archiveIds = collection.archiveIds.filter(item => !archives.includes(item));
        } else {
            collection.archiveIds.push(archives);
        }
        var data = {};
        data.collection = collection;

        $.ajax({
            url: "/collection",
            type: "PUT",
            dataType: 'json',
            contentType : 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                if (isInUserCollection) {
                    gritter.show($('#removedFromCollection').html(), true);
                } else {
                    gritter.show($('#addedToCollection').html(), true);
                }
                $('#collection').val($('#collection').val());
                htmlElement.classList.toggle('fa-star-o');
                htmlElement.classList.toggle('fa-star');
                htmlElement.classList.toggle('yellow');
                collectionHtmlElement.attr('data-isinusercollection', !isInUserCollection);
            },
            error: function (response) {
                return false;
            }
        });
    }
}

    $('.collection').on('click', function() {
        var td = $(this.closest('td'));
        var tr = $(this.closest('tr'));
        var archiveId = tr.attr('id');
        //casting string to boolean
        var isInUserCollection = (td.attr('data-isinusercollection') == 'true');
        ArchivesAction.updateCollection(archiveId, isInUserCollection, this, td);
    });
</script>
