<div class="panel panel-default" id="archiveModificationForm">
    <div class="panel-body">
        <h4>Archive(s)</h4>
        <br/>
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                    <tr id="selectedArchiveId"><td><strong>Reference</strong></td><td><span></span></td></tr>
                    <tr id="selectedArchiveReference"><td><strong>Archive name</strong></td><td><span></span></td></tr>
                    <tr id="startDate" style="display: none;"><td><strong>Start date</strong></td><td><input class='form-control input-sm ruleInput datePicker' name="startDate"></td></tr>
                    <tr id="duration"><td><strong>Duration</strong></td><td>
                        <div class="form-inline">
                            <input class='form-control input-sm ruleInput' name="retentionDuration" />
                            <select name="retentionDurationUnit" class="form-control input-sm ruleInput">
                                <option value='D'>Day(s)</option>
                                <option value='M'>Month(s)</option>
                                <option value='Y'>Year(s)</option>
                            </select>
                        </div>
                    </td></tr>
                    <tr id="code"><td><strong>Code</strong></td><td>
                        <select id="accessRuleCode" name="accessRuleCode" class="form-control input-sm ruleInputAccess">
                                <option value="">Select an access rule code</option>
                                <?merge accessRules ?>
                                <option value='[?merge .code ?]' data-json='[?merge .json ?]'><?merge .code ?></option>
                        </select><br>
                        <dl id="accessRule">
                            <dt><span>Access rule duration</span> : <span id="accessRuleDuration"></span></dt>
                        </dl>
                    </td></tr>
                    <tr id="finalDisposition"><td><strong>Final disposition</strong></td><td>
                        <select class='form-control input-sm ruleInput' name="finalDisposition">
                            <option value="preservation">Preservation</option>
                            <option value="destruction">Destruction</option>
                        </select>
                    </td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    
    var ArchiveModification = {
        modal: $('#modificationModal'),
        serialize: function(type) {
            var parameter = {}
            if(type === "accessRule") {
                var code = this.modal.find('[name="accessRuleCode"]').find('option:selected').data('json');
                parameter.accessRule = {
                    accessRuleCode      : this.modal.find('[name="accessRuleCode"]').val(),
                    accessRuleStartDate : this.modal.find('[name="startDate"]').val(),
                    accessRuleDuration  : code.duration
                }
            } else if (type === "retentionRule") {
                parameter.retentionRule = {
                    finalDisposition      : this.modal.find('[name="finalDisposition"]').val(),
                    retentionStartDate    : this.modal.find('[name="startDate"]').val(),
                    retentionDuration     : this.modal.find('[name="retentionDuration"]').val(),
                    retentionDurationUnit : this.modal.find('[name="retentionDurationUnit"]').val()
                }

                parameter.retentionRule.retentionDuration = 'P'+parameter.retentionRule.retentionDuration+parameter.retentionRule.retentionDurationUnit;
            }

            return parameter;
        }
    }
</script>
