<div class="panel panel-default" id="archiveModificationForm">
    <div class="panel-body">
        <h4>Archive(s)</h4>
        <br/>
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                <tr id="selectedArchiveId">
                    <td><strong>Reference</strong></td>
                    <td><span></span></td>
                </tr>
                <tr id="selectedArchiveReference">
                    <td><strong>Archive name</strong></td>
                    <td><span></span></td>
                </tr>
                <tr id="startDate" style="display: none;">
                    <td><strong>Start date</strong></td>
                    <td><input class='form-control input-sm ruleInput datePicker' name="startDate"></td>
                </tr>
                <tr id="finalDisposition">
                    <td><strong>Final disposition</strong></td>
                    <td>
                        <select id="retentionRuleFinalDisposition" name="retentionRuleFinalDisposition" class="form-control">
                            <option value=''> To be defined later</option>
                            <option value='destruction'>Destruction</option>
                            <option value='preservation'>Preservation</option>
                        </select>
                        <div id="updateFinalDisposition" style="display: none;">
                            <input id="checkboxUpdateFinalDisposition" type="checkbox"> Do not update the final disposition
                        </div>
                    </td>
                </tr>
                <tr id="accessCode">
                    <td><strong>Code</strong></td>
                    <td>
                        <select id="accessRuleCode" name="accessRuleCode" class="form-control input-sm ruleInputAccess">
                            <option value="">Select a rule</option>
                            <?merge accessRules ?>
                            <option value='[?merge .code ?]' data-json='[?merge .json ?]'><?merge .code ?></option>
                        </select><br>

                        <dl class="dl dl-horizontal" id="accessRule">
                            <dt><span>Duration</span> :</dt>
                            <dd span id="accessRuleDuration"></dd>
                            <dt><span>Description</span> :</dt>
                            <dd id="accessRuleDescription"></dd>
                        </dl>

                    </td>
                </tr>
                <tr id="retentionCode">
                    <td><strong>Code</strong></td>
                    <td>
                        <select id="retentionRuleCode" name="retentionRuleCode"
                                class="form-control input-sm ruleInputAccess">
                            <option value="">Select a rule</option>
                            <?merge retentionRules ?>
                            <option value='[?merge .code ?]' data-json='[?merge .json ?]'><?merge .label ?></option>
                        </select><br>
                        <dl class="dl dl-horizontal" id="retentionRule">
                            <dt><span>Duration</span> :</dt>
                            <dd id="retentionRuleDuration"></dd>
                            <div class="pull-left">
                                <dt><span>Description</span> :</dt>
                                <dd id="retentionRuleDescription"></dd>
                            </div>
                        </dl>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    var ArchiveModification = {
        modal: $('#modificationModal'),
        serialize: function (type) {
            var parameter = {};

            if (type === "accessRule") {

                var code = this.modal.find('[name="accessRuleCode"]').find('option:selected').data('json');
                parameter.accessRule = {
                    accessRuleCode: this.modal.find('[name="accessRuleCode"]').val(),
                    accessRuleStartDate: this.modal.find('[name="startDate"]').val(),
                    accessRuleDuration: code.duration
                }
            } else if (type === "retentionRule") {

                var code = this.modal.find('[name="retentionRuleCode"]').find('option:selected').data('json');

                parameter.retentionRule = {
                    retentionStartDate: this.modal.find('[name="startDate"]').val(),
                    retentionRuleCode: this.modal.find('[name="retentionRuleCode"]').val(),
                    retentionDuration: code.duration
                };

                if (!($("#updateFinalDisposition").css('display') === 'block' && $('#retentionRuleFinalDisposition').prop("disabled"))) {
                    parameter.retentionRule.finalDisposition = $('#retentionRuleFinalDisposition').val();
                }
            }

            parameter.comment = " ";

            return parameter;
        }
    }
</script>
