<div data-translate-catalog="recordsManagement/messages">
    <div class="container-fluid">
        <div class="page-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h3>
                <?merge archive.archiveName.bool() ?>
                <span id='archiveNameH3'><?merge archive.archiveName ?></span>
                <?merge archive.archiveName.bool().not() ?>
                <span id='archiveNameH3'>Archive</span>
                <?merge editMetadata.bool() ?>
                <div class="pull-right">
                    <?merge modificationPrivilege.bool() ?>
                        <button type="button" class="btn btn-warning editMetadata"  data-archiveid="[?merge archive.archiveId ?]" title="Edit metadata"><i class="fa fa-edit">&nbsp;</i>Edit metadata</button>
                </div>
            </h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-4">
            <?hinclude recordsManagement/archive/archiveTree/tree.html ?>
        </div>
        <div class="col-sm-8" id ="archiveInformationDiv">
            <?hinclude recordsManagement/archive/archiveInfo/archiveInfo.html ?>
        </div>
    </div>
            <!-- <div class="tab-pane" id="MessageTab" style="padding:14px">
                <?hinclude recordsManagement/archive/message.html ?>
            </div> -->
</div>
<div class="modal-footer" data-translate-catalog="recordsManagement/messages">
    <button type="button" class="btn btn-default" data-dismiss="modal" title="Close">Close</button>
</div>

<style type="text/css">
    #archiveInformationDiv {
        border-left: solid 1px #DDD;
    }
</style>
<script type="text/javascript">
    ArchiveDetails = {
        showArchiveDetails: function() {

        }
    }
</script>
