<!--#
    This file is part of the recordsManagement package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<!-- Search field -->
<div class="form-horizontal col-md-12" data-search-searchForm>
    <div class="form-group col-md-10">
        <div class="input-group">
            <input type="search" class="form-control" name="searchForm_inputSearch"/>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" name="searchForm_inputSearchBtn" title="Search"><span class="fa fa-search text-primary">&nbsp;</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Search profiles tabs -->
<ul class="nav nav-tabs col-md-12" role="tablist" data-search-tab>
    <li role="presentation" class="active small"><a href="#all" data-toggle="tab">All</a></li>
    <?merge userArchivalProfiles ?>
    <li role="presentation" class="small"><a href="#[?merge .reference ?]" data-index="[?merge .reference ?]"  data-descriptionClass="[?merge .descriptionClass ?]" data-toggle="tab"><?merge .name ?></a></li>
</ul>
<br/>
<div class="tab-content col-md-12" data-search-tabContent>
    <div role="tabpanel" class="tab-pane fade in active" id="all">
    </div>
    <?merge userArchivalProfiles ?>
    <div role="tabpanel" class="tab-pane fade" id="[?merge .reference ?]">
        <form class="form-horizontal">
            <?merge .searchFields ?>
            <div>
                <?merge .type.ifeq('name') ?>
                <div>
                    <?merge .enumeration.ifeq('') ?>
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label text-primary"><small><?merge .label ?></small></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" name="[?merge .name ?]" />
                        </div>
                    </div>
                    <?merge .enumeration.ifne('') ?>
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label text-primary"><small><?merge .label ?></small></label>
                        <div class="col-md-6">
                            <select class="form-control input-sm" name="[?merge .name ?]" data-type="select">
                                <option value=""></option>
                                 <?merge .enumeration ?>
                                <option value="[?merge . ?]"><?merge . ?></option>
                            </select>
                        </div>
                    </div>
                </div>

                <?merge .type.ifeq('boolean') ?>
                <div class="form-group col-md-6">
                    <label class="col-md-6 control-label text-primary"><small><?merge .label ?></small></label>
                    <div class="col-md-6">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="[?merge .name ?]" autocomplete="off" value="0"><i class="fa fa-times"></i>
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="[?merge .name ?]" autocomplete="off" value="" checked>&nbsp;
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="[?merge .name ?]" autocomplete="off" value="1"><i class="fa fa-check"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <?merge .searchFields ?>
            <div>
                <?merge .type.ifeq('number') ?>
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label text-primary"><small><?merge .label ?></small></label>
                    <div class="input-group input-group-sm col-md-4">
                        <input type="number" step="0.01" class="amount form-control input-sm col-md-6" name="[?merge .name ?]" />
                        <span class="input-group-addon xsmall"><i class=" fa fa-arrow-right"></i></span>
                        <input type="number" step="0.01" class="amount form-control input-sm col-md-6" name="[?merge .name ?]" />
                    </div>
                    <div class="col-md-5"> </div>
                </div>
                <?merge .type.ifeq('date') ?>
                <div class="form-group col-md-12">  
                    <label class="col-md-3 control-label text-primary"><small><?merge .label ?></small></label>
                    <div class="input-group input-group-sm input-daterange col-md-4">
                        <input type="text" data-range='start' class="form-control input-sm datePicker col-md-6" name="[?merge .name ?]" />
                        <span class="input-group-addon xsmall"><i class=" fa fa-arrow-right"></i></span>
                        <input type="text" data-range='end' class="form-control input-sm datePicker col-md-6" name="[?merge .name ?]" />
                    </div>
                    <div class="col-md-5"> </div>
                </div>
            </div>
        </form>
    </div>
    <br/>
</div>
<!-- Search results -->
<div class="container-fluid col-md-12" id="fulltext_searchResult" data-search-result>
</div>

<script src="/public/dependency/html/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script type="text/javascript">
    //var limit = 10;
    //var lastRequest = "";

    $('input[type=checkbox][data-toggle=toggle]').bootstrapToggle();

    // $("#fulltext_inputSearch").focus();

    $('[data-search-searchForm] [name="searchForm_inputSearch"]').on('keydown', function (e) {
        if (e.which != 13) {
            return;
        }
        e.preventDefault();
        $(this).closest("[data-search-searchForm]").find("[name='searchForm_inputSearchBtn']").click();
    });
    
    // Reload search when changing profile
    /*$('#index').on('shown.bs.tab', function () {
        $('#fulltext_inputSearchBtn').click();

        var descriptionclass = $('#index > .active > a').data('descriptionclass');
        console.log(descriptionclass);
        if (descriptionclass != undefined) {
            $("#fulltext_inputSearch").attr('disabled', '');
        }
    });*/

    /*$('#advancedSearchToggle').on('change', function() {
        if ($(this).prop('checked')) {
            $('#advancedSearchFields').fadeIn();
        } else {
            $('#advancedSearchFields').fadeOut();
        }
    });*/


    /*$('#app_maarchRM_main').scroll(function() {
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
            limit = limit + 10;
            $('#fulltext_inputSearchBtn').click();
        }
     });*/
    
    $('[data-search-searchForm]').find('[name="searchForm_inputSearchBtn"]').on('click', function () {
        // The query asserts
        var a = {};
        var searchPanel = $(this).closest("[data-search-panel]");
        // The main query string

        var s = searchPanel.find('[name="searchForm_inputSearch"]').val().trim();

        if (s.length > 0) {
            a['q'] = s;
        }

        // Get the query args
        var index = null;
        var selectedProfile = searchPanel.find('[data-search-tab] > .active > a').data('index');
        
        var searchFields = searchPanel.find('[data-search-tabContent] > .active').find('form input, form select');

        var searchArgs = [];
        searchFields.each(function() {
            var value = $(this).val();
            var name = $(this).attr('name');
            var type = $(this).attr('type');
            
            if (type == "" || type == null || type == undefined) {
                type = $(this).attr('data-type');
            }
            
            switch (type) {
                case 'select':
                    // keyword enum
                    if (value !== '') {
                        a[name] = name+':"'+value+'"';
                    }

                    break;

                case 'radio':
                    // format boolean
                    if (!$(this).parent().hasClass("active") || $(this).val() == "") {
                        break;
                    }

                    a[name] = name+':'+$(this).val();
                    break;

                case 'text':
                    // format dates
                    if ($(this).hasClass('datePicker')) {
                        if (value !== '') {
                            value = $(this).data('datepicker').getFormattedDate('yyyymmdd');
                        } else {
                            value = '*';
                        }

                        // Fill start and end values
                        if (a[name] == undefined) {
                            a[name] = name+':['+value+' to ';
                        } else {
                            a[name] = a[name]+value+']';
                        }
                        if (a[name] == name+':[* to *]') {
                            delete a[name];
                        }
                        break;
                    }

                    // Standard text (name, keywords...)
                    if (value !== '')
                        a[name] = name+':"'+value+'"';
                    break;

                case 'number':
                    if (value !== '') {
                        // format numbers
                        var parts = value.split('.'); 
                        value = pad(parts[0], 16, "0", 1);
                        if (parts[1] != undefined) {
                            value = value + pad(parts[1].substr(0, 14), 14, "0");
                        } else {
                            value = value + "00000000000000";
                        }
                    } else {
                        value = "*";
                    }
                    
                    // Fill start and end values
                    if (a[name] == undefined) {
                        a[name] = name+':['+value+' to ';
                    } else {
                        a[name] = a[name]+value+']';
                    }
                    if (a[name] == name+':[* to *]') {
                        delete a[name];
                    }
                    break;
            }
        });

        var arr = [];
        for (name in a) {
            arr.push(a[name]);
        }

        var q = arr.join(' and ');
        if (q == '') {
            searchPanel.find("[data-search-result]").empty();

            return; 
        }

        $(this).prop('disabled', true);
        $.ajax({
            type        : 'GET',
            url         : '/recordsManagement/archives/indexResult',
            data        : {
                q       : q,
                profile : selectedProfile,
                limit   : 20
            },
            dataType    : 'html',
            success     : function (response) {
                searchPanel.find("[data-search-result]").empty().html(response);
            }
        });
        $(this).prop('disabled', false);
    });
</script>
