<!--#
    This file is part of the recordsManagement package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<!-- Search field -->
<div class="form-horizontal" id="fullTextSearchForm" data-translate-catalog="recordsManagement/message">
    <input type="hidden" name="maxResults" id ="maxResults" value="[?merge maxResults ?]">
    <div class="form-group">
        <div class="input-group">
            <div id="profileSelection" class="input-group-btn">
                <button id="searchByProfile" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-archivalProfiles="[?merge archivalProfiles.json() ?]">
                    <span>All</span> <i class="fa fa-caret-down"/>
                </button>
                <ul class="dropdown-menu">
                    <li role="presentation" class="small allProfiles">
                        <a data-reference="all" href="#">All</a>
                    </li>
                    <?merge userArchivalProfiles ?>
                    <li role="presentation" class="small [?merge .reference ?]">
                        <a href="#" data-reference="[?merge .reference ?]">
                            <?merge .name ?>
                        </a>
                    </li>
                </ul>
            </div>
            <input type="search" class="form-control" name="searchForm_inputSearch"/>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" id="searchForm_inputSearchBtn" title="Search">
                    <span class="fa fa-search text-primary"/>
                </button>
            </div>
        </div>
        <a id="advancedSearchButton" class="pull-right" data-toggle="collapse" href="#advancedSearchPanel">Advanced search</a>
    </div>
</div>

<div id="advancedSearchPanel" class="col-xs-12 collapse" data-translate-catalog="recordsManagement/messages">
    <div class="col-xs-12">
        <form class="form-horizontal ">
            <div class="form-group">
                <label class="col-md-3 control-label text-primary"><small>Originating date</small></label>
                <div class="input-group input-group-sm input-daterange col-md-4">
                    <input type="text" data-range='start' class="form-control input-sm datePicker col-md-6" name="originatingDateMin" />
                    <span class="input-group-addon xsmall"><i class=" fa fa-arrow-right"></i></span>
                    <input type="text" data-range='end' class="form-control input-sm datePicker col-md-6" name="originatingDateMax" />
                </div>
            </div>
            <?merge userArchivalProfiles ?>
            <div class="profileAdvanceSearch [?merge .reference ?] hide">
                <?merge .searchFields ?>
                <div>
                    <?merge .type.ifeq('name') ?>
                    <div>
                        <?merge .enumeration.ifne('') ?>
                        <div class="form-group col-md-6">
                            <label class="col-md-6 control-label text-primary"><small><?merge .label ?></small></label>
                            <div class="col-md-6">
                                <select class="advancedSearchField form-control input-sm descriptionInput" name="[?merge .name ?]" data-type="select">
                                    <option value=""></option>
                                     <?merge .enumeration ?>
                                    <option value="[?merge . ?]"><?merge . ?></option>
                                </select>
                            </div>
                        </div>
                        <?merge .enumeration.ifeq('') ?>
                        <div class="form-group col-md-6">
                            <label class="col-md-6 control-label text-primary"><small><?merge .label ?></small></label>
                            <div class="col-md-6">
                                <?merge .ref.bool() ?>
                                <input type="text" class="advancedSearchField externalRefField form-control input-xs descriptionInput" name="[?merge .name ?]" />
                                <?merge .ref.bool().not() ?>
                                <input type="text" class="advancedSearchField form-control input-xs descriptionInput" name="[?merge .name ?]" />
                            </div>
                        </div>
                    </div>
                    <?merge .type.ifeq('boolean') ?>
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label text-primary"><small><?merge .label ?></small></label>
                        <div class="col-md-6">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" class="advancedSearchField descriptionInput" name="[?merge .name ?]" value="0"><i class="fa fa-times"></i>
                                </label>
                                <label class="btn btn-default active">
                                    <input type="radio" class="advancedSearchField descriptionInput" name="[?merge .name ?]" value="" checked>&nbsp;
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" class="advancedSearchField descriptionInput" name="[?merge .name ?]" value="1"><i class="fa fa-check"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <?merge .type.ifeq('number') ?>
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label text-primary"><small><?merge .label ?></small></label>
                        <div class="input-group input-group-sm col-md-4">
                            <input type="number" step="0.01" data-range="start" class="advancedSearchField amount form-control input-sm col-md-6 descriptionInput" name="[?merge .name ?]" />
                            <span class="input-group-addon xsmall"><i class=" fa fa-arrow-right"></i></span>
                            <input type="number" step="0.01" data-range="end" class="advancedSearchField amount form-control input-sm col-md-6 descriptionInput" name="[?merge .name ?]" />
                        </div>
                        <div class="col-md-5"> </div>
                    </div>
                    <?merge .type.ifeq('date') ?>
                    <div class="form-group col-md-12">
                            <label class="col-md-3 control-label text-primary"><small><?merge .label ?></small></label>
                        <?merge .format.ifeq('datetime') ?>
                            <div class="input-group input-group-sm input-daterange col-md-4">
                                <input type="text" data-range='start' class="advancedSearchField form-control input-sm dateTimePicker col-md-6 descriptionInput" name="[?merge .name ?]" />
                                <span class="input-group-addon xsmall"><i class=" fa fa-arrow-right"></i></span>
                                <input type="text" data-range='end' class="advancedSearchField form-control input-sm dateTimePicker col-md-6 descriptionInput" name="[?merge .name ?]" />
                            </div>
                        <?merge .format.ifne('datetime') ?>
                            <div class="input-group input-group-sm input-daterange col-md-4">
                                <input type="text" data-range='start' class="advancedSearchField form-control input-sm datePicker col-md-6 descriptionInput" name="[?merge .name ?]" />
                                <span class="input-group-addon xsmall"><i class=" fa fa-arrow-right"></i></span>
                                <input type="text" data-range='end' class="advancedSearchField form-control input-sm datePicker col-md-6 descriptionInput" name="[?merge .name ?]" />
                            </div>
                        <div class="col-md-5"> </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </form>
    </div>
</div>

<style>
#advancedSearchPanel {
    font-size: 85%;
    padding-bottom: 10px;
}
#advancedSearchPanel .form-control {
    height: 25px;
    font-size: 85%;
}
#advancedSearchPanel .input-group-addon {
    height: 25px;
    padding: 1px 6px;
}
#advancedSearchPanel .form-group {
    margin-bottom: 5px;
}
#advancedSearchButton {
    margin-top: 5px;
}
</style>

<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script type="text/javascript">

FulltextSearchForm = {
    form               : $('#fullTextSearchForm'),
    advancedSearchForm : $('#advancedSearchPanel'),

    load : function(orgRegNumber, folderId, profiles) {
        profileReferences = [];

        $.each(profiles, function() {
            profileReferences.push("." + this.reference);
        });

        profileReferences.push(".allProfiles");
        this.form.data('orgregnumber', orgRegNumber).data('folderid', folderId);
        $('#profileSelection .allProfiles > a').click();
        this.clearForm();
    },

    loadAdvancedForm : function(archivalProfileReference) {
        this.advancedSearchForm.find('.profileAdvanceSearch').addClass('hide');
        this.advancedSearchForm.find('.'+archivalProfileReference).removeClass('hide')
    },

    search : function() {
        var query = this.serialize();
        if (query.text == '' && query.description == "" && query.originatingStartDate == "" && query.originatingEndDate == "" && query.profileReference == "") {
            if (query.filePlanPosition) {
                trigger('loadFolder.filePlan', [query.filePlanPosition]);

            } else {
                trigger('loadFolder.filePlan', [query.orgRegNumber]);
            }
            return;
        }

        ajax($('#searchForm_inputSearchBtn'),{
            type        : 'GET',
            url         : '/recordsManagement/archives/search',
            data        : query,
            dataType    : 'json',
            success     : function (response) {
                if (response.status) {
                    trigger("showSearchResult.recordsManagement", [response.archives])
                }
            }
        });

    },

    getTypeahead : function() {
        $.each(this.advancedSearchForm.find(".externalRefField"), function() {
            var field = $(this);
            var name = field.attr("name");

            setTimeout(function(){
                var data = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace(),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/descriptionRef/'+name+'?query=%QUERY',
                        wildcard: '%QUERY'
                    }
                });
                data.initialize();

                field.typeahead(
                    {
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'data',
                        source: data.ttAdapter(),
                        templates: {
                            suggestion: function(data) {
                                delete data._query;
                                var html = $('<div>');
                                var keyname = Object.keys(data)[0];
                                var key = data.keyname;
                                html.append($('<strong class="badge">').text(key));
                                delete data[keyname];
                                var value = Object.keys(data).map(function(name){return data[name]}).join(" - ");
                                html.append(' '+value);
                                return html;
                            }
                        }
                    }
                ).on('typeahead:selected', function ($event, suggestion, source) {
                    var keys = Object.keys(suggestion); //fetched the key at first index
                    field.val(suggestion[keys[0]]);
                    field.typeahead('val', suggestion[keys[0]]);
                });
            }, 300);


            return field;
        });
    },

    serialize : function() {
        var advancedSearchPanel = $('#advancedSearchPanel');
        var query = {
            text                 : "",
            description          : [],
            profileReference     : "",
            filePlanPosition     : this.form.data('folderid'),
            orgRegNumber         : this.form.data('orgregnumber'),
            originatingStartDate : advancedSearchPanel.find('[name="originatingDateMin"]').data('datepicker').getFormattedDate('yyyy-mm-dd'),
            originatingEndDate   : advancedSearchPanel.find('[name="originatingDateMax"]').data('datepicker').getFormattedDate('yyyy-mm-dd'),
            maxResults           : this.form.find('[name="maxResults"]').val()
        };

        var text = this.form.find('[name="searchForm_inputSearch"]').val().trim();
        if (text) {
            query.text = text;
        }

        var profileReference = $('#profileSelection').data('profileReference');
        if (profileReference && profileReference != "all") {
            query.profileReference = profileReference;
        }

        var originatingDateStart = advancedSearchPanel.find('[name="originatingDateMin"]').data('datepicker').getFormattedDate('yyyy-mm-dd');
        var originatingDateStop = advancedSearchPanel.find('[name="originatingDateMax"]').data('datepicker').getFormattedDate('yyyy-mm-dd');
        if (originatingDateStart || originatingDateStop) {
            query.originatingDate = [originatingDateStart, originatingDateStop]
        }

        if (!query.filePlanPosition) {
            query.filePlanPosition = "";
        }

        var advancedSearchField = advancedSearchPanel.find('.advancedSearchField:visible');

        advancedSearchField.each(function() {
            var value = $(this).val();
            var name = $(this).attr('name');
            var type = $(this).attr('type');

            if (type == "" || type == null || type == undefined) {
                type = $(this).data('type');
            }

            switch (type) {
                case 'select':
                    // keyword enum
                    if (value !== '') {
                        query.description[name] = name+'="'+value+'"';
                    }
                    break;

                case 'radio':
                    // format boolean

                    if (!$(this).prop("checked")) {
                        break;
                    }

                    switch ($(this).val()) {
                        case "1": value = "1";
                            break;
                        case "0": value = "0";
                            break;
                        default:
                            return;
                    }

                    query.description[name] = name+'=' + value;
                    break;

                case 'text':
                    if (value !== '') {
   
                        if ($(this).hasClass('datePicker')) {
                            var operation = ($(this).data('range') == 'start') ? ">=" : "<=";
                            value = name + operation + "'" + $(this).data('datepicker').getFormattedDate('yyyy-mm-dd') + "'";

                            // Fill start and end values
                            if (query.description[name] == undefined) {
                                query.description[name] = value;
                            } else {
                                query.description[name] = query.description[name] +'&&'+value;
                            }
                            break;
                        } else if ($(this).hasClass('dateTimePicker')) {
                            var operation = ($(this).data('range') == 'start') ? ">=" : "<=";
                            // TODO fix datetime sent in params with a date conversion (done @rm/archives/search.html)
                            value = name + operation + "'" + $(this).data('DateTimePicker').date().format('YYYY-MM-DD HH:MM:SS') + "'";

                            // Fill start and end values
                            if (query.description[name] == undefined) {
                                query.description[name] = value;
                            } else {
                                query.description[name] = query.description[name] +'&&' + value;
                            }
                        } else {
                            query.description[name] = name + '="' + value.trim() + '"';
                        }
                    }

                    break;

                case 'number':
                    if (value !== '') {
                        var operation = ($(this).data('range') == 'start') ? ">=" : "<=";
                        value = name + operation + $(this).val();

                        // Fill start and end values
                        if (query.description[name] == undefined) {
                            query.description[name] = value;
                        } else {
                            query.description[name] = query.description[name] +'&&' + value;
                        }
                    }
                    break;
            };
        });

        var arr = [];
        for (name in query.description) {
            arr.push(query.description[name]);
        }

        query.description = arr.join(' && ');

        return query;
    },

    clearForm : function() {
        this.form.find('input[type=search], input[type=text], input[type=number], input[type=date], select').val('');
        this.advancedSearchForm.find('input[type=text], input[type=number], input[type=date], select').val('');
    },

    loadArchivalProfile : function(profile) {
        var archivalProfiles = JSON.parse($('#searchByProfile').attr('data-archivalProfiles'));
        var profileMetadata = "";
        for (key in archivalProfiles) {
            if (!archivalProfiles.hasOwnProperty(key)) continue;
            var obj = archivalProfiles[key];
            for (var prop in obj) {
                if (!obj.hasOwnProperty(prop)) continue;
                if ((prop === 'name') && (obj[prop] === profile)) {
                    profileMetadata = obj;
                }
            }
        };

        return profileMetadata;
    }
}

    FulltextSearchForm.getTypeahead();

    $('#app_maarchRM_main').keypress(function (e) {
        if (e.which != 13 || document.getElementById("searchForm_inputSearchBtn").disabled == true) {
            return;
        }

        e.preventDefault();
        FulltextSearchForm.search();
        });

    $('#profileSelection').on('click', 'a', function() {
        var profileSelection = $('#profileSelection');
        profileSelection.find('span').text($(this).text());
        profileSelection.data('profileReference', $(this).data('reference'));
        FulltextSearchForm.loadAdvancedForm($(this).data('reference'));
    });

    $('#searchForm_inputSearchBtn').on("click", function() {
        FulltextSearchForm.search();
    });

    $('#profileSelection').onEvent("loadFolder.recordsManagement", function(e, path, orgRegNumber, folderId, profiles) {
        FulltextSearchForm.load(orgRegNumber, folderId, profiles);
        FulltextSearchForm.clearForm();
    });

    $('#fullTextSearchForm').onEvent("setSearchBarClass.recordsManagement", function(e, newClass) {
        $('#fullTextSearchForm').addClass(newClass);
    });
    function convertDate(data) {
        var stringSplitted = data.split('-');

        return stringSplitted[2] + '-' + stringSplitted[1] + '-' + stringSplitted[0];
    };
</script>
