<div id="resultTemplate" class="hide">
    <div class="archive row">
        <div class="col-xs-11">
            <h5>
                <i class="archiveContentButton fa fa-caret-right">&nbsp;</i>
                <a href="#" class="archiveName"></a>
                <br/>
                <!-- originatorOrgName -->
                <small title="Originator"/>
                &nbsp;
                <!-- originatorArchiveId -->
                <small title="Originator archive id">
                    <i/>
                </small>&nbsp;
                <!-- depositDate -->
                <small title="Deposit date"/>&nbsp;
                <!-- archivalProfileReference -->
                <small title="Archival profile"/>&nbsp;
                <!-- description -->
                <small title="Description"/>
            </h5>
        </div>
        <div class="archiveContent col-xs-12 hide">
            <ul class="tree-l">
            </ul>
        </div>
    </div>
</div>

<div id="fulltextTraductions" class='hide'>
    <span id="emptyResult_text">No result</span>
    <span id="originatorOrgName_text">Originator</span>
</div>

<style>
.advancedSearchPanel {
    font-size: 85%;
}
.advancedSearchPanel .form-control {
    height: 25px;
    font-size: 85%;
}
.advancedSearchPanel .input-group-addon {
    height: 25px;
    padding: 1px 6px;
}
.advancedSearchPanel .form-group {
    margin-bottom: 5px;
}
</style>

<script src="/public/dependency/html/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script type="text/javascript">

FulltextSearch = {
	currentForm: null,

	initForm : function(form) {
		this.currentForm = form;
		form.find("[name='searchForm_inputSearchBtn']").on('click', function() {FulltextSearch._bind_searchBtn($(this))});
    	// Reload search when changing profile
		form.find("[data-search-tab]").on('shown.bs.tab', function() {FulltextSearch._bind_profileChange($(this))});
		form.find('input[type=checkbox][data-toggle=toggle]').bootstrapToggle();
	},

	_bind_searchBtn : function(btn) {
		// The query asserts
        var query = {
            text             : "",
            description      : [],
            profileReference : "",
            filePlanPosition : "",
            orgRegNumber     : "",
            originatingDate  : [],
            originatorArchiveId  : "",
        };
        var searchPanel = btn.closest("[data-search-panel]");

        // The main query string
        var searchText = searchPanel.find('[name="searchForm_inputSearch"]').val().trim();

        if (searchText.length > 0) {
            query.text =  searchText;
        }

        // Get the query args
        var selectedProfile = searchPanel.find('[data-search-tab] > .active > a').data('index');
        query.profileReference = selectedProfile;
        
        var searchFields = searchPanel.find('[data-search-tabContent] > .active').find('.descriptionInput');
        var activeSearchTab = searchPanel.find('.tab-pane.active');

		searchFields.each(function() {
            var value = $(this).val();
            var name = $(this).attr('name');
            var type = $(this).attr('type');

            if (type == "" || type == null || type == undefined) {
                type = $(this).attr('data-type');
            }
            
            switch (type) {
                case 'select':
                    // keyword enum
                    if (value !== '') {
                        query.description[name] = name+'="'+value+'"';
                    }

                    break;

                case 'radio':
                    // format boolean
                    if (!$(this).parent().hasClass("active") || $(this).val() == "") {
                        break;
                    }

                    value = $(this).val() == 1 ? 'true' : 'false';
                    query.description[name] = name+'='+ value;
                    break;

                case 'text':
                    // format dates
                    if ($(this).hasClass('datePicker')) {
                        if (value !== '') {
                            var operation = ($(this).data('range') == 'start') ? ">=" : "<=";
                            value = name + operation + "'" + $(this).data('datepicker').getFormattedDate('yyyy-mm-dd') + "'";

                            // Fill start and end values
                            if (query.description[name] == undefined) {
                                query.description[name] = value;
                            } else {
                                query.description[name] = query.description[name] +'&&'+value;
                            }
                        }
                        break;
                    }

                    // Standard text (name, keywords...)
                    if (value !== '') {
                        query.description[name] = name+'="'+value+'"';
                    }
                    break;

                case 'number':
                    if (value !== '') {
                        var operation = ($(this).data('range') == 'start') ? ">=" : "<=";
                        value = name + operation + $(this).val();
                        
                        // Fill start and end values
                        if (query.description[name] == undefined) {
                            query.description[name] = value;
                        } else {
                            query.description[name] = query.description[name] +'&&'+value;
                        }
                    }
                    break;
            }
        });

        var arr = [];
        for (name in query.description) {
            arr.push(query.description[name]);
        }

        query.description = arr.join(' && ');

        query.filePlanPosition = searchPanel.data("context-folderid");
        query.originatorOrgRegNumber = searchPanel.data("context-orgregnumber");
        query.originatorArchiveId = $('#searchOriginatorArchiveId').val();
        query.originatingDate = [activeSearchTab.find('[name="originatingDateMin"]').data('datepicker').getFormattedDate('yyyy-mm-dd'), activeSearchTab.find('[name="originatingDateMax"]').data('datepicker').getFormattedDate('yyyy-mm-dd')];

        if (query.text == '' && query.description == "") {
            return; 
        }
        
        searchPanel.find("[data-search-result]").css('display', '');      

        ajax(btn,{
            type        : 'GET',
            url         : '/recordsManagement/archives/search',
            data        : query,
            dataType    : 'json',
            success     : function (response) {
                if (response.status) {
                    SearchList.searchContents = searchPanel.find("[data-search-result]:first");
                    SearchList.searchContents.dataList({
                        datas          : response.archives,
                        rowMerge       : SearchList.mergeResultRow,
                        rowMaxNumber   : 10,
                        paginationType : 'input',
                        rowTranslation : "lignes",
                        emptyMessage   : '<i class="text-muted"><br\/><span class="fa fa-times">&nbsp;<\/span>'+$('#emptyResult_text').html()+'<\/i>',
                        resultNumber   : "<h2 style='margin:0px'><small><span class='resultNumber' \/> archives<\/small><\/h2>",
                        sorting        : [
                            {
                                fieldName : 'archiveName',
                                label     : $('#archiveName_text').text()
                            },
                            {
                                fieldName : 'depositDate',
                                label     : $('#depositDate_text').text()
                            },
                            {
                                fieldName : 'originatorOrgName',
                                label     : $('#originatorOrgName_text').text()
                            }
                        ]
                    })
                }
            }
        });
	},

	_bind_profileChange: function(tabs) {
		tabs.closest("[data-search-panel]").find("[data-search-searchForm] [name='searchForm_inputSearchBtn']:first").click();
        $('#fulltext_inputSearchBtn').click();

        var descriptionclass = tabs.find('.active > a').data('descriptionclass');

        if (descriptionclass != undefined) {
            $("#fulltext_inputSearch").attr('disabled', '');
        }
	}
}

SearchList = {
    searchContents: null,
    archiveRowTemplate : $('#resultTemplate').children('.archive'),

    mergeResultRow: function(archive) {
        var archiveDiv= SearchList.archiveRowTemplate.clone();

        var siblings = archiveDiv.attr('id', archive.archiveId)
                                 .find('.archiveName').text(archive.archiveName)
                                 .siblings('small');

        if (archive.originatorOrgName) {
            $(siblings[0]).text(archive.originatorOrgName);
        }
        if (archive.depositDate) {
            $(siblings[1]).text(archive.depositDate.substring(0, 19));
        }
        if (archive.archivalProfileReference) {
            $(siblings[2]).text(archive.archivalProfileReference);
        }
        if (archive.text) {
            $(siblings[3]).text(archive.text.substring(0, 60));
        }

        return archiveDiv;
    },
}

$('#middleColumn').on('keydown', function (e) {
    if (e.which != 13) {
        return;
    }
    e.preventDefault();
    if (FulltextSearch.currentForm) {
    	FulltextSearch.currentForm.find("[name='searchForm_inputSearchBtn']").click();
    }
});

$('#middleColumn').on('click', '.searchTab', function() {
    var currentFormId = $(this).attr('href');
    FulltextSearch.currentForm = $(currentFormId);
})

</script>