<!--#
    This file is part of the recordsManagement package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<!-- Search field -->
<h4 class="pull-left">
    <span data-context-path/>
    <br/>
    <small data-context-description/>
</h4>
<div class="form-horizontal col-md-12" data-search-searchForm>
    <div class="form-group col-md-10">
        <div class="input-group">
            <input type="search" class="form-control" name="searchForm_inputSearch"/>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" name="searchForm_inputSearchBtn" title="Search"><span class="fa fa-search text-primary">&nbsp;</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Search profiles tabs -->
<ul class="nav nav-tabs col-md-12" role="tablist" data-search-tab>
    <li role="presentation" class="active small"><a href="#all" data-toggle="tab">All</a></li>
    <?merge userArchivalProfiles ?>
    <li role="presentation" class="small"><a href="#[?merge .reference ?]" data-index="[?merge .reference ?]"  data-descriptionClass="[?merge .descriptionClass ?]" data-toggle="tab"><?merge .name ?></a></li>
</ul>
<br/>
<div class="tab-content col-md-12" data-search-tabContent>
    <div role="tabpanel" class="tab-pane fade in active" id="all">
    </div>
    <?merge userArchivalProfiles ?>
    <div role="tabpanel" class="tab-pane fade" id="[?merge .reference ?]">
        <form class="form-horizontal">
            <br/>
            <?merge .searchFields ?>
            <div>
                <?merge .type.ifeq('name') ?>
                <div>
                    <?merge .enumeration.ifeq('') ?>
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label text-primary"><small><?merge .label ?></small></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" name="[?merge .name ?]" />
                        </div>
                    </div>
                    <?merge .enumeration.ifne('') ?>
                    <div class="form-group col-md-6">
                        <label class="col-md-6 control-label text-primary"><small><?merge .label ?></small></label>
                        <div class="col-md-6">
                            <select class="form-control input-sm" name="[?merge .name ?]" data-type="select">
                                <option value=""></option>
                                 <?merge .enumeration ?>
                                <option value="[?merge . ?]"><?merge . ?></option>
                            </select>
                        </div>
                    </div>
                </div>

                <?merge .type.ifeq('boolean') ?>
                <div class="form-group col-md-6">
                    <label class="col-md-6 control-label text-primary"><small><?merge .label ?></small></label>
                    <div class="col-md-6">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="[?merge .name ?]" autocomplete="off" value="0"><i class="fa fa-times"></i>
                            </label>
                            <label class="btn btn-default active">
                                <input type="radio" name="[?merge .name ?]" autocomplete="off" value="" checked>&nbsp;
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="[?merge .name ?]" autocomplete="off" value="1"><i class="fa fa-check"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <?merge .searchFields ?>
            <div>
                <?merge .type.ifeq('number') ?>
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label text-primary"><small><?merge .label ?></small></label>
                    <div class="input-group input-group-sm col-md-4">
                        <input type="number" step="0.01" class="amount form-control input-sm col-md-6" name="[?merge .name ?]" />
                        <span class="input-group-addon xsmall"><i class=" fa fa-arrow-right"></i></span>
                        <input type="number" step="0.01" class="amount form-control input-sm col-md-6" name="[?merge .name ?]" />
                    </div>
                    <div class="col-md-5"> </div>
                </div>
                <?merge .type.ifeq('date') ?>
                <div class="form-group col-md-12">  
                    <label class="col-md-3 control-label text-primary"><small><?merge .label ?></small></label>
                    <div class="input-group input-group-sm input-daterange col-md-4">
                        <input type="text" data-range='start' class="form-control input-sm datePicker col-md-6" name="[?merge .name ?]" />
                        <span class="input-group-addon xsmall"><i class=" fa fa-arrow-right"></i></span>
                        <input type="text" data-range='end' class="form-control input-sm datePicker col-md-6" name="[?merge .name ?]" />
                    </div>
                    <div class="col-md-5"> </div>
                </div>
            </div>
        </form>
    </div>
    <br/>
</div>
<!-- Search results -->
<div class="container-fluid col-md-12" data-search-result/>

<div id="resultTemplate" class="hide">
    <div class="archive row">
        <div class="col-xs-11">
            <h5>
                <i class="archiveContentButton fa fa-caret-right">&nbsp;</i>
                <a href="#" class="archiveName"></a>
                <br/>
                <!-- originatorOrgName -->
                <small title="Originator"/>
                &nbsp;
                <!-- originatorArchiveId -->
                <small title="Originator archive id">
                    <i/>
                </small>&nbsp;
                <!-- depositDate -->
                <small title="Deposit date"/>&nbsp;
                <!-- archivalProfileReference -->
                <small title="Archival profile"/>&nbsp;
                <!-- description -->
                <small title="Description"/>
            </h5>
        </div>
        <div class="archiveContent col-xs-12 hide">
            <ul class="tree-l">
            </ul>
        </div>
    </div>
</div>
<div id="fulltextTraductions" class='hide'>
    <span id="emptyResult_text">No result</span>
    <span id="originatorOrgName_text">Originator</span>

</div>

<script src="/public/dependency/html/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script type="text/javascript">

    $('input[type=checkbox][data-toggle=toggle]').bootstrapToggle();

    // $("#fulltext_inputSearch").focus();

    $('[data-search-searchForm] [name="searchForm_inputSearch"]').on('keydown', function (e) {
        if (e.which != 13) {
            return;
        }
        e.preventDefault();
        $(this).closest("[data-search-searchForm]").find("[name='searchForm_inputSearchBtn']").click();
    });
    
    // Reload search when changing profile
    $('[data-search-tab]').on('shown.bs.tab', function () {
        $(this).closest("[data-search-panel]").find("[data-search-searchForm] [name='searchForm_inputSearchBtn']:first").click();
        $('#fulltext_inputSearchBtn').click();

        var descriptionclass = $(this).find('.active > a').data('descriptionclass');

        if (descriptionclass != undefined) {
            $("#fulltext_inputSearch").attr('disabled', '');
        }
    });


    SearchList = {
        searchContents: null,
        archiveRowTemplate : $('#resultTemplate').children('.archive'),

        select: function(e) {
            this.unselect();
            e.addClass('bg-success');
        },

        unselect: function() {
            $('#rightColumn').html('');
            this.searchContents.find('.bg-success').removeClass('bg-success');
        },

        mergeResultRow: function(archive) {
            var archiveDiv= SearchList.archiveRowTemplate.clone();

            var siblings = archiveDiv.attr('id', archive.archiveId)
                                     .find('.archiveName').text(archive.archiveName)
                                     .siblings('small');

            if (archive.originatorOrgName) {
                $(siblings[0]).text(archive.originatorOrgName);
            }
            if (archive.originatorArchiveId) {
                $(siblings[1]).children('i').text(archive.originatorArchiveId);
            }
            if (archive.depositDate) {
                $(siblings[2]).text(archive.depositDate.substring(0, 19));
            }
            if (archive.archivalProfileReference) {
                $(siblings[3]).text(archive.archivalProfileReference);
            }
            if (archive.text) {
                $(siblings[4]).text(archive.text.substring(0, 30));
            }

            return archiveDiv;
        },
    }

    $('[data-search-searchForm]').find('[name="searchForm_inputSearchBtn"]').on('click', function () {
        // The query asserts
        var query = {
            text             : "",
            description      : [],
            profileReference : "",
            filePlanPosition : "",
            orgRegNumber     : "",
        };
        var searchPanel = $(this).closest("[data-search-panel]");
        
        // The main query string
        var searchText = searchPanel.find('[name="searchForm_inputSearch"]').val().trim();

        if (searchText.length > 0) {
            query.text =  searchText;
        }

        // Get the query args
        var selectedProfile = searchPanel.find('[data-search-tab] > .active > a').data('index');
        query.profileReference = selectedProfile;
        
        var searchFields = searchPanel.find('[data-search-tabContent] > .active').find('form input, form select');

        searchFields.each(function() {
            var value = $(this).val();
            var name = $(this).attr('name');
            var type = $(this).attr('type');
            
            if (type == "" || type == null || type == undefined) {
                type = $(this).attr('data-type');
            }
            
            switch (type) {
                case 'select':
                    // keyword enum
                    if (value !== '') {
                        query.description[name] = name+'="'+value+'"';
                    }

                    break;

                case 'radio':
                    // format boolean
                    if (!$(this).parent().hasClass("active") || $(this).val() == "") {
                        break;
                    }

                    query.description[name] = name+'="'+$(this).val()+'"';
                    break;

                case 'text':
                    // format dates
                    if ($(this).hasClass('datePicker')) {
                        if (value !== '') {
                            value = $(this).data('datepicker').getFormattedDate('yyyy-mm-dd');
                        } else {
                            value = '*';
                        }

                        // Fill start and end values
                        if (query.description[name] == undefined) {
                            query.description[name] = name+'="'+value+'"';
                        } else {
                            query.description[name] = query.description[name] +'.."'+value+'"';
                        }
                        if (query.description[name] == name+'="*".."*"') {
                            delete query.description[name];
                        }
                        break;
                    }

                    // Standard text (name, keywords...)
                    if (value !== '') {
                        query.description[name] = name+'="'+value+'"';
                    }
                    break;

                case 'number':
                    if (value !== '') {
                        // format numbers
                        var parts = value.split('.'); 
                        value = pad(parts[0], 16, "0", 1);
                        if (parts[1] != undefined) {
                            value = value + pad(parts[1].substr(0, 14), 14, "0");
                        } else {
                            value = value + "00000000000000";
                        }
                    } else {
                        value = "*";
                    }
                    
                    // Fill start and end values
                    if (query.description == undefined) {
                        query.description = name+'="'+value+'"';
                    } else {
                        query.description = query.description+value+'.."'+value+'"';
                    }
                    if (query.description == name+'="*".."*"') {
                        delete query.description;
                    }
                    break;
            }
        });

        var arr = [];
        for (name in query.description) {
            arr.push(query.description[name]);
        }

        query.description = arr.join(' && ');

        if (query.text == '' && query.description.length == '') {
            searchPanel.find("[data-search-result]").empty();
            return; 
        }

        query.filePlanPosition = searchPanel.data("context-folderid");
        query.orgRegNumber = searchPanel.data("context-orgregnumber");

        $(this).prop('disabled', true);
        $.ajax({
            type        : 'GET',
            url         : '/recordsManagement/archives/search',
            data        : query,
            dataType    : 'json',
            success     : function (response) {
                if (response.status) {
                    SearchList.searchContents = searchPanel.find("[data-search-result]:first");
                    SearchList.searchContents.empty();
                    SearchList.searchContents.dataList({
                        datas        : response.archives,
                        rowMerge     : SearchList.mergeResultRow,
                        rowMaxNumber : 10,
                        emptyMessage : '<i class="text-muted"><br\/><span class="fa fa-times">&nbsp;<\/span>'+$('#emptyResult_text').html()+'<\/i>',
                        sorting: [
                            {
                                fieldName : 'archiveName',
                                label     : $('#archiveName_text').text()
                            },
                            {
                                fieldName : 'depositDate',
                                label     : $('#depositDate_text').text()
                            },
                            {
                                fieldName : 'originatorOrgName',
                                label     : $('#originatorOrgName_text').text()
                            }
                        ]
                    })
                }
            }
        });
        $(this).prop('disabled', false);
    });

    // List icon toggle
    $('[data-search-result]').on('click', '.archiveContentButton', function() {
        var caret = $(this);
        if (caret.hasClass('fa-caret-right')) {
            $('#folderContentList').find('.fa-caret-down').click();
            caret.removeClass('fa-caret-right').addClass('fa-caret-down');
            Archive.getContent($(this).closest('.archive'));
        } else {
            caret.removeClass('fa-caret-down').addClass('fa-caret-right')
                 .closest('div').siblings('.archiveContent').addClass('hide');
        }
    })

    // Actions on archives
    $('[data-search-result]').on('click', '.archiveName', function() {
        var archive = $(this).closest('.archive');
        var archiveId = archive.attr('id');
        SearchList.searchContents = $(this).closest("[data-search-result]");
        SearchList.select($(archive));
        Archive.getInfo(archiveId);
    })

    $('[data-search-result]').on('click', function(e) {
        if ($(e.target).css('cursor') != "pointer") {
            SearchList.searchContents = $(e).closest("[data-search-result]");
            SearchList.unselect();
        }
    })


    $('[data-search-result]').on('click', '.childrenArchive', function() {
        var parentArchive = $(this).closest('.archive');
        var archiveId = $(this).attr('id');
        SearchList.searchContents = $(this).closest("[data-search-result]");
        SearchList.select($(parentArchive));
        Archive.getInfo(archiveId);
    })

    $('[data-search-result]').on('click', '.document', function() {
        var parentArchive = $(this).closest('.archive');
        SearchList.searchContents = $(this).closest("[data-search-result]");
        SearchList.select($(parentArchive));
        Archive.getResourceInfo($(this));
    })
</script>
