<div class="table-responsive" data-translate-catalog="lifeCycle/messages">
    <table class="table table-condensed dataTable" >
        <thead>
        <th id="dateColumn">Date</th>
        <th>Description</th>
        <th style="opacity: 0;"/>
        </thead>
        <tbody>
            <?merge archive.lifeCycleEvent ?>
            <tr>
                <td class="col-md-3">
                    <?merge .timestamp ?>
                </td>
                <td data-type="[?merge .eventType ?]">
                    <?merge .description ?>
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-warning showEvent" title="Show the event" data-eventId='[?merge .eventId ?]'>
                            <span class="fa fa-fw fa-eye pull-right">&nbsp;</span>
                        </button>
                    </div>
                </td>
            </tr>                                    
        </tbody>
    </table>
</div>

<script>

   // TODO search/find a better solution to sort table by descending date...
if ($('#dateColumn').hasClass('sorting_asc')){
    $('#dateColumn').click();
}
</script>