<div class="panel panel-primary" data-translate-catalog="lifeCycle/messages">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <h4></h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed dataTable">
            <thead>
            <th>Date</th>
            <th>Description</th>
            <th/>
            </thead>
            <tbody>
                <?merge archive.lifeCycleEvent ?>
                <tr>
                    <td class="col-md-3">
                        <?merge .timestamp ?>
                    </td>
                    <td data-type="[?merge .eventType ?]">
                        <?merge .description ?>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning btn-sm showEvent" title="Show the event" data-eventId='[?merge .eventId ?]'>
                                <span class="fa fa-fw fa-eye">&nbsp;</span>
                            </button>
                        </div>
                    </td>
                </tr>                                    
            </tbody>
        </table>
    </div>
</div>