<div class="table-responsive" data-translate-catalog="lifeCycle/messages">
    <table class="table table-condensed dataTable" >
        <thead>
        <th id="dateColumn">Date</th>
        <th>Description</th>
        <th/>
        </thead>
        <tbody>
            <?merge archive.lifeCycleEvent ?>
            <tr>
                <td class="col-md-3">
                    <?merge .timestamp ?>
                </td>
                <td data-type="[?merge .eventType ?]">
                    <?merge .description ?>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning btn-sm showEvent" title="Show the event" data-eventId='[?merge .eventId ?]'>
                            <span class="fa fa-fw fa-eye">&nbsp;</span>
                        </button>
                    </div>
                </td>
            </tr>                                    
        </tbody>
    </table>
</div>

<script>
   /* TODO search/find a better solution to sort table by descending date...
    test.removeClass('sorting_asc').removeClass('sorting').addClass('sorting_desc');
    test.attr('aria-sort','descending');
    test.attr('aria-label','Date hohohoho: activer pour trier la colonne en ascendant');*/
    $("#dateColumn").click();
</script>