<div id="sidebarModal" class="sidebar-offcanvas col-sm-12">
    <div class="table-responsive">
        <br/>
        <table class="table table-condensed table-striped table-condensed">
            <tbody>
                <tr>
                    <td><strong>Archive identifier</strong></td>
                    <td id="archiveId"><?merge archive.archiveId ?></td>
                </tr>
                <?merge archive.originatorArchiveId.bool() ?>
                <tr>
                    <td><strong>Originator archive identifier</strong></td>
                    <td><?merge archive.originatorArchiveId ?></td>
                </tr>
                <?merge archive.archiveName.bool() ?>
                <tr>
                    <td><strong>Archive name</strong></td>
                    <td><?merge archive.archiveName ?></td>
                </tr>
                <?merge archive.archivalAgreementReference.bool() ?>
                <tr>
                    <td><strong>Archival agreement</strong></td>
                    <td><?merge archive.archivalAgreementReference ?></td>
                </tr>
                <tr>
                    <td><strong>Profile</strong></td>
                    <td><?merge archive.archivalProfileReference ?></td>
                </tr>
                <tr>
                    <td><strong>Service level</strong></td>
                    <td><?merge archive.serviceLevelReference ?></td>
                </tr>
                <tr>
                    <td><strong>Originator</strong></td>
                    <td><?merge archive.originatorOrg.displayName ?></td>
                </tr>
                <tr>
                    <td><strong>Archiver</strong></td>
                    <td><?merge archive.archiverOrg.displayName ?></td>
                </tr>
                <tr>
                    <td><strong>Depositor</strong></td>
                    <td><?merge archive.depositorOrg.displayName ?></td>
                </tr>
                <?merge archive.finalDisposition.bool() ?>
                <tr>
                    <td><strong>Disposal rule</strong></td>
                    <td>
                        <b>Code </b>:&nbsp;<?merge archive.retentionRuleCode ?>
                        <br/>
                        <b>Start date</b>:&nbsp;<?merge archive.retentionStartDate ?>
                        <br/>
                        <b>Duration</b>:&nbsp;
                        <?merge archive.retentionDuration ?>&nbsp;
                        <?merge archive.retentionDurationUnit.ifeq('Y') ?><span>Year(s)</span>
                        <?merge archive.retentionDurationUnit.ifeq('M') ?><span>Month(s)</span>
                        <?merge archive.retentionDurationUnit.ifeq('D') ?><span>Day(s)</span>
                        <br/>
                        <b>Disposal date</b>:&nbsp;<?merge archive.disposalDate ?><br/>
                        <?merge archive.finalDisposition.ifeq('destruction') ?>
                        <span>
                            <b>Final disposition</b>:&nbsp;Destruction
                        </span>
                        <?merge archive.finalDisposition.ifeq('preservation') ?>
                        <span>
                            <b>Final disposition</b>:&nbsp;Preservation
                        </span>
                    </td>
                </tr>
                <?merge archive.accessRuleCode.bool() ?>
                <tr>
                    <td><strong>Access rule</strong></td>
                    <td>
                        <b>Code </b>:&nbsp;<?merge archive.accessRuleCode ?>
                        <br/>
                        <b>Start date</b>:&nbsp;<?merge archive.accessRuleStartDate ?>
                        <br/>
                        <b>Access rule code</b>:&nbsp;<?merge archive.accessRuleCode ?>
                        <br/>
                        <span>
                            <b>Duration</b>:&nbsp;
                            <?merge archive.accessRuleDuration ?>&nbsp;
                            <?merge archive.accessRuleDurationUnit.ifeq('Y') ?><span>Year(s)</span>
                            <?merge archive.accessRuleDurationUnit.ifeq('M') ?><span>Month(s)</span>
                            <?merge archive.accessRuleDurationUnit.ifeq('D') ?><span>Day(s)</span>
                            <br/>
                        </span>
                        <?merge archive.accessRuleComDate.bool() ?>
                        <span>
                            <b>Communication date</b>:&nbsp;<?merge archive.accessRuleComDate ?>
                        </span>
                    </td>
                </tr>
                <?merge archive.classificationLevel.bool() ?>
                <tr>
                    <td><strong>Classification rule</strong></td>
                    <td>
                        <b>Level</b>:&nbsp;<?merge archive.classificationLevel ?>
                        <br/>
                        <b>Owner</b>:&nbsp;<?merge archive.classificationOwner ?>
                        <br/>
                        <b>Start date</b>:&nbsp;<?merge archive.classificationRuleStartDate ?>
                        <br/>
                        <b>Classification rule code</b>:&nbsp;<?merge archive.classificationRuleCode ?>
                        <br/>
                        <span>
                            <b>Duration</b>:&nbsp;
                            <?merge archive.classificationRuleDuration ?>&nbsp;
                            <?merge archive.classificationRuleDurationUnit.ifeq('Y') ?><span>Year(s)</span>
                            <?merge archive.classificationRuleDurationUnit.ifeq('M') ?><span>Month(s)</span>
                            <?merge archive.classificationRuleDurationUnit.ifeq('D') ?><span>Day(s)</span>
                            <br/>
                        </span>
                        <?merge archive.classificationEndDate.bool() ?>
                        <span>
                            <b>Declassification date</b>:&nbsp;<?merge archive.classificationEndDate ?>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><strong>Status</strong></td>
                    <td><?merge archive.statusDesc ?></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<span class="hide" id="destruction_text">Destruction</span>
<span class="hide" id="preservation_text">Preservation</span>