<div id="messagesTable" class="table-responsive" >
    <table class="table table-condensed dataTable" id="messageTable">
        <thead>
            <th data-translate-context="message">Reference</th>
            <th>Type</th>
            <th>Date</th>
            <th style="opacity:0;cursor:initial;"/>
        </thead>
        <tbody>
            <?merge archive.messages ?>
            <tr>
                <td >
                    <?merge .reference ?>
                </td>
                <td>
                    <?merge .type ?>
                </td>
                <td>
                    <?merge .date ?>
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <?merge .isVisible.not().then('disabled') @disabled ?>
                        <button type="button" class="btn btn-success viewMessage" title="View" data-message-id ="[?merge .messageId ?]">
                            <span class="fa fa-eye">&nbsp;</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $('#messagesTable').ready(function() {
        $('#messagesTable').find('.dataTable-footer:first').remove();
    });

    $("#messagesTable").on('click', '.viewMessage', function() {
        $.ajax({
            url      : "/medona/message/" + $(this).data('message-id'),
            type     : "GET",
            dataType : "html",
            success  : function (response) {

                $('#modalArchiveInfo_content').html(response);
                $('#modalArchiveInfo').modal();
            }
        });
    });
</script>