<div class="modal fade" id="modificationModal" data-backdrop="static" data-keyboard="false" tabindex="999"  data-focus-on="input:first" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-translate-catalog="recordsManagement/messages">
            <div class="container-fluid">
                <div class="page-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3><span id="modification_title"></span></h3>
                </div>
            </div>
            <div class="container-fluid">
                <div class="sidebar-offcanvas col-sm-12">
                    <?hinclude recordsManagement/archive/archiveModificationModal/archiveModificationForm.html?>
                    <div class="panel panel-default" data-translate-context="validationModal" id="modal_multipleSelection">
                        <div class="panel-body">
                            <h4><strong style="color:red"><span id="modal_selected"></span></strong> archives selected.</h4>
                            <h4>The modification will be applied on <strong style="color:red"><span id="modal_relevant"></span></strong> archives.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" data-translate-catalog="recordsManagement/messages">
                <button id="cancelEdit" class="btn btn-warning" data-dismiss="modal" title="Cancel"><i class="fa fa-times">&nbsp;</i>Cancel</button>
                <button id="save" class="btn btn-success" data-archiveIds="" title="Save"><i class="fa fa-check">&nbsp;</i>OK</button>
            </div>
        </div>
    </div>
</div>

<div style="display:none">
    <span id="mtext_flagForTransfer">Flag for transfer</span>
    <span id="mtext_retentionRule">Change disposal rule</span>
    <span id="mtext_accessRule">Edit access rule</span>
    <span id="mtext_editOriginator">Edit Originating service</span>
    <span id="mtext_flagForDestruction">Flag for destruction</span>
    <span id="mtext_requestModification">Request a modification</span>
    <span id="mtext_cancelDestruction">Cancel destruction</span>
    <span id="mtext_freeze">Freeze</span>
    <span id="mtext_unfreeze">Unfreeze</span>
    <span id="empty_text">The fields with a star are required.</span>
    <span id="empty_archivalAgency">No archival agency found</span>

    <span id="text_D">day(s)</span>
    <span id="text_M">month(s)</span>
    <span id="text_Y">year(s)</span>
    <span id="text_preservation">preservation</span>
    <span id="text_destruction">destruction</span>
    <span id="text_unlimited">Unlimited</span>
</div>

<style>
.datepicker{z-index:1151 !important;}
</style>

<script>
    // empty description / reference fields / button state when the user press cancel
    $("#cancelEdit").on('click', function () {
        $('#save').prop("disabled",false);
        ModificationModal.modal.find('input, textarea').val('');
    });

    $("#accessRuleCode").on('change', function () {
        ModificationModal.loadAccessCode();
    });
    
    $("#retentionRuleCode").on('change', function () {
        ModificationModal.loadRetentionCode();
    });

    $("#checkboxUpdateFinalDisposition").on('change', function () {
        if (this.checked) {
            $("#retentionRuleFinalDisposition").prop("disabled",true);
        } else {
            $("#retentionRuleFinalDisposition").prop("disabled",false);
        }
    });
    // State of button 'save' will change according to value of comment's field
    $("#comment").on('change keyup', function () {
        if ($("#comment").val() !== "") {
            $("#save").prop("disabled",false);
        } 
        else{
            $("#save").prop("disabled",true);
        }
    });

    $("#save").on('click', function (e) {
        e.preventDefault();
        ModificationModal.save(); 
    });
    
    ModificationModal = {
        actionsList : {
            accessRule          : '/recordsManagement/archive/accessRule',
            retentionRule       : '/recordsManagement/archive/retentionRule',
            flagForDestruction  : '/recordsManagement/dispose',
            requestModification : '/modificationRequest',
            cancelDestruction   : '/recordsManagement/cancelDestruction',
            freeze              : '/recordsManagement/archive/freeze',
            unfreeze            : '/recordsManagement/archive/unfreeze',
            editOriginator      : '/recordsManagement/archive/originator',
        },
        actionsType : {},
        modal : $('#modificationModal'),
        modalType : null,
        dataTable : null,
        load : function(archiveId, archiveName, type, transaction) {
            this.modalType = type;

            this.loadTitle();
            
            $('#selectedArchiveId').css('display', '').find('span').text(archiveId);
            $('#selectedArchiveReference').css('display', '').find('span').text(archiveName);
            $('#archiveModificationForm').find('.modificationForm').css('display', 'none');

            try {
                eval(type+"_load(archiveId, archiveName, type)");
            }
            catch(err) {
                this.modal.modal();
            }

            $('#derogationTr').hide();
            $('#derogationInputTr').hide();

            switch (type) {
                case 'requestCommunication':
                    if ($('#' +archiveId).data('iscommunicable') === 1) {
                        $('#derogationTr').show();
                        $('#derogationInputTr').show();
                        $("#derogationTr .toggle").removeClass('btn-default off');
                        $("#derogationTr .toggle").addClass('btn-info');
                    }
                    break;
                case 'requestModification':
                    $('#messageFormatTr').hide();
                    break;
                case 'editOriginator':
                    $('#message').hide();
                    break;
                default:
            }

            if (!transaction) {
                $('#message').hide();
            }

            $('#save').data("archiveids", "");
            $('#archiveModificationForm').css('display', '');
            $('#modal_multipleSelection').css('display', 'none');
        },

        loadArchivalAgency : function() {
            $.ajax({
                type     : "GET",
                url      : "/organization/ByRole/archiver",
                dataType : 'json',
                success  : function (response) {
                    var organizations = response;
                    $('#archivalAgencySelect').find('option').remove();
                    $.each(organizations, function (key, value) {
                        $('#archivalAgencySelect').append($('<option>', {
                            value: value.registrationNumber,
                            text: value.displayName
                        }));
                    });

                    var length = $('#archivalAgencySelect').children('option').length;
                    if (length === 0) {
                        $('#archivalAgencySelect').append($('<option>', {
                            value: '',
                            text: $('#empty_archivalAgency').html()
                        }));
                    }

                    $('#modificationModal').modal();
                },
                error   : function (response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        loadRule: function(archiveId, archiveName) {
            if (this.modalType ==='accessRule') {
                url = '/recordsManagement/archive/accessRule/' + archiveId;
            } else if (this.modalType === 'retentionRule') {
                url = "/recordsManagement/archive/retentionRule/" + archiveId;
            } else {
                return;
            }

            $.ajax({
                type     : "GET",
                url      : url,
                dataType : 'json',
                success  : function (response) {
                    if (response.status) {
                        if (ModificationModal.modalType === "accessRule") {
                            rule = response.accessRule;
                        } else {
                            rule = response.retentionRule;
                        }

                        $.each(rule, function (key, value) {
                            ModificationModal.modal.find("[name='" + key + "']").val(value);
                        });

                        if (ModificationModal.modalType === "accessRule") {
                            ModificationModal.loadAccessCode(rule);
                        }

                        if (ModificationModal.modalType === "retentionRule") {
                            ModificationModal.loadRetentionCode(rule);
                        }

                        // Set datepicker Date
                        dateValue = rule.startDate.split('/');
                        if (dateValue.length == 3) {
                            date = new Date(parseInt(dateValue[2]), parseInt(dateValue[1]) - 1, parseInt(dateValue[0]));
                            $('#startDate').find('input').datepicker('setDate', date);
                        }

                        $('#modificationModal').modal();
                    } else {
                        gritter.show(response.message, response.status);
                    }
                },
                error   : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        loadMultiple: function(selected, relevant, ids, names, type, transaction) {
            this.modalType = type;

            this.loadTitle();
            $('#selectedArchiveId, #selectedArchiveReference').css('display', 'none');
            $('#archiveModificationForm').find('.modificationForm').css('display', 'none');

            try {
                eval(type+"_loadMultiple(ids)");
                $('#archiveModificationForm').css('display', '');
            }
            catch(err) {
                console.log(err);
                $('#archiveModificationForm').css('display', 'none');
            }

            if (type === 'requestCommunication') {
                var isNotCommunicable = ids.some((id) => $('#' +id).data('iscommunicable') === 1);
                if (isNotCommunicable) {
                    $('#derogationTr').show();
                    $('#derogationInputTr').show();
                    $("#derogationTr .toggle").removeClass('btn-default off');
                    $("#derogationTr .toggle").addClass('btn-info');
                }
                 else {
                    $('#derogationTr').hide();
                    $('#derogationInputTr').hide();
                }
            }

            $('#save').data("archiveids", ids);
            $('#modal_multipleSelection').css('display', '');
            $('#modal_selected').html(selected);
            $('#modal_relevant').html(relevant);

            ModificationModal.loadTable(ids, names);

            if (!transaction) {
                $('#message').hide();
            }

            this.modal.find('input, select').val('');
            this.modal.modal();
        },

        loadTitle: function() {
            $('#modification_title').html($('#mtext_'+this.modalType).html());
        },

        save: function() {
            parameters = ArchiveModification.serialize(this.modalType);

            if (!parameters == -1) {
                return;
            }
            
            parameters.archiveIds = $("#save").data('archiveids');

            if(!parameters.archiveIds) {
                parameters.archiveIds = $('#selectedArchiveId').find('span').html();
            }

            if (this.actionsType[this.modalType]) {
                type = this.actionsType[this.modalType];
            } else {
                type = 'PUT';
            }

            $.ajax({
                url         : this.actionsList[this.modalType],
                type        : type,
                data        : JSON.stringify(parameters),
                contentType : 'application/json',
                dataType    : 'json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status) {
                        ModificationModal.close();
                        ModificationModal.modal.one('hidden.bs.modal', function () {
                            $('#archive_search').click();
                        });

                    }
                },
                error       : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        close: function() {
            ModificationModal.modal.find('input, textarea').val('');
            ModificationModal.modal.modal('hide');
        },

        loadAccessCode: function(rule) {
            var accessRuleCode = $("#accessRuleCode").find(':selected').data('json');
            var accessRules = "";
            var accessRuleTable = $('#accessRuleTable');

            if (accessRuleCode) {
                let accessRuleDurationUnit = accessRuleCode.duration.substr(accessRuleCode.duration.length - 1, 1);
                let accessRuleDuration = (accessRuleCode.duration.split(accessRuleDurationUnit))[0].split("P");

                if (rule) {
                    $('#accessRule').css("display", '');

                    if(accessRuleDuration[1] >= 9999){
                        $('#accessRuleDuration').text($('#text_unlimited').text());
                    } else {
                        $('#accessRuleDuration').text(accessRuleDuration[1] + ' ' + $('#text_' + accessRuleDurationUnit).html());
                    }
                    $('#accessRuleDescription').text(accessRuleCode.description);
                }

            } else {
                $('#accessRule').css("display", 'none');
            }

            if(accessRules){
                if (!accessRules.length) {
                    $('#accessRuleTable').css('display', 'none');
                } else {
                    var checked = $('<i>').addClass('fa fa-check').html('&nbsp;');
                }
            }
        },

         loadRetentionCode: function(rule) {
            var retentionRuleCode = $("#retentionRuleCode").find(':selected').data('json');
            var retentionRules = "";
            var retentionRuleTable = $('#retentionRuleTable');

             if (retentionRuleCode) {

                 var retentionRuleDurationUnit = retentionRuleCode.duration.substr(retentionRuleCode.duration.length - 1, 1);
                 var retentionRuleDuration = (retentionRuleCode.duration.split(retentionRuleDurationUnit))[0].split("P");

                 if (rule) {
                     $('#retentionRule').css("display", '');

                     if(retentionRuleDuration[1] >= 9999){
                         $('#retentionRuleDuration').text($('#text_unlimited').text());
                     } else {
                         $('#retentionRuleDuration').text(retentionRuleDuration[1] + ' ' + $('#text_' + retentionRuleDurationUnit).html());
                     }
                     $('#retentionRuleFinalDisposition').val(rule.finalDisposition);
                     $('#retentionRuleDescription').text(retentionRuleCode.description);
                 } else {
                     $('#retentionRule').css("display", '');

                     if(retentionRuleDuration[1] >= 9999){
                         $('#retentionRuleDuration').text($('#text_unlimited').text());
                     } else {
                         $('#retentionRuleDuration').text(retentionRuleDuration[1] + ' ' + $('#text_' + retentionRuleDurationUnit).html());
                     }

                     $('#retentionRuleDescription').text(retentionRuleCode.description);
                 }

             } else {
                 $('#retentionRule').css("display", 'none');

                 if (rule) {
                     $('#retentionRule').css("display", '');

                     if(rule.retentionDuration) {
                         var retentionRuleDurationUnit = rule.retentionDuration.substr(rule.retentionDuration.length - 1, 1);
                         var retentionRuleDuration = (rule.retentionDuration.split(retentionRuleDurationUnit))[0].split("P");

                         if(retentionRuleDuration[1] >= 9999){
                             $('#retentionRuleDuration').text($('#text_unlimited').text());
                         } else {
                             $('#retentionRuleDuration').text(retentionRuleDuration[1] + ' ' + $('#text_' + retentionRuleDurationUnit).html());
                         }
                     }

                     if(rule.finalDisposition) {
                        $('#retentionRuleFinalDisposition').val(rule.finalDisposition);
                     } else {
                         $('#retentionRuleFinalDisposition').val("");
                     }
                 }
             }
            
            if(retentionRules){
                if (!retentionRules.length) {
                    $('#retentionRuleTable').css('display', 'none');
                } else {
                    var checked = $('<i>').addClass('fa fa-check').html('&nbsp;');
                }
            }
        },

        loadTable: function(ids, names) {
            var table = $('#archiveTable');
            var tbody = table.find('tbody');
            tbody.empty();

            $.each(ids,function(index,value) {
                var tr = $('<tr/>');
                var tdId = $('<td/>').text(value).appendTo(tr);
                var tdName = $('<td/>').text(names[index]).appendTo(tr);
                tr.appendTo(tbody);
            });

            if (ModificationModal.dataTable) {
                ModificationModal.dataTable.destroy();
                ModificationModal.dataTable = null;
            }

            ModificationModal.dataTable = table.DataTable({
                "sdom": '<"dataTable-footer clearfix"<"pull-left"f>><"table-responsive"t><"dataTable-footer"<"pull-left"li><"pull-right"p><"clearfix">>',
                "sPaginationType": "full_numbers",
                "bFilter": false,
                "bInfo" : false,
                "pageLength": 10,
                "oLanguage": {
                    "sLengthMenu" : $('#lengthMenu_text').html(),
                    "oPaginate" : {
                        "sFirst" : $('#first_text').html(),
                        "sPrevious" : $('#previous_text').html(),
                        "sNext" : $('#next_text').html(),
                        "sLast" : $('#last_text').html()
                    }
                }
            });
        },
        
        reset : function() {
            $('#modificationModal').find('[name="identifier"]').val("");
            $('#modificationModal').find('[name="comment"]').val("");
        }
    };

    $("#modificationModal").on("shown.bs.modal", function() {
        isModalOpen = true;
    });

    $("#modificationModal").on("hidden.bs.modal", function() {
        isModalOpen = false;
    });

</script>
