<!-- ARCHIVE DESCRIPTION -->
<div class="modal fade" id="modalArchiveInfo" data-backdrop="true" data-keyboard="static" tabindex="999"  data-focus-on="input:first" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:calc(100% - 25vh);">
        <div class="modal-content" id="modalArchiveInfo_content" style="min-height:40vh;">
        </div>
    </div>
</div>

<!--   Modale de confirmation pour la suppression de ressource     -->
<div class="modal fade" id="confirmDeleteModal" data-translate-catalog="recordsManagement/messages" style="top:75px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="text-align: center;">Delete the resource</h3>
            </div>
            <div class="modal-body">
                <p id="confirm_text">
                    Do you really want to delete this resource ? <br/>
                    This action will be irreversible.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirm_no" title="Cancel">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirm_yes" data-resid="" data-archiveid="" data-dismiss="modal" title="Delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- ARCHIVE DOCUMENT -->
<div class="modal fade" id="modalArchiveDocument" data-backdrop="static" data-keyboard="false" tabindex="999"  data-focus-on="input:first" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalArchiveDocument">
            <div data-translate-catalog="recordsManagement/messages">
                <div class="container-fluid">
                    <div class="">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <br/>
                    </div>
                </div>
                <div class="container-fluid">
                    <div id="fileContent" class="col-sm-12">
                        <object id="archiveDocumentViewer" width="100%" data="[?merge url ?]" type="[?merge mimetype?]"></object>
                    </div>
                </div>
            </div>
            <div class="modal-footer" data-translate-catalog="recordsManagement/messages">
                <button type="button" class="btn btn-default" data-dismiss="modal" title="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newResourceModal" tabindex="-1" role="dialog" data-translate-catalog="recordsManagement/messages">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="page-header">
                    <button type="button" class="close closeModal" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h2 style="text-align: center"><i>&nbsp;</i> Import a resource </h2>
                </div>
                <div class="modal-body">
                    <?hinclude dashboard/mainScreen/importResource.html ?>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="viewModalEditMeta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalContainerEditMeta">
        </div>
    </div>
</div>
<?hinclude lifeCycle/eventModal.html ?>

<style>
    .breakAll{
        word-break: break-all;
    }
</style>

<script>
    $("#modalArchiveInfo").on('click', ".editMetadata", function () {
       archiveInfoModal.loadEditMetadata($(this).data('archiveid'));
    });
    
    $("#modalArchiveInfo").onEvent('showDetails.archive', function (e, archiveId) {
        archiveInfoModal.loadDescription(archiveId);
    })
    
    // View relate archive
    $("#modalArchiveInfo").on('click', ".viewRelatedArchive", function () {
        archiveInfoModal.load($(this).data('archiveid'));
    })

    // Show life cycle event 
    $("#modalArchiveInfo").on('click', '.showEvent', function () {
        eventInfo.load($(this).data('eventid'));
    })

    // Show document
    $("#modalArchiveInfo").on('click', '.showDigitalResource', function () {
        var resId = $(this).data('res-id');
        var archiveId = $(this).data('archive-id');
        archiveDocumentViewer.loadResource(archiveId, resId);
    })

    // Show document
    $("#modalArchiveInfo").on('click', '[data-convertresource]', function () {
        var resId = $(this).data('convertresource');
        var archiveId = $(this).data('archive-id');

        $.ajax({
            type        : "PUT",
            url         : "/recordsManagement/InteractiveConversion/" + resId,
            dataType    : 'json',
            success     : function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status && response.result != false) {
                    archiveInfoModal.close();
                    $('#modalArchiveInfo').one('hidden.bs.modal', function () {
                        archiveInfoModal.load(archiveId);
                    });
                    $('#modalArchiveInfo').one('shown.bs.modal', function () {
                        $("#modalArchiveInfo").find('[href=#digitalResourcesTab]').tab("show");
                    });
                }
            }
        });
    })

    archiveInfoModal = {
         load: function(archiveId, noMessageTab) {
            $.ajax({
                type        : "GET",
                url         : "/recordsManagement/archiveDescription/" + archiveId,
                data        : {isCommunication:1},
                dataType    : 'html',
                success     : function (response) {
                    $('#modalArchiveInfo_content').empty().html(response);

                    if (!$('#modalArchiveInfo_content').find('.close').length) {
                        archiveInfoModal.addClosingButton();
                    }

                    if ($("#modalArchiveInfo").is(":visible")) {
                        archiveInfoModal.close();
                        $('#modalArchiveInfo').one('hidden.bs.modal', function () {
                            $('#modalArchiveInfo').modal();
                        })
                    } else {
                        $('#modalArchiveInfo').modal();
                    }

                    if (noMessageTab === true) {
                        $('#modalArchiveInfo').find('.nav-tabs').find('li:last').remove();
                    }

                },
                error   : function (response) {
                    response = JSON.parse(response.responseText);
                    gritter.show(response.message);
                }
            });
         },

         reload: function(archiveId, noMessageTab) {
            $.ajax({
                type        : "GET",
                url         : "/recordsManagement/archiveDescription/" + archiveId,
                data        : {isCommunication:1},
                dataType    : 'html',
                success     : function (response) {
                    $('#modalArchiveInfo_content').empty().html(response);
                }
            });
         },

         loadDescription: function(archiveId) {
            $.ajax({
                type        : "GET",
                url         : "/recordsManagement/archiveInfo/" + archiveId,
                data        : {isCommunication:1},
                dataType    : 'html',
                success     : function (response) {
                    $('#archiveInformationDiv').empty().html(response);
                    $('.addResourceArchive').data('parent-archive-id', archiveId);
                }
            });
        },

        loadResourceDescription: function(resource) {
            $.ajax({
                url         : "/documentInfo",
                type        : "GET",
                success     : function (response) {
                    $('#archiveInformationDiv').html(response);
                    DocumentInformation.load(resource);
                    if ($('#canDeleteResource').val() == '1') {                
                        DocumentInformation.form.find("#deleteResource").removeClass('hide');
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            });
        },

        loadEditMetadata: function (archiveId) {
             $.ajax({
                 type: "GET",
                 url: "/recordsManagement/archiveDescription/" + archiveId + "/getEditMetadata",
                 dataType: 'html',
                 success: function (response) {
                     $('#modalContainerEditMeta').html(response);
                     $('#viewModalEditMeta').modal();
                 }
             });
         },

         close: function() {
            $('#modalArchiveInfo').modal('hide');
         },

         addClosingButton: function() {
            var pageHeader = $('#modalArchiveInfo').find('.page-header');
            var button = $('<button/>').addClass('close').attr('data-dismiss', 'modal').prependTo(pageHeader);
            var span = $('<span/>').prop('aria-hidden', 'true').html('&times;').appendTo(button);
        }
    };

    archiveDocumentViewer = {
        load: function(archiveId, resId, action) {
            var url = "/recordsManagement/" + archiveId + "/digitalResource/" + resId;
            if (action) {
                url = action + archiveId + "/" + resId;
            }
            window.open(url, 'document');
        },

        loadResource: function(archiveId, resId) {
            var url = "/recordsManagement/"+archiveId+"/digitalResource/" + resId;
            window.open(url, 'document');
        }
    }

    $("#modalArchiveInfo").onEvent('viewRelated.archive', function (e, archiveId) {
        archiveInfoModal.load(archiveId);
    })

    $('#modalArchiveInfo').onEvent('showDetails.digitalResource', function(e, resource){
        archiveInfoModal.loadResourceDescription(resource);
    })

    $('#modalArchiveInfo').onEvent('showResource.digitalResource', function(e, archiveId, resId) {
        archiveDocumentViewer.load(archiveId, resId);
    })

    $("#confirm_yes").on("click", function(){
        var resources = {
                resIds           : [$(this).attr('data-resid')]
            }

            ajax($('#deleteResource'), {
                type: "DELETE",
                url: '/' + $(this).attr('data-archiveid') + '/digitalResource',
                data: JSON.stringify(resources),
                dataType: 'json',
                contentType: 'application/json',
                success     : function (response) {
                    gritter.show(response.message, true);
                    trigger('deleteResourceDone.recordsManagement');
                },
                error       : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
    });


    $("#confirm_no").on("click", function() {
        $('#confirmDeleteModal').modal("hide");
    });
</script>