<li>
    <span class="btn btn-warning btn-sm viewRelatedArchive" title="[?merge .archiveName ?]" data-archiveid="[?merge .archiveId ?]" title="Show the archive warning">
        <i class="fa fa-file-archive-o"></i>&nbsp;<?merge .archiveId ?></span>&nbsp;<i class="small"><?merge .archiveName ?></i>
        <ul>
            <span class="btn btn-default disabled btn-sm" title="[?merge archive.archiveName ?]" data-archiveid="[?merge archive.archiveId ?]" title="Show the archive warning">
            <i class="fa fa-file-archive-o"></i>&nbsp;<?merge archive.archiveId ?></span>&nbsp;<i class="small"><?merge archive.archiveName ?></i>
            <?merge archive.contents.count().bool() ?>
            <ul>
               <?merge archive.contents /recordsManagement/archive/childArchiveNode.html ?>
            </ul>
        </ul>
    </span>
</li>