<div class="row" data-translate-catalog="recordsManagement/messages" id="archiveList">
    <?merge hasReachMaxResults ?>
    <h4><span>Your query returns too much results, only first results are displayed.</span></h4>
    <div class="panel panel-primary">
        <input type="hidden" id="transaction" value="[?merge transaction ?]" />
        <input type="hidden" id="collection" value="[?merge collection.json() ?]" />
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <?merge hasReachMaxResults.not() ?>
                <h4><?merge archive.count() ?> archive(s)</h4>
                <?merge hasReachMaxResults ?>
                <h4><?merge archive.count() ?> archive(s) on <?merge totalResultsWithoutLimit ?> result(s)</h4>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-warning dropdown-toggle" type="button" id="archiveList_actions" data-toggle="dropdown" aria-expanded="true" title="Actions" disabled="disabled">
                    <i class="fa fa-navicon">&nbsp;</i>&nbsp;Actions
                    <span class="caret"></span>
                </button>
                <?hinclude recordsManagement/archive/resultListActionsButton.html ?>
            </div>
        </div>
        <div class="panel-body" style="padding: 0;">
            <table class="table dataTable" id="archiveList_table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="archiveList_selectAll"/></th>
                        <th>Archive name</th>
                        <th>Identifier</th>
                        <th>Originator</th>
                        <th>Profile</th>
                        <th>Deposit date</th>
                        <th>Disposal date</th>
                        <th>Status</th>
                        <th><span><i class="fa fa-star-o" title="collection"></i></span></th>
                        <th style="min-width:150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <?merge archive ?>
                    <tr id="[?merge .archiveId ?]" name="[?merge .archiveName ?]" class="[?merge .disposable.bool().then('danger') ?]" data-iscommunicable="[?merge .isCommunicable ?]">
                        <td>
                            <?merge .hasRights.bool() ?>
                            <input type="checkbox"
                                data-archive-status="[?merge .status ?]"
                                data-final-disposition='[?merge .finalDisposition ?]'
                                data-disposable="[?merge .disposable ?]"
                                data-noretention="[?merge .noRetention ?]"
                                value="[?merge .archiveId ?]"/>
                        </td>
                        <td class="archiveName"><?merge .archiveName ?></td>
                        <td><?merge .archiveId ?></td>
                        <td class="originator"><?merge .originatorOrgName ?></td>
                        <td class="profile"><?merge .archivalProfileReference ?></td>
                        <td data-order="[?merge .depositDate.format('Y-m-d H:i:s') ?]"><?merge .depositDate.format('d-m-Y H:i:s') ?></td>
                        <td data-order="[?merge .disposalDate.format('Y-m-d') ?]"><?merge .disposalDate ?></td>
                        <td class="status"><?merge .statusDesc ?></td>
                        <td data-isInUserCollection="[?merge .isInUserCollection.bool().then('true', 'false') ?]"><i class="collection fa [?merge .isInUserCollection.bool().then('fa-star yellow', 'fa-star-o') ?]"></i></td>
                        <td>
                            <div class="btn-group pull-right">
                                <!--button type="button" class="btn btn-success btn-sm requestDelivery" id="requestCom" data-archiveid='[?merge .archiveId?]' title="Request of communication"><span class="fa fa-cloud-upload">&nbsp;</span></button-->
                                <button type="button" class="btn btn-success btn-sm viewArchive" title="Info"><span class="fa fa-info-circle">&nbsp;</span></button>
                                <?merge .hasRights.bool().not() @disabled ?>
                                <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-edit">&nbsp;</i>&nbsp;
                                    <span class="caret"></span>
                                </button>
                                <?hinclude recordsManagement/archive/resultActionsButton.html ?>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <?hinclude recordsManagement/archive/archiveManagement.html ?>
</div>
<style>
    .yellow {
        color: #FFFF00;
    }
</style>
<script>
    /* MULTIPLE ARCHIVE SELECTION*/

    $("#archiveList_selectAll").on('click', function () {
        $('table.dataTable').find('input[type="checkbox"]').prop('checked', $(this).prop('checked'));
    });

    $(".paginate_button").on('click', '.paginate_button', function () {
        $("archiveList_actions").prop('disabled', true);
        $('#archiveList_table').find('input[type="checkbox"]').prop('checked', false);
    });

    $("table.dataTable").on('click', function() {
        if($('input[data-archive-status]:checked').length > 0) {
            $("#archiveList_actions").prop('disabled', false);
        } else {
            $("#archiveList_actions").prop('disabled', true);
        }
    });
</script>
