<div id="contain" >
    <div class="container-fluid" data-translate-catalog="recordsManagement/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-search"></i>
                Search archives
            </h1>
        </div>
    </div>

    <div class="container-fluid" lang="en" data-translate-catalog="recordsManagement/messages">
        <?merge emptyRole ?>
        <h3><i class="fa fa-times"></i> You have to choose a working organization unit to proceed this action.</h3>
        <?merge emptyRole.not() ?>
        <div class="panel-group" id="accordionSearch">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionSearch" href="#collapseOne" style="cursor:pointer;">
                    <h4 class="panel-title" style="float:left;">
                        Search form
                    </h4>
                    <i class="fa fa-caret-down" style="float:right;"></i>
                    <div style="clear:both;"></div>
                </div>
                <div id="collapseOne" class="well panel-collapse collapse in" style="margin-bottom: 0px">
                    <form class="form-horizontal" id="archive_searchForm">
                        <input type="hidden" name="maxResults" id="maxResults" value="[?merge maxResults ?]"/>
                        <?hinclude recordsManagement/archive/searchform.html ?>
                    <!-- Helpers -->
                        <div class="col-md-12">
                            <hr style="height:1px;border:none;color:gray;background-color:gray;">
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-4 col-sm-offset-4 control-label" style="margin-top: 2%;">Additional fields</label>
                                <div class="col-sm-4" style="float:right">
                                    <table class="table table-condensed">
                                        <thead>
                                            <th>Title</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col-sm-11">
                                                    <select class="form-control" name="type" id="helperSelect">
                                                        <option value=""></option>
                                                        <?merge descriptionScheme?>
                                                        <option type="[?merge .type ?]" data-enumeration="[?merge .enumeration.json() ?]" data-helperName="[?merge .name ?]" value="[?merge .label ?]"><?merge .label ?></option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button type="button" data-helperName="[?merge .name ?]" class="btn btn-success" id="addHelper" title="Add"><span class="fa fa-plus"></span></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="col-sm-offset-3 col-sm-6">
                                    <li id="helperList" style="list-style: none;">
                                        <input id="selectedHelper" type="hidden" class="form-control" disabled />
                                        <input id="helperValueMin" type="hidden" class="form-control" placeholder="Valeur" />
                                        <input id="helperValueMax" type="hidden" class="form-control" placeholder="Valeur"/> 
                                        <select id="helperDropdown" class="hide form-control"></select>
                                        <input  id="helperToggle" type="hidden" data-size="normal" data-on="Oui" data-off="Non" data-toggle="toggle"/>
                                    </li>
                                </ul>
                                <span id="helperError" class="col-sm-4 col-sm-offset-4 hide alert-warning">You must select the type of additional description field to add</span>
                            </div>
                        </div>
                        <br />
                        <div class="clearfix">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary col-md-offset-4 col-md-2" id="archive_search" title="Search"><i
                                        class="fa fa-search">&nbsp;</i>Search</button>
                                <button type="button" class="btn btn-warning col-md-offset-1 col-md-2" id="archive_resetForm" title="Reset"><i
                                        class="fa fa-refresh">&nbsp;</i>Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Error message -->
        <div class="hide" id="errorMessage">You must enter a profile and at least a date (maximum and/or minimum)</div>

        <!-- Message usage -->
        <input type="hidden" id="useRestitutionMessages" value="[?merge useRestitutionMessages ?]">
        <input type="hidden" id="useDestructionMessages" value="[?merge useDestructionMessages ?]">

        <div class="container-fluid" id="archive_searchResult"></div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="corruptedModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="container_corruptedModal">
            </div>
        </div>
    </div>
</div>
<style>
    #helperError {
        float:right;
    }
    .helper {
        margin-bottom: 10px;
    }
    .no-padding {
        padding-right:5px;
        padding-left:5px;
    }
</style>
<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script>
    $("#originatorOrgInfo").hide();

    /* ----------------------------------------------------------------------------------------------------*/
    /* -- SEARCH FORM -- */

    $('#app_maarchRM_main').keypress(function (e) {
        if (e.which != 13) {
            return;
        }
        // Prevent form submit
        e.preventDefault();
        if ($("#archive_archiveIdentifier").is(':focus')) {
            $("#archive_searchByIdentifier").click();

        } else {
            $("#archive_search").click();
        }
    });
    // radio button
    $("#archive_searchForm").on('click', 'label.btn', function () {
        if ($(this).find('.hasParent').length) {
            if ($(this).hasClass("btn-info")) {
                $(this).removeClass("btn-info").addClass("btn-default");
            } else {
                $(this).addClass("btn-info");
            }
            return;
        }
        $(this).parent().find(".btn-info").removeClass('btn-info').addClass('btn-default').removeClass("active");
        $(this).removeClass("btn-default").addClass('btn-info');
    });

    $("#helperList").on('click', ".deleteHelper", function() {
        var helperValue = $(this).closest('.helper').find('#selectedHelper').val();
        var helperType = $(this).closest('.helper').find('#helperValueMin').attr('type');

        if (helperType == 'checkbox') {
            helperType = 'boolean';
        }
        $(this).closest('.helper').remove();
        $("#helperSelect").append($("<option></option>")
                    .attr("value", helperValue)
                    .attr("type", helperType)
                    .text(helperValue)); 
    });

    $('#addHelper').on('click', function () {
        var helperText = $("#helperSelect :selected").text();
        var helper = $('#helperSelect').find("option:selected");
        var helperName = helper.attr("data-helperName");
        var helperType = helper.attr('type');
        $('#helperError').addClass('hide');
     
        if (helperText) {
            var row = $('<li/>').addClass('helper').appendTo($("#helperList"));
            var selectedHelperType = $('<li/>').addClass("col-sm-3 no-padding").appendTo(row);
            $('#selectedHelper').clone().attr('type','text').val(helperText).appendTo(selectedHelperType).prev().remove();

            switch (helperType) {
            case 'array':
                var helperMin = $('<li/>').addClass("col-sm-8 no-padding").appendTo(row);
                $('#helperValueMin').clone().attr('type','array').appendTo(helperMin).prev().remove();
                break;

            case 'text':
            case 'string':
                var helperMin = $('<li/>').addClass("col-sm-8 no-padding").appendTo(row);
                $('#helperValueMin').clone().attr('type','text').appendTo(helperMin).prev().remove();
                break;

            case 'name':
                var enumeration = helper.attr("data-enumeration");
                dropdownList = JSON.parse(enumeration);
                // send data if enumeration is filled, case text otherwise
                if (dropdownList) {
                    var dropdownValues = [];
                    $.each(dropdownList, function(key, value)
                    {
                        dropdownValues.push('<option value="'+ key +'">'+ value +'</option>');
                    });
                    var helperMin = $('<li/>').addClass("col-sm-8 no-padding").appendTo(row);
                    $('#helperDropdown').removeClass('hide').html(dropdownValues.join('')).appendTo(helperMin);
                }
                else {
                    var helperMin = $('<li/>').addClass("col-sm-8 no-padding").appendTo(row);
                    $('#helperValueMin').clone().attr('type','text').appendTo(helperMin).prev().remove();
                }
       
                break;

            case 'number':
                var helperMin = $('<li/>').addClass("col-sm-4 no-padding").appendTo(row);
                var helperMax = $('<li/>').addClass("col-sm-4 no-padding").appendTo(row);
                $('#helperValueMin').clone().attr('type','number').appendTo(helperMin).prev().remove();
                $('#helperValueMax').clone().attr('type','number').appendTo(helperMax).prev().remove();
                break;

            case 'date':
                var helperMin = $('<li/>').addClass("col-sm-4 no-padding").appendTo(row);
                var helperMax = $('<li/>').addClass("col-sm-4 no-padding").appendTo(row);
                $('#helperValueMin').clone().attr('type','date').appendTo(helperMin).prev().remove();
                $('#helperValueMax').clone().attr('type','date').appendTo(helperMax).prev().remove();
                break;

            case 'boolean':
                // todo display good data-toggle
                var helperMin = $('<li/>').addClass("col-sm-8 no-padding").appendTo(row);
                $('#helperToggle').clone().attr('type','checkbox').appendTo(helperMin).prev().remove();
                break;

            default:
                $('#helperError').removeClass('hide');
                return;
        }

            var buttonColumn = $('<li/>').appendTo(row);

            var button = $('<button/>')
                .attr('title', 'supprimer')
                .attr('type', 'button')
                .addClass("btn btn-danger deleteHelper")
                .appendTo(buttonColumn);

            var icon = $('<i/>')
                .addClass('fa fa-trash')
                .appendTo(button);

            $("#helperSelect :selected").text();
            $("#helperSelect :selected").remove();

        }     
        else {
            $('#helperError').removeClass('hide');
        }

        $('#helperSelect').prop('selectedIndex',0);
    });

    $('#archive_searchByIdentifier').on('click', function () {
        if ($('#archive_archiveIdentifier').val().trim() == "") {
            return;
        }

        ajax($(this), {
            type        : 'GET',
            url         : '/recordsManagement/archives',
            data        : { archiveId: $('#archive_archiveIdentifier').val().trim() },
            dataType    : 'html',
            success     : function (response) {
                $('#archive_searchResult').empty().html(response);
            },
            error       : function (e) {
            }
        });
    });

    $('#archive_search').on('click', function () {

        var data = searchFormSerialize();
        if (data == -1)
            return;
        $('#archive_search').prop('disabled', true);
        $('#archive_searchForm').find('[name="archiveIdentifier"]').val('');

        $.ajax({
            type     : 'GET',
            url      : '/recordsManagement/archives',
            //data     : $("#archive_searchForm").serialize(),
            data     : data,
            dataType : 'html',
            success  : function (response) {
                $('#archive_searchResult').empty().html(response);
                $('#archive_search').prop('disabled', false);
            },
            error    : function(response) {
                response = JSON.parse(response.responseText);
                gritter.show(response.message);
                $('#archive_search').prop('disabled', false);
            }
        });
    });

    $("#archive_resetForm").on("click", function () {
        $('#archive_searchForm').find('input[type="text"], select').val('');
        $('#archive_searchForm').find("input[name='archiveExpired'][value='']").parent().click();
        $('#archive_searchForm').find('input[type="checkbox"][name!="hasParent"]').bootstrapToggle('off');
        $("#archive_searchForm").find('input.hasParent').parent().removeClass('btn-info').addClass('btn-default').removeClass("active");
        $("#archive_searchForm").find('input.hasParent[value!="2"]').click();
        $('#archive_searchForm').find('.helper').empty();
        $('#helperError').addClass('hide');
        $('#originatorOrgInfo').hide();

        delete $("#archive_searchForm [name=depositStartDate]").data('datepicker').setDates();
        delete $("#archive_searchForm [name=depositEndDate]").data('datepicker').setDates();
        //delete $("#archive_searchForm [name=originatingStartDate]").data('datepicker').setDates();
        //delete $("#archive_searchForm [name=originatingEndDate]").data('datepicker').setDates();

        $('#archive_searchResult').empty();
    });

    function searchFormSerialize() {
        var parameters = new Object();

        $('#archive_searchForm').find('input[type="text"], input[type="hidden"], input[type="number"], select').each(function() {
            if(!$(this).hasClass('orgHide')) {
                parameters[$(this).attr('name')] = $(this).val();
            }
        });

        var hasParent = [];

        $('#archive_searchForm').find('input[type="checkbox"]').each(function(){
            if ($(this).attr('name') != "hasParent") {
                parameters[$(this).attr('name')] = $(this).prop("checked");
                return;
            }
            if ($(this).parent().hasClass("btn-info"))
                hasParent.push($(this).val());
        });

        if (hasParent.length == 0) {
            gritter.show($("#required_fields").text(), false);
            return -1;
        }

        if (hasParent.length == 1)
                parameters.hasParent = hasParent[0];

     //   var helperCount = $('#archive_searchForm').find('.helperContent').length;
        parameters.finalDisposition = $("#archive_searchForm [name=finalDisposition]:checked").val();
        parameters.archiveExpired = $("#archive_searchForm [name=archiveExpired]:checked").val();
        parameters.depositStartDate = $("#archive_searchForm [name=depositStartDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');
        parameters.depositEndDate = $("#archive_searchForm [name=depositEndDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');
        //parameters.originatingStartDate = $("#archive_searchForm [name=originatingStartDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');
        //parameters.originatingEndDate = $("#archive_searchForm [name=originatingEndDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');

        return parameters;
    }

    /* ----------------------------------------------------------------------------------------------------*/
    /* -- VALIDATION MODAL -- */

    $("#contain").on('click', '#cancelAction', function () {
        $('#validateAction').off();
    })

    /* ----------------------------------------------------------------------------------------------------*/
    /* -- EDITION MODAL -- */

    var organizations = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {url: '/organizations/todisplay?orgUnit=true', ttl: '0'},
        limit: 100
    });

    window.localStorage.clear();
    organizations.initialize();

    // initialize typeahead
    $('#orgTypeahead').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 2
        },
        {
            name: 'organizations',
            displayKey: 'displayName',
            templates: {
                empty: function() {
                    return "<span class='well well-sm'>"+$('#noOriginatorFound').html()+"</span>";
                },
                suggestion: function(organization) {
                    var display =
                        "<span>"
                        + "<span style='font-family:Helvetica, sans-serif;'>";

                    if(organization.ownerOrgName) {
                        display += organization.ownerOrgName
                                + "<br>> ";
                    }
                       display += organization.displayName
                        + "</span></span><br>";

                    $("#originatorOwnerOrgName").val("");
                    return display;
                }
            },
            source: function(query, cb) {
                organizations.search(query, function(suggestions) {
                    var i = suggestions.length
                    while (i--) {
                        if ($('#orgs').find('[data-orgid="'+ suggestions[i].orgId +'"]').length)
                            suggestions.splice(i, 1);
                    }
                    cb(suggestions);
                });
            },
            skipCache: true
        }
    ).on('typeahead:selected', function($event, suggestion, source) {
        if(suggestion.orgId) {
            $("#originatorOrgRegNumber").val(suggestion.registrationNumber);
            $("#originatorOrgInfo").show();
            $("#originatorOwnerOrgName").val(suggestion.ownerOrgName);
            $("#originatorOwnerOrgId").val('');
        } else {
            $("#originatorOwnerOrgId").val(suggestion.orgId);
            $("#originatorOrgInfo").hide();
            $("#originatorOrgRegNumber").val('');
        }

    });

    $('#orgTypeahead').keyup(function () {

        if(!$(this).val()) {
            $("#originatorOrgInfo").hide();
        }
    });

    $("#orgTypeahead").keydown(function(event) {
        // reinit typeahead and hidden input when suppr or backspace keys are pressed
        if (event.which == 46 || event.which == 8) {
            $("#originatorOrgRegNumber").val('');
            $("#originatorOwnerOrgId").val('');
        }
    });

    $("#orgTypeahead").click(function() {
        $("#originatorOrgRegNumber").val('');
        $("#originatorOwnerOrgId").val('');
    });


</script>
