<div id="contain" >
    <div class="container-fluid" data-translate-catalog="recordsManagement/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-search"></i>
                Search archives
            </h1>
        </div>
    </div>

    <div class="container-fluid" lang="en" data-translate-catalog="recordsManagement/messages">
        <?merge emptyRole ?>
        <h3><i class="fa fa-times"></i> You have to choose a working organization unit to proceed this action.</h3>
        <?merge emptyRole.not() ?>
        <div class="panel-group" id="accordionSearch">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionSearch" href="#collapseOne" style="cursor:pointer;">
                    <h4 class="panel-title" style="float:left;">
                        Search form
                    </h4>
                    <i class="fa fa-caret-down" style="float:right;"></i>
                    <div style="clear:both;"></div>
                </div>
                <div id="collapseOne" class="well panel-collapse collapse in" style="margin-bottom: 0px">
                    <form class="form-horizontal" id="archive_searchForm">
                        <input type="hidden" name="maxResults" id="maxResults" value="[?merge maxResults ?]"/>
                        <?hinclude recordsManagement/archive/searchform.html ?>
                    <!-- Helpers -->
                        <div class="col-md-12">
                            <hr style="height:1px;border:none;color:gray;background-color:gray;">
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" id="helperForm">
                                <label class="col-sm-2 control-label" style="padding-top: 15px;">Add filter</label>
                                <div class="col-sm-4">
                                    <table id="helperFilter" class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td class="col-sm-11">
                                                    <select class="form-control" name="type" id="helperSelect">
                                                        <option value=""></option>
                                                        <?merge descriptionScheme?>
                                                        <option type="[?merge .type ?]" format="[?merge .format ?]" externalRef="[?merge .ref.bool()?]" data-enumName="[?merge .enumNames.json()?]" data-enumeration="[?merge .enumeration.json() ?]" helperName="[?merge .name ?]" value="[?merge .label ?]"><?merge .label ?></option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button type="button" helperName="[?merge .name ?]" class="btn btn-success" id="addHelper" title="Add"><span class="fa fa-plus"></span></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="col-sm-6">
                                    <li id="helperList" style="list-style: none">                                            
                                        <label id="selectedHelper" class="hide control-label"></label>
                                        <input id="helperValueMin" type="hidden" class="form-control advancedSearchField"/>
                                        <input id="helperValueMax" type="hidden" class="form-control advancedSearchField"/>
                                        <select id="helperDropdown" name="service" class="hide form-control advancedSearchField"></select>
                                        <input id="helperToggle" type="hidden" class="advancedSearchField" checked data-style="quick"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="clearfix">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary col-md-offset-4 col-md-2" id="archive_search" title="Search"><i
                                        class="fa fa-search">&nbsp;</i>Search</button>
                                <button type="button" class="btn btn-warning col-md-offset-1 col-md-2" id="archive_resetForm" title="Reset"><i
                                        class="fa fa-refresh">&nbsp;</i>Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Message usage -->
        <input type="hidden" id="useRestitutionMessages" value="[?merge useRestitutionMessages ?]">
        <input type="hidden" id="useDestructionMessages" value="[?merge useDestructionMessages ?]">
        <input type="hidden" id="datetimePickerParams" value="[?merge dateTimePickerParams ?]">

        <div class="container-fluid" id="archive_searchResult"></div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="corruptedModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="container_corruptedModal">
            </div>
        </div>
    </div>
</div>
<style>
    input[type="date"] {
        line-height: 20px;
    }
    #helperFilter td {
        border-top: none;
    }
    .align-right {
        text-align: right;
    }
    .helper {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .padding-5 {
        padding-left: 5px;
    }
    .quick .toggle-group {
        transition: none;
        -webkit-transition: none;
    }
    .btn-toggleOn {
        color:#ffffff;
        background-color:#23aae5;
        border-color:#199cd5;
    }
    .btn-toggleOff {
        color:#333333;
        background-color:#e6e6e6;
        border-color:#adadad;
    }
    .quick .toggle-group { 
        transition: none; 
        -webkit-transition: none; 
    }
    .btn-toggleOn {
        color:#ffffff;
        background-color:#23aae5;
        border-color:#199cd5;
    }
    .btn-toggleOff {
        color:#333333;
        background-color:#e6e6e6;
        border-color:#adadad;
    }
</style>
<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script>
    $("#originatorOrgInfo").hide();

    /* ----------------------------------------------------------------------------------------------------*/
    /* -- SEARCH FORM -- */

    $('#app_maarchRM_main').keypress(function (e) {
        if (e.which != 13) {
            return;
        }
        // Prevent form submit
        e.preventDefault();
        if ($("#archive_archiveIdentifier").is(':focus')) {
            $("#archive_searchByIdentifier").click();

        } else {
            $("#archive_search").click();
        }
    });
    // radio button
    $("#archive_searchForm").on('click', 'label.btn', function () {
        if ($(this).find('.hasParent').length) {
            if ($(this).hasClass("btn-info")) {
                $(this).removeClass("btn-info").addClass("btn-default");
            } else {
                $(this).addClass("btn-info");
            }
            return;
        }
        $(this).parent().find(".btn-info").removeClass('btn-info').addClass('btn-default').removeClass("active");
        $(this).removeClass("btn-default").addClass('btn-info');
    });

    $("#helperList").on('click', ".deleteHelper", function() {
        var div = ($(this).closest('.divProp'));

        if(div.find(".helper").length == 1) {
            if(div.prev().is('label')) {
                var labelToRemove = div.prev();
            } else if (div.next().is('label')) {
                labelToRemove = div.next();
            } else {
                labelToRemove = div.find("label");
            }
            labelToRemove.remove();
            div.remove();
        }
        var helper = $(this).closest('.helper');

        if (helper.is(':first-child')) {
            var label = helper.find("#selectedHelper").text();
            var orButton = helper.find(".orHelper").clone();
            helper.remove();

            var newFirst = div.find(".helper").first();
            newFirst.find("#selectedHelper").text(label);
            orButton.appendTo(newFirst.find(".buttonColumn"));
        } else {
            helper.remove();
        }
        
    });

    $("#helperList").on('click', ".orHelper", function() {
        var helperText = $(this).data('helpertext');
        var helperName = $(this).data('name');
        var helperType = $(this).data('type');
        var helperFormat = $(this).data('format');
        var isExternalRef = $(this).data('externalRef');
        var enumeration = $(this).data('enumeration');
        var enumNames = $(this).data('enumnames');

        if (enumeration) {
            enumeration = JSON.stringify(enumeration);
        }

        addHelperText(helperText, helperName, helperType, helperFormat, isExternalRef, enumeration, enumNames);
    });



    $('#addHelper').on('click', function () {
        var helper = $('#helperSelect').find("option:selected");
        var helperText = $("#helperSelect :selected").text();
        var helperName = helper.attr("helperName");
        var helperType = helper.attr('type');
        var helperFormat = helper.attr('format');
        var isExternalRef = helper.attr('externalRef');
        var enumeration = helper.attr('data-enumeration');
        var enumNames = helper.attr('data-enumName');

        if (helperText) {
            addHelperText(helperText, helperName, helperType, helperFormat, isExternalRef, enumeration, enumNames);
        }     
        $('#helperSelect').prop('selectedIndex',0);
    });

    $('#archive_searchByIdentifier').on('click', function () {
        if ($('#archive_archiveIdentifier').val().trim() == "") {
            return;
        }

        ajax($(this), {
            type        : 'GET',
            url         : '/recordsManagement/archives',
            data        : { archiveId: $('#archive_archiveIdentifier').val().trim() },
            dataType    : 'html',
            success     : function (response) {
                $('#archive_searchResult').empty().html(response);
            },
            error       : function (e) {
            }
        });
    });

    $('#archive_search').on('click', function () {
        var data = searchFormSerialize();
        if (data == -1) {
            return;
        }

        $('#archive_search').prop('disabled', true);
        $('#archive_searchForm').find('[name="archiveIdentifier"]').val('');

        $.ajax({
            type     : 'GET',
            url      : '/recordsManagement/archives',
            data     : data,
            dataType : 'html',
            success  : function (response) {
                $('#archive_searchResult').empty().html(response);
                $('#archive_search').prop('disabled', false);
            },
            error    : function(response) {
                response = JSON.parse(response.responseText);
                gritter.show(response.message);
                $('#archive_search').prop('disabled', false);
            }
        });
    });

    $("#archive_resetForm").on("click", function () {
        $('#archive_searchForm').find('input[type="text"], select').val('');
        $('#archive_searchForm').find("input[name='archiveExpired'][value='']").parent().click();
        $('#archive_searchForm').find('input[type="checkbox"][name!="hasParent"]').bootstrapToggle('off');
        $("#archive_searchForm").find('input.hasParent').parent().removeClass('btn-info').addClass('btn-default').removeClass("active");
        $("#archive_searchForm").find('input.hasParent[value!="2"]').click();
        $('#archive_searchForm').find('.helper').empty();
        $('#helperError').addClass('hide');
        $('#originatorOrgInfo').hide();

        delete $("#archive_searchForm [name=depositStartDate]").data('datepicker').setDates();
        delete $("#archive_searchForm [name=depositEndDate]").data('datepicker').setDates();
        //delete $("#archive_searchForm [name=originatingStartDate]").data('datepicker').setDates();
        //delete $("#archive_searchForm [name=originatingEndDate]").data('datepicker').setDates();

        $('#archive_searchResult').empty();
        document.location.reload();
    });

    function addHelperText(
        helperText,
        helperName,
        helperType,
        helperFormat,
        isExternalRef = 0,
        enumeration = null,
        enumNames = null
    ) {
        if($("#" + helperName).length == 0) {
            if($(".divProp").length != 0) {
                var title = $('<label/>').addClass("andLabel").appendTo($(".divProp").parent()).html("ET");
            }
            var div = $('<div/>').attr('id', helperName).addClass('panel panel-default divProp').appendTo($("#helperList"));
            var or = helperText;
        } else {
            var div = $("#" + helperName);
            var or = "Ou ";
        }
        var row = $('<li/>').addClass('helper row').appendTo(div);
        var selectedHelperType = $('<li/>').addClass("col-sm-3 padding-5 align-right").appendTo(row);
        $('#selectedHelper')
            .clone()
            .removeClass('hide')
            .html(or)
            .appendTo(selectedHelperType)
            .prev()
            .remove();

        if (helperFormat === "datetime") {
            helperType = helperFormat;
        }

        switch (helperType) {
            case 'array':
                    var helperInput = $('<li/>').addClass("helperContent col-sm-6 padding-5").appendTo(row);
                    $('#helperValueMin')
                        .clone()
                        .attr('type','text')
                        .attr('name', helperName)
                        .attr('placeholder','Valeur')
                        .attr('id', generateUniqIdentifier())
                        .appendTo(helperInput)
                        .prev()
                        .remove();
                    break;

            case 'text':
            case 'string':
                var helperInput = $('<li/>').addClass("helperContent col-sm-6 padding-5").appendTo(row);
                $('#helperValueMin')
                    .clone()
                    .attr('placeholder','Valeur')
                    .attr('id', generateUniqIdentifier())
                    .attr('type','text')
                    .attr('name', helperName)
                    .appendTo(helperInput)
                    .prev()
                    .remove();
                break;

            // 1-dropdown if enumeration, 2-typeahead if external Ref, 3-simple text, 4-label+text
            case 'name':
                dropdownList = JSON.parse(enumeration);

                if (dropdownList) {
                    var dropdownValues = [];
                    $.each(dropdownList, function(key, value)
                    {
                        dropdownValues.push('<option value="'+ key +'">'+ value +'</option>');
                    });
                    var helperInput = $('<li/>').addClass("helperContent col-sm-6 padding-5").appendTo(row);
                    $('#helperDropdown')
                        .clone()
                        .attr('id', generateUniqIdentifier())
                        .attr('name', helperName)
                        .removeClass('hide')
                        .addClass(' ')
                        .html(dropdownValues.join(''))
                        .appendTo(helperInput);
                }
                else if (isExternalRef == 1) {
                    var helperInput = $('<li/>').addClass("helperContent col-sm-6 padding-5").appendTo(row);
                    $('#helperValueMin')
                        .clone()
                        .attr('type','text')
                        .attr('placeholder','Valeur')
                        .attr('id', generateUniqIdentifier())
                        .addClass('externalRefField')
                        .attr('name', helperName)
                        .appendTo(helperInput)
                        .prev()
                        .remove();
                    getTypeahead();
                }
                else {
                    var helperInput = $('<li/>').addClass("helperContent col-sm-6 padding-5").appendTo(row);
                    $('#helperValueMin')
                        .clone()
                        .attr('type','text')
                        .attr('id', generateUniqIdentifier())
                        .attr('placeholder','Valeur')
                        .attr('name', helperName)
                        .appendTo(helperInput)
                        .prev()
                        .remove();
                }
                break;

            case 'number':
                var helperMin = $('<li/>').addClass("helperContent col-sm-3 padding-5").appendTo(row);
                var helperMax = $('<li/>').addClass("helperContent col-sm-3 padding-5").appendTo(row);

                $('#helperValueMin')
                    .clone()
                    .attr('id', generateUniqIdentifier())
                    .attr('type','number')
                    .attr('placeholder','Minimum')
                    .attr('data-range','start')
                    .attr('name', helperName)
                    .appendTo(helperMin)
                    .prev()
                    .remove();
                $('#helperValueMax')
                    .clone()
                    .attr('id', generateUniqIdentifier())
                    .attr('type','number')
                    .attr('placeholder','Maximum')
                    .attr('data-range','end')
                    .attr('name', helperName)
                    .appendTo(helperMax)
                    .prev()
                    .remove();
                break;

            case 'date':
                var helperMin = $('<li/>').addClass("startDate helperContent col-sm-3 padding-5").appendTo(row);
                var helperMax = $('<li/>').addClass("endDate helperContent col-sm-3  padding-5").appendTo(row);
                var valueMinIdentifier = generateUniqIdentifier();
                var valueMaxIdentifier = generateUniqIdentifier();

                $('#helperValueMin')
                    .clone()
                    .attr('type','text')
                    .attr('placeholder','Date de début')
                    .attr('data-range','start')
                    .attr('name', helperName)
                    .attr('id', valueMinIdentifier)
                    .addClass('datePicker')
                    .appendTo(helperMin)
                    .prev()
                    .remove();
                $('#helperValueMax')
                    .clone()
                    .attr('type','text')
                    .attr('placeholder','Date de fin')
                    .attr('data-range','end')
                    .attr('name', helperName)
                    .attr('id', valueMaxIdentifier)
                    .addClass('datePicker')
                    .appendTo(helperMax)
                    .prev()
                    .remove();

                $('#' + valueMinIdentifier).datepicker({ language: "fr",autoclose:true, todayBtn: true, todayBtn:'linked', format:'dd-mm-yyyy' }).datepicker();
                $('#' + valueMaxIdentifier).datepicker({ language: "fr",autoclose:true, todayBtn: true, todayBtn:'linked', format:'dd-mm-yyyy' }).datepicker();

                break;

            case 'datetime':
                var helperMin = $('<li/>').addClass("startDate helperContent col-sm-3 padding-5").appendTo(row);
                var helperMax = $('<li/>').addClass("endDate helperContent col-sm-3 padding-5").appendTo(row);
                var valueMinIdentifier = generateUniqIdentifier();
                var valueMaxIdentifier = generateUniqIdentifier();

                $('#helperValueMin')
                    .clone()
                    .attr('type','text')
                    .attr('placeholder','Date et heure de début')
                    .attr('data-range','start')
                    .attr('name', helperName)
                    .attr('id', valueMinIdentifier)
                    .addClass('dateTimePicker')
                    .appendTo(helperMin)
                    .prev()
                    .remove();
                $('#helperValueMax')
                    .clone()
                    .attr('type','text')
                    .attr('placeholder','Date et heure de fin')
                    .attr('data-range','end')
                    .attr('name', helperName)
                    .attr('id', valueMaxIdentifier)
                    .addClass('dateTimePicker')
                    .appendTo(helperMax)
                    .prev()
                    .remove();

                dateTimePickerParams = JSON.parse($('#datetimePickerParams').val());
                $('#' + valueMinIdentifier).datetimepicker(dateTimePickerParams);
                $('#' + valueMaxIdentifier).datetimepicker(dateTimePickerParams);
                break;


            case 'boolean':
                var helperInput = $('<li/>').addClass("helperContent col-sm-6 padding-5").appendTo(row);
                var helperCheckbox = $('#helperToggle')
                    .clone()
                    .attr('type','checkbox')
                    .attr('name', helperName);
                $(function() {
                    $(helperCheckbox).bootstrapToggle({
                        on: 'Activé',
                        off: 'Désactivé',
                        width: '18%',
                        size: 'normal',
                        onstyle:'toggleOn',
                        offstyle:'toggleOff'
                    });
                })
                helperCheckbox.appendTo(helperInput);
                break;

            default:
                return;
        }

        var buttonColumn = $('<li/>').addClass('col-sm-2 buttonColumn').appendTo(row);

        var supprButton = $('<button/>')
            .attr('title', 'supprimer')
            .attr('type', 'button')
            .addClass("btn btn-danger deleteHelper")
            .appendTo(buttonColumn);

        var icon = $('<i/>')
            .addClass('fa fa-minus')
            .appendTo(supprButton);

        if($("#" + helperName).find(".orHelper").length == 0) {
            var orButton = $('<button/>')
                .attr('title', 'Ou')
                .attr('type', 'button')
                .attr('data-helpertext', helperText)
                .attr('data-name', helperName)
                .attr('data-type', helperType)
                .attr('data-format', helperFormat)
                .attr('data-externalRef', isExternalRef)
                .attr('data-enumeration', enumeration)
                .attr('data-enumNames', enumNames)
                .attr('data-format', helperFormat)
                .addClass("btn btn-success orHelper")
                .appendTo(buttonColumn);

            var icon = $('<i/>')
                .addClass('fa fa-plus')
                .appendTo(orButton);
        }
    }

    function generateUniqIdentifier () {
        var randLetter = String.fromCharCode(65 + Math.floor(Math.random() * 26));
        var uniqid = randLetter + Date.now();

        return uniqid;
    };

    function getTypeahead () {
        $.each(this.$("#helperList").find(".externalRefField"), function() {
            var field = $(this);
            var name = field.attr("name");

            setTimeout(function(){
                var data = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace(),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/descriptionRef/'+name+'?query=%QUERY',
                        wildcard: '%QUERY'
                    }
                });
                data.initialize();

                field.typeahead(
                    {
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'data',
                        source: data.ttAdapter(),
                        templates: {
                            suggestion: function(data) {
                                delete data._query;
                                var html = $('<div>');
                                var keyname = Object.keys(data)[0];
                                var key = data.keyname;
                                html.append($('<strong class="badge">').text(key));
                                delete data[keyname];
                                var value = Object.keys(data).map(function(name){return data[name]}).join(" - ");
                                html.append(' '+value);
                                return html;
                            }
                        }
                    }
                ).on('typeahead:selected', function ($event, suggestion, source) {
                    var keys = Object.keys(suggestion); //fetched the key at first index
                    field.val(suggestion[keys[0]]);
                    field.typeahead('val', suggestion[keys[0]]);
                });
            }, 300);


            return field;
        });
    }

    function searchFormSerialize() {
        var parameters = new Object();

        $('#searchFormHolder').find('input[type="text"], input[type="hidden"], input[type="number"], select').each(function() {
            if(!$(this).hasClass('orgHide')) {
                parameters[$(this).attr('name')] = $(this).val();
            }
        });

        var hasParent = [];

        $('#searchFormHolder').find('input[type="checkbox"]').each(function(){
            if ($(this).attr('name') != "hasParent") {
                parameters[$(this).attr('name')] = $(this).prop("checked");
                return;
            }
            if ($(this).parent().hasClass("btn-info"))
                hasParent.push($(this).val());
        });

        if (hasParent.length == 0) {
            gritter.show($("#required_fields").text(), false);
            return -1;
        }

        if (hasParent.length == 1) {
            parameters.hasParent = hasParent[0];
        }

        parameters.finalDisposition = $("#archive_searchForm [name=finalDisposition]:checked").val();
        parameters.archiveExpired = $("#archive_searchForm [name=archiveExpired]:checked").val();
        parameters.depositStartDate = $("#archive_searchForm [name=depositStartDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');
        parameters.depositEndDate = $("#archive_searchForm [name=depositEndDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');
        //parameters.originatingStartDate = $("#archive_searchForm [name=originatingStartDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');
        //parameters.originatingEndDate = $("#archive_searchForm [name=originatingEndDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');

        var advancedSearchField = $('#helperForm').find('.advancedSearchField:visible');
        parameters.description = [];
        var hasTwoCount = false;
        advancedSearchField.each(function() {
            var value = $(this).val();
            var name = $(this).attr('name');
            var type = $(this).attr('type');
            if (type == "" || type == null || type == undefined) {
                type = $(this).data('type');
            }

            switch (type) {
                case 'select':
                    // keyword enum
                    if (value !== '') {
                        if (parameters.description[name] == ""
                            || parameters.description[name] == undefined
                            || parameters.description[name] == null
                        ) {
                            parameters.description[name] = name + '="' + value + '"';
                        } else {
                            parameters.description[name] = parameters.description[name] + '||' + name+'="'+value+'"';
                        }
                    }
                    break;

                case 'radio':
                    // format boolean

                    if (!$(this).prop("checked")) {
                        break;
                    }

                    switch ($(this).val()) {
                        case "1": value = "1";
                            break;
                        case "0": value = "0";
                            break;
                        default:
                            return;
                    }

                    if (parameters.description[name] == ""
                        || parameters.description[name] == undefined
                        || parameters.description[name] == null
                    ) {
                        parameters.description[name] = name + '="' + value + '"';
                    } else {
                        parameters.description[name] = parameters.description[name] + '||' + name+'="'+value+'"';
                    }
                    break;

                case 'text':
                    if (value !== '') {
                        if ($(this).hasClass('datePicker')) {
                            if (($(this).data('range') == 'start')) {
                                var operation = ">=";
                                value = "(" + name + operation + "'" + $(this).data('datepicker').getFormattedDate('yyyy-mm-dd') + "'";
                            } else {
                                var operation = "<=";
                                value = name + operation + "'" + $(this).data('datepicker').getFormattedDate('yyyy-mm-dd') + "')";
                            }

                            // Fill start and end values
                            if (parameters.description[name] == undefined) {
                                if (hasTwoCount) {
                                    hasTwoCount = false;
                                }
                                parameters.description[name] = value;
                            } else {
                                if (hasTwoCount) {
                                    parameters.description[name] = parameters.description[name] +'||' + value;
                                } else {
                                    parameters.description[name] = parameters.description[name] +'&&' + value;
                                }
                                hasTwoCount = !hasTwoCount;
                            }
                            break;
                        } else if ($(this).hasClass('dateTimePicker')) {
                            // cannot use dateTimePicker formatting because he add a random number of seconds in formatting
                            var splitDateTime = $(this).val().split(' ');
                            dateConverted = convertDate(splitDateTime[0]) + ' ' + splitDateTime[1];

                            if (($(this).data('range') == 'start')) {
                                var operation = ">=";
                                value = "(" + name + operation + "'" + dateConverted + "'";
                            } else {
                                var operation = "<=";
                                value = name + operation + "'" + dateConverted + "')";
                            }

                            if (parameters.description[name] == undefined) {
                                if (hasTwoCount) {
                                    hasTwoCount = false;
                                }
                                parameters.description[name] = value;
                            } else {
                                if (hasTwoCount) {
                                    parameters.description[name] = parameters.description[name] +' || ' + value;
                                } else {
                                    parameters.description[name] = parameters.description[name] +'&&' + value;
                                }
                                hasTwoCount = !hasTwoCount;
                            }
                        } else {
                            if (parameters.description[name] == ""
                                || parameters.description[name] == undefined
                                || parameters.description[name] == null
                            ) {
                                parameters.description[name] = name + '="*' + value.trim() + '*"';
                            } else {
                                parameters.description[name] = parameters.description[name] + '||' + name + '="*' + value.trim() + '*"';
                            }

                        }
                    }

                    break;

                case 'number':
                    if (value !== '') {
                        if (($(this).data('range') == 'start')) {
                            var operation = ">=";
                            value = "(" + name + operation + "'" + dateConverted + "'";
                        } else {
                            var operation = "<=";
                            value = name + operation + "'" + dateConverted + "')";
                        }
                        value = name + operation + $(this).val();

                        if (parameters.description[name] == ""
                            || parameters.description[name] == undefined
                            || parameters.description[name] == null
                        ) {
                            if (hasTwoCount) {
                                hasTwoCount = false;
                            }
                            parameters.description[name] = value;
                        } else {
                            if (hasTwoCount) {
                                parameters.description[name] = parameters.description[name] +') || (' + value;
                                shouldCount = false;

                            } else {
                                parameters.description[name] = parameters.description[name] +'&&' + value;
                            }

                            hasTwoCount = !hasTwoCount;
                        }
                    }

                    break;
            };
        });

        var arr = [];
        for (name in parameters.description) {
            arr.push(parameters.description[name]);
        }
        arr.forEach(function(part, index) {
            this[index] = "(" + part + ")";
        }, arr);
        parameters.description = arr.join(' && ');

        parameters.maxResults = $('#maxResults').val();

        return parameters;
    };

    function convertDate(data) {
        var stringSplitted = data.split('-');

        return stringSplitted[2] + '-' + stringSplitted[1] + '-' + stringSplitted[0];
    };

    /* ----------------------------------------------------------------------------------------------------*/
    /* -- VALIDATION MODAL -- */

    $("#contain").on('click', '#cancelAction', function () {
        $('#validateAction').off();
    })

    /* ----------------------------------------------------------------------------------------------------*/
    /* -- EDITION MODAL -- */

    var organizations = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {url: '/organizations/todisplay?orgUnit=true', ttl: '0'},
        limit: 100
    });

    window.localStorage.clear();
    organizations.initialize();

    // initialize typeahead
    $('#orgTypeahead').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 2
        },
        {
            name: 'organizations',
            displayKey: 'displayName',
            templates: {
                empty: function() {
                    return "<span class='well well-sm'>"+$('#noOriginatorFound').html()+"</span>";
                },
                suggestion: function(organization) {
                    var display =
                        "<span>"
                        + "<span style='font-family:Helvetica, sans-serif;'>";

                    if(organization.ownerOrgName) {
                        display += organization.ownerOrgName
                                + "<br>> ";
                    }
                       display += organization.displayName
                        + "</span></span><br>";

                    $("#originatorOwnerOrgName").val("");
                    return display;
                }
            },
            source: function(query, cb) {
                organizations.search(query, function(suggestions) {
                    var i = suggestions.length
                    while (i--) {
                        if ($('#orgs').find('[data-orgid="'+ suggestions[i].orgId +'"]').length)
                            suggestions.splice(i, 1);
                    }
                    cb(suggestions);
                });
            },
            skipCache: true
        }
    ).on('typeahead:selected', function($event, suggestion, source) {
        if(suggestion.orgId) {
            $("#originatorOrgRegNumber").val(suggestion.registrationNumber);
            $("#originatorOrgInfo").show();
            $("#originatorOwnerOrgName").val(suggestion.ownerOrgName);
            $("#originatorOwnerOrgId").val('');
        } else {
            $("#originatorOwnerOrgId").val(suggestion.orgId);
            $("#originatorOrgInfo").hide();
            $("#originatorOrgRegNumber").val('');
        }

    });

    $('#orgTypeahead').keyup(function () {

        if(!$(this).val()) {
            $("#originatorOrgInfo").hide();
        }
    });

    $("#orgTypeahead").keydown(function(event) {
        // reinit typeahead and hidden input when suppr or backspace keys are pressed
        if (event.which == 46 || event.which == 8) {
            $("#originatorOrgRegNumber").val('');
            $("#originatorOwnerOrgId").val('');
        }
    });

    $("#orgTypeahead").click(function() {
        $("#originatorOrgRegNumber").val('');
        $("#originatorOwnerOrgId").val('');
    });


</script>
