<div class="col-md-12">
    <div class="form-group">
        <label class="col-sm-2 control-label">Fulltext</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="text" placeholder="Fulltext" />
        </div>
    </div>
</div>
<!-- LEFT -->
<div class="col-md-4">
    <!-- COTE -->
    <div class="form-group">
        <label class="col-sm-4 control-label">Archive identifier</label>
        <div class="col-sm-8">
            <div class="input-group">
                <input type="text" class="form-control" id="archive_archiveIdentifier" name="archiveIdentifier"
                    placeholder="Archive identifier" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" id="archive_searchByIdentifier"
                        title="Search">Search</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ARCHIVAL PROFILE -->
    <div class="form-group">
        <label class="col-sm-4 control-label">Archival profile</label>
        <div class="col-sm-8">
            <select class="form-control" name="profileReference">
                <option value="">All</option>
                <?merge profiles ?>
                <option value="[?merge .reference ?]">
                    <?merge .name ?>
                </option>
            </select>
        </div>
    </div>
    <!-- DEPOSIT DATE -->
    <div class="form-group">
        <label class="col-sm-4 control-label">Deposit date</label>
        <div class="col-sm-4">
            <input type="text" class="form-control datePicker" name="depositStartDate" placeholder="From date" />
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control datePicker" name="depositEndDate" placeholder="To date" />
        </div>
    </div>
    <!-- STATUS -->
    <div class="form-group">
        <label class="col-sm-4 control-label">Status</label>
        <div class="col-sm-8">
            <select class="form-control" name="status">
                <option value="">All</option>
                <option value="preserved">Preserved</option>
                <option value="frozen">Frozen</option>
                <option value="disposable">Waiting for destruction</option>
                <option value="error">Error</option>
                <?merge deleteDescription.bool().not() ?>
                <option value="disposed">Disposed</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-4">
    <!-- RETENTION RULE -->
    <div class="form-group">
        <label class="col-sm-4 control-label">Retention rule</label>
        <div class="col-sm-8">
            <select class="form-control" name="retentionRuleCode">
                <option value="">All</option>
                <?merge retentionRules ?>
                <option value="[?merge .code ?]">
                    <?merge .label ?>
                </option>
            </select>
        </div>
    </div>
    <!-- FINAL DISPOSITION -->
    <div class="form-group">
        <label class="col-sm-4 control-label">Final disposition</label>
        <div class="col-sm-8">
            <select class="form-control" name="finalDisposition">
                <option value="">All</option>
                <option value="preservation">Preservation</option>
                <option value="destruction">Destruction</option>
            </select>
        </div>
    </div>
    <!-- DAU -->
    <div class="form-group">
        <label class="col-sm-4 control-label">DAU</label>
        <div class="btn-group col-sm-8" data-toggle="buttons">
            <label class="btn btn-info active archiveExpired" title="All">
                <input type="radio" name="archiveExpired" value="" checked /> All
            </label>
            <label class="btn btn-default archiveExpired" title="Not expired">
                <input type="radio" name="archiveExpired" value="false" /> Not expired
            </label>
            <label class="btn btn-default archiveExpired" title="Expired">
                <input type="radio" name="archiveExpired" value="true" /> Expired
            </label>
        </div>
    </div>
    <!-- PARTIAL RETENTION RULE -->
    <div class="form-group">
        <label class="col-sm-4 control-label">Partial retention rule</label>
        <div class="col-sm-8">
            <input type="checkbox" name="partialRetentionRule" data-toggle="toggle" />
        </div>
    </div>
    <!-- COMMUNICABLE -->
</div>
<div class="col-md-4">
    <!-- PRODUCER -->
    <div class="form-group">
        <label class="col-sm-4 control-label">Producer</label>
        <div class="col-sm-8">
            <input type="text" class="form-control orgHide" placeholder="Producer" name="orgTypeahead"
                id="orgTypeahead" />
            <select class="form-control hide" name="originatorOwnerOrgId" id="originatorOwnerOrgId">
                <option value="">All</option>
                <?merge organizationsOriginator ?>
                <option value="[?merge .orgId ?]">
                    <?merge .displayName ?>
                </option>
            </select>
            <select class="form-control hide" name="originatorOrgRegNumber" id="originatorOrgRegNumber">
                <option value="">All</option>
                <?merge organizationsOriginator ?>
                <div>
                    <?merge .originators ?>
                    <option value="[?merge .registrationNumber ?]" orgId="[?merge .ownerOrgId ?]">
                        <?merge .displayName ?>
                    </option>
                </div>
            </select>
        </div>
    </div>
</div>
