<div id="contain" >
    <div class="container-fluid" data-translate-catalog="recordsManagement/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-search"></i>
                Search archives
            </h1>
        </div>
    </div>

    <div class="container-fluid" lang="en" data-translate-catalog="recordsManagement/messages">
        <?merge emptyRole ?>
        <h3><i class="fa fa-times"></i> You have to choose a working organization unit to proceed this action.</h3>
        <?merge emptyRole.not() ?>
        <div class="panel-group" id="accordionSearch">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionSearch" href="#collapseOne" style="cursor:pointer;">
                    <h4 class="panel-title" style="float:left;">
                        Search form
                    </h4>
                    <i class="fa fa-caret-down" style="float:right;"></i>
                    <div style="clear:both;"></div>
                </div>
                <div id="collapseOne" class="well panel-collapse collapse in" style="margin-bottom: 0px">
                    <form class="form-horizontal" id="archive_searchForm">
                        <input type="hidden" name="maxResults" id="maxResults" value="[?merge maxResults ?]"/>
                        <?hinclude recordsManagement/archive/searchform.html ?>
                    <!-- Helpers -->
                        <div class="col-md-12">
                            <hr style="height:1px;border:none;color:gray;background-color:gray;">
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="padding-top: 15px;">Add filter</label>
                                <div class="col-sm-4">
                                    <table id="helperFilter" class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td class="col-sm-11">
                                                    <select class="form-control" name="type" id="helperSelect">
                                                        <option value=""></option>
                                                        <?merge descriptionScheme?>
                                                        <option type="[?merge .type ?]" externalRef="[?merge .ref.bool()?]" data-enumName="[?merge .enumNames.json()?]" data-enumeration="[?merge .enumeration.json() ?]" helperName="[?merge .name ?]" value="[?merge .label ?]"><?merge .label ?></option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button type="button" helperName="[?merge .name ?]" class="btn btn-success" id="addHelper" title="Add"><span class="fa fa-plus"></span></button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-success" id="addHelper" title="Add"><span class="fa fa-plus"></span></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="col-sm-6">
                                    <li id="helperList" style="list-style: none">
                                        <label id="selectedHelper" class="hide control-label"></label>
                                        <input id="helperValueMin" type="hidden" class="form-control"/>
                                        <input id="helperValueMax" type="hidden" class="form-control"/>
                                        <select id="helperDropdown" name="service" class="hide form-control"></select>
                                        <input id="helperToggle" type="hidden" checked data-style="quick"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="clearfix">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary col-md-offset-4 col-md-2" id="archive_search" title="Search"><i
                                        class="fa fa-search">&nbsp;</i>Search</button>
                                <button type="button" class="btn btn-warning col-md-offset-1 col-md-2" id="archive_resetForm" title="Reset"><i
                                        class="fa fa-refresh">&nbsp;</i>Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Error message -->
        <div class="hide" id="errorMessage">You must enter a profile and at least a date (maximum and/or minimum)</div>

        <!-- Message usage -->
        <input type="hidden" id="useRestitutionMessages" value="[?merge useRestitutionMessages ?]">
        <input type="hidden" id="useDestructionMessages" value="[?merge useDestructionMessages ?]">

        <div class="container-fluid" id="archive_searchResult"></div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="corruptedModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="container_corruptedModal">
            </div>
        </div>
    </div>
</div>
<style>
    input[type="date"] {
        line-height: 20px;
    }
    #helperFilter td {
        border-top: none;
    }
    .align-right {
        text-align: right;
    }
    .helper {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .padding-5 {
        padding-left: 5px;
    }
    .quick .toggle-group {
        transition: none;
        -webkit-transition: none;
    }
    .btn-toggleOn {
        color:#ffffff;
        background-color:#23aae5;
        border-color:#199cd5;
    }
    .btn-toggleOff {
        color:#333333;
        background-color:#e6e6e6;
        border-color:#adadad;
    }
</style>
<script src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>
<script>
    $("#originatorOrgInfo").hide();

    /* ----------------------------------------------------------------------------------------------------*/
    /* -- SEARCH FORM -- */

    $('#app_maarchRM_main').keypress(function (e) {
        if (e.which != 13) {
            return;
        }
        // Prevent form submit
        e.preventDefault();
        if ($("#archive_archiveIdentifier").is(':focus')) {
            $("#archive_searchByIdentifier").click();

        } else {
            $("#archive_search").click();
        }
    });
    // radio button
    $("#archive_searchForm").on('click', 'label.btn', function () {
        if ($(this).find('.hasParent').length) {
            if ($(this).hasClass("btn-info")) {
                $(this).removeClass("btn-info").addClass("btn-default");
            } else {
                $(this).addClass("btn-info");
            }
            return;
        }
        $(this).parent().find(".btn-info").removeClass('btn-info').addClass('btn-default').removeClass("active");
        $(this).removeClass("btn-default").addClass('btn-info');
    });

    $("#helperList").on('click', ".deleteHelper", function() {
        var helperValue = $(this).closest('.helper').find('#selectedHelper').text();
        var helperType = $(this).closest('.helper').find('#helperValueMin').attr('type');
        var helperToggle = $(this).closest('.helper').find('#helperToggle').attr('type');

        if (helperToggle == 'checkbox') {
            helperType = 'boolean';
        }

        $(this).closest('.helper').remove();
        $("#helperSelect").append($("<option></option>")
                    .attr("value", helperValue)
                    .attr("type", helperType)
                    .text(helperValue));
    });

    $('#addHelper').on('click', function () {
        var helper = $('#helperSelect').find("option:selected");
        var helperText = $("#helperSelect :selected").text();
        var helperName = helper.attr("helperName");
        var helperType = helper.attr('type');

        if (helperText) {
            var row = $('<li/>').addClass('helper').appendTo($("#helperList"));
            var selectedHelperType = $('<li/>').addClass("col-sm-3 padding-5 align-right").appendTo(row);
            $('#selectedHelper').clone().removeClass('hide').html(helperText).appendTo(selectedHelperType).prev().remove();

            switch (helperType) {
            case 'array':
                var helperInput = $('<li/>').addClass("helperContent col-sm-8 padding-5").appendTo(row);
                $('#helperValueMin').clone().attr('type','text').attr('name', helperName).attr('placeholder','Valeur').appendTo(helperInput).prev().remove();
                break;

            case 'text':
            case 'string':
                var helperInput = $('<li/>').addClass("helperContent col-sm-8 padding-5").appendTo(row);
                $('#helperValueMin').clone().attr('placeholder','Valeur').attr('type','text').attr('name', helperName).appendTo(helperInput).prev().remove();
                break;

            // 1-dropdown if enumeration, 2-typeahead if external Ref, 3-simple text, 4-label+text
            case 'name':
                var enumeration = helper.attr("data-enumeration");
                dropdownList = JSON.parse(enumeration);

                if (dropdownList) {
                    var enumNames = helper.attr("data-enumName");
                    // test = JSON.parse(enumNames);
                    var dropdownValues = [];

                    $.each(dropdownList, function(key, value)
                    {
                        dropdownValues.push('<option value="'+ key +'">'+ value +'</option>');
                    });
                    var helperMin = $('<li/>').addClass("helperContent col-sm-8 padding-5").appendTo(row);
                    $('#helperDropdown').clone().attr('name', helperName).removeClass('hide').html(dropdownValues.join('')).appendTo(helperMin);
                }
                else if (helper.attr('externalRef') == 1) {
                    var helperMin = $('<li/>').addClass("helperContent col-sm-8 padding-5").appendTo(row);
                    $('#helperValueMin').clone().attr('type','text').attr('placeholder','Valeur').addClass('externalRefField').attr('name', helperName).appendTo(helperMin).prev().remove();
                    getTypeahead();
                }
                else {
                    var helperMin = $('<li/>').addClass("helperContent col-sm-8 padding-5").appendTo(row);
                    $('#helperValueMin').clone().attr('type','text').attr('placeholder','Valeur').attr('name', helperName).appendTo(helperMin).prev().remove();
                }
                break;

            case 'number':
                var helperMin = $('<li/>').addClass("helperContent col-sm-4 padding-5").appendTo(row);
                var helperMax = $('<li/>').addClass("numberMax helperContent col-sm-4 padding-5").appendTo(row);
                $('#helperValueMin').clone().attr('type','number').attr('placeholder','Minimum').attr('data-range','start').attr('name', helperName).appendTo(helperMin).prev().remove();
                $('#helperValueMax').clone().attr('type','number').attr('placeholder','Maximum').attr('data-range','end').attr('name', helperName).appendTo(helperMax).prev().remove();
                break;

            case 'date':
                var helperMin = $('<li/>').addClass("startDate helperContent col-sm-4 padding-5").appendTo(row);
                var helperMax = $('<li/>').addClass("endDate helperContent col-sm-4 padding-5").appendTo(row);
                $('#helperValueMin').clone().attr('type','date').attr('data-range','start').attr('name', helperName).appendTo(helperMin).prev().remove();
                $('#helperValueMax').clone().attr('type','date').attr('data-range','end').attr('name', helperName).appendTo(helperMax).prev().remove();
                break;

            case 'boolean':
                var helperMin = $('<li/>').addClass("helperContent col-sm-8 padding-5").appendTo(row);
                var helperCheckbox = $('#helperToggle').clone().attr('type','checkbox').attr('name', helperName);
                $(function() {
                    $(helperCheckbox).bootstrapToggle({
                        on: 'Activé',
                        off: 'Désactivé',
                        width: '18%',
                        size: 'normal',
                        onstyle:'toggleOn',
                        offstyle:'toggleOff'
                    });
                })
                helperCheckbox.appendTo(helperMin);
                break;

            default:
                return;
        }

            var buttonColumn = $('<li/>').appendTo(row);

            var button = $('<button/>')
                .attr('title', 'supprimer')
                .attr('type', 'button')
                .addClass("btn btn-danger deleteHelper")
                .appendTo(buttonColumn);

            var icon = $('<i/>')
                .addClass('fa fa-trash')
                .appendTo(button);

            $("#helperSelect :selected").text();
            $("#helperSelect :selected").remove();

        }     
        else {
            $('#helperError').removeClass('hide');
        }

        $('#helperSelect').prop('selectedIndex',0);
    });

    $('#archive_searchByIdentifier').on('click', function () {
        if ($('#archive_archiveIdentifier').val().trim() == "") {
            return;
        }

        ajax($(this), {
            type        : 'GET',
            url         : '/recordsManagement/archives',
            data        : { archiveId: $('#archive_archiveIdentifier').val().trim() },
            dataType    : 'html',
            success     : function (response) {
                $('#archive_searchResult').empty().html(response);
            },
            error       : function (e) {
            }
        });
    });

    $('#archive_search').on('click', function () {
        var data = searchFormSerialize();
        if (data == -1)
            return;
        $('#archive_search').prop('disabled', true);
        $('#archive_searchForm').find('[name="archiveIdentifier"]').val('');

        $.ajax({
            type     : 'GET',
            url      : '/recordsManagement/archives',
            data     : data,
            dataType : 'html',
            success  : function (response) {
                $('#archive_searchResult').empty().html(response);
                $('#archive_search').prop('disabled', false);
            },
            error    : function(response) {
                response = JSON.parse(response.responseText);
                gritter.show(response.message);
                $('#archive_search').prop('disabled', false);
            }
        });
    });

    $("#archive_resetForm").on("click", function () {
        $('#archive_searchForm').find('input[type="text"], select').val('');
        $('#archive_searchForm').find("input[name='archiveExpired'][value='']").parent().click();
        $('#archive_searchForm').find('input[type="checkbox"][name!="hasParent"]').bootstrapToggle('off');
        $("#archive_searchForm").find('input.hasParent').parent().removeClass('btn-info').addClass('btn-default').removeClass("active");
        $("#archive_searchForm").find('input.hasParent[value!="2"]').click();
        $('#archive_searchForm').find('.helper').empty();
        $('#helperError').addClass('hide');
        $('#originatorOrgInfo').hide();

        delete $("#archive_searchForm [name=depositStartDate]").data('datepicker').setDates();
        delete $("#archive_searchForm [name=depositEndDate]").data('datepicker').setDates();
        //delete $("#archive_searchForm [name=originatingStartDate]").data('datepicker').setDates();
        //delete $("#archive_searchForm [name=originatingEndDate]").data('datepicker').setDates();

        $('#archive_searchResult').empty();
    });

    function getTypeahead () {
        $.each(this.$("#helperList").find(".externalRefField"), function() {
            var field = $(this);
            var name = field.attr("name");

            setTimeout(function(){
                var data = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace(),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/descriptionRef/'+name+'?query=%QUERY',
                        wildcard: '%QUERY'
                    }
                });
                data.initialize();

                field.typeahead(
                    {
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'data',
                        source: data.ttAdapter(),
                        templates: {
                            suggestion: function(data) {
                                delete data._query;
                                var html = $('<div>');
                                var keyname = Object.keys(data)[0];
                                var key = data.keyname;
                                html.append($('<strong class="badge">').text(key));
                                delete data[keyname];
                                var value = Object.keys(data).map(function(name){return data[name]}).join(" - ");
                                html.append(' '+value);
                                return html;
                            }
                        }
                    }
                ).on('typeahead:selected', function ($event, suggestion, source) {
                    var keys = Object.keys(suggestion); //fetched the key at first index
                    field.val(suggestion[keys[0]]);
                    field.typeahead('val', suggestion[keys[0]]);
                });
            }, 300);


            return field;
        });
    }

    function searchFormSerialize() {
        var parameters = new Object();

        $('#archive_searchForm').find('input[type="text"], input[type="hidden"], input[type="number"], select').each(function() {
            if(!$(this).hasClass('orgHide')) {
                parameters[$(this).attr('name')] = $(this).val();
            }
        });

        var hasParent = [];

        $('#archive_searchForm').find('input[type="checkbox"]').each(function(){
            if ($(this).attr('name') != "hasParent") {
                parameters[$(this).attr('name')] = $(this).prop("checked");
                return;
            }
            if ($(this).parent().hasClass("btn-info"))
                hasParent.push($(this).val());
        });

        if (hasParent.length == 0) {
            gritter.show($("#required_fields").text(), false);
            return -1;
        }

        if (hasParent.length == 1)
                parameters.hasParent = hasParent[0];

        parameters.finalDisposition = $("#archive_searchForm [name=finalDisposition]:checked").val();
        parameters.archiveExpired = $("#archive_searchForm [name=archiveExpired]:checked").val();
        parameters.depositStartDate = $("#archive_searchForm [name=depositStartDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');
        parameters.depositEndDate = $("#archive_searchForm [name=depositEndDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');
        //parameters.originatingStartDate = $("#archive_searchForm [name=originatingStartDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');
        //parameters.originatingEndDate = $("#archive_searchForm [name=originatingEndDate]").data('datepicker').getFormattedDate('yyyy-mm-dd');

        return parameters;
    }

    /* ----------------------------------------------------------------------------------------------------*/
    /* -- VALIDATION MODAL -- */

    $("#contain").on('click', '#cancelAction', function () {
        $('#validateAction').off();
    })

    /* ----------------------------------------------------------------------------------------------------*/
    /* -- EDITION MODAL -- */

    var organizations = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {url: '/organizations/todisplay?orgUnit=true', ttl: '0'},
        limit: 100
    });

    window.localStorage.clear();
    organizations.initialize();

    // initialize typeahead
    $('#orgTypeahead').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 2
        },
        {
            name: 'organizations',
            displayKey: 'displayName',
            templates: {
                empty: function() {
                    return "<span class='well well-sm'>"+$('#noOriginatorFound').html()+"</span>";
                },
                suggestion: function(organization) {
                    var display =
                        "<span>"
                        + "<span style='font-family:Helvetica, sans-serif;'>";

                    if(organization.ownerOrgName) {
                        display += organization.ownerOrgName
                                + "<br>> ";
                    }
                       display += organization.displayName
                        + "</span></span><br>";

                    $("#originatorOwnerOrgName").val("");
                    return display;
                }
            },
            source: function(query, cb) {
                organizations.search(query, function(suggestions) {
                    var i = suggestions.length
                    while (i--) {
                        if ($('#orgs').find('[data-orgid="'+ suggestions[i].orgId +'"]').length)
                            suggestions.splice(i, 1);
                    }
                    cb(suggestions);
                });
            },
            skipCache: true
        }
    ).on('typeahead:selected', function($event, suggestion, source) {
        if(suggestion.orgId) {
            $("#originatorOrgRegNumber").val(suggestion.registrationNumber);
            $("#originatorOrgInfo").show();
            $("#originatorOwnerOrgName").val(suggestion.ownerOrgName);
            $("#originatorOwnerOrgId").val('');
        } else {
            $("#originatorOwnerOrgId").val(suggestion.orgId);
            $("#originatorOrgInfo").hide();
            $("#originatorOrgRegNumber").val('');
        }

    });

    $('#orgTypeahead').keyup(function () {

        if(!$(this).val()) {
            $("#originatorOrgInfo").hide();
        }
    });

    $("#orgTypeahead").keydown(function(event) {
        // reinit typeahead and hidden input when suppr or backspace keys are pressed
        if (event.which == 46 || event.which == 8) {
            $("#originatorOrgRegNumber").val('');
            $("#originatorOwnerOrgId").val('');
        }
    });

    $("#orgTypeahead").click(function() {
        $("#originatorOrgRegNumber").val('');
        $("#originatorOwnerOrgId").val('');
    });


</script>
