<!--#
    This file is part of the auth package.
    (c) Maarch Prospre DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div class="container-fluid" data-translate-catalog="batchProcessing/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-calendar-o"></i>
            Batch processing
        </h1>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="batchProcessing/messages">
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <button id="scheduleNewTask" class="btn btn-success" title="Schedule a new task"><i class="fa fa-clock-o">&nbsp;</i>New scheduling</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <div id="taskList" class="list-group">
                    <?merge scheduledTasks ?>
                    <a class="list-group-item clearfix" data-json="[?merge .json ?]">
                        <span class="col-xs-9">
                            <h4 class="list-group-item-heading schedulingName"><?merge .name ?></h4>
                            <h4 class="text-danger [?merge .status.ifeq('error').then('', 'hide') ?]" name="displayError"><code><i class="fa fa-warning">&nbsp;</i>Execution error</code></h4>
                            <p class="list-group-item-text">
                                <span class="row-fluid"><i class="fa fa-clock-o"/> <span class="startTime"><?merge .startHours ?><b>:</b><?merge .startMinutes ?></span></span>
                                <?merge .weekDays.count().bool() ?>
                                <span class="pull-right weekDays ">
                                    <b class="[?merge .weekDays.inarray('MON').then('text-primary', 'text-muted')?]" data-value="MON" data-translate-context="monday">M</b>
                                    <b class="[?merge .weekDays.inarray('TUE').then('text-primary', 'text-muted')?]" data-value="TUE" data-translate-context="tuesday">T</b>
                                    <b class="[?merge .weekDays.inarray('WED').then('text-primary', 'text-muted')?]" data-value="WED" data-translate-context="wednesday">W</b>
                                    <b class="[?merge .weekDays.inarray('THU').then('text-primary', 'text-muted')?]" data-value="THU" data-translate-context="thursday">T</b>
                                    <b class="[?merge .weekDays.inarray('FRI').then('text-primary', 'text-muted')?]" data-value="FRI" data-translate-context="friday">F</b>
                                    <b class="[?merge .weekDays.inarray('SAT').then('text-primary', 'text-muted')?]" data-value="SAT" data-translate-context="saturday">S</b>
                                    <b class="[?merge .weekDays.inarray('SUN').then('text-primary', 'text-muted')?]" data-value="SUN" data-translate-context="sunday">S</b>
                                </span>
                                <?merge .monthDays.count().bool() ?>
                                <span class="pull-right monthDays">
                                    <i class="fa fa-calendar-o"/>
                                    <small class="text-primary">
                                        <b><?merge .monthText ?></b>
                                        <?merge .month.count().bool() ?>
                                        <br/>
                                        <span><?merge .monthDaysText ?></span>
                                    </small>
                                </span>
                                <br/>
                                <span class="taskName">
                                    <?merge .taskName ?>
                                </span>
                                <br/>
                                <?merge .parameters.bool() ?>
                                <span class="taskParameters">
                                	<span><span>Parameters</span> : </span>
                                    <span class='parametersList'><?merge .parameters ?></span>
                                </span>
                                <br/>
                                <?merge .frequencyNumber.bool() ?>
                                <small class="repetitionFrequency">
                                    Every 
                                    <span class="row-fluid repetition">
                                        <?merge .frequencyNumber ?>
                                        <?merge .frequencyUnit.ifeq('M') ?><span> minute(s)</span>
                                        <?merge .frequencyUnit.ifeq('H') ?><span> hour(s)</span>
                                    </span>
                                    <?merge .endMinutes.bool() ?>
                                    <span class="repetitionEndTime">
                                        <span>until<span> 
                                        <span class="row-fluid endTime"><?merge .endHours ?><b>:</b><?merge .endMinutes ?></span>
                                    </span>
                                </small>
                                <br/>
                                <small>
                                    <span>Last execution</span> : <span class="lastExecution"><?merge .lastExecution ?></span><br/>
                                    <span>Next execution</span> : <span class="nextExecution"><?merge .nextExecution ?></span>
                                </small>

                            	<span class="showHistory text-muted pull-right" title="History" style="font-size: 18px">&nbsp; <i class="fa fa-history"/></span>
                                <button class="btn btn-xs btn-default executeNow pull-right" title="Execute"><i class="fa fa-chevron-right">&nbsp;</i>Execute</button>
                            </p>
                        </span>
                        <span class="col-xs-2 text-right statusSpan">
                            <?merge .status.ifne('paused').then('On') @checked ?>
                            <input type="checkbox" class="status" name="status" data-toggle="toggle">
                        </span>
                        <span class="col-xs-1 text-right">
                            <div class="deleteTask" title="Remove"><i class="fa fa-times"></i></div>
                        </span>
                    </a>
                </div>
            </div>

            <div id="scheduleTemplate" class="hide">
                <a href="#" class="list-group-item clearfix" data-json="">
                    <span class="col-xs-9">
                        <h4 class="list-group-item-heading schedulingName"></h4>
                        <h4 class="text-danger hide"><code><i class="fa fa-warning">&nbsp;</i>Execution error</code></h4>
                        <p class="list-group-item-text">
                            <span class="row-fluid"><i class="fa fa-clock-o"/> <span class="startTime"></span></span>
                            <span class="pull-right weekDays">
                                <b class="text-muted" data-value="MON" data-translate-context="monday">M</b>
                                <b class="text-muted" data-value="TUE" data-translate-context="tuesday">T</b>
                                <b class="text-muted" data-value="WED" data-translate-context="wednesday">W</b>
                                <b class="text-muted" data-value="THU" data-translate-context="thursday">T</b>
                                <b class="text-muted" data-value="FRI" data-translate-context="friday">F</b>
                                <b class="text-muted" data-value="SAT" data-translate-context="saturday">S</b>
                                <b class="text-muted" data-value="SUN" data-translate-context="sunday">S</b>
                            </span>
                            <span class="pull-right monthDays">
                                <i class="fa fa-calendar-o"/>
                                <small class="text-primary">
                                </small>
                            </span>
                            <br/>
                            <small class="repetitionFrequency">
                                Every 
                                <span class="row-fluid repetition">
                                </span>
                                <span class="repetitionEndTime">
                                    <span>until<span> 
                                    <span class="row-fluid endTime"></span>
                                </span>
                            </small>
                            <span class="taskName">
                            </span>
                            <br/>
                            <span class="taskParameters hide">
                            	<span><span>Parameters</span> : </span>
                                <span class='parametersList'></span>
                            </span>
                            <br/>
                            <br/>
                            <small>
                                <span>Last execution</span> : <span class="lastExecution"></span><br/>
                                <span>Next execution</span> : <span class="nextExecution"></span>
                            </small>
                            <span class="showHistory pull-right" title="History" style="font-size: 18px">&nbsp; <i class="fa fa-history"/></span>
                            <button class="btn btn-xs btn-default executeNow pull-right" title="Execute"><i class="fa fa-chevron-right" /> Execute</button>
                        </p>
                    </span>
                    <span class="col-xs-2 text-right statusSpan">
                    </span>
                    <span class="col-xs-1 text-right">
                        <div class="deleteTask" title="delete"><i class="fa fa-times"></i></div>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <?hinclude batchProcessing/scheduling/schedulingForm.html ?>
    </div>

    <div class="modal fade" id="deleteConfirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete a scheduled task</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <span>Are you sur to delete this scheduled task ?</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" title="Close">No</button>
                    <button type="button" class="btn btn-primary" id="confirmDelete" data-dismiss="modal" title="Yes">Yes</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="logSchedulingListModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Logs scheduling list</h4>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="input-group col-md-3">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-warning" id="searchDayMinusOne">
                                    <spans class="fa fa-angle-double-left"></spans>
                                </button>
                            </div>
                            <input type="text" class="datePicker form-control" id="dateLogHistory">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-warning" id="searchDayPlusOne">
                                    <spans class="fa fa-angle-double-right"></spans>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" style="margin-left: 5px;" id="searchLogHistory">
                                    <spans class="fa fa-search"></spans>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div id="modalTableList">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="logSchedulingModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    
    <div class='hide'>
        <span data-translate-context="monday">M</span>
        <span data-translate-context="tuesday">T</span>
        <span data-translate-context="wednesday">W</span>
        <span data-translate-context="tursday">T</span>
        <span data-translate-context="friday">F</span>
        <span data-translate-context="saturday">S</span>
        <span data-translate-context="sunday">S</span>
    </div>

</div>
<script type="text/javascript" src="/public/js/bootstrap-toggle/bootstrap-toggle.js"></script>

<script type="text/javascript">

    var d = new Date();

    // Task list delete button
    $('#taskList').on('mouseenter', '.deleteTask', function() {
        $(this).addClass('text-danger');
    })

    $('#taskList').on('mouseleave', '.deleteTask', function() {
        $(this).removeClass('text-danger');
    })

    // Task list history button
    $('#taskList').on('mouseenter', '.showHistory', function() {
        $(this).css('color', 'orange');
    })
    $('#taskList').on('mouseenter', function() {
        $(this).css( 'cursor', 'pointer' );
    })

    $('#taskList').on('mouseleave', '.showHistory', function() {
        $(this).css('color', '');
    })

    $('#searchDayMinusOne').on('click', function() {
        if(!$('#dateLogHistory').data('datepicker').getFormattedDate('yyyy-mm-dd')){
            $('#dateLogHistory').datepicker('setDate', d);
        }
        var date = new Date($('#dateLogHistory').data('datepicker').getFormattedDate('yyyy-mm-dd'));
        date.setDate(date.getDate()-1);
        $('#dateLogHistory').datepicker('setDate', date);
        $('#searchLogHistory').click();
    })

    $('#searchDayPlusOne').on('click', function() {
        if(!$('#dateLogHistory').data('datepicker').getFormattedDate('yyyy-mm-dd')){
            $('#dateLogHistory').datepicker('setDate', d);
            $('#searchLogHistory').click();
            return;
        }
        var date = new Date($('#dateLogHistory').data('datepicker').getFormattedDate('yyyy-mm-dd'));
        date.setDate(date.getDate()+1);
        if(date < d) {
            $('#dateLogHistory').datepicker('setDate', date);
            $('#searchLogHistory').click();
        }else{
            $("#searchDayPlusOne").attr('disabled','disabled')
        }
    })

    $('#searchLogHistory').on('click', function() {
        if (!$('#dateLogHistory').data('datepicker').getFormattedDate('yyyy-mm-dd')) {
            $('#dateLogHistory').datepicker('setDate', d);
        }

        if($('#dateLogHistory').val() == ('0' + d.getDate()).slice(-2) + '-' + ('0' + (d.getMonth()+1)).slice(-2) + '-' + d.getFullYear()) {
            $("#searchDayPlusOne").attr('disabled','disabled')
        }else{
            $("#searchDayPlusOne").removeAttr('disabled');
        }
        TaskList.showHistory($('#searchLogHistory').data("schedulingid"));
    })

    // New schedule
    $('#scheduleNewTask').on('click', function() {
        TaskList.unselect();
        TaskSchedulingForm.newTask();
    })

    // Modify task
    $('#taskList').on('click', 'a', function() {
        TaskList.select($(this));
    })

    // Delete task
    $('#taskList').on('click', '.deleteTask', function(e) {
        var a = $(this).closest('a');
        e.stopPropagation();

        $('#deleteConfirmationModal').modal();

        $('#confirmDelete').one('click', function(){
            TaskList.remove(a);
        })
    });

    $('#deleteConfirmationModal').on('hide.bs.modal', function() {
        $('#confirmDelete').off();
    });

    // Execute task
    $('#taskList').on('click', '.executeNow', function(e) {
        var a = $(this).closest('a');
    
        TaskList.execute(a);
        e.stopPropagation();
    });

    // play task
    $('#taskList').on('click', ".toggle", function(e) {
        var input = $(this).find('.status');
        var task = $(this).closest('a');

        if (input.prop('checked')) {
            TaskList.disable(task);
        } else {
            TaskList.enable(task);
        }
    });

    // pause task
    /*$('#taskList').on('click', '[name=status]', function(e) {
        TaskList.disable($(this).closest('a'));
        e.stopPropagation();
    });*/

    // task history
    $('#taskList').on('click', '.showHistory', function(e) {
        $('#searchLogHistory').data("schedulingid", $(this).closest('a').data('json').schedulingId);
        $("#dateLogHistory").data("datepicker").setDate("yyyy-mm-dd");
        TaskList.showHistory($(this).closest('a').data('json').schedulingId);
        e.stopPropagation();
        if($('#dateLogHistory').val() == ('0' + d.getDate()).slice(-2) + '-' + ('0' + (d.getMonth()+1)).slice(-2) + '-' + d.getFullYear()) {
            $("#searchDayPlusOne").attr('disabled','disabled');
        }
    });

    var TaskList = {
        select: function(a) {
            this.unselect();
            a.addClass("active").find(".text-primary, .text-success").css('color', 'white');
            a.find('.executeNow').addClass('btn-info').removeClass('btn-default');
            TaskSchedulingForm.showTask(a.data('json'));
        },
        unselect: function() {
            var active = $('#taskList').find('.active');
            active.find(".text-primary, .text-success").css('color', '');
            active.find('.executeNow').addClass('btn-default').removeClass('btn-info');
            active.removeClass('active');
        },

        add: function(task) {
            this.mergeValues(task).appendTo($('#taskList'));
        },

        update: function(task) {
            $('#taskList').find('.active').replaceWith(this.mergeValues(task));
        },

        mergeValues: function(task) {
            a = $('#scheduleTemplate')
                    .find('a')
                    .clone()
                    .removeClass('hide')
                    .data('json', task);

            a.find('.statusSpan')
             .append("<input type='checkbox' class='status' name='status' data-toggle='toggle'>");
            if (task.status=='scheduled') {
                a.find('.statusSpan').find('.status').bootstrapToggle('on');
            } else {
                a.find('.statusSpan').find('.status').bootstrapToggle('off');
            }

            a.find('.schedulingName')
             .text(task.name);
            a.find('.taskName')
             .text(task.taskName);
            a.find('.startTime')
             .html('')
             .append(task.startHours)
             .append($('<b/>').text(':'))
             .append(task.startMinutes);
            a.find('.lastExecution')
             .text(task.lastExecution);
            a.find('.nextExecution')
             .text(task.nextExecution);
            a.find('.executeNow').prop('disabled', false);

            // Repetition 
            if (task.frequencyNumber) {
                repetition = a.find('.repetition'); 
                if (task.frequencyUnit == "M") {
                    repetition.text(task.frequencyNumber +' '+$('#minutes_text').html());
                } else {
                    repetition.text(task.frequencyNumber +' '+$('#hours_text').html());
                }

                if(task.endMinutes) {
                    a.find('.endTime')
                     .html('')
                     .append(task.endHours)
                     .append($('<b/>').text(':'))
                     .append(task.endMinutes);

                } else {
                    a.find('.repetitionEndTime').remove();
                }

            } else {
                a.find('.repetitionFrequency').remove();
            }

            // WeekDays
            if (task.weekDays.length) {
                $.each(task.weekDays, function(key, value){
                    a.find('.weekDays [data-value="'+ value +'"]').addClass('text-primary').removeClass('text-muted');
                    a.find('.weekDays').css('display', '');
                })
            } else {
                a.find('.weekDays').css('display', 'none');
            }

            // Month
            if (task.monthDays.length) {
                var monthDays = a.find('.monthDays small');
                if (task.month.length) {
                    b = $('<b/>').text(task.month.join(', '));
                    monthDays.append(b).append($('<br/>'));
                }

                span = $('<span/>').text(task.monthDays.join(', '));
                monthDays.append(span);
                a.find('.monthDays').css('display', '');

            } else {
                a.find('.monthDays').css('display', 'none');

            }

            if (task.parameters) {
            	a.find('.taskParameters').removeClass('hide');
            	a.find('.parametersList').text(task.parameters.join(' '));
            }
            return a;
        },
 
        remove: function(task) {
            $.ajax({
                type        : 'DELETE',
                url         : '/batchProcessing/scheduling/'+task.data('json').schedulingId,
                dataType    : 'json',
                contentType : 'application/json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        task.remove();
                        TaskSchedulingForm.clear();
                    }
                },
                error       : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });

        },

        execute : function(a) {
            a.find('.running').removeClass('hide');
            $.ajax({
                type        : 'GET',
                url         : '/batchProcessing/'+a.data('json').schedulingId+ '/execute',
                dataType    : 'json',
                contentType : 'application/json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        a.find('.nextExecution').text(response.object.nextExecution);
                        a.find('.lastExecution').text(response.object.lastExecution);
                        a.find("[name=displayError]").hide();
                        a.find('.status').bootstrapToggle('on');
                    } else {
                        a.find("[name=displayError]").show();
                        a.find('.status').bootstrapToggle('off');
                    }
                },
                error       : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        disable : function(a) {
            $.ajax({
                type        : 'PUT',
                url         : '/batchProcessing/changeStatus',
                data        : JSON.stringify({schedulingId : a.data('json').schedulingId, status : 'paused'}),
                dataType    : 'json',
                contentType : 'application/json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                          a.find('.nextExecution').text("");
                    }
                },
                error       : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        enable : function(a) {
            $.ajax({
                type        : 'PUT',
                url         : '/batchProcessing/changeStatus',
                data        : JSON.stringify({schedulingId : a.data('json').schedulingId, status : 'scheduled'}),
                dataType    : 'json',
                contentType : 'application/json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                },
                error       : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        showHistory : function(schedulingId) {
            $.ajax({
                type        : 'GET',
                url         : '/batchProcessing/logSchedulings/'+ schedulingId + "/" +  $('#dateLogHistory').data('datepicker').getFormattedDate('yyyy-mm-dd'),
                contentType : 'application/json',
                success     : function (response) {
                    $('#logSchedulingListModal').modal().find('#modalTableList').html(response);
                }
            });
        }
    };

</script>