<!--#
    This file is part of the registeredMail package.
    (c) Maarch Cyril Vazquez <cyril.vazquez@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
    #-->
<div id="contain" >
    <div class="container-fluid" lang="en" data-translate-catalog="recordsManagement/retentionRule">
        <div class="page-header">
            <h1>
                <i class="fa fa-gavel"></i>
                Retention rules
            </h1>
        </div>
        <div class="container-fluid" id='retentionRuleList'>
            <?hinclude recordsManagement/retentionRUle/list.html ?>
        </div>
    </div>
</div>

<?hinclude recordsManagement/retentionRUle/modificationModal.html ?>

<script>

    //Edit a retention rule
    $("#rulesTable").on('click', '.edit', function () {
        var parameters = {
            code : $(this).data('code')
        };
        $.ajax({
            type        : "GET",
            url         : '/retentionRule/' + $(this).data('code'),
            async       : false,
            dataType    : 'json',
            success     : function (response) {
                EditionModal.load(response);
            },
            error    : function(response) {
                gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
            }
        });
    });

    //New retention rule
    $("#new-retentionRule").on('click', function () {
        EditionModal.load();

    });

    function reloadList() {
        $.ajax({
            type    : "GET",
            url     : '/retentionRulesTable',
            dataType: 'html',
            success : function (response) {
                $('#retentionRuleList').html(response);
            },
            error: function (response) {
                gritter.show(response.responseText, false);
            }
        });
    }


</script>
