<div class="modal fade bs-example-modal-lg" id="retentionRuleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" lang="en" data-translate-catalog="recordsManagement/retentionRule">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 >Retention rule</h4>
            </div>
            <div class="modal-body">
                <form class="row" id="retentionRule-form">
                    <div class="row" style="padding:14px">
                        <div class="form-group col-md-10">
                            <div class="form-group">
                                <label for="code">Retention rule code <span style="color: red">*</span></label>
                                <input type="text" class="form-control" id="code" name="code" placeholder="Retention rule code"/>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <label class="control-label">Label <span style="color: red">*</span></label>
                            <input type="text" id="label" name="label" class="form-control" style="resize: none; resize: vertical" placeholder="Retention rule label"></input>
                        </div>
                        <div class="form-group col-md-10">
                            <label class="control-label">Description</label>
                            <textarea id="description" name="description" class="form-control" style="resize: none; resize: vertical"></textarea>
                        </div>
                        <div class="form-group col-md-10">
                            <label class="control-label">Retention duration <span style="color: red">*</span></label>
                            <div class="form-inline">
                                <input type="number" class="form-control" id="duration" name="duration" >
                                <select id="durationUnit" name="durationUnit" class="form-control">
                                    <option value='D'>Days</option>
                                    <option value='M'>Months</option>
                                    <option value='Y'>Years</option>
                                    <option value="*">Unlimited</option>
                                </select>
                            </div>
                        </div>
                        <?merge publicArchives.bool().not() ?>
                        <div class="form-group col-md-10">
                            <label class="control-label">Final disposition <span style="color: red">*</span></label>
                            <select id="finalDisposition" name="finalDisposition" class="form-control">
                                <option value='destruction'>Destruction</option>
                                <option value='preservation'>Preservation</option>
                            </select>
                        </div>
                        <div id="implementationDate" class="form-group col-md-10">
                            <label class="control-label">Implementation date</label>
                            <input type="text" name="implementationDate" class="form-control datePicker" placeholder="Implementation date"></input>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button type="button" id="cancel" class="btn btn-warning" title="Cancel"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                    <button type="button" id="delete" class="btn btn-danger" title="Delete"><i class="fa fa-trash-o">&nbsp;</i>Delete</button>
                    <button type="button" id="add" class="btn btn-success hide" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                    <button type="button" id="update" class="btn btn-success hide" title="Update"><i class="fa fa-save">&nbsp;</i>Update</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="messagesModal" lang="en" data-translate-catalog="recordsManagement/retentionRule">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="m_title-delete">Delete the retention rule</h4>
                <h4 id="m_title-update">Update the retention rule</h4>
            </div>
            <div class="modal-body">
                <p id="m_text-delete">
                    Are you sure to delete this retention rule ?
                </p>
                <p id="m_text-update">
                    Are you sure to modify this retention rule ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="m_no" data-dismiss="modal" title="No">No</button>
                <button type="button" class="btn btn-primary" id="m_yes" data-dismiss="modal" title="Yes">Yes</button>
            </div>
        </div>
    </div>
</div>

<div style="display:none" data-translate-catalog="recordsManagement/retentionRule">
    <span id="empty_text">The fields with a star are required.</span>
</div>

<script type="text/javascript">
    
    $("#retentionRuleModal").on('keyup change', '.form-control', function () {
        if ($('#label').val().trim() != "" && $('#code').val() != "" && ($('#duration').val() != "" || $('#durationUnit').val() == '*')) {
            $("#add, #update").removeClass('hide');
            if($('#code').prop('disabled')) {
                $('#implementationDate').css('display', '');
            }
        }
        else {
            $("#add, #update").addClass('hide');
        }

    });

    // cancel
    $("#cancel").on('click', function () {
        EditionModal.close();
    });

    // add
    $("#add").on('click', function () {
        EditionModal.add();
    });

    // update
    $("#update").on('click', function () {
        EditionModal.update();
    });


    //delete
    $("#delete").on('click', function () {
        EditionModal.deleteRule();
    });

    //modal cancel
    $("#m_no").on('click', function () {
        $('m_yes').off();
    });


    $("#durationUnit").on('change', function () {
        if ($('#durationUnit').val() == '*') {
            $('#duration').attr('disabled', 'disabled');
        } else {
            $('#duration').removeAttr('disabled');
        }
    });

    var EditionModal = {
        editionModal: $('#retentionRuleModal'),

        load: function(object) {

            $('#implementationDate').val('').css('display', 'none');
            if (object) {
                $('#finalDisposition').prop('disabled', true);
                $('#code').prop('disabled', true);
                $('#add, #update').addClass('hide');
                $('#delete, #update').css('display', '');
                $('#add').css('display', 'none');
                $('#duration').removeAttr('disabled');
                
                if(object.implementationDate) {
                    $('#implementationDate').css('display', '');
                }

                $.each(object, function (key, value) {
                    if (key == "durationUnit" && object.durationUnit == "Y" && object.duration >= 9999) {
                        $('[name="durationUnit"]').val("*");
                    } else if (key == "duration" && object.durationUnit == "Y" && object.duration >= 9999) {
                        $('[name="duration"]').val("");
                        $('#duration').attr('disabled', 'disabled');
                    } else {
                        $('[name="' + key + '"]').val(value);
                    }
                });

            } else {
                $('#finalDisposition').prop('disabled', false);
                $('#code').prop('disabled', false);
                $('#delete, #update').css('display', 'none');
                $('#add').css('display', '');
                $('input[type="text"]').val('');
            }

            $('#retentionRuleModal').modal();
        },

        add: function() {

            var parameters = {
                retentionRule: EditionModal.serialize()
            };
            
            if(parameters.retentionRule.duration == 0 || parameters.retentionRule.label.trim() == "") {
                gritter.show($('#empty_text').html(), false);
                return;
            }
            
            $.ajax({
                type        : 'POST',
                url         : '/retentionRule',
                data        : JSON.stringify(parameters),
                contentType : 'application/json',
                async       : false,
                dataType    : 'json',
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status) {
                        reloadList();
                        EditionModal.close();
                    }
                },
                error    : function(response) {
                    gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                }
            });
        },

        update: function() {

            
            $('#messagesModal').modal();
            $('#m_title-delete').css('display', 'none');
            $('#m_title-update').css('display', '');
            $('#m_text-delete').css('display', 'none');
            $('#m_text-update').css('display', '');

            var parameters = {
                retentionRule: EditionModal.serialize()
            };
          
            $('#m_yes').one('click', function () {

                $.ajax({
                    type        : "PUT",
                    url         : '/retentionRule/' +  $('#code').val(),
                    data        : JSON.stringify(parameters),
                    contentType : 'application/json',
                    async       : false,
                    dataType    : 'json',
                    success     : function (response) {
                        gritter.show(response.message, response.status, response.errors);
                        if (response.status) {
                            reloadList();
                            EditionModal.close();
                        }
                        $("#add, #update").prop('disabled', false);
                    },
                    error    : function(response) {
                        gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                        $("#add, #update").prop('disabled', false);
                    }
                });
            });
        },

        deleteRule: function() {
            $('#messagesModal').modal();
            $('#m_title-delete').css('display', '');
            $('#m_title-update').css('display', 'none');
            $('#m_text-delete').css('display', '');
            $('#m_text-update').css('display', 'none');

            $('#m_yes').one('click', function () {

                $.ajax({
                    type        : "DELETE",
                    url         : '/retentionRule/' + $('#code').val(),
                    contentType : 'application/json',
                    async       : false,
                    dataType    : 'json',
                    success     : function (response) {
                        gritter.show(response.message, response.status, response.errors);
                        if (response.status) {
                            reloadList();
                            EditionModal.close();
                        }
                    },
                    error    : function(response) {
                        gritter.show(response.responseJSON.message, response.responseJSON.status, response.responseJSON.errors);
                    }
                });
            });
        },

        serialize: function() {
            if ($('#durationUnit').val() == "*") {
                duration = 'P' + 9999 + 'Y';
            } else if ($('#duration').val() == 0) {
                duration = 0;
            } else {
                duration = 'P' + $('#duration').val() + $('#durationUnit').val();
            }
            retentionRule = {
                code: $('#code').val(),
                label: $("#label").val(),
                duration: duration,
                finalDisposition: $('#finalDisposition').val(),
                description: $('#description').val(),
                implementationDate: $('#implementationDate').find('input').val()
            };

            return retentionRule;
        },

        close: function() {
            this.editionModal.modal('hide');
            this.editionModal.find('input, textarea').val('');
        }
    }
</script>