<!--#
    This file is part of the auth package.
    (c) Maarch Prospre DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div class="container-fluid" data-translate-catalog="recordsManagement/archive">
    <div class="page-header">
        <h1>
            <i class="fa fa-archive"></i>
            Archive import
        </h1>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="recordsManagement/archive">
    <div class="row" id="import_step1_container">
        <div class="col-md-6">
            <?hinclude recordsManagement/archiveImport/archiveForm.html ?>
            <hr/>
            <?hinclude recordsManagement/archiveImport/descriptionForm.html ?>
        </div>
        <div class="col-md-6">
            <?hinclude recordsManagement/archiveImport/documentForm.html ?>    
        </div>
    </div>
</div>