<!--#
    This file is part of the auth package.
    (c) Maarch Prospre DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div class="container-fluid" data-translate-catalog="recordsManagement/archive">
    <div class="page-header">
        <h1>
            <i class="fa fa-archive"></i>
            Archive import
        </h1>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="recordsManagement/archive">
    <div class="row" id="import_step1_container">
        <div class="col-md-6">
            <?hinclude recordsManagement/archiveImport/import_step1.html ?>
            <?hinclude recordsManagement/archiveImport/import_step3.html ?>
        </div>
        <div class="col-md-6">
            <?hinclude recordsManagement/archiveImport/import_step2.html ?>
            
        </div>
    </div>
    

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success pull-right" id="import"><i class="fa fa-paper-plane-o"></i>&nbsp;Import</button>
        </div>
    </div>

</div>

<script type="text/javascript">
    // ARCHIVE
    $('#import').on('click', function(e) {
        ArchiveForm.send(e, $(this));
    });
</script>