<!--#
    This file is part of the maarchRM package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->

<div class="tree" style="padding:20px 0 0 50px">
    <?merge organizations /organization/orgTree/organizationRoot.html ?>
</div>

<li id="orgTemplate" class="organizationNode hide" lang="en" data-translate-catalog="organization/messages">
    <span class="root" id="[?merge .orgId?]" data-orgname="[?merge .displayName?]" data-ownerorgid="[?merge .orgId?]" style="padding:8px">
        <i class="fa">&nbsp;</i>&nbsp;
        <b class="showDetails" style="cursor:pointer; font-weight:normal"><?merge .displayName?></b>&nbsp;&nbsp;

        <div class="dropdown btn-group">
            <i class="menu fa fa-bars dropdown-toggle"  data-toggle="dropdown" style="cursor:pointer"></i>
            <ul class="dropdown-menu" role="menu">
                <li class="addChildOrganization"><a href="#contain"><i class="fa fa-plus" >&nbsp;</i>Add a child organization</a></li>
                <li class="addChildOrgUnit"><a href="#contain"><i class="fa fa-plus" >&nbsp;</i>Add a child organization unit</a></li>
                <li class="moveOrganization"><a href="#contain"><i class="fa fa-share">&nbsp;</i>Move</a></li>
                <li class="deleteOrganization"><a href="#contain"><i class="fa fa-trash-o" >&nbsp;</i>Delete</a></li>
                <?merge .organization.bool() ?>
                <li class="dropAllDown"><a href="#contain"><i class="fa fa-caret-down dropDownIcon" >&nbsp;</i><span class="dropDownText" style="padding: 0;">Drop the organizations list down</span></a></li>
            </ul>
        </div>
    </span>
    <input type="checkbox" class="hide" style="width:20px; height:20px"/>
</li>

<li id="orgUnitTemplate" class="orgUnitNode hide" lang="en" data-translate-catalog="organization/messages">
    <span class="node" id="[?merge .orgId ?]" data-orgname="[?merge .displayName?]" data-ownerorgid="[?merge .ownerOrgId?]">
        <i class="fa">&nbsp;</i>&nbsp;
        <b class="showDetails" style="cursor:pointer; font-weight:normal"><?merge .displayName?></b>&nbsp;&nbsp;

        <div class="dropdown btn-group">
            <i class="menu fa fa-bars dropdown-toggle" data-toggle="dropdown" style="cursor:pointer"></i>
            <ul class="dropdown-menu" role="menu">
                <li class="addChildOrgUnit"><a href="#contain"><i class="fa fa-plus" >&nbsp;</i>Add a child organization unit</a></li>
                <li class="moveOrganization"><a href="#contain"><i class="fa fa-share">&nbsp;</i>Move</a></li>
                <li class="deleteOrganization"><a href="#contain"><i class="fa fa-trash-o">&nbsp;</i>Delete</a></li>
                <?merge .organization.bool() ?>
                <li class="dropAllDown"><a href="#contain"><i class="fa fa-caret-down dropDownIcon" >&nbsp;</i><span class="dropDownText" style="padding: 0;">Drop the organizations list down</span></a></li>
            </ul>
        </div>
    </span>

    <input type="checkbox" class="hide" style="width:20px; height:20px"/>
</li>

<script>
    $("#organization_orgTree").on('click', '.moveOrganization', function() {
        var span = $(this).closest('span')
        Forms.clear();
        Org.select(span);
        OrganizationShifting.show(span);
    });

    var Tree = {
        addNode: function(parentId, org) {
            var template = null;
            var parent = null;
            var span = null;
            if (!org.isOrgUnit) {
                template = $('#orgTemplate').clone();
                span = template.find('.root');
                org.ownerOrgId = org.orgId;

            } else {
                template = $('#orgUnitTemplate').clone();
                span = template.find('.node');
            }

            span.attr('id', org.orgId)
                .data('orgname', org.orgName)
                .data('ownerorgid', org.ownerOrgId);

            template.find('.showDetails').text(org.displayName);
            template.removeAttr('id').removeClass('hide');

            if (!parentId) {
                BootstrapTree.addRoot($('.tree'), template);

            } else {
                BootstrapTree.addNode($('#'+parentId).closest('li'), template);
            }


        },

        updateNode: function(org) {
            $('#'+org.orgId).data('orgname', org.orgName)
                .data('ownerorgid', org.ownerOrgId)
                .find('.showDetails').text(org.displayName);
        },

        removeNode: function(node) {
            BootstrapTree.removeNode(node);
        },

        checkDropDown: function() {
            let orgDivs = $(".organizationNode, .orgUnitNode");
            orgDivs.each(function() {
                let dropDownTextDiv = $(this).find(".dropAllDown").first();
                if (dropDownTextDiv.length > 0) {
                    let plusButtons = $(this).find(".fa-plus-square").length;
                    let dropDownIcon = dropDownTextDiv.find(".dropDownIcon");
                    let dropDownText = dropDownTextDiv.find(".dropDownText");
                    if (plusButtons > 0 && dropDownTextDiv.data("listDropped")) {
                        dropDownTextDiv.data("listDropped", false);
                        dropDownIcon.removeClass("fa-caret-up");
                        dropDownIcon.addClass("fa-caret-down");
                        dropDownText.text($("#dropDownTextDown").text());
                    } else if (plusButtons <= 0 && !dropDownTextDiv.data("listDropped")) {
                        dropDownTextDiv.data("listDropped", true);
                        dropDownIcon.removeClass("fa-caret-down");
                        dropDownIcon.addClass("fa-caret-up");
                        dropDownText.text($("#dropDownTextUp").text());
                    }
                }
            });
            let tree = $(".tree");
            let plusButtons = tree.find(".fa-plus-square").length;
            let icon = $("#dropAllList").find("i");
            let textDiv = $("#dropAllList").find(".dropDownText");
            if (plusButtons > 0 && listDropped) {
                listDropped = false;
                icon.removeClass("fa-caret-up");
                icon.addClass("fa-caret-down");
                let dropDownText = $("#dropDownTextDown").text();
                textDiv.text(dropDownText);
                $("#dropAllList").attr('data-original-title', dropDownText);
            } else if (plusButtons <= 0 && !listDropped) {
                listDropped = true;
                icon.removeClass("fa-caret-down");
                icon.addClass("fa-caret-up");
                let dropDownText = $("#dropDownTextUp").text();
                textDiv.text(dropDownText);
                $("#dropAllList").attr('data-original-title', dropDownText);
            }
        },

        dropAllTree: function() {
            let orgDiv = $(".tree");
            let textDiv = $.merge($(this).find(".dropDownText"), orgDiv.find(".dropDownText"));
            let icons = $.merge($(this).find("i"), orgDiv.find(".dropDownIcon"));
            Tree.dropAllDown(orgDiv, textDiv, icons, listDropped);
        },

        dropAllDiv: function() {
            let orgDiv = $(this).parents("li").eq(0);
            let textDiv = orgDiv.find(".dropDownText");
            let icons = orgDiv.find("i.dropDownIcon");
            let listDropped = $(this).data("listDropped");
            Tree.dropAllDown(orgDiv, textDiv, icons, listDropped);
        },

        dropAllDown: function(orgDiv, textDiv, icons, listDropped) {
            if (listDropped) {
                orgDiv.find(".fa-minus-square").click();
                icons.parents("li").eq(0).data("listDropped", false);
                icons.removeClass("fa-caret-up");
                icons.addClass("fa-caret-down");
                textDiv.text($("#dropDownTextDown").text());
            } else {
                orgDiv.find(".fa-plus-square").click();
                icons.parents("li").eq(0).data("listDropped", true);
                icons.removeClass("fa-caret-down");
                icons.addClass("fa-caret-up");
                textDiv.text($("#dropDownTextUp").text());
            }
        }
    }

    var listDropped = false;

    $("#organization_orgTree").on('click', '.dropAllDown', Tree.dropAllDiv);
    $("#dropAllList").on("click", Tree.dropAllTree);
</script>