<?merge cluster ?>
<form class="form-horizontal well" role="form">
    <div class="row">
        <input type="hidden" name="clusterId" id='clusterId'/>
        <div class="form-group col-md-8">
            <label class="col-md-3 control-label" for="clusterName">Cluster name  <span style="color: red">*</span></label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Cluster name" name="clusterName" id="clusterName" />
            </div>
        </div>
        <div class="form-group col-md-8">
            <label class="col-md-3 control-label" for="clusterName">Cluster description</label>
            <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Cluster description" name="clusterDescription" id="clusterDescription" />
            </div>
        </div>
    </div>
</form>
